---
title: About
metaDescription: "Operating 17 affiliate hospitals throughout the Mid-South (Tennessee, Mississippi, Arkansas) Baptist is an award-winning network dedicated to providing compassionate, high-quality care for patients."
---
 
{{#each sitemap }} 
  {{#if this.subnav}} 
    {{#ifequal this.name ../this.title}}
<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home </a></li>
      <li role="menuitem" class="current"><a href="./">{{../title}}</a></li> 
  </nav>
</div> 
<div class="row hero">
  <div class="bgimage">
    <div class="columns large-6 "> 

      <h1>{{ this.headline }}</h1>
      <figure class="hero-inline hide-for-large"><img src="/assets/img/hero_circle.png" alt="About main image - Smiling lady halftone"></figure>
      <p>Regarded as one of the premier health care systems in the nation, Baptist Memorial Health Care is an award-winning network dedicated to providing compassionate, high-quality care for patients. </p>
    </div>
  </div>
</div> 




<div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name ../title}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav> 
  </div>
  <article class="column small-12 large-10 content"> 


        <div class="history-section"> 
          <div class="row">
            <div class="column medium-6">
                <h2>Baptist History</h2> 
              <p>Since our modest beginning in 1912 with a 150-bed hospital, Baptist has grown to meet the expanding needs of the communities we serve, at one point becoming the largest privately owned hospital in the nation. <a class="more-link" href="#">More about our history&hellip;</a></p>
            </div> 
          </div>
        </div>
 
    <section class="row img-header-block">
      <div class="column medium-4">
        <div class="row">
          <figure class="small-3 medium-12 column"><img class="desktop-img" src="/assets/img/placeholder_img.png" alt="Mission - Smiling lady halftone"><img src="/assets/img/square_thumb.png" class="mobile-img" alt="Mission thumbnail - Smiling lady halftone"></figure>
          <div class="column small-9 medium-12">
            <h3>Mission</h3>
            <p>In keeping with the three-fold ministry of Christ - Healing, Preaching and Teaching - BMHCC is committed to providing quality health care.</p>
          </div>
        </div>
      </div>
      <div class="column medium-4">
        <div class="row">
          <figure class="small-3 medium-12 column"><img class="desktop-img" src="/assets/img/placeholder_img.png" alt="Vision - Smiling lady halftone"><img src="/assets/img/square_thumb.png" class="mobile-img" alt="Vision thumbnail - Smiling lady halftone"></figure>
          <div class="column small-9 medium-12">
            <h3>Vision</h3>
            <p>We will be the provider of choice by transforming the delivery of health care through partnering with patients, families, physicians, care providers, employers and payers; and by offering safe, integrated, patient-focused, high quality, innovative cost-effective care.</p>
          </div>
        </div>
      </div>
      <div class="column medium-4">
        <div class="row">
          <figure class="small-3 medium-12 column"><img class="desktop-img" src="/assets/img/placeholder_img.png" alt="Values - Smiling lady halftone"><img src="/assets/img/square_thumb.png" class="mobile-img" alt="Values thumbnail - Smiling lady halftone"></figure>
          <div class="column small-9 medium-12">
            <h3>Values</h3> 
            <ul>
              <li>Compassionate Care and Service</li>
              <li>Teamwork and Trust</li>
              <li>Innovation and Excellence</li>
              <li>Respect for the Individual and the Value   of Diversity</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <main class="column medium-8">
        <blockquote>
          <p>&quot;The doctors were great. I'm a technical person and like to know what's going on so I can do my own research. They answered all my questions and were very informative and accommodating.&quot; <cite>Jacob Culbreath</cite></p>
          
          <a href="#" class="more-link">Read More Testimonials&hellip;</a>
        </blockquote>

        <h3>Innovative Technology</h3>
        <p>Baptist Memorial Health Care regularly serves communities in the Mid-South by offering safe, integrated, patient-focused, high quality, innovative and cost-effective medical care. But serving a community is about more than just helping patients feel better. It's about helping entire communities become the best they can be. <a href="#" class="more-link" aria-label="Read more about innovative technology">Read More&hellip;</a></p>

        <h3>Our Commitment to Quality Patient Care</h3>
        <p>Excellent patient care is not about the quantity of patients treated. It&rsquo;s not about how many people walk through our doors. Rather, Baptist Memorial Health Care views exceptional patient care as a strong commitment to quality. This means that we treat nationally recognized quality indicators as important benchmarks and transparency is crucial to our success. <a href="#" class="more-link" aria-label="Read more about our commitment to quality patient care">Read More&hellip;</a></p>

        <h3>Giving Back</h3>
        <p>Baptist Memorial Health Care regularly serves communities in the Mid-South by offering safe, integrated, patient-focused, high quality, innovative and cost-effective medical care. But serving a community is about more than just helping patients feel better. It's about helping entire communities become the best they can be. <a href="#" class="more-link" aria-label="Read more about giving back">Read More&hellip;</a></p>

        <div class="row">
          <div class="column medium-6">
            <h3>Baptist Volunteer Opportunities</h3>
            <p>To find out more about volunteer opportunities at the following hospitals, please contact one of our hospitals in the following areas.</p>
            <ul>
              <li><a href="#">Metro Memphis</a></li>
              <li><a href="#">Tennessee</a></li>
              <li><a href="#">Mississippi</a></li>
              <li><a href="#">Arkansas</a></li>
            </ul>
          </div>
          <div class="column medium-6">
            <h3>Foundation</h3>
            <p>See how Baptist benefits your community.</p>
            <a href="#" class="button" aria-label="Navigate to give now">Give Now</a>
          </div>
        </div>

      </main>
      <aside class="column medium-4 sidebar">
        <h4>Leadership</h4>
        <ul class="no-bullet leadership-list">
          {{#each leadership }} 
            <li class="row collapse">
              <div class="column small-12 medium-2 round-image"><img src="/assets/img/leadership/{{ this.img }}" alt="{{ this.name }} - {{ this.title }}"></div>
              <div class="column small-12 medium-10">
                <h5><a href="#">{{ this.name }}</a> </h5>
                <p>{{ this.title }}</p>
              </div> 
            </li>
          {{/each}}
          <h4>Awards</h4>
          <ul class="awards-list no-bullet">
            <li><a href="#">2016</a></li>
            <li><a href="#">2015</a></li>
            <li><a href="#">2014</a></li>
            <li><a href="#">2013</a></li>
            <li><a href="#">2012</a></li>
            <li><a href="#">2011</a></li>
            <li><a href="#">2010</a></li>
            <li><a href="#">2009</a></li>
          </ul>
          <figure class="callout-img">
            <img src="/assets/img/callout-bmg.png" alt="Baptist Medical Group">
          </figure>
      </aside>
    </section>

  </article> 
</div>

     {{/ifequal}}
  {{/if}} 
{{/each}}    