---
title: About
subTitle: Commitment to Quality 
metaDescription: "We rely on nationally recognized indicators as important quality benchmarks. Access third-party resources for quality data about Mid-South hospitals."
---

{{#each sitemap }} 
	{{#if this.subnav}} 
		{{#ifequal this.name ../title}}
			{{#each this.subnav}}
				{{#ifequal this.name ../../subTitle}}

<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home</a></li>
      <li role="menuitem"><a href="../">{{../../title}}</a></li>
      <li role="menuitem" class="current"><a href="./">{{../../subTitle}}</a></li> 
  </nav>
</div> 
<div class="row">
	<div class="column">
		<h1>{{this.headline}}</h1>
	</div>
</div>
 

 <div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name ../../../title}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav> 
  </div>
  <article class="column small-12 large-6 content">
{{#markdown}}

Baptist Memorial Health Care is dedicated to providing high-quality care to our patients and their families—all closer than ever to home. 
We rely on nationally recognized indicators as important quality benchmarks, including the following third-party resources. 

* The Leapfrog Group
* Hospital Compare
* Centers for Medicare and Medicaid Services (CMS)
* The Agency for Healthcare Research and Quality (AHRQ)
* The Joint Commission – (TJC)
* The National Quality Forum (NQF)

## Baptist Quality Quick Facts

* Baptist nurses consistently named among the best in the region
* An education system highlighted by the Baptist College of Health Sciences.
* Pastoral Care department concentrates on the spiritual needs of our patients
* Convenience and accessibility with 15 hospital locations and many clinics and speciality centers
* Expertise of more than 3,100 physician providers in 34 specialties



{{/markdown}}
  </article>  
  <aside class="sidebar column medium-4">
  	<div class="special-box">
	  	<h2>RECENT AWARDS: Proof of our commitment to quality</h2>
	</div>
  </aside>
</div>




				{{/ifequal}}
			{{/each}}
		{{/ifequal}}
	{{/if}} 
{{/each}}    
