$bgcolorAwareness: rgb(218,35,104)
$bgimageAwareness: $imgPath + 'pink-ribbon-cancer-awareness.webp'
$borderColorAwareness: 1px solid lighten($bgcolorAwareness, 20%)
body.cancer-awareness
	header			
		background: linear-gradient(rgba(black, 0.8) -20%, rgba($bgcolorAwareness, 0.8), rgba($bgcolorAwareness, 0.8) 100%), linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.1))		
		div#header
			&:before		
				background-image: url($bgimageAwareness)
				background-size: 78%
				background-blend-mode: multiply
				background-repeat: no-repeat
				background-position: 0% 0%				
				position: absolute
				width: 350px
				height: 95%
				left: 24%
				top: 5%
				max-width: 350px
				z-index: -99
				opacity: 0.35
				@media (max-width: $bpLarge)
					left: 30%
				@media (max-width: $bpMed)
					background-size: 68%
					z-index: -99
				@media (max-width: $bpSmall)
					background-size: 100%
					left: 20%
					max-width: 400px
					z-index: 0
					opacity: 0.3
			@media (max-width: $bpSmall)
				background: linear-gradient(rgba(black, 0.8) -10%, rgba($bgcolorAwareness, 0.8), rgba($bgcolorAwareness, 0.8) 100%), linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.1))
				&:before		
					background-image: url($bgimageAwareness)
					background-size: 40%
					background-blend-mode: multiply
					background-repeat: no-repeat
					background-position: 0% 0%				
					position: absolute
					width: 350px
					height: 100%
					left: 30%
					top: 0
					max-width: 400px					
					opacity: 0.3			
			.navigation-main nav > ul > li 
				border-right: $borderColorAwareness
				div.showsubnav > a:after 
					background-image: url($imgPath + "down-arrow.svg")
				a
					color: white
				&:nth-child(3),
				&:nth-child(4)
					> div > a
						&:after
							background-image: url($imgPath + "down-arrow.svg")					
				.submenu-container
					a
						color: $colorBrandPrimary	
			.navigation-main
				nav
					background-color: rgba(0,0,0,0.15)					
		@media (max-width: $bpSmall)
			height: auto	

		.mobile-search-button,
		.mobile-menu-button
			border-left: $borderColorAwareness
		.mobile-menu.open > .component-content
			box-shadow: 0 0 0 9999px rgba($bgcolorAwareness, 0.55), 0 0 100px rgba(0, 0, 0, 0.9)

	.sub-hero .component.image .component-content .image-caption
		background-color: $bgcolorAwareness
		&:after
			background-color: $bgcolorAwareness
	.sub-hero:last-child .component.image .component-content:after
		background-color: $bgcolorAwareness