---
title: Services
subTitle: Diabetes 
metaDescription: "With proper support, you can manage your diabetes and start to feel better, sooner.  Baptist makes it better through prevention, testing, treatment and support."
---

{{#each sitemap }} 
	{{#if this.subnav}} 
		{{#ifequal this.name ../title}}
			{{#each this.subnav}}
				{{#ifequal this.name ../../subTitle}}

<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home</a></li>
      <li role="menuitem"><a href="../">{{../../title}}</a></li>
      <li role="menuitem" class="current"><a href="./">{{../../subTitle}}</a></li> 
  </nav>
</div> 
<div class="row">
	<div class="column">
		<h1>{{this.headline}}</h1>
	</div>
</div>

<div class="row">

  <article class="column small-12 medium-7 content"> 

{{#markdown}}
## Diabetes Management Programs and Services 

A diabetes diagnosis will change your daily life. But with proper treatment and support, you can manage your diabetes and start to feel better, sooner. Your primary doctor or endocrinologist (a specialist for diabetes and other diseases) can refer you to a number of management programs, classes and support groups for diabetes patients.  

These are offered by the Diabetes Education Center at the Baptist Medical Group Outpatient Care Center. To participate, ask your doctor for a referral. 

**Chronic Disease Self-Management Program:** Helps patients manage their chronic conditions by learning exercise techniques, nutrition tips and relaxation practices.  

**Gestational Diabetes Class** for pregnant women, offering personalized medical nutrition therapy sessions. 

**National Diabetes Prevention Program**, a year-long program for persons at risk for type 2 diabetes. (Also available through <a href="#">Baptist Memorial Hospital - Huntingdon</a>.) 

**Medical Nutrition Therapy** can help regulate blood sugar, improve eating habits to improve kidney function, and maintain good health through preventive care.  
{{/markdown}}

<p><a href="#" class="button large">LEARN MORE ABOUT DIABETES</a></p> 

  </article>
  <aside class="sidebar column medium-5">

	<ul class="cta-list no-bullet">
		<li><a href="#" class="button warning">FIND A NEARBY DIABETES SPECIALIST </a></li>
		<li><a href="#" class="button warning">PRE-REGISTER FOR CARE</a></li>
		<li><a href="#" class="button warning">GET A COST ESTIMATE FOR A PROCEDURE OR SERVICE</a></li>
	</ul>

{{#markdown}}
## DIABETES COUNSELING 

Diabetes support and counseling can help improve emotional health and overcome challenges, which may include lifestyle changes, reducing anxiety and re-building self-esteem post-diagnosis.

### Counseling Locations in the Mid-South 
{{/markdown}}
	<div class="row ">
		<div class="column large-6">
			<div class="special-box">
				<h5>Baptist Memorial Hospital – Booneville</h5>
				<p class="small sans">
					100 Hospital St.<br>
					Booneville, MS 38829<br>
					662-720-5000<br>
					<a href="mailto:info.booneville@bmhcc.org">info.booneville@bmhcc.org</a>
				</p>
			</div>
		</div>
		<div class="column large-6">
			<div class="special-box">
				<h5>Baptist Memorial Hospital – DeSoto</h5>
				<p class="small sans">
					7601 Southcrest Parkway<br>
					Southaven, MS 38671<br>
					662-772-4000<br>
					<a href="mailto:info.desoto@bmhcc.org">info.desoto@bmhcc.org</a>
				</p>
			</div>
		</div>
	</div> 


  </aside>

</div>
				{{/ifequal}}
			{{/each}}
		{{/ifequal}}
	{{/if}} 
{{/each}}   

<div class="content row">
	<div class="column small-12">
    <div class="top-bar specialties-header">
      <div class="top-bar-left">
        <h2>All Medical Specialties</h2> 
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Quick Filter" aria-label="Quick Filter"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
    <section class="row">
      <div class="column small-12">  

        <ul class="no-bullet specialties-list">
        {{#each sitemap }} 
          {{#if this.subnav}} 
            {{#ifequal this.name 'Services'}}
              {{#each this.subnav}}
                <li><a href="{{ this.url }}">{{ this.name }}</a></li>
              {{/each}} 
            {{/ifequal}}
          {{/if}} 
        {{/each}}      
        <li>&nbsp;</li>
        </ul>  

      </div>
    </section>
	</div>
</div>

