---
title: Services 
metaDescription: "Major hospital and clinic services include Cancer Care, Heart and Vascular, Women's Health and Pediatrics—plus more than 30 other medical specialities from minor medical to organ transplants."
---
 
{{#each sitemap }} 
  {{#if this.subnav}} 
    {{#ifequal this.name ../this.title}}
<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home </a></li>
      <li role="menuitem" class="current"><a href="./">{{../title}}</a></li> 
  </nav>
</div> 
<div class="row hero">
  <div class="bgimage">
    <div class="columns large-6 "> 

      <h1>{{ this.headline }}</h1>
            
      <figure class="hero-inline hide-for-large"><img src="/assets/img/hero_circle.png" alt="Services main image - woman smiling, halftone"></figure>
      <p>Baptist Memorial Health Care services include cutting edge technologies and compassionate care for all our patients. Through the use of the latest surgical innovations, including the da Vinci Surgical System, Baptist Memorial Health Care continues to provide better outcomes for our patients.</p>
    </div>
  </div>
</div> 
<div class="row">

  <article class="column small-12 content"> 

    <div class="row services-most-used">  
        <div class="column small-4 medium-2">
          <figure>
            <img src="/assets/img/bol-service-ico-peds.jpg" alt="Pediatrics - baby and stethoscope">
            <figcaption>Caption</figcaption>
          </figure>
        </div>
        <div class="column small-4 medium-2">
          <figure>
            <img src="/assets/img/bol-service-ico-womens.jpg" alt="Women's medical services - mother and daughter">
            <figcaption>Caption</figcaption>
          </figure>
        </div>
        <div class="column small-4 medium-2">
          <figure>
            <img src="/assets/img/bol-service-ico-heart.jpg" alt="Cardiology services - picture of couple">
            <figcaption>Caption</figcaption>
          </figure>
        </div>
        <div class="column small-4 medium-2">
          <figure>
            <img src="/assets/img/bol-service-ico-cancer.jpg" alt="Cancer services - nurse">
            <figcaption>Caption</figcaption>
          </figure>
        </div> 
        <div class="column small-4 medium-2">
          <figure>
            <img src="/assets/img/bol-service-ico-peds.jpg" alt="stethoscope and baby - Pediatrics">
            <figcaption>Caption</figcaption>
          </figure>
        </div> 
        <div class="column small-4 medium-2">
          <figure>
            <img src="/assets/img/bol-service-ico-womens.jpg" alt="mother and daughter - Women's medical services">
            <figcaption>Caption</figcaption>
          </figure>
        </div> 
    </div>
    <div class="top-bar specialties-header">
      <div class="top-bar-left">
        <h2>All Medical Specialties</h2> 
      </div>
      <div class="top-bar-right">
        <label for="quickfilter" class="visually-hidden">Quick Filter</label>
        <ul class="menu">          
          <li><input id="quickfilter" type="search" placeholder="Quick Filter"></li>
          <li><button type="button" class="button" value="Search">Search</button></li>
        </ul>
      </div>
    </div>
    <section class="row">
      <div class="column small-12">  

        <ul class="no-bullet specialties-list"> 
          {{#each this.subnav}}
            <li><a href="{{ this.url }}">{{ this.name }}</a></li>
          {{/each}}  
        <li>&nbsp;</li>
        </ul>  

      </div>
    </section>
  </article>
</div>

     {{/ifequal}}
  {{/if}} 
{{/each}}    