---
title: Careers
subTitle: Benefits
metaDescription:  "Because you should enjoy your life as much as your work, we offer excellent benefits, including flexible schedules and a generous retirement plan."
---

{{#each sitemap }} 
	{{#if this.subnav}} 
		{{#ifequal this.name ../title}}
			{{#each this.subnav}}
				{{#ifequal this.name ../../subTitle}}

<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home</a></li>
      <li role="menuitem"><a href="../">{{../../title}}</a></li>
      <li role="menuitem" class="current"><a href="./">{{../../subTitle}}</a></li> 
  </nav>
</div> 
<div class="row">
	<div class="column">
		<h1>{{this.headline}}</h1>
	</div>
</div>
 

 <div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name ../../../title}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav> 
  </div>
  <article class="column small-12 large-6 content">
{{#markdown}}

At Baptist, our employees are just as important as our patients.  Because you should enjoy your life as much as your work, we offer an excellent benefits package which includes flexible schedules, paid time off and a generous retirement plan.

* Competitive salaries
* Generous retirement plan
* Education assistance/continuing education
* Service awards and employee referral bonus
* Credit union
* Individualized nursing orientation
* Paid vacation/time off and sick leave

<h3>Insurance Benefits</h3>

* Health insurance, including dental and vision
* Health care and dependent care spending accounts
* Short-term disability and life insurance 

{{/markdown}}
  </article>  
  <aside class="sidebar column medium-4">
 
  </aside>
</div>




				{{/ifequal}}
			{{/each}}
		{{/ifequal}}
	{{/if}} 
{{/each}}    
