---
title: Careers 
metaDescription: "How to apply for employment and job opportunities for external applicants and current employees throughout the Baptist system and our partners."
---
 
{{#each sitemap }} 
  {{#if this.subnav}} 
    {{#ifequal this.name ../this.title}}
<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home </a></li>
      <li role="menuitem" class="current"><a href="./">{{../title}}</a></li> 
  </nav>
</div> 
<div class="row hero">
  <div class="bgimage">
    <div class="columns large-6 "> 

      <h1>{{ this.headline }}</h1>
      <figure class="hero-inline hide-for-large"><img src="/assets/img/hero_circle.png" alt="Career main image - Smiling lady halftone"></figure>
      <p>At Baptist, we owe our success to our colleagues, their technical expertise and compassionate attitude. Every day they carry out Christ's three-fold ministry — healing, preaching and teaching. And we reward their efforts with compensation and benefits packages that are highly competitive in the Mid-South health care community.</p>
    </div>
  </div>
</div> 




<div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name 'Careers'}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav>
    <div class="row">
      <div class="column small-12">
        <p><a href="#"><img src="/assets/img/linkedin.png" alt="Linkedin"></a></p>
      </div>
    </div>
  </div>
  <article class="column medium-7 large-6 xxlarge-5 content">
    <a href="#" class="application-info-button">Application Information</a>
      <div class="application-info-container">
      <big>
        <p>
          For career opportunities at our new affiliate facilities in Calhoun City, Mississippi, please call 662-628-6611
        </p>
      </big>


      <h2>Where to Apply</h2>
    <ul>
      <li>All Baptist job opportunities are posted online.</li>
      <li>Applicants with a valid e-mail address may apply online or via kiosks (Memphis Employment Office and Baptist-DeSoto).</li>
      <li>Applicants can log in and check the status of their applications at any time.</li>
    </ul>
    <h3>Equal Opportunity</h3>
    <p>Baptist is an equal employment opportunity employer and prohibits  discrimination based on an individual's race, color, religion, national origin, pregnancy, sex, age, handicap, disability (physical, visual or mental), creed, marital and veteran status, genetic information, or any other category protected by federal or state law, with respect to all aspects of the  employment process, including recruitment, selection, placement, promotion, wages, benefits and other terms and conditions of employment.</p>


    </div>
  </article>
  <aside class="column medium-5 large-4 xxlarge-5 sidebar">
  <div class="row">
      <div class="column xxlarge-8">

        <div class="standout employment-opps">
          <div class="back-btn"><svg class="svg-arrow-l" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg><svg class="svg-arrow-r" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg></div>
          <h2>Employment Opportunities</h2>
          <ul>
            <li><a href="#" class="show-opps-search opplink01">For External Applicants</a></li>
            <li><a href="#">For Current-Employee Transfers</a></li>
            <li><a href="#">Information Technology</a></li>
            <li><a href="#">Baptist Medical Group (BMG)</a></li>
            <li><a href="#">Nursing Applicants</a></li>
            <li><a href="#">Baptist Home Care &amp; Hospice/Home Medical Equipment</a></li>
            <li><a href="#">Baptist College of Health Science</a></li>
            <li><a href="#">Baptist Partners: CBRE, Kindred Healthcare</a></li>
          </ul>
          <div class="opp01">
            <h3>Search for Job Listings</h3>
            <h2>External Applicants</h2>
            <p>You may <strong><a href="/careers/listing.html">view all open job positions</a></strong> or use the following search agent to find jobs that suit your specific career interests:</p>
            <form> 
            <div class="input-group"> 
              <input class="input-group-field" name="career-search" id="career-search" type="text">
              <div class="input-group-button">
                <input type="submit" class="button" value="SEARCH">
              </div>
            </div>
            </form>          
          </div>
        </div>

      </div>
      <div class="column xxlarge-4">
        
        <div class="row callouts">
          <div class="column small-6 xxlarge-12"><img src="/assets/img/callout_02.png" alt="Earn up to a $3000 bonus"></div>
          <div class="column small-6 xxlarge-12"><img src="/assets/img/callout_01.png" alt="Apply now for Baptist's Seasonal RN Program"></div>
        </div>

      </div>
    </div>
  </aside>
</div>

     {{/ifequal}}
  {{/if}} 
{{/each}}    