---
title: Careers
subTitle: Benefits
metaDescription:  "Because you should enjoy your life as much as your work, we offer excellent benefits, including flexible schedules and a generous retirement plan."
---

{{#each sitemap }} 
	{{#if this.subnav}} 
		{{#ifequal this.name ../title}}
			{{#each this.subnav}}
				{{#ifequal this.name ../../subTitle}}

<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home</a></li>
      <li role="menuitem"><a href="../">{{../../title}}</a></li>
      <li role="menuitem" class="current"><a href="./">{{../../subTitle}}</a></li> 
  </nav>
</div> 
<div class="row">
	<div class="column">
		<h1>Inter SEC Analyst-Epic</h1>
	</div>
</div>
 

 <div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name ../../../title}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav> 
  </div> 
  <article class="column small-12 medium-8 large-6 content"> 
{{#markdown}}
## Job Information

### Overview and Responsibilities:

Oversee build and implementation of Security files within all 20+ Epic environments and maintain policies and procedures for access to all Epic environments. Monitor, evaluate, and maintain systems and procedures to safeguard internal information systems, network, databases, and Web-based security. Conduct vulnerability assessments and monitor systems, network, databases and Web for potesntial system breaches. Respond to alerts from information security tools. Report, investigate and resolve security incidents. Educate and communicate security requirements and procedures to all users and new employees. Recommend and implement changes to enhance systems security and prevent unauthorized access. Research security trends, new methods, and techniques used in unauthorized access of data in order to preemptively eliminate the possibility of system breach. Ensure compliance with regulations and privacy laws.

### Responsibilities Unique to the Security Coordinator:

* Build and maintain all other EMP records including Templates and Background Users and other Security Master files.
* Create Unix accounts for Reflection access.
* Working with Application Teams when security issues cross teams to help sort out how they can best accomplish their security goals, such as when multiple sub-templates are linked that may cancel out each other.  
* Working with Application Teams when they need to determine the implications of a desired change (whether it will affect more than the intended user group)
* Work with Internal and External auditors to insure compliance.
* Creates and maintains Import Specifications to insure integrity of Security Master Files.
* Build devices in Hyperspace for SSO (single sign on).
* Rebuild Unix profiles when inadvertently deleted by users or team members.
* Create and maintain Cache accounts for BOC team members.
* Enable and disable published apps in Storefront.
* Lead the Users &amp; Security workgroup through bi-weekly meetings and communication.  The workgroup is made up of representatives from every BOC application team that supports users in the organization.
* Consult with Users &amp; Security workgroup members to determine best and appropriate way to provide needed access to users throughout the enterprise.
* Gatekeeper to insure that Epic system access is limited to only those people who are approved to have it by the BOC PMO and Epic.
* Create documentation to share with other Users &amp; Security Coordinator team members for ongoing support.
* Establish procedures for terminating users&rsquo; access when appropriate.
* Worked with members of the PMO and administration to establish the Outsourcer access workflow.
* Establish a clear owner of each particular security class and user role, including menus
* Understand and be able to iterate the foundational structures of Epic software to include profiles, roles, menus and security classes. Act as the SME for all analysts to contact on an as needed base in regards to these structures.
* Create appropriate shared security classifications with suitable menus within Epic software.
* Understand build requirements and integration across all Epic applications and Epic environments for implementing SU packages and system upgrades as it pertains to Epic Security and the ability to communicate this information to template owners as needed.
* Nova Release Note Review as it relates to Users &amp; Security for Special Updates, Upgrades, Patient Safety Escalations, etc.

### Qualifications:

#### Experience Requirements:

* Proven combination of experience that demonstrates advance knowledge of information system issues, complex systems issues, software design and integration.
* 4 years experience in Information Systems.

#### Experience Desired/Preferred:
 
Experience in project management and/or system implementations.
 
#### Education Requirements:
* Completion of Epic certification within 90 days of completing training
* 3 years experience in related field dependent on education

#### Education Requirements Desired/Preferred:
 
Bachelor&rsquo;s degree in Information Systems

{{/markdown}}



  </article>  
  <aside class="sidebar column medium-4 large-4">
 	<p><em>All times are in Central Standard Time.</em></p>
 
			<div class="standout career-opp-info"> 
				<ul>
					<li>
						<strong>Position Code</strong>
						<span>21480184</span>
					</li>
					<li>
						<strong>Posted Date</strong>
						<span>3/1/2017</span>
					</li>
					<li>
						<strong>Night Shift</strong>
						<span>..</span>
					</li>
					<li>
						<strong>Evenings</strong>
						<span>..</span>
					</li>
					<li>
						<strong>Department  </strong>
						<span>HS IS-CLIENT SOLUTIONS</span> 
					</li>
					<li>
						<strong>Location</strong>
						<span>US-TN-MEMPHIS</span>
					</li>
					<li>
						<strong>Day Shift</strong>
						<span>..</span>
					</li>
					<li>
						<strong>Rotating Shift</strong>
						<span>..</span>
					</li>
					<li>
						<strong>Status </strong>
						<span>Regular Full-Time</span>		
					</li>
				</ul> 
			</div>
			<ul class="no-bullet job-listing-callouts">
				<li><a href="#" class="button">Apply for this job online</a></li>
				<li><a href="#" class="button">Refer this job to a friend</a></li>
				<li><a href="#" class="button">Application FAQs</a></li>

			</ul> 
 
  </aside>
</div>




				{{/ifequal}}
			{{/each}}
		{{/ifequal}}
	{{/if}} 
{{/each}}    
