/* breakpoints */
/* line 6, ../sass/component-search.scss */
.facet-component {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  padding: 5px 10px 15px 10px;
  margin: 20px 0; }

/* line 13, ../sass/component-search.scss */
.facet-heading {
  background: url('../images/balsamiq_line.png?1442825746') bottom left repeat-x;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0; }
  /* line 35, ../sass/_mixins.scss */
  .lt-ie9 .facet-heading {
    background: none;
    border-bottom: 2px solid #222; }
  /* line 17, ../sass/component-search.scss */
  .facet-heading .facet-title {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
  /* line 20, ../sass/component-search.scss */
  .facet-heading .clear-filter {
    font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    background: #ececec;
    font-size: 10px;
    color: #222;
    text-align: center;
    float: right;
    width: 15px;
    margin-right: 5px;
    cursor: pointer; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .facet-heading .clear-filter {
      border: 2px solid #222; }
    /* line 33, ../sass/component-search.scss */
    .facet-heading .clear-filter:hover {
      background: #cccccc;
      color: #222; }
    /* line 38, ../sass/component-search.scss */
    .facet-heading .clear-filter.has-active-facet {
      background: #777777;
      color: #222; }
      /* line 42, ../sass/component-search.scss */
      .facet-heading .clear-filter.has-active-facet:hover {
        background: #cccccc;
        color: #222; }

/* line 1, ../sass/search/_component-facet-inputs.scss */
input[type="text"] {
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  width: 100%;
  font-size: 13px;
  color: #747474;
  outline: none;
  height: auto;
  padding: 5px;
  margin: 5px 0; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage input[type="text"] {
    border: 2px solid #222; }

/* line 14, ../sass/search/_component-facet-inputs.scss */
input[type="submit"],
button,
input[type="button"] {
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
  margin-left: -1px; }

/* line 24, ../sass/search/_component-facet-inputs.scss */
input[type="password"], textarea, input[type="file"] {
  font-weight: bold;
  padding: 2px; }

/* line 29, ../sass/search/_component-facet-inputs.scss */
input[type="file"] {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* line 33, ../sass/search/_component-facet-inputs.scss */
input[type="radio"] {
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  position: absolute; }
  /* line 36, ../sass/search/_component-facet-inputs.scss */
  input[type="radio"] + label:before {
    content: "";
    position: absolute;
    top: 2px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff; }
  /* line 45, ../sass/search/_component-facet-inputs.scss */
  input[type="radio"] + label:after {
    content: "";
    position: absolute;
    top: 2px;
    display: block;
    width: 16px;
    height: 15px;
    background: url('../images/radiobox.png?1442825746'); }
  /* line 54, ../sass/search/_component-facet-inputs.scss */
  input[type="radio"]:checked + label:after {
    background-position: -16px 0; }
  /* line 58, ../sass/search/_component-facet-inputs.scss */
  input[type="radio"] + label {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 20px;
    margin-left: 5px;
    position: relative; }

/* line 66, ../sass/search/_component-facet-inputs.scss */
input[type="checkbox"] {
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif; }
  /* line 68, ../sass/search/_component-facet-inputs.scss */
  input[type="checkbox"] + label:before, input[type="checkbox"] + label:after {
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: absolute;
    content: " ";
    z-index: 1;
    width: 10px;
    height: 10px;
    left: -20px;
    top: 0;
    margin-right: 3px;
    background-color: #fff; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage input[type="checkbox"] + label:before, .no-borderimage input[type="checkbox"] + label:after {
      border: 2px solid #222; }
  /* line 82, ../sass/search/_component-facet-inputs.scss */
  input[type="checkbox"]:checked + label:before {
    background-color: #fff; }
  /* line 86, ../sass/search/_component-facet-inputs.scss */
  input[type="checkbox"]:checked + label:after {
    background: url('../images/checked.png?1442825746') -2px -2px no-repeat; }
  /* line 90, ../sass/search/_component-facet-inputs.scss */
  input[type="checkbox"] + label {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    margin-left: 20px;
    cursor: pointer; }

/* line 98, ../sass/search/_component-facet-inputs.scss */
select {
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('../images/dropdown-bg.png?1442825746') top right no-repeat;
  text-indent: 2px;
  position: relative;
  z-index: 5;
  width: 100%;
  text-overflow: '';
  color: #333;
  cursor: pointer;
  outline: none;
  height: auto;
  padding: 2px;
  margin: 0; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage select {
    border: 2px solid #222; }

/* line 118, ../sass/search/_component-facet-inputs.scss */
button[type="submit"] {
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  color: #747474;
  font-weight: normal;
  padding: 5px 20px;
  margin: 0 1px 0 5px;
  float: right;
  clear: both; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage button[type="submit"] {
    border: 2px solid #222; }
  /* line 129, ../sass/search/_component-facet-inputs.scss */
  button[type="submit"]:hover {
    background: #f7f7f7; }

/* line 134, ../sass/search/_component-facet-inputs.scss */
.bottom-filter-button {
  float: right; }
  /* line 136, ../sass/search/_component-facet-inputs.scss */
  .bottom-filter-button .filterButton {
    font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    color: #747474;
    font-weight: normal;
    padding: 5px 20px;
    margin: 0 1px 0 5px; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .bottom-filter-button .filterButton {
      border: 2px solid #222; }
    /* line 145, ../sass/search/_component-facet-inputs.scss */
    .bottom-filter-button .filterButton:hover {
      background: #f7f7f7; }

/* line 151, ../sass/search/_component-facet-inputs.scss */
.bottom-remove-filter {
  float: left; }
  /* line 153, ../sass/search/_component-facet-inputs.scss */
  .bottom-remove-filter button {
    font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    color: #c34e30;
    font-weight: normal;
    padding: 5px 20px;
    margin: 0 1px 0 5px; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .bottom-remove-filter button {
      border: 2px solid #222; }
    /* line 162, ../sass/search/_component-facet-inputs.scss */
    .bottom-remove-filter button:hover {
      background: #f7f7f7; }

/* breakpoints */
/* line 6, ../sass/search/_component-search-box.scss */
.search-box {
  position: relative;
  padding: 5px 10px 15px 10px;
  margin: 0 0 20px 0; }
  /* line 11, ../sass/search/_component-search-box.scss */
  .search-box .search-box-input {
    padding: 5px 10px;
    margin-top: 0;
    max-width: 100%; }
    /* line 15, ../sass/search/_component-search-box.scss */
    .search-box .search-box-input.tt-hint {
      margin-top: 0; }
    /* line 18, ../sass/search/_component-search-box.scss */
    .search-box .search-box-input input[type="text"] {
      padding: 5px 18px; }
  /* line 23, ../sass/search/_component-search-box.scss */
  .search-box .twitter-typeahead {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    max-width: 100%;
    width: 100%; }
  /* line 29, ../sass/search/_component-search-box.scss */
  .search-box .tt-hint {
    color: #ccc; }
  /* line 33, ../sass/search/_component-search-box.scss */
  .search-box .tt-dropdown-menu {
    width: 350px;
    margin-top: 5px;
    padding: 4px 0;
    background-color: #fff;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    max-height: 300px;
    overflow-y: auto; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .search-box .tt-dropdown-menu {
      border: 2px solid #222; }
  /* line 43, ../sass/search/_component-search-box.scss */
  .search-box .tt-suggestion {
    padding: 4px 10px;
    overflow: hidden; }
    /* line 47, ../sass/search/_component-search-box.scss */
    .search-box .tt-suggestion:last-child {
      border: none; }
    /* line 51, ../sass/search/_component-search-box.scss */
    .search-box .tt-suggestion .field-image {
      width: 100px;
      float: left;
      margin-right: 10px; }
    /* line 57, ../sass/search/_component-search-box.scss */
    .search-box .tt-suggestion .field-make {
      font-size: 15px;
      float: left;
      margin-right: 5px; }
    /* line 63, ../sass/search/_component-search-box.scss */
    .search-box .tt-suggestion .field-model {
      margin-left: 4px;
      font-size: 15px;
      font-weigh: bold;
      width: 100%; }
    /* line 70, ../sass/search/_component-search-box.scss */
    .search-box .tt-suggestion .field-priceformatted {
      float: right;
      font-size: 15px;
      margin-top: -20px; }
  /* line 77, ../sass/search/_component-search-box.scss */
  .search-box .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #dedede;
    cursor: Pointer; }
  /* line 84, ../sass/search/_component-search-box.scss */
  .search-box.loading-in-progress .tt-dropdown-menu {
    display: block !important;
    min-height: 50px;
    position: relative; }
    /* line 89, ../sass/search/_component-search-box.scss */
    .search-box.loading-in-progress .tt-dropdown-menu:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px;
      height: 40px;
      width: 50px;
      display: block;
      background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+DQogIDxwYXRoICBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4NCiAgPHBhdGggZmlsbD0nIzFhODBiNicgZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPg0KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPg0KICA8L3BhdGg+DQo8L3N2Zz4NCg==);
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 11; }
    /* line 103, ../sass/search/_component-search-box.scss */
    .search-box.loading-in-progress .tt-dropdown-menu:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.8;
      z-index: 10; }

/* breakpoints */
/* line 6, ../sass/search/_component-search-variant-selector.scss */
.variant-selector.component {
  margin: 30px 0 0 0; }
/* line 10, ../sass/search/_component-search-variant-selector.scss */
.variant-selector .component-content > div {
  height: 30px;
  display: inline-block;
  width: 30px;
  margin: 2px;
  cursor: Pointer; }
/* line 19, ../sass/search/_component-search-variant-selector.scss */
.variant-selector .list {
  background-image: url(../images/list.png); }
  /* line 21, ../sass/search/_component-search-variant-selector.scss */
  .variant-selector .list.active-variant {
    background-image: url(../images/list-active.png); }
/* line 26, ../sass/search/_component-search-variant-selector.scss */
.variant-selector .grid {
  background-image: url(../images/grid.png);
  background-repeat: no-repeat; }
  /* line 29, ../sass/search/_component-search-variant-selector.scss */
  .variant-selector .grid.active-variant {
    background-image: url(../images/grid-active.png); }


  .search-results .search-result-list {
      padding-top: 5px;
  }

  /* line 6, ../sass/search/_component-search-results.scss */
  .search-results.list .search-result-list > li {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0 7px 10px 0; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .search-results.list .search-result-list > li {
      border: 2px solid #222; }
    /* line 15, ../sass/search/_component-search-results.scss */
    .search-results.list .search-result-list > li .field-image {
      width: 35%;
      float: left;
      margin: 0 0 -7px 0; }
    /* line 21, ../sass/search/_component-search-results.scss */
    .search-results.list .search-result-list > li .field-title,
    .search-results.list .search-result-list > li .field-priceformatted {
      display: block;
      margin-left: 35%;
      padding: 5px 10px; }
    /* line 28, ../sass/search/_component-search-results.scss */
    .search-results.list .search-result-list > li .field-bodytype,
    .search-results.list .search-result-list > li .field-drivetype,
    .search-results.list .search-result-list > li .field-transmissiontype,
    .search-results.list .search-result-list > li .field-enginefuel {
      display: block;
      margin-left: 35%;
      padding: 0 10px 0 10px; }
    /* line 37, ../sass/search/_component-search-results.scss */
    .search-results.list .search-result-list > li .field-title {
      display: block;
      margin-top: 10px; }
      /* line 40, ../sass/search/_component-search-results.scss */
      .search-results.list .search-result-list > li .field-title a {
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        font-weight: normal; }
    /* line 48, ../sass/search/_component-search-results.scss */
    .search-results.list .search-result-list > li .field-priceformatted {
      font-size: 16px;
      color: #888888; }
  /* line 59, ../sass/search/_component-search-results.scss */
  .search-results.grid .search-result-list > li {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    position: relative;
    width: 24%;
    min-height: 270px;
    height: 100%;
    padding: 0 0 10px 0;
    margin: 0 7px 10px 0; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .search-results.grid .search-result-list > li {
      border: 2px solid #222; }
    @media only screen and (min-width: 381px) and (max-width: 959px) {
      /* line 59, ../sass/search/_component-search-results.scss */
      .search-results.grid .search-result-list > li {
        width: 32%;
        min-height: 100%; } }
    @media only screen and (max-width: 639px) {
      /* line 59, ../sass/search/_component-search-results.scss */
      .search-results.grid .search-result-list > li {
        width: 48%;
        min-height: 100%; } }
    @media only screen and (max-width: 380px) {
      /* line 59, ../sass/search/_component-search-results.scss */
      .search-results.grid .search-result-list > li {
        width: 100%;
        min-height: 100%; } }
    /* line 85, ../sass/search/_component-search-results.scss */
    .search-results.grid .search-result-list > li .field-image {
      width: 100%;
      min-height: 124px; }
    /* line 90, ../sass/search/_component-search-results.scss */
    .search-results.grid .search-result-list > li .field-title {
      display: block;
      padding: 0 5px; }
      /* line 93, ../sass/search/_component-search-results.scss */
      .search-results.grid .search-result-list > li .field-title a {
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        font-weight: normal; }
    /* line 101, ../sass/search/_component-search-results.scss */
    .search-results.grid .search-result-list > li .field-priceformatted {
      display: block;
      font-size: 16px;
      padding: 0 5px;
      margin: 10px 0 0 0;
      color: #888888; }
  /* line 113, ../sass/search/_component-search-results.scss */
  .search-results .search-results-overlay {
    display: none; }
  /* line 117, ../sass/search/_component-search-results.scss */
  .search-results.loading-in-progress {
    min-height: 200px; }
    /* line 120, ../sass/search/_component-search-results.scss */
    .search-results.loading-in-progress .search-result-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9); }
      /* line 127, ../sass/search/_component-search-results.scss */
      .search-results.loading-in-progress .search-result-overlay:after {
        content: "";
        background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+CiAgPHBhdGggIG9wYWNpdHk9Ii4yNSIgZD0iTTE2IDAgQTE2IDE2IDAgMCAwIDE2IDMyIEExNiAxNiAwIDAgMCAxNiAwIE0xNiA0IEExMiAxMiAwIDAgMSAxNiAyOCBBMTIgMTIgMCAwIDEgMTYgNCIvPgogIDxwYXRoIGZpbGw9JyNkZGRkZGQnIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMSAzMiAxNiBMMjggMTYgQTEyIDEyIDAgMCAwIDE2IDR6Ij4KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogIDwvcGF0aD4KPC9zdmc+);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 0;
        right: 0;
        margin: -30px auto 0; }
  /* line 144, ../sass/search/_component-search-results.scss */
  .search-results.loading-more-in-progress:after {
    content: "";
    display: block;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+DQogIDxwYXRoICBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4NCiAgPHBhdGggZmlsbD0nIzFhODBiNicgZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPg0KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPg0KICA8L3BhdGg+DQo8L3N2Zz4NCg==);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    height: 100px; }
  /* line 153, ../sass/search/_component-search-results.scss */
  .search-results .no-results {
    padding: 5px; }

/* line 1, ../sass/search/_component-search-page-selector.scss */
.page-selector {
  text-align: center;
  padding: 10px 0 0 0; }
  /* line 5, ../sass/search/_component-search-page-selector.scss */
  .page-selector .page-selector-list li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 4px; }
  /* line 11, ../sass/search/_component-search-page-selector.scss */
  .page-selector a {
    text-decoration: none;
    font-weight: normal; }
  /* line 16, ../sass/search/_component-search-page-selector.scss */
  .page-selector .page-selector-item-link {
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    display: block;
    text-decoration: none;
    font-weight: normal;
    height: 20px;
    line-height: 22px;
    color: #747474;
    padding: 0 6px;
    margin-left: 5px; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .page-selector .page-selector-item-link {
      border: 2px solid #222; }
    /* line 27, ../sass/search/_component-search-page-selector.scss */
    .page-selector .page-selector-item-link.active {
      font-weight: bold;
      font-size: 14px;
      background: #777777;
      color: #fff; }
    /* line 34, ../sass/search/_component-search-page-selector.scss */
    .page-selector .page-selector-item-link:hover {
      background: #cccccc;
      color: #fff; }
    /* line 39, ../sass/search/_component-search-page-selector.scss */
    .page-selector .page-selector-item-link.inactive {
      color: #dedede;
      cursor: arrow; }
  /* line 46, ../sass/search/_component-search-page-selector.scss */
  .page-selector .page-selector-list .inactive a {
    color: #DEDEDE; }

/* breakpoints */
/* line 5, ../sass/search/_component-facet-search-results-filter.scss */
.facet-single-selection-list {
  display: block; }
  /* line 8, ../sass/search/_component-facet-search-results-filter.scss */
  .facet-single-selection-list .facet-search-filter .facet-value {
    position: relative;
    border-bottom: 1px solid #e0dede;
    background: transparent;
    cursor: pointer;
    padding: 5px 0; }
    /* line 15, ../sass/search/_component-facet-search-results-filter.scss */
    .facet-single-selection-list .facet-search-filter .facet-value:last-of-type {
      border-bottom: none; }
    /* line 18, ../sass/search/_component-facet-search-results-filter.scss */
    .facet-single-selection-list .facet-search-filter .facet-value.active-facet {
      font-weight: bold; }
    /* line 21, ../sass/search/_component-facet-search-results-filter.scss */
    .facet-single-selection-list .facet-search-filter .facet-value .highlighted {
      font-weight: bold;
      color: #888888; }

/* line 1, ../sass/search/_component-facet-slider.scss */
.ui-slider {
  position: relative;
  width: 80%;
  margin: 10px auto;
  text-align: left; }
  /* line 7, ../sass/search/_component-facet-slider.scss */
  .ui-slider.ui-widget-content {
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .ui-slider.ui-widget-content {
      border: 2px solid #222; }
  /* line 11, ../sass/search/_component-facet-slider.scss */
  .ui-slider .ui-widget-header {
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    background: #888888;
    color: #ffffff;
    font-weight: bold; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .ui-slider .ui-widget-header {
      border: 2px solid #222; }
  /* line 18, ../sass/search/_component-facet-slider.scss */
  .ui-slider .ui-slider-handle {
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    width: 0.8em !important;
    height: 0.8em !important; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .ui-slider .ui-slider-handle {
      border: 2px solid #222; }
  /* line 24, ../sass/search/_component-facet-slider.scss */
  .ui-slider .ui-widget-header a {
    color: #ffffff; }

/* line 30, ../sass/search/_component-facet-slider.scss */
.slider-value {
  text-align: center; }

/* Interaction states
----------------------------------*/
/* line 35, ../sass/search/_component-facet-slider.scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  font-weight: bold;
  color: #1c94c4; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .ui-state-default, .no-borderimage
  .ui-widget-content .ui-state-default, .no-borderimage
  .ui-widget-header .ui-state-default {
    border: 2px solid #222; }

/* line 42, ../sass/search/_component-facet-slider.scss */
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none; }

/* line 48, ../sass/search/_component-facet-slider.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  font-weight: bold;
  color: #888888; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .ui-state-hover, .no-borderimage
  .ui-widget-content .ui-state-hover, .no-borderimage
  .ui-widget-header .ui-state-hover, .no-borderimage
  .ui-state-focus, .no-borderimage
  .ui-widget-content .ui-state-focus, .no-borderimage
  .ui-widget-header .ui-state-focus {
    border: 2px solid #222; }

/* line 58, ../sass/search/_component-facet-slider.scss */
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #888888;
  text-decoration: none; }

/* line 69, ../sass/search/_component-facet-slider.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  font-weight: bold;
  color: #888888; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .ui-state-active, .no-borderimage
  .ui-widget-content .ui-state-active, .no-borderimage
  .ui-widget-header .ui-state-active {
    border: 2px solid #222; }

/* line 76, ../sass/search/_component-facet-slider.scss */
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #888888;
  text-decoration: none; }

/* line 82, ../sass/search/_component-facet-slider.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  font-weight: normal;
  color: #212121; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .ui-state-active, .no-borderimage
  .ui-widget-content .ui-state-active, .no-borderimage
  .ui-widget-header .ui-state-active {
    border: 2px solid #222; }

/* line 89, ../sass/search/_component-facet-slider.scss */
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #212121;
  text-decoration: none; }

/* line 97, ../sass/search/_component-facet-slider.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none; }

/* line 106, ../sass/search/_component-facet-slider.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

/* For IE8 - See #6727 */
/* line 116, ../sass/search/_component-facet-slider.scss */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit; }

/* line 121, ../sass/search/_component-facet-slider.scss */
.ui-slider-horizontal {
  height: .8em; }

/* line 124, ../sass/search/_component-facet-slider.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em; }

/* line 128, ../sass/search/_component-facet-slider.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

/* line 132, ../sass/search/_component-facet-slider.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

/* line 135, ../sass/search/_component-facet-slider.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

/* line 139, ../sass/search/_component-facet-slider.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px; }

/* line 143, ../sass/search/_component-facet-slider.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em; }

/* line 148, ../sass/search/_component-facet-slider.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

/* line 152, ../sass/search/_component-facet-slider.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

/* line 155, ../sass/search/_component-facet-slider.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

/* line 1, ../sass/search/_component-facet-dropdown.scss */
.facet-dropdown {
  margin: 10px 0; }
  /* line 3, ../sass/search/_component-facet-dropdown.scss */
  .facet-dropdown select {
    min-width: 100%; }

/* line 2, ../sass/search/_component-facet-sort-results.scss */
.sort-results select {
  max-width: 200px; }

/* line 2, ../sass/search/_component-facet-page-size.scss */
.page-size select {
  max-width: 100px; }

/* line 1, ../sass/search/_component-facet-managed-range.scss */
.facet-managed-range {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 4, ../sass/search/_component-facet-managed-range.scss */
  .facet-managed-range .min-range-value {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 48%; }
    /* line 7, ../sass/search/_component-facet-managed-range.scss */
    .facet-managed-range .min-range-value input[type=text] {
      min-width: 100%;
      width: 100%; }
  /* line 12, ../sass/search/_component-facet-managed-range.scss */
  .facet-managed-range .max-range-value {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 49%; }
    /* line 15, ../sass/search/_component-facet-managed-range.scss */
    .facet-managed-range .max-range-value input[type=text] {
      min-width: 100%;
      width: 100%; }

/* line 1, ../sass/search/_component-search-results-count.scss */
.results-count {
  display: none; }

/* line 6, ../sass/search/_component-search-results-count.scss */
.on-page-editor .results-count {
  display: inline-block; }

/* line 2, ../sass/search/_component-search-load-more.scss */
.load-more input[type='button'] {
  border: 1px solid #6297c0;
  color: #747474;
  font-weight: normal;
  padding: 5px 20px;
  margin: 0 1px 0 5px;
  clear: both; }
  /* line 9, ../sass/search/_component-search-load-more.scss */
  .load-more input[type='button']:hover {
    background: #f7f7f7; }

/* line 3, ../sass/search/_component-search-radius-filter.scss */
.radius-filter .radius-button.selected {
  font-weight: bold;
  background: #ffffff; }
/* line 9, ../sass/search/_component-search-radius-filter.scss */
.radius-filter ul {
  height: 30px; }
  /* line 10, ../sass/search/_component-search-radius-filter.scss */
  .radius-filter ul li {
    display: block;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    float: left;
    padding: 5px 5px;
    cursor: pointer; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .radius-filter ul li {
      border: 2px solid #222; }
/* line 22, ../sass/search/_component-search-radius-filter.scss */
.radius-filter .bottom-remove-filter {
  height: 30px; }
  /* line 24, ../sass/search/_component-search-radius-filter.scss */
  .radius-filter .bottom-remove-filter button {
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .radius-filter .bottom-remove-filter button {
      border: 2px solid #222; }

/* breakpoints */
/* line 6, ../sass/search/_component-search-location-filter.scss */
.location-filter {
  position: relative;
  padding: 5px 10px 15px 10px;
  margin: 0 0 20px 0; }
  /* line 11, ../sass/search/_component-search-location-filter.scss */
  .location-filter .location-search-box-input {
    padding: 5px 10px;
    margin-top: 0;
    max-width: 100%; }
    /* line 15, ../sass/search/_component-search-location-filter.scss */
    .location-filter .location-search-box-input.tt-hint {
      margin-top: 0; }
    /* line 18, ../sass/search/_component-search-location-filter.scss */
    .location-filter .location-search-box-input input[type="text"] {
      padding: 5px 18px; }
  /* line 23, ../sass/search/_component-search-location-filter.scss */
  .location-filter .location-search-box-button {
    display: block;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    float: left;
    padding: 5px 5px;
    cursor: pointer; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .location-filter .location-search-box-button {
      border: 2px solid #222; }
  /* line 31, ../sass/search/_component-search-location-filter.scss */
  .location-filter .twitter-typeahead {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    max-width: 100%;
    width: 100%; }
  /* line 37, ../sass/search/_component-search-location-filter.scss */
  .location-filter .tt-hint::-webkit-input-placeholder {
    color: transparent; }
  /* line 41, ../sass/search/_component-search-location-filter.scss */
  .location-filter .tt-hint::-moz-placeholder {
    color: transparent; }
  /* line 45, ../sass/search/_component-search-location-filter.scss */
  .location-filter .tt-dropdown-menu {
    width: 350px;
    margin-top: 5px;
    padding: 4px 0;
    background-color: #fff;
    -moz-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image: url('../images/border-small.png?1442825746') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    max-height: 300px;
    overflow-y: auto; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .location-filter .tt-dropdown-menu {
      border: 2px solid #222; }
  /* line 55, ../sass/search/_component-search-location-filter.scss */
  .location-filter .tt-suggestion {
    padding: 4px 10px;
    overflow: hidden; }
    /* line 59, ../sass/search/_component-search-location-filter.scss */
    .location-filter .tt-suggestion:last-child {
      border: none; }
    /* line 63, ../sass/search/_component-search-location-filter.scss */
    .location-filter .tt-suggestion .field-image {
      width: 100px;
      float: left;
      margin-right: 10px; }
    /* line 69, ../sass/search/_component-search-location-filter.scss */
    .location-filter .tt-suggestion .field-make {
      font-size: 15px;
      float: left;
      margin-right: 5px; }
    /* line 75, ../sass/search/_component-search-location-filter.scss */
    .location-filter .tt-suggestion .field-model {
      margin-left: 4px;
      font-size: 15px;
      font-weigh: bold;
      width: 100%; }
    /* line 82, ../sass/search/_component-search-location-filter.scss */
    .location-filter .tt-suggestion .field-priceformatted {
      float: right;
      font-size: 15px;
      margin-top: -20px; }
  /* line 89, ../sass/search/_component-search-location-filter.scss */
  .location-filter .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #dedede;
    cursor: Pointer; }
  /* line 96, ../sass/search/_component-search-location-filter.scss */
  .location-filter.loading-in-progress .tt-dropdown-menu {
    display: block !important;
    min-height: 50px;
    position: relative; }
    /* line 101, ../sass/search/_component-search-location-filter.scss */
    .location-filter.loading-in-progress .tt-dropdown-menu:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px;
      height: 40px;
      width: 50px;
      display: block;
      background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJibGFjayI+DQogIDxwYXRoICBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4NCiAgPHBhdGggZmlsbD0nIzFhODBiNicgZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPg0KICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDE2IDE2IiB0bz0iMzYwIDE2IDE2IiBkdXI9IjAuOHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPg0KICA8L3BhdGg+DQo8L3N2Zz4NCg==);
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 11; }
    /* line 115, ../sass/search/_component-search-location-filter.scss */
    .location-filter.loading-in-progress .tt-dropdown-menu:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.8;
      z-index: 10; }
