/* breakpoints */
/* line 5, ../sass/component-forms.scss */
.form {
  margin: 10px 0;
  font-size: 14px; }
  /* line 8, ../sass/component-forms.scss */
  .form .scfForm {
    font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif; }
  /* line 11, ../sass/component-forms.scss */
  .form fieldset {
    border: 2px solid #222;
    -moz-border-image: url('../images/border-big.png?1425630250') 10% repeat repeat;
    -webkit-border-image: url('../images/border-big.png?1425630250') 10% repeat repeat;
    border-image: url('../images/border-big.png?1425630250') 10% repeat repeat;
    border-image-slice: auto;
    border-width: 25px;
    border-style: solid;
    padding: 15px;
    margin: 10px 0;
    background: #fff;
    position: relative; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .form fieldset {
      border: 2px solid #222; }
    /* line 18, ../sass/component-forms.scss */
    .form fieldset legend {
      font-weight: 700;
      padding: 0 5px;
      font-size: 16px;
      position: absolute;
      top: -33px;
      background: #fff;
      left: 0; }
  /* line 29, ../sass/component-forms.scss */
  .form .scfSectionContent > div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 0;
    border: 1px dashed gray;
    padding: 10px;
    position: relative; }
    /* line 35, ../sass/component-forms.scss */
    .form .scfSectionContent > div:after {
      clear: both;
      content: "";
      display: block; }
    /* line 40, ../sass/component-forms.scss */
    .form .scfSectionContent > div:hover [class$="GeneralPanel"] > [class$="UsefulInfo"] {
      opacity: 1; }
    /* line 43, ../sass/component-forms.scss */
    .form .scfSectionContent > div select, .form .scfSectionContent > div input {
      margin-left: 5px; }
  /* line 47, ../sass/component-forms.scss */
  .form .scfSectionContent [class$="UsefulInfo"] {
    -moz-transition: opacity 0.75s;
    -o-transition: opacity 0.75s;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    font-size: 12px;
    margin-left: 5px;
    /*inputs margin-left*/
    position: absolute;
    -moz-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
    border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    left: 0px;
    top: -15px;
    padding: 4px 8px;
    max-width: 98%;
    width: auto;
    background-color: #F5F5F5;
    color: #808080; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .form .scfSectionContent [class$="UsefulInfo"] {
      border: 2px solid #222; }
  /* line 65, ../sass/component-forms.scss */
  .form input,
  .form select,
  .form textarea {
    border: 1px solid #222;
    padding: 2px 4px;
    max-width: 98%; }
  /* line 74, ../sass/component-forms.scss */
  .form .scfCaptcha input[type="text"] {
    margin: 0; }
  /* line 78, ../sass/component-forms.scss */
  .form .scfCaptchaLimitGeneralPanel,
  .form .scfCaptchStrongTextPanel {
    max-width: 100%;
    width: auto; }
  /* line 84, ../sass/component-forms.scss */
  .form .scfCaptchaLabel {
    display: none; }

/* line 90, ../sass/component-forms.scss */
.form table, .login table {
  width: 100%; }
/* line 94, ../sass/component-forms.scss */
.form .scfSectionContent .scfCaptchaGeneralPanel embed, .login .scfSectionContent .scfCaptchaGeneralPanel embed {
  max-width: 180px; }
/* line 97, ../sass/component-forms.scss */
.form input[type="image"], .login input[type="image"] {
  border: none; }
/* line 100, ../sass/component-forms.scss */
.form input[type="checkbox"], .login input[type="checkbox"] {
  position: absolute; }
  /* line 103, ../sass/component-forms.scss */
  .form input[type="checkbox"]:checked ~ label:before, .login input[type="checkbox"]:checked ~ label:before {
    background-color: #fff; }
  /* line 107, ../sass/component-forms.scss */
  .form input[type="checkbox"]:checked ~ label:after, .login input[type="checkbox"]:checked ~ label:after {
    background: url('../images/checked.png?1425630250') 0 0 no-repeat;
    background-position: -2px -2px; }
  /* line 113, ../sass/component-forms.scss */
  .form input[type="checkbox"] ~ label, .login input[type="checkbox"] ~ label {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    margin-left: 20px;
    cursor: pointer; }
    /* line 118, ../sass/component-forms.scss */
    .form input[type="checkbox"] ~ label:after, .form input[type="checkbox"] ~ label:before, .login input[type="checkbox"] ~ label:after, .login input[type="checkbox"] ~ label:before {
      -moz-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
      -webkit-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
      border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
      border-image-slice: auto;
      border-width: 4px;
      border-style: solid;
      display: inline-block;
      background-color: #fff;
      content: " ";
      position: absolute;
      z-index: 1;
      width: 10px;
      height: 10px;
      left: -20px;
      top: 0;
      margin-right: 3px; }
      /* line 28, ../sass/_mixins.scss */
      .no-borderimage .form input[type="checkbox"] ~ label:after, .no-borderimage .form input[type="checkbox"] ~ label:before, .no-borderimage .login input[type="checkbox"] ~ label:after, .no-borderimage .login input[type="checkbox"] ~ label:before {
        border: 2px solid #222; }
/* line 135, ../sass/component-forms.scss */
.form input[type="submit"],
.form button, .login input[type="submit"],
.login button {
  -moz-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
  margin-left: -1px; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .form input[type="submit"], .no-borderimage
  .form button, .no-borderimage .login input[type="submit"], .no-borderimage
  .login button {
    border: 2px solid #222; }
/* line 145, ../sass/component-forms.scss */
.form input[type="text"],
.form input[type="password"],
.form textarea,
.form input[type="file"], .login input[type="text"],
.login input[type="password"],
.login textarea,
.login input[type="file"] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  width: 95%;
  font-weight: bold;
  padding: 2px; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .form input[type="text"], .no-borderimage
  .form input[type="password"], .no-borderimage
  .form textarea, .no-borderimage
  .form input[type="file"], .no-borderimage .login input[type="text"], .no-borderimage
  .login input[type="password"], .no-borderimage
  .login textarea, .no-borderimage
  .login input[type="file"] {
    border: 2px solid #222; }
  /* line 156, ../sass/component-forms.scss */
  .form input[type="text"] + span,
  .form input[type="password"] + span,
  .form textarea + span,
  .form input[type="file"] + span, .login input[type="text"] + span,
  .login input[type="password"] + span,
  .login textarea + span,
  .login input[type="file"] + span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
/* line 160, ../sass/component-forms.scss */
.form input[type="file"], .login input[type="file"] {
  -moz-appearance: none;
  -webkit-appearance: none; }
/* line 163, ../sass/component-forms.scss */
.form input[type="radio"], .login input[type="radio"] {
  position: absolute; }
  /* line 165, ../sass/component-forms.scss */
  .form input[type="radio"] + label:before, .login input[type="radio"] + label:before {
    content: "";
    position: absolute;
    top: 2px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff; }
  /* line 175, ../sass/component-forms.scss */
  .form input[type="radio"] + label:after, .login input[type="radio"] + label:after {
    content: "";
    position: absolute;
    top: 2px;
    display: block;
    width: 16px;
    height: 15px;
    background: url('../images/radiobox.png?1425630251'); }
  /* line 184, ../sass/component-forms.scss */
  .form input[type="radio"]:checked + label:after, .login input[type="radio"]:checked + label:after {
    background-position: -16px 0; }
  /* line 188, ../sass/component-forms.scss */
  .form input[type="radio"] + label, .login input[type="radio"] + label {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 20px;
    margin-left: 5px;
    position: relative; }
/* line 195, ../sass/component-forms.scss */
.form select, .login select {
  -moz-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  border-image: url('../images/border-small.png?1425630250') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  -moz-appearance: none;
  -webkit-appearance: none;
  max-height: 30px;
  background: url('../images/dropdown-bg.png?1425630250') top right no-repeat;
  position: relative;
  text-indent: 2px; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .form select, .no-borderimage .login select {
    border: 2px solid #222; }
/* line 203, ../sass/component-forms.scss */
.form .scfListBox, .login .scfListBox {
  background: none;
  max-height: none; }
/* line 207, ../sass/component-forms.scss */
.form .scfDateSelectorDay, .form .scfDateSelectorMonth, .form .scfDateSelectorYear, .login .scfDateSelectorDay, .login .scfDateSelectorMonth, .login .scfDateSelectorYear {
  width: 30%; }

/* line 3, ../sass/forms/_form-variants.scss */
.form {
  overflow: hidden; }
  /* line 6, ../sass/forms/_form-variants.scss */
  .form h1, .form h2, .form h3, .form h4, .form h5, .form h6 {
    font-family: 'MuseoSlab-500', arial, helvetica, sans-serif; }
  /* line 10, ../sass/forms/_form-variants.scss */
  .form .scfSectionContent > div {
    margin: 5px 0 0 0;
    padding: 0; }
    /* line 15, ../sass/forms/_form-variants.scss */
    .form .scfSectionContent > div ~ div {
      margin: 0; }
    /* line 19, ../sass/forms/_form-variants.scss */
    .form .scfSectionContent > div > label, .form .scfSectionContent > div > div {
      width: 100%;
      display: block;
      padding: 0; }
  /* line 26, ../sass/forms/_form-variants.scss */
  .form .scfRequired {
    display: none !important; }
  /* line 31, ../sass/forms/_form-variants.scss */
  .form.labels-above label {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0; }
  /* line 38, ../sass/forms/_form-variants.scss */
  .form.labels-above .scfEmailGeneralPanel,
  .form.labels-above .scfMultipleLineGeneralPanel,
  .form.labels-above .scfSingleLineGeneralPanel,
  .form.labels-above .scfPasswordGeneralPanel,
  .form.labels-above .scfNumberGeneralPanel,
  .form.labels-above .scfDatePickerGeneralPanel,
  .form.labels-above .scfListBoxGeneralPanel,
  .form.labels-above .scfDropListGeneralPanel,
  .form.labels-above .scfDateGeneralPanel,
  .form.labels-above .scfRadioButtonListGeneralPanel,
  .form.labels-above .scfCheckBoxListGeneralPanel,
  .form.labels-above .scfFileUploadGeneralPanel,
  .form.labels-above .scfDateSelectorGeneralPanel,
  .form.labels-above .scfCreditCardGeneralPanel,
  .form.labels-above .scfConfirmPasswordGeneralPanel,
  .form.labels-above .scfCaptchaGeneralPanel,
  .form.labels-above .scfTelephoneGeneralPanel,
  .form.labels-above .scfSmsTelephoneGeneralPanel {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 93%; }
  /* line 62, ../sass/forms/_form-variants.scss */
  .form.labels-above .scfSectionContent .scfRequired {
    margin: 0 5px; }
  /* line 67, ../sass/forms/_form-variants.scss */
  .form.labels-above .scfMultipleLineGeneralPanel {
    width: 95%; }
  /* line 71, ../sass/forms/_form-variants.scss */
  .form.labels-above .scfMultipleLineTextBox {
    margin: 0 0 0 5px; }
  /* line 78, ../sass/forms/_form-variants.scss */
  .form.hints-below .scfSectionContent [class$="UsefulInfo"] {
    position: static;
    opacity: 1;
    max-width: 100%;
    width: 100%;
    margin: 5px 0 0 5px; }
