/* breakpoints */
/* line 5, ../sass/component-breadcrumb.scss */
.breadcrumb {
  clear: both;
  overflow: hidden;
  margin: 0 0 20px 0; }
  /* line 10, ../sass/component-breadcrumb.scss */
  .breadcrumb.breadcrumb-navigation {
    overflow: visible; }
  /* line 14, ../sass/component-breadcrumb.scss */
  .breadcrumb a {
    text-decoration: none; }
  /* line 17, ../sass/component-breadcrumb.scss */
  .breadcrumb ol {
    list-style: none; }
  /* line 22, ../sass/component-breadcrumb.scss */
  .breadcrumb .separator {
    width: 15px;
    margin: 0 5px; }
  /* line 26, ../sass/component-breadcrumb.scss */
  .breadcrumb li {
    position: relative;
    float: left; }
    /* line 30, ../sass/component-breadcrumb.scss */
    .breadcrumb li.last .separator {
      display: none; }
    /* line 36, ../sass/component-breadcrumb.scss */
    .breadcrumb li:hover > ol {
      display: block;
      position: absolute;
      top: 20px;
      left: auto;
      z-index: 100; }
    /* line 45, ../sass/component-breadcrumb.scss */
    .breadcrumb li > ol {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: none;
      margin: 0;
      background: #ffffff;
      -moz-border-image: url('../images/border-big.png?1475220560') 10% repeat repeat;
      -webkit-border-image: url('../images/border-big.png?1475220560') 10% repeat repeat;
      border-image: url('../images/border-big.png?1475220560') 10% repeat repeat;
      border-image-slice: auto;
      border-width: 11px;
      border-style: solid; }
      /* line 28, ../sass/_mixins.scss */
      .no-borderimage .breadcrumb li > ol {
        border: 2px solid #222; }
      /* line 51, ../sass/component-breadcrumb.scss */
      .breadcrumb li > ol li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        background: url('../images/balsamiq_line.png?1475220560') bottom left repeat-x;
        position: relative;
        float: none;
        margin: 0;
        padding: 2px 10px 2px 5px;
        width: 100%;
        min-width: 140px;
        cursor: pointer; }
        /* line 35, ../sass/_mixins.scss */
        .lt-ie9 .breadcrumb li > ol li {
          background: none;
          border-bottom: 2px solid #222; }
        /* line 63, ../sass/component-breadcrumb.scss */
        .breadcrumb li > ol li .fa {
          float: left; }
        /* line 67, ../sass/component-breadcrumb.scss */
        .breadcrumb li > ol li:hover {
          background: #bfbfbf;
          color: #ffffff; }
          /* line 70, ../sass/component-breadcrumb.scss */
          .breadcrumb li > ol li:hover a {
            color: #ffffff; }
        /* line 75, ../sass/component-breadcrumb.scss */
        .breadcrumb li > ol li:before {
          font-size: 14px;
          font-size: 1.4rem;
          position: absolute;
          font-family: 'icomoon', sans-serif;
          content: "\e60d";
          top: 0;
          left: 0;
          margin: 2px 0 0 0;
          padding: 0; }
        /* line 85, ../sass/component-breadcrumb.scss */
        .breadcrumb li > ol li > a {
          display: block;
          padding: 2px 0 2px 10px; }
  /* line 93, ../sass/component-breadcrumb.scss */
  .breadcrumb.breadcrumb-hide li {
    white-space: nowrap; }
    /* line 95, ../sass/component-breadcrumb.scss */
    .breadcrumb.breadcrumb-hide li.hide + li.hide {
      display: none; }
    /* line 99, ../sass/component-breadcrumb.scss */
    .breadcrumb.breadcrumb-hide li.hide a {
      display: none; }
    /* line 102, ../sass/component-breadcrumb.scss */
    .breadcrumb.breadcrumb-hide li.hide:before {
      content: "...";
      display: inline; }
    /* line 107, ../sass/component-breadcrumb.scss */
    .breadcrumb.breadcrumb-hide li.hide-full {
      display: none; }
  /* line 113, ../sass/component-breadcrumb.scss */
  .breadcrumb-item > div {
    display: inline; }
