@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansbold-webfont.eot');
  src: url('../fonts/balsamiqsansbold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansbold-webfont.woff?1463732651') format("woff"), url('../fonts/balsamiqsansbold-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansbold-webfont.svg#balsamiq_sansbold') format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansbolditalic-webfont.eot');
  src: url('../fonts/balsamiqsansbolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansbolditalic-webfont.woff?1463732651') format("woff"), url('../fonts/balsamiqsansbolditalic-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansbolditalic-webfont.svg#balsamiq_sansbold_italic') format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansitalic-webfont.eot');
  src: url('../fonts/balsamiqsansitalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansitalic-webfont.woff?1463732651') format("woff"), url('../fonts/balsamiqsansitalic-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansitalic-webfont.svg#balsamiq_sansitalic') format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansregular-webfont.eot');
  src: url('../fonts/balsamiqsansregular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansregular-webfont.woff?1463732651') format("woff"), url('../fonts/balsamiqsansregular-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansregular-webfont.svg#balsamiq_sansregular') format("svg");
  font-weight: normal;
  font-style: normal; }
/* breakpoints */
/* line 6, ../sass/component-field-editor.scss */
.field-editor .field-table {
  border-collapse: collapse;
  /* fix for 3206 
          img {
              max-width: 150px;
          }        */ }
  /* line 8, ../sass/component-field-editor.scss */
  .field-editor .field-table th,
  .field-editor .field-table td {
    border: 1px solid #f7f7f7; }
  /* line 12, ../sass/component-field-editor.scss */
  .field-editor .field-table th {
    color: #222;
    padding: 0 10px;
    text-align: left;
    vertical-align: middle; }
  /* line 18, ../sass/component-field-editor.scss */
  .field-editor .field-table td {
    color: #3F3F3F;
    padding: 0 10px;
    text-align: left;
    vertical-align: middle; }

/* line 33, ../sass/component-field-editor.scss */
.field-editor.position-right .field-table td {
  text-align: right; }

/* line 41, ../sass/component-field-editor.scss */
.field-editor.position-center .field-table td {
  text-align: center; }
