/* breakpoints */
/* line 4, ../sass/component-tabs.scss */
.tabs {
  overflow: hidden;
  position: relative; }
  /* line 7, ../sass/component-tabs.scss */
  .tabs .wrapper {
    position: relative; }
  /* line 10, ../sass/component-tabs.scss */
  .tabs .tab-slider {
    position: absolute;
    background: #c4c4c4;
    cursor: pointer;
    border: 2px solid #4a4a4a;
    vertical-align: center;
    width: 15px;
    text-indent: -9999px;
    z-index: 10; }
  /* line 20, ../sass/component-tabs.scss */
  .tabs .tabs-heading {
    overflow: hidden;
    font-family: Arial; }
    /* line 23, ../sass/component-tabs.scss */
    .tabs .tabs-heading li {
      border-width: 2px 2px 0 2px;
      border-style: solid;
      border-color: #4a4a4a;
      -moz-border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
      -webkit-border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
      border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
      border-image-slice: 20px;
      border-width: 4px;
      border-style: solid;
      float: left;
      display: block;
      margin-left: 5px;
      margin-bottom: -5px;
      background: #e4e4e4;
      height: 100%;
      width: auto; }
      /* line 28, ../sass/_mixins.scss */
      .no-borderimage .tabs .tabs-heading li {
        border: 2px solid #222; }
      /* line 35, ../sass/component-tabs.scss */
      .tabs .tabs-heading li a {
        padding: 7px 10px 7px 10px;
        display: block;
        text-decoration: none;
        color: #303030;
        font-size: 12px;
        font-weight: 700; }
      /* line 43, ../sass/component-tabs.scss */
      .tabs .tabs-heading li.active {
        background: #FFF; }
        /* line 45, ../sass/component-tabs.scss */
        .tabs .tabs-heading li.active a {
          color: #000; }
      /* line 49, ../sass/component-tabs.scss */
      .tabs .tabs-heading li:hover {
        background: #95bcf2; }
      /* line 52, ../sass/component-tabs.scss */
      .tabs .tabs-heading li:first-child {
        margin-left: 0; }
  /* line 57, ../sass/component-tabs.scss */
  .tabs .tabs-container {
    border: 2px solid #4a4a4a;
    -moz-border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
    -webkit-border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
    border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
    border-image-slice: 20px;
    border-width: 4px;
    border-style: solid;
    background: #FFF;
    margin-top: -2px;
    z-index: 3; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .tabs .tabs-container {
      border: 2px solid #222; }
  /* line 64, ../sass/component-tabs.scss */
  .tabs .tab {
    display: none;
    padding: 10px; }
    /* line 67, ../sass/component-tabs.scss */
    .tabs .tab.active {
      display: block; }
  /* line 72, ../sass/component-tabs.scss */
  .tabs.tabs-scrollable .tabs-heading {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0; }
  /* line 79, ../sass/component-tabs.scss */
  .tabs.tabs-scrollable .tabs-container {
    margin: 0; }
  /* line 82, ../sass/component-tabs.scss */
  .tabs.tabs-scrollable .prev {
    left: 0;
    background: #e4e4e4 url("../Images/arrow-left.png") 5px 12px no-repeat; }
  /* line 86, ../sass/component-tabs.scss */
  .tabs.tabs-scrollable .next {
    right: 0;
    background: #e4e4e4 url("../Images/arrow-right.png") 6px 12px no-repeat; }
  /* line 92, ../sass/component-tabs.scss */
  .tabs.tabs-bottom .tabs-container {
    margin: 0; }
  /* line 95, ../sass/component-tabs.scss */
  .tabs.tabs-bottom .tabs-heading {
    position: relative;
    margin-top: -3px;
    border-top: 1px solid white; }
    /* line 99, ../sass/component-tabs.scss */
    .tabs.tabs-bottom .tabs-heading li {
      margin-bottom: 0;
      border-top: 0px solid white; }
      /* line 102, ../sass/component-tabs.scss */
      .tabs.tabs-bottom .tabs-heading li a {
        border: none; }
      /* line 106, ../sass/component-tabs.scss */
      .tabs.tabs-bottom .tabs-heading li.active a {
        border: none;
        position: relative; }
  /* line 115, ../sass/component-tabs.scss */
  .tabs.tabs-scrollable.tabs-bottom .wrapper {
    margin-top: 2px;
    padding-bottom: 6px; }
  /* line 119, ../sass/component-tabs.scss */
  .tabs.tabs-scrollable.tabs-bottom .next {
    top: 1px; }
  /* line 122, ../sass/component-tabs.scss */
  .tabs.tabs-scrollable.tabs-bottom .prev {
    top: 1px; }
  /* line 125, ../sass/component-tabs.scss */
  .tabs.tabs-scrollable.tabs-bottom .tabs-heading {
    margin-top: -4px; }
  /* line 130, ../sass/component-tabs.scss */
  .tabs.tabs-vertical .tabs-heading {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
    float: left;
    border-right: none; }
    /* line 135, ../sass/component-tabs.scss */
    .tabs.tabs-vertical .tabs-heading li {
      margin: 0;
      border-top: none;
      margin-left: 0px;
      display: block;
      float: none;
      margin-top: -5px; }
      /* line 143, ../sass/component-tabs.scss */
      .tabs.tabs-vertical .tabs-heading li.active a {
        border: none; }
      /* line 147, ../sass/component-tabs.scss */
      .tabs.tabs-vertical .tabs-heading li:first-child {
        margin-top: 0; }
  /* line 152, ../sass/component-tabs.scss */
  .tabs.tabs-vertical .tabs-container {
    margin: 0;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    margin-left: -2px; }
  /* line 160, ../sass/component-tabs.scss */
  .tabs.tabs-vertical.tabs-vertical-right .tabs-heading {
    float: right;
    margin-left: -2px; }
  /* line 164, ../sass/component-tabs.scss */
  .tabs.tabs-vertical.tabs-vertical-right .tabs-container {
    margin: 0;
    float: right; }
