/* breakpoints */
/* line 5, ../sass/component-link-list.scss */
.link-list ul {
  margin-left: -10px; }
/* line 8, ../sass/component-link-list.scss */
.link-list li {
  display: inline-block;
  margin-left: 10px; }
  /* line 11, ../sass/component-link-list.scss */
  .link-list li:first-child {
    margin-left: 10px; }
  /* line 14, ../sass/component-link-list.scss */
  .link-list li a {
    display: inline;
    text-decoration: none;
    font-weight: bold;
    color: #222;
    border-bottom: 2px solid #4a4a4a; }
    /* line 20, ../sass/component-link-list.scss */
    .link-list li a:hover {
      color: #407aea; }
/* line 26, ../sass/component-link-list.scss */
.link-list.list-vertical h3 {
  background: #fff;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 3px 5px;
  -moz-border-image: url('../images/border-small.png?1424703017') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1424703017') 9% repeat repeat;
  border-image: url('../images/border-small.png?1424703017') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .link-list.list-vertical h3 {
    border: 2px solid #222; }
/* line 34, ../sass/component-link-list.scss */
.link-list.list-vertical a {
  border: none; }
/* line 37, ../sass/component-link-list.scss */
.link-list.list-vertical li {
  display: block;
  margin-left: 10px;
  padding-left: 15px;
  background: url("../Images/arrow.gif") 5px 7px no-repeat; }

/* line 5, ../sass/link-list/_link-list-variants.scss */
.link-list .button-default,
.link-list .default,
.link-button .button-default,
.link-button .default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #f6f6f6;
  color: #747474;
  -moz-border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 11px;
  border-style: solid;
  font-weight: bold; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .link-list .button-default, .no-borderimage
  .link-list .default, .no-borderimage
  .link-button .button-default, .no-borderimage
  .link-button .default {
    border: 2px solid #222; }
  /* line 18, ../sass/link-list/_link-list-variants.scss */
  .link-list .button-default:hover,
  .link-list .default:hover,
  .link-button .button-default:hover,
  .link-button .default:hover {
    color: #747474;
    background: #bfbfbf; }
/* line 24, ../sass/link-list/_link-list-variants.scss */
.link-list .button-success,
.link-list .success,
.link-button .button-success,
.link-button .success {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #a0ce4e;
  -moz-border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 11px;
  border-style: solid;
  color: #ffffff;
  font-weight: bold; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .link-list .button-success, .no-borderimage
  .link-list .success, .no-borderimage
  .link-button .button-success, .no-borderimage
  .link-button .success {
    border: 2px solid #222; }
  /* line 37, ../sass/link-list/_link-list-variants.scss */
  .link-list .button-success:hover,
  .link-list .success:hover,
  .link-button .button-success:hover,
  .link-button .success:hover {
    color: #ffffff;
    background: #92be43; }
/* line 43, ../sass/link-list/_link-list-variants.scss */
.link-list .button-warning,
.link-list .warning,
.link-button .button-warning,
.link-button .warning {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background: #bc4526;
  -moz-border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 11px;
  border-style: solid;
  color: #ffffff;
  font-weight: bold; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .link-list .button-warning, .no-borderimage
  .link-list .warning, .no-borderimage
  .link-button .button-warning, .no-borderimage
  .link-button .warning {
    border: 2px solid #222; }
  /* line 56, ../sass/link-list/_link-list-variants.scss */
  .link-list .button-warning:hover,
  .link-list .warning:hover,
  .link-button .button-warning:hover,
  .link-button .warning:hover {
    color: #ffffff;
    background: #c34e30; }
