/* breakpoints */
/* line 7, ../sass/component-galleria.scss */
.gallery #galleria-loader {
  height: 1px !important; }
/* line 10, ../sass/component-galleria.scss */
.gallery .galleria-container {
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 2px solid #222;
  -moz-border-image: url('../images/border-big.png?1418632509') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1418632509') 10% repeat repeat;
  border-image: url('../images/border-big.png?1418632509') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 11px;
  border-style: solid; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .gallery .galleria-container {
    border: 2px solid #222; }
/* line 17, ../sass/component-galleria.scss */
.gallery .galleria-container img {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
/* line 20, ../sass/component-galleria.scss */
.gallery .galleria-stage {
  position: absolute;
  top: 10px;
  bottom: 60px;
  left: 10px;
  right: 10px;
  overflow: hidden; }
/* line 28, ../sass/component-galleria.scss */
.gallery .galleria-thumbnails-container {
  height: 50px;
  bottom: 0;
  position: absolute;
  left: 10px;
  right: 10px;
  margin-top: 10px;
  z-index: 2; }
/* line 37, ../sass/component-galleria.scss */
.gallery .galleria-carousel .galleria-thumbnails-list {
  margin-left: 30px;
  margin-right: 30px; }
/* line 41, ../sass/component-galleria.scss */
.gallery .galleria-thumbnails .galleria-image {
  height: 40px;
  width: 60px;
  background: #888;
  margin: 0 5px 0 0;
  float: left;
  cursor: pointer; }
/* line 49, ../sass/component-galleria.scss */
.gallery .galleria-thumbnails .galleria-image img {
  border: none; }
/* line 52, ../sass/component-galleria.scss */
.gallery .galleria-counter {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: right;
  color: #fff;
  font: normal 11px/1 "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  z-index: 1; }
/* line 61, ../sass/component-galleria.scss */
.gallery .galleria-loader {
  background: #000;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: none;
  background: url('../images/galleria-wireframe-loader.gif?1418632509') no-repeat 2px 2px; }
/* line 72, ../sass/component-galleria.scss */
.gallery .galleria-info {
  width: 50%;
  top: 15px;
  left: 15px;
  z-index: 2;
  position: absolute; }
/* line 79, ../sass/component-galleria.scss */
.gallery .galleria-info-text {
  background-color: #fff;
  border: 2px solid #535554;
  -moz-border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
  -webkit-border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
  border-image: url('../images/border-tiny.png?1418632509') 11% repeat repeat;
  border-image-slice: 20px;
  border-width: 4px;
  border-style: solid;
  padding: 12px;
  display: none;
  /* IE7 */
  zoom: 1; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .gallery .galleria-info-text {
    border: 2px solid #222; }
/* line 88, ../sass/component-galleria.scss */
.gallery .galleria-info-title {
  font: bold 12px/1.1 "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  margin: 0;
  color: #535554;
  margin-bottom: 7px; }
/* line 94, ../sass/component-galleria.scss */
.gallery .galleria-info-description {
  font: italic 12px/1.4 "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  margin: 0;
  color: #535554; }
/* line 99, ../sass/component-galleria.scss */
.gallery .galleria-info-close {
  width: 13px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-position: -77px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: pointer;
  display: none; }
/* line 110, ../sass/component-galleria.scss */
.gallery .notouch .galleria-info-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
/* line 113, ../sass/component-galleria.scss */
.gallery .touch .galleria-info-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
/* line 116, ../sass/component-galleria.scss */
.gallery .galleria-info-link {
  background-position: 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  position: absolute;
  width: 8px;
  height: 12px;
  cursor: pointer; }
/* line 124, ../sass/component-galleria.scss */
.gallery .notouch .galleria-info-link:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
/* line 127, ../sass/component-galleria.scss */
.gallery .touch .galleria-info-link:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
/* line 130, ../sass/component-galleria.scss */
.gallery .galleria-image-nav {
  position: absolute;
  top: 50%;
  margin-top: -62px;
  width: 100%;
  height: 62px;
  left: 0; }
/* line 138, ../sass/component-galleria.scss */
.gallery .galleria-image-nav-left,
.gallery .galleria-image-nav-right {
  cursor: pointer;
  top: 50px;
  height: 17px;
  width: 14px;
  position: absolute;
  left: 10px;
  z-index: 2; }
/* line 148, ../sass/component-galleria.scss */
.gallery .galleria-image-nav-left {
  background: url('../images/arrow-big-left.png?1418632509'); }
/* line 151, ../sass/component-galleria.scss */
.gallery .galleria-image-nav-left:hover {
  background: url('../images/arrow-big-left-hover.png?1418632509'); }
/* line 154, ../sass/component-galleria.scss */
.gallery .galleria-image-nav-right {
  background: url('../images/arrow-big-right.png?1418632509'); }
/* line 157, ../sass/component-galleria.scss */
.gallery .galleria-image-nav-right:hover {
  background: url('../images/arrow-big-right-hover.png?1418632509'); }
/* line 160, ../sass/component-galleria.scss */
.gallery .galleria-image-nav-right {
  left: auto;
  right: 10px;
  z-index: 2; }
/* line 165, ../sass/component-galleria.scss */
.gallery .notouch .galleria-image-nav-left:hover,
.gallery .notouch .galleria-image-nav-right:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
/* line 169, ../sass/component-galleria.scss */
.gallery .touch .galleria-image-nav-left:active,
.gallery .touch .galleria-image-nav-right:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
/* line 173, ../sass/component-galleria.scss */
.gallery .galleria-thumb-nav-left,
.gallery .galleria-thumb-nav-right {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 0;
  top: 15px;
  height: 7px;
  width: 5px;
  z-index: 3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }
/* line 185, ../sass/component-galleria.scss */
.gallery .galleria-thumbnails {
  margin: 0 auto; }
/* line 188, ../sass/component-galleria.scss */
.gallery .galleria-thumb-nav-right {
  background: url('../images/arrow-right.png?1418632509');
  border-right: none;
  right: 10px;
  left: auto; }
/* line 194, ../sass/component-galleria.scss */
.gallery .galleria-thumb-nav-left {
  background: url('../images/arrow-left.png?1418632509');
  right: auto;
  left: 10px; }
/* line 199, ../sass/component-galleria.scss */
.gallery .galleria-thumbnails-container .disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  cursor: default; }
/* line 203, ../sass/component-galleria.scss */
.gallery .notouch .galleria-thumb-nav-left:hover,
.gallery .notouch .galleria-thumb-nav-right:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
/* line 207, ../sass/component-galleria.scss */
.gallery .touch .galleria-thumb-nav-left:active,
.gallery .touch .galleria-thumb-nav-right:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
/* line 211, ../sass/component-galleria.scss */
.gallery .notouch .galleria-thumbnails-container .disabled:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  background-color: transparent; }
/* line 215, ../sass/component-galleria.scss */
.gallery .galleria-carousel .galleria-thumb-nav-left,
.gallery .galleria-carousel .galleria-thumb-nav-right {
  display: block; }
/* line 219, ../sass/component-galleria.scss */
.gallery .galleria-info-link,
.gallery .galleria-info-close {
  background-image: url('../images/controls-info.png?1418632509'); }
