/* line 1, ../sass/component-column-splitter.scss */
.row.column-splitter {
  margin-left: 0em;
  margin-right: 0em;
    margin-top: 0px;
  max-width: none;
  clear: both;
}
  /* line 5, ../sass/component-column-splitter.scss */
  .row.column-splitter > div {
    padding-left: 0em;
    padding-right: 0em; }
