/* breakpoints */
/* line 5, ../sass/component-title.scss */
.title h1 {
  font-size: 24px;
  background: url('../images/balsamiq_line.png?1406711742') bottom left repeat-x;
  margin-bottom: 10px;
  line-height: 20px;
  padding-bottom: 8px; }

/* line 15, ../sass/component-title.scss */
.subtitle h2 {
  font-size: 16px; }
