/* breakpoints */
/* line 5, ../sass/component-event-list.scss */
.event-list h1, .event-list h2, .event-list h3, .event-list h4, .event-list h5, .event-list h6 {
  background: url('../images/balsamiq_line.png?1406711742') bottom left repeat-x; }
/* line 8, ../sass/component-event-list.scss */
.event-list ul {
  margin: 10px 0; }
/* line 11, ../sass/component-event-list.scss */
.event-list li {
  background: #fff;
  display: block;
  min-width: 40%;
  margin: 10px 0;
  -moz-border-image: url('../images/border-tiny.png?1406711742') 11% repeat repeat;
  -webkit-border-image: url('../images/border-tiny.png?1406711742') 11% repeat repeat;
  border-image: url('../images/border-tiny.png?1406711742') 11% repeat repeat;
  border-image-slice: 20px;
  border-width: 4px;
  border-style: solid;
  margin-right: 5px; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .event-list li {
    border: 2px solid #222; }
  /* line 18, ../sass/component-event-list.scss */
  .event-list li:after {
    content: "";
    clear: both;
    display: block; }
/* line 24, ../sass/component-event-list.scss */
.event-list .event-list-time {
  width: 100px;
  padding-left: 5px;
  display: block;
  margin-right: 15px;
  float: left;
  font-weight: bold; }
/* line 32, ../sass/component-event-list.scss */
.event-list .event-list-place {
  background: url('../images/event-pin.png?1406711742') 0px 2px no-repeat;
  padding-left: 18px;
  float: right; }
/* line 37, ../sass/component-event-list.scss */
.event-list .event-list-name,
.event-list .event-list-description,
.event-list .event-list-link,
.event-list .event-list-place {
  margin-left: 120px; }
/* line 44, ../sass/component-event-list.scss */
.event-list .event-list-name a {
  font-size: 16px;
  font-weight: bold; }
/* line 49, ../sass/component-event-list.scss */
.event-list .event-list-link {
  float: right; }
