/* breakpoints */
/* line 6, ../sass/component-toggle.scss */
.toggle a {
  text-decoration: none;
  font-weight: normal; }
/* line 10, ../sass/component-toggle.scss */
.toggle li {
  margin-bottom: 15px; }
  /* line 13, ../sass/component-toggle.scss */
  .toggle li.active .toggle-header {
    border-width: 4px 4px 0 4px; }
    /* line 15, ../sass/component-toggle.scss */
    .toggle li.active .toggle-header:before {
      content: "\e604";
      background: #222; }
/* line 22, ../sass/component-toggle.scss */
.toggle .toggle-header {
  -moz-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
  -webkit-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
  border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
  border-image-slice: 20px;
  border-width: 4px;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 10px 7px 10px;
  background: #fff;
  cursor: pointer; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .toggle .toggle-header {
    border: 2px solid #222; }
  /* line 29, ../sass/component-toggle.scss */
  .toggle .toggle-header.show {
    display: inline-block !important; }
  /* line 32, ../sass/component-toggle.scss */
  .toggle .toggle-header:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'icomoon', sans-serif;
    content: "\e605";
    text-align: center;
    width: 20px;
    height: 20px;
    background: #000000;
    color: #fff;
    margin-left: 0;
    float: left; }
  /* line 47, ../sass/component-toggle.scss */
  .toggle .toggle-header.show:before {
    background: #222; }
  /* line 52, ../sass/component-toggle.scss */
  .toggle .toggle-header .toggle-label {
    display: block;
    float: left;
    margin: 2px 0 0 5px; }
/* line 59, ../sass/component-toggle.scss */
.toggle .show {
  color: #878787; }
/* line 63, ../sass/component-toggle.scss */
.toggle .toggle-content {
  margin-top: 4px; }
  /* line 64, ../sass/component-toggle.scss */
  .toggle .toggle-content > div {
    -moz-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    -webkit-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    border-image-slice: 20px;
    border-width: 4px;
    border-style: solid; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .toggle .toggle-content > div {
      border: 2px solid #222; }
  /* line 67, ../sass/component-toggle.scss */
  .toggle .toggle-content .component {
    margin-top: 0; }
