/* breakpoints */
/* line 6, ../sass/component-social-media-share.scss */
.social-media-share ul {
  overflow: hidden; }
/* line 9, ../sass/component-social-media-share.scss */
.social-media-share li {
  float: left;
  margin: 0 10px 10px 0; }

/* line 16, ../sass/component-social-media-share.scss */
.social-media-share-vertical li {
  float: none;
  margin: 0 0 10px 0; }

/* line 23, ../sass/component-social-media-share.scss */
.AddThis .addthis_counter.addthis_pill_style {
  height: auto; }
/* line 27, ../sass/component-social-media-share.scss */
.AddThis a.atc_s.addthis_button_compact {
  width: 20px;
  height: 20px;
  background-image: none;
  -moz-border-image: url('../images/border-small.png?1435235994') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1435235994') 9% repeat repeat;
  border-image: url('../images/border-small.png?1435235994') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  position: relative; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .AddThis a.atc_s.addthis_button_compact {
    border: 2px solid #222; }
  /* line 34, ../sass/component-social-media-share.scss */
  .AddThis a.atc_s.addthis_button_compact:after {
    content: "+";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    font-size: 22px;
    text-align: center; }
  /* line 45, ../sass/component-social-media-share.scss */
  .AddThis a.atc_s.addthis_button_compact:hover {
    background-color: #95bcf2; }

/* line 52, ../sass/component-social-media-share.scss */
.atm .atm-i {
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  border: none;
  box-shadow: none;
  -moz-border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
  border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 25px;
  border-style: solid; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .atm .atm-i {
    border: 2px solid #222; }
  /* line 57, ../sass/component-social-media-share.scss */
  .atm .atm-i > div {
    margin-left: -10px !important; }
