/* breakpoints */
/* line 5, ../sass/component-navigation.scss */
.navigation > div > ul {
  padding: 15px; }
/* line 8, ../sass/component-navigation.scss */
.navigation a {
  text-decoration: none;
  padding: 5px 15px; }
  /* line 11, ../sass/component-navigation.scss */
  .lt-ie9 .navigation a, .lt-ie9 .navigation a span {
    color: #222; }
  /* line 15, ../sass/component-navigation.scss */
  .navigation a:focus, .navigation a:hover {
    color: #878787; }
/* line 20, ../sass/component-navigation.scss */
.navigation .rel-level1 {
  margin-bottom: 5px; }
  /* line 22, ../sass/component-navigation.scss */
  .navigation .rel-level1 > a {
    padding: 5px 5px 0 0;
    display: block; }
/* line 27, ../sass/component-navigation.scss */
.navigation .rel-level2 {
  display: inline;
  padding-left: 10px; }
/* line 31, ../sass/component-navigation.scss */
.navigation.navigation-main {
  position: relative;
  /*width: 100%;*/ }
  /* line 34, ../sass/component-navigation.scss */
  .navigation.navigation-main .component-content > nav {
    position: relative; }
  /* line 37, ../sass/component-navigation.scss */
  .navigation.navigation-main > div > ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    list-style: none;
    margin: 0;
    background: #fff;
    padding: 0 0 0 2px; }
    /* line 44, ../sass/component-navigation.scss */
    .navigation.navigation-main > div > ul:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
      font-size: 0; }
  /* line 54, ../sass/component-navigation.scss */
  .navigation.navigation-main .rel-level1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
    border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    float: left;
    font-weight: bold;
    background-color: #e4e4e4;
    position: static;
    padding-right: 2px;
    border: 2px solid #4a4a4a;
    margin: 0; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .navigation.navigation-main .rel-level1 {
      border: 2px solid #222; }
    /* line 65, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1.submenu {
      background: url("../Images/navigation.png") right 10px no-repeat !important; }
    /* line 69, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1 > ul {
      -moz-border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
      -webkit-border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
      border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
      border-image-slice: auto;
      border-width: 4px;
      border-style: solid;
      display: none;
      z-index: 10;
      position: absolute;
      top: auto;
      left: auto;
      border: 2px solid #4a4a4a;
      width: 180px;
      background: #fff;
      padding: 5px 5px 5px;
      margin-left: -2px; }
      /* line 28, ../sass/_mixins.scss */
      .no-borderimage .navigation.navigation-main .rel-level1 > ul {
        border: 2px solid #222; }
    /* line 82, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1 > a {
      text-decoration: none;
      display: inline;
      position: relative; }
      /* line 86, ../sass/component-navigation.scss */
      .navigation.navigation-main .rel-level1 > a span {
        position: relative;
        z-index: 3; }
      /* line 90, ../sass/component-navigation.scss */
      .navigation.navigation-main .rel-level1 > a:link, .navigation.navigation-main .rel-level1 > a:visited {
        color: #303030;
        display: block;
        padding: 10px 20px;
        text-decoration: none; }
      /* line 100, ../sass/component-navigation.scss */
      .navigation.navigation-main .rel-level1 > a:hover > a {
        color: #222; }
        /* line 102, ../sass/component-navigation.scss */
        .navigation.navigation-main .rel-level1 > a:hover > a span {
          color: #222; }
    /* line 111, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1.show > a:before {
      content: "";
      top: 0;
      width: 102%;
      height: 100%;
      position: absolute;
      left: 1px;
      background: url("../Images/navigation.png") right 18px no-repeat;
      z-index: 2; }
    /* line 122, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1.show > a + ul {
      display: block; }
    /* line 127, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1.show > ul {
      display: block; }
    /* line 133, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1.wide-nav > ul {
      width: 100%;
      left: 0;
      top: 42px;
      margin: 0; }
      /* line 139, ../sass/component-navigation.scss */
      .navigation.navigation-main .rel-level1.wide-nav > ul .rel-level2.active {
        background: none; }
    /* line 148, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1.active > a:link,
    .navigation.navigation-main .rel-level1.active > a:visited {
      color: #222; }
    /* line 152, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1.active > span {
      display: block;
      padding: 10px 20px;
      color: #ffffff; }
    /* line 160, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level1.submenu:hover > a, .navigation.navigation-main .rel-level1.active.submenu > a {
      background: #cccccc;
      position: relative;
      color: #222;
      z-index: 4; }
      /* line 166, ../sass/component-navigation.scss */
      .navigation.navigation-main .rel-level1.submenu:hover > a:before, .navigation.navigation-main .rel-level1.active.submenu > a:before {
        content: "";
        top: 0;
        width: 102%;
        height: 100%;
        position: absolute;
        left: 1px;
        background: url("../Images/navigation.png") right 18px no-repeat;
        z-index: 2; }
  /* line 180, ../sass/component-navigation.scss */
  .navigation.navigation-main .rel-level2 {
    margin: 0;
    padding: 0; }
    /* line 183, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level2 > a {
      -moz-transition: background 0.2s ease-in;
      -o-transition: background 0.2s ease-in;
      -webkit-transition: background 0.2s ease-in;
      transition: background 0.2s ease-in;
      display: block;
      font-weight: normal;
      padding: 5px; }
      /* line 188, ../sass/component-navigation.scss */
      .navigation.navigation-main .rel-level2 > a:hover, .navigation.navigation-main .rel-level2 > a:focus {
        background: #cccccc;
        color: #303030; }
    /* line 195, ../sass/component-navigation.scss */
    .navigation.navigation-main .rel-level2.submenu {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      width: 25%;
      min-height: 200px;
      float: left;
      padding: 0 10px; }
      /* line 202, ../sass/component-navigation.scss */
      .navigation.navigation-main .rel-level2.submenu.navigation-image {
        text-align: center; }
        /* line 204, ../sass/component-navigation.scss */
        .navigation.navigation-main .rel-level2.submenu.navigation-image > a,
        .navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
          text-align: left; }
/* line 213, ../sass/component-navigation.scss */
.navigation.navigation-main-horizontal {
  position: relative; }
  /* line 215, ../sass/component-navigation.scss */
  .navigation.navigation-main-horizontal .component-content > nav {
    position: relative; }
  /* line 218, ../sass/component-navigation.scss */
  .navigation.navigation-main-horizontal .rel-level1 {
    position: static; }
    /* line 220, ../sass/component-navigation.scss */
    .navigation.navigation-main-horizontal .rel-level1 > ul {
      width: 100%;
      clear: both;
      top: auto;
      left: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px;
      margin-left: 0; }
  /* line 230, ../sass/component-navigation.scss */
  .navigation.navigation-main-horizontal .rel-level2 {
    float: left; }
/* line 235, ../sass/component-navigation.scss */
.navigation.navigation-fat a {
  text-decoration: none; }
/* line 238, ../sass/component-navigation.scss */
.navigation.navigation-fat > div > ul {
  list-style: none;
  margin: 0;
  -moz-border-image: url('../images/border-new.png?1490370061') 10% repeat repeat;
  -webkit-border-image: url('../images/border-new.png?1490370061') 10% repeat repeat;
  border-image: url('../images/border-new.png?1490370061') 10% repeat repeat;
  border-image-slice: 100px;
  border-width: 23px;
  border-style: solid;
  background: #fff;
  padding: 10px 0;
  overflow: hidden; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .navigation.navigation-fat > div > ul {
    border: 2px solid #222; }
/* line 246, ../sass/component-navigation.scss */
.navigation.navigation-fat .rel-level1 {
  margin: 10px 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top; }
  /* line 251, ../sass/component-navigation.scss */
  .navigation.navigation-fat .rel-level1 > a {
    -moz-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    -webkit-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    border-image-slice: 20px;
    border-width: 4px;
    border-style: solid;
    background: #fff;
    padding: 5px 10px;
    display: block;
    width: auto; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .navigation.navigation-fat .rel-level1 > a {
      border: 2px solid #222; }
  /* line 258, ../sass/component-navigation.scss */
  .navigation.navigation-fat .rel-level1 > ul {
    margin: 0px 5px; }
/* line 262, ../sass/component-navigation.scss */
.navigation.navigation-fat .rel-level2 {
  background: url("../Images/arrow.gif") no-repeat 0 7px;
  padding-left: 10px;
  display: block; }
/* line 268, ../sass/component-navigation.scss */
.navigation.navigation-sidebar {
  border-collapse: collapse; }
  /* line 270, ../sass/component-navigation.scss */
  .navigation.navigation-sidebar a {
    text-decoration: none; }
  /* line 273, ../sass/component-navigation.scss */
  .navigation.navigation-sidebar > div > ul {
    list-style: none;
    margin: 0;
    background: #fff;
    padding: 0;
    overflow: visible; }
  /* line 280, ../sass/component-navigation.scss */
  .navigation.navigation-sidebar .rel-level1 {
    padding: 0 0 2%;
    -moz-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    -webkit-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
    border-image-slice: 20px;
    border-width: 4px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    margin: 0;
    padding-bottom: 10px; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .navigation.navigation-sidebar .rel-level1 {
      border: 2px solid #222; }
    /* line 286, ../sass/component-navigation.scss */
    .navigation.navigation-sidebar .rel-level1 > a {
      padding: 5px 10px;
      display: block;
      position: relative;
      -moz-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
      -webkit-border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
      border-image: url('../images/border-tiny.png?1490370061') 11% repeat repeat;
      border-image-slice: 20px;
      border-width: 4px;
      border-style: solid;
      border-width: 0px 0px 4px 0px;
      position: relative;
      z-index: 1; }
      /* line 28, ../sass/_mixins.scss */
      .no-borderimage .navigation.navigation-sidebar .rel-level1 > a {
        border: 2px solid #222; }
      /* line 294, ../sass/component-navigation.scss */
      .navigation.navigation-sidebar .rel-level1 > a:before {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: -1;
        width: 100%;
        height: 100%;
        padding: 1px 3px 3px 1px;
        background: #cccccc; }
    /* line 307, ../sass/component-navigation.scss */
    .navigation.navigation-sidebar .rel-level1:last-child {
      border-width: 4px; }
    /* line 310, ../sass/component-navigation.scss */
    .navigation.navigation-sidebar .rel-level1 > ul {
      margin-left: 10px;
      margin-top: 5px; }
  /* line 315, ../sass/component-navigation.scss */
  .navigation.navigation-sidebar .rel-level2 {
    background: url("../Images/arrow.gif") no-repeat 13px 7px;
    padding-left: 25px;
    display: block; }
/* line 322, ../sass/component-navigation.scss */
.navigation.navigation-mobile > div > ul {
  border: none; }
/* line 325, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level1 {
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #4A4A4A;
  -moz-border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
  -webkit-border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
  border-image: url('../images/border-small.png?1490370061') 9% repeat repeat;
  border-image-slice: auto;
  border-width: 4px;
  border-style: solid;
  padding: 10px;
  background: url("../Images/navigation-single.png") 98% 16px no-repeat #ffffff;
  cursor: pointer;
  margin: 0;
  margin-top: -7px; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .navigation.navigation-mobile .rel-level1 {
    border: 2px solid #222; }
  /* line 335, ../sass/component-navigation.scss */
  .navigation.navigation-mobile .rel-level1.no-child {
    background: #E4E4E4; }
  /* line 338, ../sass/component-navigation.scss */
  .navigation.navigation-mobile .rel-level1 > ul {
    margin-left: 25px;
    list-style-image: url("../Images/arrow.gif");
    display: none; }
  /* line 343, ../sass/component-navigation.scss */
  .navigation.navigation-mobile .rel-level1.active {
    background: url("../Images/navigation-single-up.png") 98% 16px no-repeat #ffffff; }
    /* line 345, ../sass/component-navigation.scss */
    .navigation.navigation-mobile .rel-level1.active > ul {
      display: block; }
  /* line 349, ../sass/component-navigation.scss */
  .navigation.navigation-mobile .rel-level1 > a {
    text-decoration: none;
    color: #222;
    display: inline; }
/* line 355, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level2 {
  display: list-item; }
  /* line 357, ../sass/component-navigation.scss */
  .navigation.navigation-mobile .rel-level2 > a {
    font-weight: 500; }
