/* breakpoints */
/* line 5, ../sass/component-page-list.scss */
.page-list {
  background-color: #ffffff; }
  /* line 9, ../sass/component-page-list.scss */
  .page-list.post-list .field-title {
    margin-bottom: 0; }
    /* line 12, ../sass/component-page-list.scss */
    .page-list.post-list .field-title > a {
      background: url('../images/balsamiq_line.png?1435235994') bottom left repeat-x; }
  /* line 17, ../sass/component-page-list.scss */
  .page-list.post-list .post-created {
    font-style: italic; }
  /* line 21, ../sass/component-page-list.scss */
  .page-list.post-list .item {
    background: url('../images/balsamiq_line.png?1435235994') bottom left repeat-x;
    border: none;
    padding-bottom: 25px; }
  /* line 27, ../sass/component-page-list.scss */
  .page-list.post-list .item .field-summarytext {
    margin: 0; }
  /* line 31, ../sass/component-page-list.scss */
  .page-list.post-list .field-summarytext + div {
    font-size: 15px;
    font-size: 1.5rem; }
  /* line 35, ../sass/component-page-list.scss */
  .page-list.post-list .field-summarytext + div a {
    text-decoration: none; }
  /* line 40, ../sass/component-page-list.scss */
  .page-list .item {
    -moz-border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
    -webkit-border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
    border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
    border-image-slice: auto;
    border-width: 11px;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 10px;
    padding: 15px;
    overflow: hidden; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .page-list .item {
      border: 2px solid #222; }
    /* line 46, ../sass/component-page-list.scss */
    .page-list .item:last-child {
      border-width: 0; }
    /* line 50, ../sass/component-page-list.scss */
    .page-list .item .page-list-content {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      max-width: 69%;
      padding: 0 10px;
      float: left; }
      @media only screen and (max-width: 639px) {
        /* line 50, ../sass/component-page-list.scss */
        .page-list .item .page-list-content {
          max-width: 100%;
          width: auto;
          float: none; } }
    /* line 63, ../sass/component-page-list.scss */
    .page-list .item .field-summaryicon {
      width: 31%;
      float: left;
      padding: 5px 0; }
      /* line 67, ../sass/component-page-list.scss */
      .page-list .item .field-summaryicon img {
        width: 100%; }
      @media only screen and (max-width: 639px) {
        /* line 63, ../sass/component-page-list.scss */
        .page-list .item .field-summaryicon {
          width: 100%;
          float: none; } }
    /* line 76, ../sass/component-page-list.scss */
    .page-list .item .field-summarytitle {
      font-size: 24px;
      font-size: 2.4rem;
      margin: 20px 20px 20px 33%; }
      /* line 80, ../sass/component-page-list.scss */
      .page-list .item .field-summarytitle a {
        text-decoration: none;
        font-weight: normal; }
      @media only screen and (max-width: 639px) {
        /* line 76, ../sass/component-page-list.scss */
        .page-list .item .field-summarytitle {
          margin: 20px; } }
    /* line 89, ../sass/component-page-list.scss */
    .page-list .item .field-summarytext {
      margin: 20px 20px 20px 33%; }
      @media only screen and (max-width: 639px) {
        /* line 89, ../sass/component-page-list.scss */
        .page-list .item .field-summarytext {
          margin: 20px; } }
    /* line 96, ../sass/component-page-list.scss */
    .page-list .item .field-summarylinkcaption {
      margin: 20px 20px 20px 33%; }
      /* line 98, ../sass/component-page-list.scss */
      .page-list .item .field-summarylinkcaption a {
        font-size: 1.1em;
        text-decoration: none;
        font-weight: bold; }
      @media only screen and (max-width: 639px) {
        /* line 96, ../sass/component-page-list.scss */
        .page-list .item .field-summarylinkcaption {
          margin: 20px; } }
  /* line 109, ../sass/component-page-list.scss */
  .page-list .field-title {
    font-weight: bold; }
