@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansbold-webfont.eot');
  src: url('../fonts/balsamiqsansbold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansbold-webfont.woff?1406711745') format("woff"), url('../fonts/balsamiqsansbold-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansbold-webfont.svg#balsamiq_sansbold') format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansbolditalic-webfont.eot');
  src: url('../fonts/balsamiqsansbolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansbolditalic-webfont.woff?1406711745') format("woff"), url('../fonts/balsamiqsansbolditalic-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansbolditalic-webfont.svg#balsamiq_sansbold_italic') format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansitalic-webfont.eot');
  src: url('../fonts/balsamiqsansitalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansitalic-webfont.woff?1406711745') format("woff"), url('../fonts/balsamiqsansitalic-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansitalic-webfont.svg#balsamiq_sansitalic') format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansregular-webfont.eot');
  src: url('../fonts/balsamiqsansregular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansregular-webfont.woff?1406711745') format("woff"), url('../fonts/balsamiqsansregular-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansregular-webfont.svg#balsamiq_sansregular') format("svg");
  font-weight: normal;
  font-style: normal; }
/* breakpoints */
/* line 5, ../sass/component-draggable-comparer.scss */
.draggable-comparer {
  clear: both;
  background: #ffffff;
  -moz-border-image: url('../images/border-big.png?1406711745') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1406711745') 10% repeat repeat;
  border-image: url('../images/border-big.png?1406711745') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 11px;
  border-style: solid; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .draggable-comparer {
    border: 2px solid #222; }
  /* line 9, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .component-content {
    position: relative;
    overflow: hidden; }
  /* line 13, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-result {
    background-color: #ffffff;
    height: 100%;
    overflow-x: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
    opacity: 0;
    display: none; }
  /* line 23, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-selector {
    background-color: #f7f7f7;
    padding: 20px 0;
    overflow-x: auto; }
    /* line 27, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-selector .compare-button {
      text-align: center;
      display: none;
      -moz-border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
      -webkit-border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
      border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
      border-image-slice: auto;
      border-width: 4px;
      border-style: solid; }
      /* line 28, ../sass/_mixins.scss */
      .no-borderimage .draggable-comparer .compare-selector .compare-button {
        border: 2px solid #222; }
  /* line 33, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-back-holder {
    text-align: center;
    clear: both;
    overflow: hidden; }
  /* line 38, ../sass/component-draggable-comparer.scss */
  .draggable-comparer a.product-list-compare,
  .draggable-comparer a.compare-back {
    background-color: #fff;
    color: #3F3F3F;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    outline: 0 none;
    padding: 0 20px;
    text-align: center;
    text-decoration: none; }
  /* line 50, ../sass/component-draggable-comparer.scss */
  .draggable-comparer a.product-list-compare {
    display: block; }
  /* line 53, ../sass/component-draggable-comparer.scss */
  .draggable-comparer a.compare-back {
    -moz-border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
    border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .draggable-comparer a.compare-back {
      border: 2px solid #222; }
  /* line 56, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-selector .sibling-image-border {
    border-color: #ddd; }
  /* line 59, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-header {
    clear: both;
    padding: 10px 20px;
    font-size: 18px; }
  /* line 64, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-intro {
    float: left;
    width: 160px;
    height: 213px;
    padding: 10px 25px;
    font-size: 14px; }
  /* line 71, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .siblings {
    width: 100%;
    overflow-x: scroll; }
  /* line 75, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .sibling-image-holder {
    background: #fff;
    border-radius: 5px;
    width: 260px;
    height: 213px;
    position: relative; }
  /* line 82, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .sibling-image {
    width: 260px;
    height: 213px;
    position: relative; }
  /* line 87, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .sibling-image-border {
    -moz-border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
    border-image: url('../images/border-small.png?1406711744') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    height: 213px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 260px; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .draggable-comparer .sibling-image-border {
      border: 2px solid #222; }
  /* line 95, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .sibling-name {
    padding: 10px 0; }
  /* line 98, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .sibling-product {
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold; }
  /* line 104, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .sibling-product img {
    width: 260px;
    float: left; }
  /* line 108, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-selector .compare-list {
    position: relative; }
  /* line 111, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-selector .compare-list table {
    position: absolute;
    left: 210px; }
  /* line 115, ../sass/component-draggable-comparer.scss */
  .draggable-comparer .compare-table {
    border-collapse: collapse; }
    /* line 117, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-table th,
    .draggable-comparer .compare-table td {
      border-bottom: 1px solid white;
      border-top: 1px solid white; }
    /* line 122, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-table th {
      color: #222;
      padding: 0 10px;
      text-align: center;
      vertical-align: middle; }
    /* line 128, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-table td {
      color: #3F3F3F;
      padding: 0 10px;
      text-align: center;
      vertical-align: middle; }
    /* line 134, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-table th:first-child {
      color: #999999; }
    /* line 137, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-table td:nth-child(2n+2),
    .draggable-comparer .compare-table th:nth-child(2n+2) {
      background: none repeat scroll 0 0 #f7f7f7; }
    /* line 141, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-table img {
      max-width: 150px; }
    /* line 144, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-table tr.action td {
      border-bottom-width: 2px;
      padding: 20px 10px; }
    /* line 148, ../sass/component-draggable-comparer.scss */
    .draggable-comparer .compare-table th a {
      font-weight: bold; }
