/* breakpoints */
/* line 6, ../sass/component-cookies.scss */
.cookie-warning {
  font-size: 14px;
  font-size: 1.4rem;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  position: fixed;
  display: none;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: rgba(54, 56, 57, 0.7);
  color: #ffffff;
  text-align: center;
  z-index: 1000;
  border-top: 2px solid #737373; }
  /* line 22, ../sass/component-cookies.scss */
  .cookie-warning.cookie-top {
    top: auto !important;
    margin: 0; }
  /* line 27, ../sass/component-cookies.scss */
  .cookie-warning.cookie-bottom {
    bottom: 0 !important; }
  /* line 31, ../sass/component-cookies.scss */
  .cookie-warning.cookie-inline {
    position: static !important; }
  /* line 35, ../sass/component-cookies.scss */
  .cookie-warning .component-content {
    position: relative;
    height: auto;
    width: 90%;
    padding: 15px;
    margin: 0 auto; }
  /* line 43, ../sass/component-cookies.scss */
  .cookie-warning .submit {
    padding: 10px; }
  /* line 47, ../sass/component-cookies.scss */
  .cookie-warning a {
    font-size: 14px;
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #ffffff; }
    /* line 53, ../sass/component-cookies.scss */
    .cookie-warning a:focus, .cookie-warning a:hover {
      color: #f6f6f6; }
    /* line 57, ../sass/component-cookies.scss */
    .cookie-warning a p {
      display: inline; }

/* line 65, ../sass/component-cookies.scss */
.on-page-editor .cookie-warning.cookie-top {
  top: auto !important; }
