/* breakpoints */
/* line 5, ../sass/component-video.scss */
.component.video {
  margin-bottom: 5px;
  display: block; }
  /* line 8, ../sass/component-video.scss */
  .component.video .mejs-container {
    margin: auto;
    border: 2px solid #222;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 13, ../sass/component-video.scss */
  .component.video video {
    margin: 0 auto;
    display: block; }
  /* line 17, ../sass/component-video.scss */
  .component.video .mejs-controls {
    display: block !important;
    visibility: visible;
    z-index: 25;
    height: 47px;
    background: #fff; }
    /* line 23, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-button {
      width: 20px;
      height: 20px;
      margin: 7px 20px; }
      /* line 27, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-button button {
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        background: url('../images/sprite1.png?1490370061');
        background-repeat: no-repeat;
        transition: none;
        overflow: hidden; }
    /* line 39, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-playpause-button button {
      background-position: 0 100%;
      width: 30px;
      height: 30px; }
      /* line 43, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-playpause-button button:hover {
        background-position: 74% 100%;
        width: 30px;
        height: 30px; }
    /* line 51, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-pause button {
      background-position: 0 22%;
      width: 30px;
      height: 30px; }
      /* line 55, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-pause button:hover {
        background-position: 74% 22%;
        width: 30px;
        height: 30px; }
    /* line 63, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-fullscreen-button button {
      margin-top: 5px;
      background-position: 0 48%;
      width: 29px;
      height: 26px; }
    /* line 71, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-share-button button {
      background-position: -2px -39px; }
      /* line 73, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-share-button button:hover {
        background-position: -2px -3px; }
    /* line 78, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-volume-button {
      margin: 12px 10px; }
      /* line 80, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-volume-button button {
        background-position: 0px -82px; }
    /* line 84, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-mute {
      margin-right: 10px; }
      /* line 86, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-mute button {
        background-position: 0 72%;
        width: 29px;
        height: 27px; }
    /* line 93, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-unmute button {
      background-position: 74% 72%;
      width: 29px;
      height: 27px; }
    /* line 99, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-horizontal-volume-slider {
      background: url('../images/controls.png?1490370061') 0 -83px no-repeat;
      display: block !important;
      width: 34px;
      height: 21px;
      margin-top: 12px;
      position: relative; }
      /* line 106, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
        width: 34px; }
      /* line 109, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
        background: url('../images/controls.png?1490370061') 0 -108px no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        height: 21px; }
    /* line 118, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-volume-button .mejs-volume-handle {
      display: none; }
    /* line 122, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-time-rail {
      height: 20px;
      padding-top: 17px;
      margin-left: 5px; }
      /* line 126, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-time-rail .mejs-time-total {
        height: 3px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        background: #303030; }
      /* line 131, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-time-rail .mejs-time-loaded {
        height: 6px;
        background-color: transparent;
        filter: none;
        background-image: none;
        display: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
      /* line 139, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-time-rail .mejs-time-current {
        height: 3px;
        background-color: #303030;
        filter: none;
        background-image: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
      /* line 146, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-time-rail .mejs-time-handle {
        background: #fff;
        border: 1px solid #303030;
        height: 18px;
        width: 18px;
        top: -9px;
        display: block;
        padding: 0;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; }
      /* line 156, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-time-rail .mejs-time-float {
        z-index: 10; }
    /* line 160, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-time {
      width: auto;
      margin: 15px 0 0 0;
      padding: 0; }
      /* line 164, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-time span {
        float: left;
        color: #303030;
        font-size: 13px; }
    /* line 170, ../sass/component-video.scss */
    .component.video .mejs-controls .mejs-duration-container {
      width: auto; }
      /* line 172, ../sass/component-video.scss */
      .component.video .mejs-controls .mejs-duration-container span {
        float: left;
        color: #303030;
        font-size: 14px; }
  /* line 179, ../sass/component-video.scss */
  .component.video .me-plugin,
  .component.video .me-plugin embed {
    width: 100%;
    height: 100%; }
  /* line 184, ../sass/component-video.scss */
  .component.video .mejs-container-fullscreen {
    z-index: 10000 !important; }
  /* line 188, ../sass/component-video.scss */
  .component.video .mejs-overlay:hover .mejs-overlay-button {
    background-position: 0;
    opacity: 1; }
  /* line 193, ../sass/component-video.scss */
  .component.video .mejs-overlay-loading {
    background: url('../images/loader.gif?1490370061') center center no-repeat; }
  /* line 196, ../sass/component-video.scss */
  .component.video .mejs-overlay-button {
    opacity: 0.7;
    background: url('../images/bigplay.png?1490370061') no-repeat scroll left top transparent;
    height: 69px;
    left: 50%;
    margin: -35px 0 0 -36px;
    position: absolute;
    top: 50%;
    width: 73px; }
  /* line 207, ../sass/component-video.scss */
  .component.video.video-small .mejs-controls {
    height: 30px; }
    /* line 209, ../sass/component-video.scss */
    .component.video.video-small .mejs-controls .mejs-button {
      margin: 5px; }
    /* line 214, ../sass/component-video.scss */
    .component.video.video-small .mejs-controls .mejs-time {
      margin-top: 5px; }
    /* line 217, ../sass/component-video.scss */
    .component.video.video-small .mejs-controls .mejs-time-rail {
      padding-top: 7px;
      height: 10px; }
      /* line 220, ../sass/component-video.scss */
      .component.video.video-small .mejs-controls .mejs-time-rail .mejs-time-handle {
        top: -8px; }
    /* line 225, ../sass/component-video.scss */
    .component.video.video-small .mejs-controls .mejs-button button {
      background-size: 240%;
      width: 22px;
      height: 22px; }
      /* line 230, ../sass/component-video.scss */
      .component.video.video-small .mejs-controls .mejs-button button:hover {
        width: 22px;
        height: 22px; }
    /* line 236, ../sass/component-video.scss */
    .component.video.video-small .mejs-controls .mejs-fullscreen-button button {
      margin-top: 0; }
  /* line 242, ../sass/component-video.scss */
  .component.video.hide-controls .mejs-controls {
    display: none !important; }
