/* breakpoints */
/* line 4, ../sass/component-map.scss */
.map {
  -moz-border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
  border-image: url('../images/border-big.png?1435235994') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 11px;
  border-style: solid;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: #fff; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .map {
    border: 2px solid #222; }
  /* line 10, ../sass/component-map.scss */
  .map .map-canvas {
    position: relative; }
  /* line 13, ../sass/component-map.scss */
  .map img {
    max-width: none; }
  /* line 14, ../sass/component-map.scss */
  .map .MicrosoftMap .infobox-close {
    position: static;
    float: right; }
  /* line 19, ../sass/component-map.scss */
  .map .MicrosoftMap .Infobox .infobox-body {
    height: 100%; }
  /* line 23, ../sass/component-map.scss */
  .map .MicrosoftMap .Infobox .infobox-info {
    height: 100%;
    box-sizing: border-box; }
  .center-map {
        margin: auto;
    }
