@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansbold-webfont.eot');
  src: url('../fonts/balsamiqsansbold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansbold-webfont.woff?1463732651') format("woff"), url('../fonts/balsamiqsansbold-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansbold-webfont.svg#balsamiq_sansbold') format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansbolditalic-webfont.eot');
  src: url('../fonts/balsamiqsansbolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansbolditalic-webfont.woff?1463732651') format("woff"), url('../fonts/balsamiqsansbolditalic-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansbolditalic-webfont.svg#balsamiq_sansbold_italic') format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansitalic-webfont.eot');
  src: url('../fonts/balsamiqsansitalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansitalic-webfont.woff?1463732651') format("woff"), url('../fonts/balsamiqsansitalic-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansitalic-webfont.svg#balsamiq_sansitalic') format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/balsamiqsansregular-webfont.eot');
  src: url('../fonts/balsamiqsansregular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/balsamiqsansregular-webfont.woff?1463732651') format("woff"), url('../fonts/balsamiqsansregular-webfont.ttf') format("truetype"), url('../fonts/balsamiqsansregular-webfont.svg#balsamiq_sansregular') format("svg");
  font-weight: normal;
  font-style: normal; }
/* breakpoints */
/* line 5, ../sass/main.scss */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px;
  height: 100%; }

/* line 13, ../sass/main.scss */
body {
  font-family: "Balsamiq", Helvetica, Verdana, Tahoma, sans-serif;
  position: relative;
  overflow: auto;
  color: #222;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 80px;
  background: url('../images/balsamiq_bg2.png?1489054424') #fff;
  -webkit-tap-highlight-color: transparent; }

/* line 25, ../sass/main.scss */
#wrapper > header {
  background: url('../images/balsamiq_bg1.png?1463732651') #fff; }

/* line 29, ../sass/main.scss */
#wrapper > main {
  background: url('../images/balsamiq_bg3.png?1489054340') #fff; }

/* line 33, ../sass/main.scss */
.component {
  margin-top: 10px; }

/* line 37, ../sass/main.scss */
#footer {
  background: url('../images/balsamiq_line.png?1463732651') top left repeat-x; }
  /* line 35, ../sass/_mixins.scss */
  .lt-ie9 #footer {
    background: none;
    border-top: 2px solid #222; }

/* line 41, ../sass/main.scss */
a {
  color: #222;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.85em; }
  /* line 46, ../sass/main.scss */
  a:hover {
    color: #878787; }

/* line 51, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* line 55, ../sass/main.scss */
h1 {
  font-size: 2em; }

/* line 59, ../sass/main.scss */
h2 {
  font-size: 1.5em; }

/* line 63, ../sass/main.scss */
h3 {
  font-size: 1.2em; }

/* line 67, ../sass/main.scss */
h4 {
  font-size: 1em; }

/* line 71, ../sass/main.scss */
h5 {
  font-size: 0.83em; }

/* line 75, ../sass/main.scss */
h6 {
  font-size: 0.67em; }

/* line 79, ../sass/main.scss */
.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

/* line 4, ../sass/core/_utils.scss */
.iframe {
  border: 1px solid #d2d2d2; }
  /* line 6, ../sass/core/_utils.scss */
  .iframe iframe {
    width: 100%;
    min-height: 300px; }

/* line 13, ../sass/core/_utils.scss */
dl dt {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold; }
/* line 17, ../sass/core/_utils.scss */
dl dd {
  font-size: 13px;
  font-size: 1.3rem;
  margin-left: 15px; }

/* line 24, ../sass/core/_utils.scss */
.boxed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 0; }
  @media only screen and (min-width: 381px) and (max-width: 959px) {
    /* line 24, ../sass/core/_utils.scss */
    .boxed {
      padding: 10px; } }
  @media only screen and (max-width: 380px) {
    /* line 24, ../sass/core/_utils.scss */
    .boxed {
      padding: 10px; } }
  /* line 35, ../sass/core/_utils.scss */
  .boxed > div {
    max-width: 960px;
    margin: 0 auto !important; }

/* line 40, ../sass/core/_utils.scss */
.indent {
  margin: 0 40px; }

/* line 44, ../sass/core/_utils.scss */
.indent-top {
  margin-top: 20px; }

/* line 48, ../sass/core/_utils.scss */
.indent-bottom {
  margin-bottom: 20px; }

/* line 52, ../sass/core/_utils.scss */
.position-left {
  text-align: left; }

/* line 56, ../sass/core/_utils.scss */
.position-right {
  text-align: right; }

/* line 60, ../sass/core/_utils.scss */
.position-center {
  text-align: center; }

/* line 64, ../sass/core/_utils.scss */
.container-gray-background {
  background: #f6f6f6;
  padding: 10px 0;
  margin: 0; }

/* line 70, ../sass/core/_utils.scss */
.container-clean-background {
  background: #ffffff;
  padding: 10px 0;
  margin: 0; }

/* line 76, ../sass/core/_utils.scss */
.container-dark-background {
  background: #363839;
  padding: 10px 0;
  margin: 0; }

/* line 82, ../sass/core/_utils.scss */
.container-color-background {
  background: #E01E26;
  padding: 10px 0;
  margin: 0; }

/* line 88, ../sass/core/_utils.scss */
.title-row-box {
  -moz-border-image: url('../images/border-big.png?1463732651') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1463732651') 10% repeat repeat;
  border-image: url('../images/border-big.png?1463732651') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 11px;
  border-style: solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 87px;
  margin: 0;
  padding: 0;
  background: #f6f6f6; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .title-row-box {
    border: 2px solid #222; }
  /* line 96, ../sass/core/_utils.scss */
  .title-row-box > .component-content {
    max-width: 960px;
    margin: 0 auto !important; }
    /* line 98, ../sass/core/_utils.scss */
    .title-row-box > .component-content .title {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 23px 0 0 0;
      padding: 0; }
      /* line 104, ../sass/core/_utils.scss */
      .title-row-box > .component-content .title h1 {
        font-size: 22px;
        font-size: 2.2rem;
        border: none; }
      @media only screen and (max-width: 959px) {
        /* line 98, ../sass/core/_utils.scss */
        .title-row-box > .component-content .title {
          margin: 23px 0 0 20px; } }
    /* line 115, ../sass/core/_utils.scss */
    .title-row-box > .component-content .rich-text {
      margin: 0; }
      /* line 117, ../sass/core/_utils.scss */
      .title-row-box > .component-content .rich-text h1, .title-row-box > .component-content .rich-text h2, .title-row-box > .component-content .rich-text h3, .title-row-box > .component-content .rich-text h4 {
        margin: 0;
        padding: 0; }
    /* line 123, ../sass/core/_utils.scss */
    .title-row-box > .component-content .breadcrumb {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 14px;
      font-size: 1.4rem;
      margin: 23px 0 0 0;
      padding: 0;
      float: right;
      clear: both; }
      @media only screen and (min-width: 381px) and (max-width: 959px) {
        /* line 123, ../sass/core/_utils.scss */
        .title-row-box > .component-content .breadcrumb {
          margin: 23px 20px 0 0; } }
      @media only screen and (max-width: 380px) {
        /* line 123, ../sass/core/_utils.scss */
        .title-row-box > .component-content .breadcrumb {
          display: none; } }
  @media only screen and (max-width: 959px) {
    /* line 141, ../sass/core/_utils.scss */
    .title-row-box .alpha {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: auto !important;
      float: left; }
    /* line 146, ../sass/core/_utils.scss */
    .title-row-box .omega {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: auto !important;
      float: right; } }
