/* breakpoints */
/* line 5, ../sass/component-twitter.scss */
.twitter h1, .twitter h2, .twitter h3, .twitter h4, .twitter h5, .twitter h6 {
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

/* line 9, ../sass/component-twitter.scss */
.twitter .twitter-follow-button {
  margin: 10px 0 0;
}

/* line 12, ../sass/component-twitter.scss */
.twitter .tweet-item {
  border-top: 1px dashed #222;
  padding: 10px 10px 10px 0px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  padding-left: 55px;
}

/* line 19, ../sass/component-twitter.scss */
.twitter .tweet-item:first-child {
  border: none;
}

/* line 23, ../sass/component-twitter.scss */
.twitter .tweet-header {
  overflow: hidden;
}

/* line 26, ../sass/component-twitter.scss */
.twitter .tweet-profile {
  display: block;
  float: left;
  text-decoration: none;
  font-size: 14px;
}

/* line 32, ../sass/component-twitter.scss */
.twitter .tweet-avatar {
  position: absolute;
  left: 0;
  top: 10px;
}

/* line 37, ../sass/component-twitter.scss */
.twitter .tweet-datetime {
  display: block;
  float: right;
  text-decoration: none;
}

/* line 42, ../sass/component-twitter.scss */
.twitter .tweet-content {
  margin-top: 5px;
}

/* line 46, ../sass/component-twitter.scss */
.twitter .tweet-footer > ul li {
  display: inline;
  padding-left: 5px;
}

/* line 49, ../sass/component-twitter.scss */
.twitter .tweet-footer > ul li:first-child {
  padding: 0;
}

/* line 53, ../sass/component-twitter.scss */
.twitter .tweet-footer a {
  text-decoration: none;
}

/*# sourceMappingURL=component-twitter.css.map */
