/* breakpoints */
/* line 5, ../sass/component-fullcalendar.scss */
.event-calendar {
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

/* line 11, ../sass/component-fullcalendar.scss */
.event-calendar .fc-view-basicWeek .fc-day > div {
  min-height: 100px !important;
}

/* line 14, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header .fc-button {
  background: none;
  border-radius: 0;
  border: 1px solid #dedede;
  border-bottom: 1px solid #ccc;
}

/* line 20, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header {
  margin-bottom: 10px;
}

/* line 22, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header h2 {
  font-weight: bold;
}

/* line 25, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header td {
  vertical-align: middle;
  white-space: normal;
}

/* line 30, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header-left {
  width: 25%;
  vertical-align: bottom;
}

/* line 34, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header-center {
  width: 40%;
}

/* line 37, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header-right {
  width: 35%;
  white-space: normal;
  padding: 0px 2px;
}

/* line 41, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header-right .fc-button {
  margin-bottom: 0px;
}

/* line 45, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header-title {
  padding: 0px 10px;
}

/* line 47, ../sass/component-fullcalendar.scss */
.event-calendar .fc-header-title h2 {
  white-space: normal;
}

/* line 51, ../sass/component-fullcalendar.scss */
.event-calendar .fc-widget-content {
  background: #F5F5F5;
  border: 1px solid white;
  border-bottom: 1px solid #ccc;
  padding: 1px;
}

/* line 56, ../sass/component-fullcalendar.scss */
.event-calendar .fc-widget-content.fc-other-month {
  background: #E8E8E8;
}

/* line 60, ../sass/component-fullcalendar.scss */
.event-calendar .fc-day-header {
  background: #E8E8E8;
  border: 1px solid white;
  border: 1px solid #ccc;
  border-top-width: 3px;
  padding: 1px;
}

/* line 67, ../sass/component-fullcalendar.scss */
.event-calendar .fc-event {
  border: #736F6E;
  padding: 3px;
  background: #4187ae;
  color: #FFF;
  font-weight: normal;
}

/* line 75, ../sass/component-fullcalendar.scss */
.event-calendar.compact-mode .fc-header-title h2 {
  margin-bottom: 0;
  padding: 5px 0 0 5px;
}

/* line 79, ../sass/component-fullcalendar.scss */
.event-calendar.compact-mode .selected-day {
  background: #95bcf2;
}

/* line 82, ../sass/component-fullcalendar.scss */
.event-calendar.compact-mode .fc-day .fc-day-content {
  padding: 0;
}

/* line 88, ../sass/component-fullcalendar.scss */
.calendar-tooltip {
  z-index: 9999;
  position: absolute;
  width: 250px;
  background: White;
  border: 1px solid #736f6e;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  background: #F5F5F5;
  -moz-box-shadow: 3px 3px 8px #736f6e;
  -webkit-box-shadow: 3px 3px 8px #736f6e;
  box-shadow: 3px 3px 8px #736f6e;
}

/* line 101, ../sass/component-fullcalendar.scss */
.calendar-tooltip .arrow {
  position: absolute;
  top: -10px;
  left: 70px;
  height: 10px;
  width: 30px;
  overflow: hidden;
}

/* line 108, ../sass/component-fullcalendar.scss */
.calendar-tooltip .arrow:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #736f6e;
  position: absolute;
  top: 6px;
  z-index: 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* line 125, ../sass/component-fullcalendar.scss */
.calendar-tooltip a {
  font-size: 12px;
}

/* line 128, ../sass/component-fullcalendar.scss */
.calendar-tooltip p {
  margin-top: 0px;
}

/* line 131, ../sass/component-fullcalendar.scss */
.calendar-tooltip .compact-event {
  margin-bottom: 10px;
  border-top: 1px dashed #736f6e;
  padding-top: 5px;
}

/* line 135, ../sass/component-fullcalendar.scss */
.calendar-tooltip .compact-event:first-child {
  border-top: none;
  padding: 0;
}

/* line 140, ../sass/component-fullcalendar.scss */
.calendar-tooltip .title {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* line 145, ../sass/component-fullcalendar.scss */
.calendar-tooltip .description {
  display: block;
}

/* line 148, ../sass/component-fullcalendar.scss */
.calendar-tooltip .link {
  display: block;
  margin-top: 5px;
}

/*# sourceMappingURL=component-fullcalendar.css.map */
