/* breakpoints */
.content,
.rich-text {
  line-height: 1.5;
  font-size: 12px;
}

.content h1,
.rich-text h1 {
  margin: 10px 0;
}

.content h2,
.rich-text h2 {
  margin: 10px 0;
}

.content h3, .content h4,
.rich-text h3,
.rich-text h4 {
  margin: 5px 0;
}

.content h5, .content h6,
.rich-text h5,
.rich-text h6 {
  margin: 5px 0 0;
}

.content p,
.rich-text p {
  padding: 5px 0;
}

.content strong,
.rich-text strong {
  font-weight: 700;
}

.content ul, .content ol,
.rich-text ul,
.rich-text ol {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
}

.content li,
.rich-text li {
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.content ul li,
.rich-text ul li {
  list-style: disc;
}

.content ol li,
.rich-text ol li {
  list-style: decimal;
}

.content a,
.rich-text a {
  font-size: 1em;
}

.content table,
.rich-text table {
  height: auto !important;
  border: 2px solid #222;
}

.content table, .content table tr, .content table th, .content table td,
.rich-text table,
.rich-text table tr,
.rich-text table th,
.rich-text table td {
  border: solid 2px #222;
  background: #fff;
  border-collapse: collapse;
  vertical-align: middle;
}

.content table tr, .content table th, .content table td,
.rich-text table tr,
.rich-text table th,
.rich-text table td {
  padding: 5px;
}

.content table caption,
.rich-text table caption {
  background-color: #e4e4e4;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0px;
}

.content table tr,
.rich-text table tr {
  border: none;
}

.content table th, .content table td,
.rich-text table th,
.rich-text table td {
  border-width: 2px 0 0 2px;
}

.content table th,
.rich-text table th {
  background-color: #f1f1f1;
  font-size: 13px;
  font-weight: bold;
  padding: 7px;
}

.content table th:first-child,
.rich-text table th:first-child {
  border-left: 0;
}

.content table td:first-child,
.rich-text table td:first-child {
  border-left: 0;
}

.link .field-title,
.link .field-linktext,
.media-link .field-title,
.media-link .field-linktext,
.file-list .field-title,
.file-list .field-linktext {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 21px;
}

.link span,
.media-link span,
.file-list span {
  font-size: 12px;
  font-size: 1.2rem;
}

.link a,
.media-link a,
.file-list a {
  text-decoration: none;
}

.pdf {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.pdf:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f1c1";
  top: 0;
  margin: 0;
  padding: 0;
}

.xlsx,
.xls {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.xlsx:before,
.xls:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f1c3";
  top: 0;
  margin: 0;
  padding: 0;
}

.pptx,
.ppt {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.pptx:before,
.ppt:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f1c4";
  top: 0;
  margin: 0;
  padding: 0;
}

.docx,
.doc {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.docx:before,
.doc:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f1c2";
  top: 0;
  margin: 0;
  padding: 0;
}

.bmp,
.png,
.jpg,
.jpeg,
.psd,
.gif {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.bmp:before,
.png:before,
.jpg:before,
.jpeg:before,
.psd:before,
.gif:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f1c5";
  top: 0;
  margin: 0;
  padding: 0;
}

.avi,
.mp4,
.wmv,
.mov {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.avi:before,
.mp4:before,
.wmv:before,
.mov:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f1c8";
  top: 0;
  margin: 0;
  padding: 0;
}

.mp3,
.wma {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.mp3:before,
.wma:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f1c7";
  top: 0;
  margin: 0;
  padding: 0;
}

.txt {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.txt:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f0f6";
  top: 0;
  margin: 0;
  padding: 0;
}

.zip {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}

.zip:before {
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  display: block;
  font-family: "FontAwesome", sans-serif;
  content: "\f1c6";
  top: 0;
  margin: 0;
  padding: 0;
}

.dropcap {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 30px;
  font-weight: bold;
  color: #a0ce4e;
  margin: 0;
  padding: 0;
}

.text-highlighted {
  background-color: #92be43;
  padding: 3px 10px;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.highlighted-top {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border-top-width: 3px;
  border-top-color: #222;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-top h1, .highlighted-top h2, .highlighted-top h3, .highlighted-top h4 {
  margin: 0 0 10px 0;
}

.highlighted-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border-right-width: 3px;
  border-right-color: #222;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-right h1, .highlighted-right h2, .highlighted-right h3, .highlighted-right h4 {
  margin: 0 0 10px 0;
}

.highlighted-left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border-left-width: 3px;
  border-left-color: #222;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-left h1, .highlighted-left h2, .highlighted-left h3, .highlighted-left h4 {
  margin: 0 0 10px 0;
}

.highlighted-bottom {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border-bottom-width: 3px;
  border-bottom-color: #222;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-bottom h1, .highlighted-bottom h2, .highlighted-bottom h3, .highlighted-bottom h4 {
  margin: 0 0 10px 0;
}

.rich-text-lists ul,
.field-featurelist ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rich-text-lists ul li,
.field-featurelist ul li {
  font-size: 13px;
  font-size: 1.3rem;
  position: relative;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 25px;
}

.rich-text-lists ul li:before,
.field-featurelist ul li:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  top: 3px;
  left: 0;
  text-align: center;
  content: "\f00c";
  width: 20px;
  margin: 0 5px 0 0;
  padding: 0;
}

.field-featurelist ul li:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  top: 3px;
  left: 0;
  text-align: center;
  content: "\f046";
  width: 20px;
  margin: 0 5px 0 0;
  padding: 0;
}

.media-link.file-type-icon-media-link {
  float: left;
}

.media-link.file-type-icon-media-link .field-filetypeicon {
  text-align: center;
}

/*# sourceMappingURL=component-richtext-content.css.map */
