/* breakpoints */
/* line 5, ../sass/component-forms.scss */
.form {
  margin: 10px 0;
  font-size: 14px;
}

/* line 9, ../sass/component-forms.scss */
.form fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  position: relative;
}

/* line 14, ../sass/component-forms.scss */
.form fieldset legend {
  font-weight: 700;
  padding: 0 5px;
  font-size: 16px;
  position: absolute;
  top: -33px;
  background: #fff;
  left: 0;
}

/* line 25, ../sass/component-forms.scss */
.form .scfSectionContent > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 15px 0;
  border: 1px dashed gray;
  padding: 10px;
  position: relative;
}

/* line 31, ../sass/component-forms.scss */
.form .scfSectionContent > div:after {
  clear: both;
  content: "";
  display: block;
}

/* line 36, ../sass/component-forms.scss */
.form .scfSectionContent > div:hover [class$="GeneralPanel"] > [class$="UsefulInfo"] {
  opacity: 1;
}

/* line 39, ../sass/component-forms.scss */
.form .scfSectionContent > div select, .form .scfSectionContent > div input {
  margin-left: 5px;
}

/* line 43, ../sass/component-forms.scss */
.form .scfSectionContent [class$="UsefulInfo"] {
  -moz-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  font-size: 12px;
  margin-left: 5px;
  /*inputs margin-left*/
  position: absolute;
  border: 1px solid #ccc;
  left: 0px;
  top: -15px;
  padding: 4px 8px;
  max-width: 98%;
  width: auto;
  background-color: #F5F5F5;
  color: #808080;
}

/* line 61, ../sass/component-forms.scss */
.form input,
.form select,
.form textarea {
  border: 1px solid #ccc;
  padding: 2px 4px;
  max-width: 98%;
}

/* line 70, ../sass/component-forms.scss */
.form .scfCaptcha input[type="text"] {
  margin: 0;
}

/* line 74, ../sass/component-forms.scss */
.form .scfCaptchaLimitGeneralPanel,
.form .scfCaptchStrongTextPanel {
  max-width: 100%;
  width: auto;
}

/* line 80, ../sass/component-forms.scss */
.form .scfCaptchaLabel {
  display: none;
}

/* line 86, ../sass/component-forms.scss */
.login table td {
  padding: 5px;
}

/* line 92, ../sass/component-forms.scss */
.form, .login {
  	/*input[type="checkbox"] {
  		position: absolute;
  		&:checked {
  			& ~ label:before {
  				background-color: #fff;
  			}
  
  			& ~ label:after {
  				background: image-url("checked.png") 0 0 no-repeat;
  				background-position: -2px -2px;
  			}
  		}
  
  		& ~ label {
  			@include user-select(none);
  			position: relative;
  			margin-left: 20px;
  			cursor: pointer;
  			&:after,
  			&:before {
  				@include border-light(bottom);
  				display: inline-block;
  				background-color: #fff;
  				content: " ";
  				position: absolute;
  				z-index: 1;
  				width: 10px;
  				height: 10px;
  				left: -20px;
  				top: 0;
  				margin-right: 3px;
  			}
  		}
  	}*/
}

/* line 93, ../sass/component-forms.scss */
.form table, .login table {
  width: 100%;
}

/* line 97, ../sass/component-forms.scss */
.form .scfSectionContent .scfCaptchaGeneralPanel embed, .login .scfSectionContent .scfCaptchaGeneralPanel embed {
  max-width: 180px;
}

/* line 100, ../sass/component-forms.scss */
.form input[type="image"], .login input[type="image"] {
  border: none;
}

/* line 138, ../sass/component-forms.scss */
.form input[type="submit"],
.form button, .login input[type="submit"],
.login button {
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  margin-left: -1px;
}

/* line 146, ../sass/component-forms.scss */
.form input[type="text"],
.form input[type="password"],
.form textarea,
.form input[type="file"], .login input[type="text"],
.login input[type="password"],
.login textarea,
.login input[type="file"] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  width: 95%;
  padding: 2px;
}

/* line 155, ../sass/component-forms.scss */
.form input[type="text"] + span,
.form input[type="password"] + span,
.form textarea + span,
.form input[type="file"] + span, .login input[type="text"] + span,
.login input[type="password"] + span,
.login textarea + span,
.login input[type="file"] + span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 159, ../sass/component-forms.scss */
.form input[type="file"], .login input[type="file"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 162, ../sass/component-forms.scss */
.form input[type="radio"], .login input[type="radio"] {
  position: absolute;
}

/* line 164, ../sass/component-forms.scss */
.form input[type="radio"] + label:before, .login input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
}

/* line 174, ../sass/component-forms.scss */
.form input[type="radio"] + label:after, .login input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: 2px;
  display: block;
  width: 16px;
  height: 15px;
  background: url("../images/radiobox.png?1468854111");
}

/* line 183, ../sass/component-forms.scss */
.form input[type="radio"]:checked + label:after, .login input[type="radio"]:checked + label:after {
  background-position: -16px 0;
}

/* line 187, ../sass/component-forms.scss */
.form input[type="radio"] + label, .login input[type="radio"] + label {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 20px;
  margin-left: 5px;
  position: relative;
}

/* line 194, ../sass/component-forms.scss */
.form select, .login select {
  border: 1px solid #ccc;
  -moz-appearance: none;
  -webkit-appearance: none;
  max-height: 30px;
  background: url("../images/dropdown-bg.png?1468854111") top right no-repeat;
  position: relative;
  text-indent: 2px;
}

/* line 202, ../sass/component-forms.scss */
.form .scfListBox, .login .scfListBox {
  background: none;
  max-height: none;
}

/* line 206, ../sass/component-forms.scss */
.form .scfDateSelectorDay, .form .scfDateSelectorMonth, .form .scfDateSelectorYear, .login .scfDateSelectorDay, .login .scfDateSelectorMonth, .login .scfDateSelectorYear {
  width: 30%;
}

/* line 3, ../sass/forms/_form-variants.scss */
.form {
  overflow: hidden;
}

/* line 6, ../sass/forms/_form-variants.scss */
.form .scfSectionContent > div {
  margin: 5px 0 0 0;
  padding: 0;
}

/* line 11, ../sass/forms/_form-variants.scss */
.form .scfSectionContent > div ~ div {
  margin: 0;
}

/* line 15, ../sass/forms/_form-variants.scss */
.form .scfSectionContent > div > label, .form .scfSectionContent > div > div {
  width: 100%;
  display: block;
  padding: 0;
}

/* line 22, ../sass/forms/_form-variants.scss */
.form .scfRequired {
  display: none !important;
}

/* line 27, ../sass/forms/_form-variants.scss */
.form.labels-above label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
}

/* line 34, ../sass/forms/_form-variants.scss */
.form.labels-above .scfEmailGeneralPanel,
.form.labels-above .scfMultipleLineGeneralPanel,
.form.labels-above .scfSingleLineGeneralPanel,
.form.labels-above .scfPasswordGeneralPanel,
.form.labels-above .scfNumberGeneralPanel,
.form.labels-above .scfDatePickerGeneralPanel,
.form.labels-above .scfListBoxGeneralPanel,
.form.labels-above .scfDropListGeneralPanel,
.form.labels-above .scfDateGeneralPanel,
.form.labels-above .scfRadioButtonListGeneralPanel,
.form.labels-above .scfCheckBoxListGeneralPanel,
.form.labels-above .scfFileUploadGeneralPanel,
.form.labels-above .scfDateSelectorGeneralPanel,
.form.labels-above .scfCreditCardGeneralPanel,
.form.labels-above .scfConfirmPasswordGeneralPanel,
.form.labels-above .scfCaptchaGeneralPanel,
.form.labels-above .scfTelephoneGeneralPanel,
.form.labels-above .scfSmsTelephoneGeneralPanel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 93%;
}

/* line 58, ../sass/forms/_form-variants.scss */
.form.labels-above .scfSectionContent .scfRequired {
  margin: 0 5px;
}

/* line 63, ../sass/forms/_form-variants.scss */
.form.labels-above .scfMultipleLineGeneralPanel {
  width: 95%;
}

/* line 67, ../sass/forms/_form-variants.scss */
.form.labels-above .scfMultipleLineTextBox {
  margin: 0 0 0 5px;
}

/* line 74, ../sass/forms/_form-variants.scss */
.form.hints-below .scfSectionContent [class$="UsefulInfo"] {
  position: static;
  opacity: 1;
  max-width: 100%;
  width: 100%;
  margin: 5px 0 0 5px;
}

/*# sourceMappingURL=component-forms.css.map */
