/* breakpoints */
/* line 5, ../sass/component-accordion.scss */
.accordion {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #ccc;
}

/* line 11, ../sass/component-accordion.scss */
.accordion .toggle-header {
  padding: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
}

/* line 15, ../sass/component-accordion.scss */
.accordion .toggle-header:hover {
  background-color: #fcfcfc;
}

/* line 18, ../sass/component-accordion.scss */
.accordion .toggle-header .component.title {
  margin-top: 0;
}

/* line 22, ../sass/component-accordion.scss */
.accordion .label {
  padding: 4px;
  display: block;
  background: transparent;
  position: relative;
  z-index: 3;
}

/* line 29, ../sass/component-accordion.scss */
.accordion .toggle-content {
  padding: 7px 4px;
}

/* line 32, ../sass/component-accordion.scss */
.accordion .item {
  border-bottom: 1px solid #ccc;
}

/* line 34, ../sass/component-accordion.scss */
.accordion .item:last-child {
  border-bottom: none;
}

/* line 1, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* line 8, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal.accordion-image .items .item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 50px;
  margin: 0;
  min-height: 300px;
}

/* line 14, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal.accordion-image .items .item.active .toggle-header {
  background: transparent !important;
}

/* line 17, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal.accordion-image .items .item.active .toggle-content {
  left: 0 !important;
}

/* line 21, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal.accordion-image .items .item .toggle-header {
  width: 50px;
  border-right: none;
}

/* line 24, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal.accordion-image .items .item .toggle-header:before {
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 30, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal.accordion-image .items .item .toggle-content {
  padding: 0;
}

/* line 37, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 42, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  padding: 0 0 0 30px;
  min-height: 250px;
  position: relative;
}

/* line 51, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item.active .toggle-header {
  background: #95bcf2;
}

/* line 55, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item .toggle-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  padding: 0;
  width: 30px;
  min-height: 100%;
  border: none;
  background: #fff;
  border-right: 3px solid #222;
}

/* line 67, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item .toggle-header .component {
  margin-top: 0px;
}

/* line 70, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item .toggle-header .label {
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 20px;
  width: 500px;
  margin: 0;
  padding: 5px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* line 81, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item .toggle-header .label p {
  width: 200px;
}

/* line 84, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item .toggle-header .label div.field-heading {
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 89, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item .toggle-header .label div.field-heading span.scWebEditInput {
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 99, ../sass/accordion/_horizontal-accordion.scss */
.accordion-horizontal .items .item .toggle-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: auto;
  z-index: 10;
  height: 100%;
  overflow: hidden;
  text-align: left;
  padding: 10px;
}

/*# sourceMappingURL=component-accordion.css.map */
