/* line 1, ../sass/component-summary-list.scss */
.summary-list {
  margin-top: 20px;
}

/* line 3, ../sass/component-summary-list.scss */
.summary-list .summary-list-icon {
  width: 100%;
}

/* line 6, ../sass/component-summary-list.scss */
.summary-list .summary-list-title {
  margin-top: 5px;
  font-size: 20px;
}

/* line 9, ../sass/component-summary-list.scss */
.summary-list .summary-list-title a {
  font-size: 20px;
  text-decoration: none;
}

/* line 14, ../sass/component-summary-list.scss */
.summary-list .summary-list-link {
  margin-top: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #4a4a4a;
}

/* line 21, ../sass/component-summary-list.scss */
.summary-list > div > ul > li {
  border-top: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-top: 30px;
  padding-top: 15px;
}

/* line 26, ../sass/component-summary-list.scss */
.summary-list > div > ul > li:first-child {
  border-top: none;
}

/* line 31, ../sass/component-summary-list.scss */
.summary-list.image-left .summary-list-icon {
  float: left;
  margin-right: 10px;
}

/* line 34, ../sass/component-summary-list.scss */
.summary-list.image-left .summary-list-icon img {
  width: 100%;
}

/* line 41, ../sass/component-summary-list.scss */
.summary-list.image-right .summary-list-icon {
  float: right;
  margin-left: 10px;
}

/* line 44, ../sass/component-summary-list.scss */
.summary-list.image-right .summary-list-icon img {
  width: 100%;
}

/* line 50, ../sass/component-summary-list.scss */
.summary-list.summary-list-cols2 > div > ul > li {
  border-top: 1px solid #cccccc;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

/* line 55, ../sass/component-summary-list.scss */
.summary-list.summary-list-cols2 > div > ul > li:first-child {
  border: none;
}

/* line 57, ../sass/component-summary-list.scss */
.summary-list.summary-list-cols2 > div > ul > li:first-child + li {
  border: none;
}

/* line 61, ../sass/component-summary-list.scss */
.summary-list.summary-list-cols2 > div > ul > li.even {
  margin-left: 25%;
}

/*# sourceMappingURL=component-summary-list.css.map */
