/* breakpoints */
/* line 6, ../sass/component-toggle.scss */
.toggle a {
  text-decoration: none;
  font-weight: normal;
}

/* line 11, ../sass/component-toggle.scss */
.toggle .toggle-header {
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 10px 7px 10px;
  background: #fff;
  cursor: pointer;
}

/* line 19, ../sass/component-toggle.scss */
.toggle .toggle-header:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 32, ../sass/component-toggle.scss */
.toggle .toggle-header .label {
  display: block;
  float: right;
  margin: 2px 0 0 5px;
}

/* line 39, ../sass/component-toggle.scss */
.toggle li {
  margin-bottom: 15px;
}

/* line 44, ../sass/component-toggle.scss */
.toggle li.active .toggle-header:before {
  content: "";
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: none;
}

/* line 56, ../sass/component-toggle.scss */
.toggle .show {
  color: #878787;
}

/* line 60, ../sass/component-toggle.scss */
.toggle .toggle-content {
  border: 1px solid #ccc;
  background: #fff;
  margin-top: -1px;
}

/*# sourceMappingURL=component-toggle.css.map */
