/* breakpoints */
/* line 7, ../sass/component-pagination.scss */
.pagination nav > span, .pagination nav > a {
  margin-right: 1px;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
}

/*# sourceMappingURL=component-pagination.css.map */
