#page-404
	main
		h1
			border-bottom: none
			margin-bottom: 0 !important
			margin-top: 30px !important

			@media (max-width: $bpSmall)
				padding-bottom: 8px
				margin-top: 15px !important

		h2
			margin-bottom: 30px

			@media (max-width: $bpMed)
				margin-bottom: 15px

			@media (max-width: $bpSmall)
				margin-bottom: 15px
				font-size: 1.2rem

		a
			font-style: normal !important

		p, ul li
			font-size: 1rem !important

		h2 + p
			margin-bottom: 0 !important