#page-career-search-results
	font-family: $fontAccent
	padding: 2rem
	#header-er-wait
		.component.rich-text
			padding-left: 15px
	#top-filters
		
		#refine-intro
			padding: 1rem 2rem 1rem 0
			.career-search-intro
				p
					font-family: $fontHeading
					font-weight: bold
					color: black				

			.career-search-query
				margin-top: 0
				margin-bottom: 0			
				padding-left: 0
				label
					@extend .visually-hidden

				.twitter-typeahead
					margin-left: 0
					margin-right: auto
				@media (max-width: $bpMed)
					padding-right: 0
		
			@media (max-width: $bpMed)
				padding-right: 0			
	
		#manage-agents
			.component.rich-text
				padding-right: 0
				.manage-agent-block
					background: $colorBackgroundAccentLight
					padding: 1rem 2rem
					.row.component.column-splitter
						display: flex
						@media (max-width: 1260px)
							display: block
							.col-md-8
								width: 100%
								display: block
								z-index: 1						
						.col-md-4
							display: flex
							align-items: center
							justify-content: center
							@media (max-width: 1260px)
								width: 100%
								display: block
							@media (max-width: $bpXSmall)				
								text-align: center
					p
						font-size: 0.8rem			
					a#manage-agent-link
						font-family: $fontAccent
						font-size: 1rem
						text-decoration: none
						color: $colorBrandLight
						font-style: initial !important
						font-weight: 800
						
					.search-box-baptist
						margin-top: 0.5rem
						margin-bottom: 0.5rem
						.search-box-input-baptist
							border-radius: 0
						.search-box-button-baptist
							font-weight: 800
							font-size: .875rem
						@media (max-width: $bpXSmall)
							.component-content
								display: block
							.search-box-input-baptist
								width: 100% !important
								display: block
							.search-box-button-baptist
								width: 100% !important
								display: block
								max-width: 100% !important
								margin-left: 0


		@media (max-width: $bpMed)
			order: 4
			display: flex
			flex-direction: column
			#refine-intro
				order: 3
			#manage-agents
				order: 1
				width: 108%
				margin-left: -3%
			#manage-agents.in,
			#manage-agents.collapsing
				display: block !important
				.manage-agent-block
					box-shadow: inset 0px 11px 8px -10px $colorNeutralLight, inset 0px -11px 8px -10px $colorNeutralLight
	
	.search-box-baptist
		label
			@extend .visually-hidden
		@media (max-width: $bpMed)
			.search-box-button-baptist	
				font-weight: 800
				width: 160px !important
				max-width: 160px !important
						
	#refine-search-filters
		padding-right: 0
		.refine-filter-form
			display: flex
			flex-direction: row
			div
				flex: 1
				width: 22%
				padding: 1rem
				&.filters-label
					flex: .4
					padding: 1.5rem 0
					font-size: .87rem
					text-transform: uppercase
					justify-content: center
					padding: 1.5rem 0
					font-weight: 800	
				&:last-child
					padding: 1rem 0 1rem 1rem
				select
					color: $colorNeutralDarkerStill
					font-weight: 800
					border-radius: 0
					border-color: $colorNeutralDark
					background-color: $colorBackgroundAccentLight
					option
						background-color: $colorNeutralLightest	
		@media (max-width: $bpMed)
			order: 3			
	#refine-search-filters.in,
	#refine-search-filters.collapsing
		display: block !important
		background-color: $colorBackgroundAccentLight
		box-shadow: inset 0px 11px 8px -10px $colorNeutralLight, inset 0px -11px 8px -10px $colorNeutralLight
		width: 108%
		margin-left: -4%
		padding-top: 1rem
		.refine-filter-form
			display: block
			div
				display: block
				width: 100%
				padding: 1rem 1rem 0
				&.filters-label
					display: none
				&:last-child
					padding: 1rem
				select
					background-color: $colorNeutralLightest					
	#refine-search-filters.collapse
		height: auto !important

	#responsecontainer
		padding: 1rem
						
		.row.col-titles
			border-bottom: solid 3px $colorNeutralDark	
			div
				color: $colorBrandPrimary
				font-size: .85rem
				padding: 1rem 0
				font-weight: 600
				@media (max-width: $bpMed)
					&:first-child
						display: none

		div.row.search-result		
			border-bottom: $colorNeutralLighter 2px solid
			font-size: 0.85rem
			&.masked
				display: none
			div
				padding: 1.1rem 0
				@media (max-width: $bpSmall)
					font-size: 0.8rem !important					
				a
					color: $colorBrandLight
					text-decoration: none
					font-family: $fontAccent
			i.fa.fa-chevron-right
				display: none
			.result-position-title
				a
					font-style: initial
			@media (max-width: $bpMed)				
				.result-position-title
					width: 95%			
					font-weight: 800		
				.result-location
					width: 45%
					display: inline-block
					float: right
					text-align: right
					padding-right: 2rem
					padding-top: 0
				.result-posted-date
					width: 45%
					padding-top: 0
				i.fa.fa-chevron-right
					display: inline-block
					height: 100%
					width: 2rem
					background-color: $colorBackgroundAccentLight
					color: $colorBrandLight
					font-size: 100%
					padding: 2.1rem 0.5rem 2.1rem 0.75rem
					float: right
					cursor: pointer
			@media (max-width: 600px)
				font-size: 0.8rem
				.result-posted-date
					width: 30%
				.result-location
					width: 60%
			@media (max-width: $bpXSmall)
				font-size: 0.6rem
		@media (max-width: $bpMed)
			order: 5

	@media (max-width: $bpMed)
		display: flex
		flex-direction: column

	@media (max-width: $bpSmall)
		padding: 2rem 1rem

	button#load-more
		border: 0
		padding: 1rem 4rem
		color: $colorNeutralLightest
		background-color: $colorBrandLight
		font-weight: 700
		font-size: 1rem	

		@media (max-width: $bpMed)
			order: 6
		@media (max-width: $bpXSmall)
			font-size: 0.8rem
			width: 100%
			padding: 1rem	

	.log-back-in
		display: none
		background-color: $colorBackgroundAccentLight
		width: 110%
		margin-left: -4%
		padding: .75rem 1rem
		margin-bottom: 1.5rem
		text-align: center
		font-size: 0.875rem
		font-weight: 100
		a 
			font-weight: 800
			font-style: initial
			font-family: $fontAccent
			text-decoration: none
		@media (max-width: $bpMed)
			order: 1	
			display: block

	form#createSearchAgent		
		button#jsp_form_create_i.search-box-button-baptist
			min-width: 159px !important

#save-filter-toggle-button
	order: 2
	.column.col-xs-6
		text-align: center
		margin-bottom: -2%
		z-index: 1
		button
			outline: none
			color: $colorNeutralDarkest
			background-color: $colorBackgroundAccentLight
			width: 90%
			font-size: 1rem
			font-weight: 800			
			padding: 1rem
			margin: 1rem
			margin-bottom: .5rem
			padding-bottom: 2rem
			&.collapsed
				color: $colorBrandLight
				margin-bottom: 1rem
				padding-bottom: 1rem
			@media (max-width: $bpSmall)
				font-size: 0.875rem
			@media (max-width: $bpXSmall)
				font-size: 0.7rem
		
#bp-helper
	position: fixed
	bottom: 0
	background: rgba(0,0,255,0.5)
	width: 100%
	padding: .25rem
	color: white
	content: "X-Large"
	@media (min-width: 0px) and (max-width: $bpXSmall)
		background: rgba(200,255,0, 0.5)
	@media (min-width: $bpXSmall) and (max-width: $bpSmall)
		background: rgba(255,0,0,0.5)
		content: "Small"
	@media (min-width: $bpSmall) and (max-width: $bpMed)
		background: rgba(255,125,0,0.5)
		content: "Medium"
	@media (max-width: $bpLarge) and (min-width: $bpMed)
		background: rgba(0,255,0,0.5)
		content: "Large"

.search-box-button-baptist#filterUpdateResults
	color: $colorFontDefault
	height: 34px
	box-shadow: none
	position: relative
	z-index: 1
	background-color: $colorAccent
	float: right
	margin: 0 0 1rem 1rem
	display: block
	font-weight: 800
	width: 16%
	@media (max-width: $bpMed)
		width: auto
		margin: 0 1.5rem 1rem 1rem

[data-useragent*='MSIE 10']
	#page-career-search-results
		form#createSearchAgent		
			button#jsp_form_create_i.search-box-button-baptist
				margin-left: -159px !important