#page-career-search
	.rich-text
		padding-left: 0

	.career-search-intro
		p
			margin-bottom: 0
			font-weight: bold
			font-size: 1.2rem


	.career-search-form
		margin-top: 0

		label
			@extend .visually-hidden

		.twitter-typeahead
			margin-left: 0
			margin-right: 0

	.or-separator
		position: relative
		text-align: center
		margin-bottom: 30px

		p
			width: auto
			display: inline
			background-color: white
			position: relative
			z-index: 1
			padding: 15px
			font-size: 1.4rem
			color: $colorBrandPrimary
			font-family: $fontAccent
			text-transform: uppercase

		&:after
			content: ''
			display: block
			width: 100%
			height: 1
			border-bottom: 1px solid $colorNeutralLight
			position: absolute
			top: 50%

	.career-search-view-all
		width: 100%
		text-align: center
		background-color: $colorBrandPrimary	

	.career-search-optional-filters-container
		padding: 30px !important
		border: 1px solid $colorNeutralLight
		box-shadow: $largeShadow
		position: relative
		background-color: #FBFBFB

		@media (max-width: $bpMed)
			width: 90%
			margin: 45px 5%

		&:after
			content: ''
			position: absolute
			top: 50%
			left: -15px
			width: 30px
			height: 30px
			transform: translateY(-50%) rotateZ(45deg)
			background-color: #FBFBFB
			border-left: 1px solid $colorNeutralLight
			border-bottom: 1px solid $colorNeutralLight
			box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.24), 0 5px 5px -5px rgba(0, 0, 0, 0.24)

			@media (max-width: $bpMed)
				top: -15px
				left: 50%
				transform: translateX(-50%) rotateZ(135deg)

		h2
			font-size: 1rem
			font-family: $fontAccent
			text-transform: uppercase
			font-weight: bold
			color: $colorFontDefault
			border-bottom: 2px solid $colorAccent
			padding-bottom: 8px
			margin-bottom: 32px

		.career-search-optional-filters
			.form-field-wrapper
				label
					max-width: 120px

				input, select, textarea
					max-width: 150px

	#search-intro
		width: 40%
		margin-right: auto
		margin-left: 5%
		float: unset
		font-family: $fontAccent		

	#search-form
		width: 40%
		margin-right: auto
		margin-right: 100%
		margin-left: 5%
		float: unset
	#view-all-positions
		width: 40%
		margin-right: auto
		margin-left: 5%
		float: unset

	#filter-block
		margin-left: 55%
		width: 40%		
		margin-right: 5%
		top: -200px
	#filter-block.in,
	#filter-block.collapsing
		display: block !important
	
	.set-search-filters
		font-family: $fontAccent
		margin-bottom: 1rem
		font-size: 1rem
		a
			font-family: $fontAccent
			text-decoration: none
			font-size: 1rem
			cursor: pointer
			color: $colorBrandLight

			&.collapsed:after			
				content: ''
				position: absolute				
				margin-left: 7px
				margin-top: 5px
				border-top: 6px solid transparent
				border-left: 7px solid $colorBrandLight
				border-bottom: 6px solid transparent
			&:after
				content: ''
				position: absolute
				margin-left: 7px
				margin-top: 7px		
				border-top: 7px solid $colorBrandLight
				border-left: 6px solid transparent
				border-right: 6px solid transparent
	.search-box-baptist
		.component-content
			.search-box-button-baptist
				min-width: 100px					
				
@media (max-width: $bpSmall)
	#search-blocks
		display: flex
		flex-direction: column		
		#search-intro
			order: 1
			width: 90%
			margin-right: 5%
			margin-left: 5%
		#search-form		
			order: 3
			width: 90%		
			min-height: initial			
			margin-right: 5%
			margin-left: 5%
		#filter-block			
			order: 2
			width: 100%
			margin-right: unset
			margin-left: unset
			top: unset
			margin-bottom: 5%
		#view-all-positions
			order: 4
			width: 90%
			margin-right: 5%
			margin-left: 5%
		.career-search-intro
			order: 0
			width: 100%
			p
				font-weight: normal
				color: $colorBrandLight

	#page-career-search 
		.career-search-optional-filters-container
			width: 100%
			box-shadow: inset 0px 11px 8px -10px $colorNeutralLight, inset 0px -11px 8px -10px $colorNeutralLight
			margin: unset
			background-color: $colorNeutralLighter
			h2
				display: none
			&:after
				content: unset
			label
				font-size: 0.8rem
			select				
				font-family: $fontAccent			
		@media (min-width: $bpSmall) and (max-width: 867px)
			.search-box-baptist input.has-search-icon.search-box-input-baptist
				font-size: 0.7rem
		@media (max-width: $bpXSmall)
			.search-box-baptist input.has-search-icon.search-box-input-baptist
				font-size: 0.7rem		

@media (min-width: $bpSmall) and (max-width: 830px)
	.search-box-baptist.career-search-form
		.component-content
			.search-box-input-baptist#careerSearch
				font-size: 94%

@media (min-width: $bpSmall) and (max-width: $bpMed)
	[data-useragent*='rv:11.0'],
	[data-useragent*='MSIE 10']
		#page-career-search
			.career-search-optional-filters-container
				margin-top: 100px
@media (max-width: $bpSmall)
	[data-useragent*='rv:11.0'],
	[data-useragent*='MSIE 10']
		#page-career-search
			#filter-block
				margin-left: -5%
				top: inherit	
				margin-top: -2rem
				margin-bottom: -1rem			
			.career-search-optional-filters-container::after
				content: inherit

[data-useragent*='MSIE 10']
	.search-box-baptist
		.component-content
			.search-box-button-baptist
				margin-left: -100px			

p.returning-candidate
	text-align: center
	padding-top: 1rem				