#page-career-details	
	padding: 1rem
	h1
		padding: 1rem		
	@media (max-width: $bpLarge)
		div.row.orderable
			display: flex
			flex-direction: column
	#main-content		
		padding: 0 2rem
		@media (max-width: $bpXSmall)
			padding: 0 0.5rem
		a
			font-family: $fontAccent
		#job-header			
			font-family: $fontAccent
			padding: 2rem
			background-color: $colorBackgroundAccentLight			
			.row
				margin-left: initial
				margin-right: initial
			.key
				font-weight: 800			
			.datapoint
				padding: 1rem 0
				font-size: 0.875rem
			@media (max-width: $bpLarge)
				background-color: transparent
				padding: 0
				.datapoint
					border-top: 1px solid $colorNeutralDark
				> .row
					border-bottom: 1px solid $colorNeutralDark					
				@media (max-width: $bpXSmall)
					.row
						padding-right: 0


		#job-overview
			padding: 2rem 0 1rem
			font-size: 1rem
			line-height: 1.4rem
		#job-qualifications
			padding: 1rem 0 2rem
			font-size: 1rem
			line-height: 1.4rem				
			ul
				li
					border-top: $colorNeutralDark 1px solid
					font-family: $fontAccent
					padding: 0.5rem 0
					font-size: 0.875rem
					&:last-child
						border-bottom: $colorNeutralDark 1px solid
		h2
			text-transform: uppercase
			font-size: 1.2rem
			font-weight: 800
			@media (max-width: $bpLarge)
				margin-bottom: 1rem
		a.application-faqs-link
			text-decoration: none
			font-weight: 800
			display: block
			margin: 1.5rem 0
			font-size: 1rem
			color: $colorBrandPastel
		@media (max-width: $bpLarge)
			order: 2
	#apply-refer-controls
		padding-right: 2rem
		@media (max-width: $bpLarge)
			padding-right: 0			
		#apply-controls			
			background-color: $colorBackgroundAccentLight
			padding: 0 2rem 2rem
			@media (max-width: $bpLarge)
				display: none
				width: 110%
				margin-left: -5%
				padding: 2rem 3.25rem
				margin-top: 0.7rem
				box-shadow: inset 0px 11px 8px -10px $colorNeutralLight, inset 0px -11px 8px -10px $colorNeutralLight				
			@media (max-width: $bpSmall)
				width: 120%
				margin-left: -10%
			@media (max-width: $bpXSmall)
				padding: 0.5rem
			h3
				font-size: 1.1rem
				padding: 0.5rem 1rem
				text-align: center
				background-color: $colorNeutralDarkerStill
				color: $colorNeutralLightest				
				margin-left: -2rem
				margin-right: -2rem
				@media ( max-width: $bpLarge)
					display: none
			p 
				line-height: 1.25rem
				font-size: 0.9rem
				@media (max-width: $bpLarge)
					margin: 1rem
				strong
					font-size: 1rem
					font-weight: 800
					color: $colorNeutralDarkerStill
			ul
				list-style-type: disc
				margin-left: 1rem			
				@media (max-width: $bpLarge)	
					margin-left: 2rem
				li
					margin: .875rem 0
					a
						font-weight: 800
						font-size: .875rem
						font-family: $fontAccent
						text-decoration: none
		#apply-controls.in,
		#apply-controls.collapsing
			display: block !important

		a#refer-a-friend-sidebar
			width: 100%
			margin: 1.5rem 0
			font-size: 1rem
			padding: 1rem
			text-align: center
			@media ( max-width: $bpLarge )
				display: none
		@media (max-width: $bpLarge)
			order: 1

	#apply-refer-toggle-button
		.column.col-xs-6
			text-align: center
			margin-bottom: -2%
			z-index: 1
			@media (max-width: $bpSmall)
				width: 48%
				margin-right: 1%
			button
				outline: none
				color: $colorNeutralDarkest
				background-color: $colorBackgroundAccentLight
				width: 90%
				font-size: 1rem
				font-weight: 800			
				padding: 1rem
				margin: 1rem
				margin-bottom: 0
				padding-bottom: 2rem
				&.collapsed
					color: $colorBrandLight
					margin-bottom: 1rem
					padding-bottom: 1rem
				@media (max-width: $bpSmall)
					font-size: 0.875rem
				@media (max-width: $bpXSmall)
					font-size: 0.7rem
					width: 100%
					margin: 0
