.template-category-page
	header
		position: absolute

	.breadcrumb
		position: absolute
		margin-top: 150px
		z-index: 1
		padding-top: 8px

		@media (max-width: $bpMed)
			@if $theme == baptistOnline
				margin-top: 200px
			@else if $theme == cancerCenter
				margin-top: 130px
			@else if $theme == medicalGroup
				margin-top: 150px
			@else if $theme == brainSpineNetwork
				margin-top: 200px

		@media (max-width: $bpSmall)
			margin-top: 50px
			@if $theme == baptistOnline
				margin-top: 140px
			@else if $theme == brainSpineNetwork
				margin-top: 140px

		a
			@if $theme == baptistOnline
				color: #fff
			@else if $theme == cancerCenter
				color: $colorBrandPrimary
			@else if $theme == medicalGroup
				color: $colorBrandPrimary
			@else if $theme == brainSpineNetwork
				color: #fff

	.category-sidebar-nav
		padding: 0 30px

		@if $theme == medicalGroup
			margin-top: 30px

			@media (max-width: $bpSmall)
				margin-top: 0

		li
			margin-bottom: 10px

		li.submenu
			margin-bottom: 0

		.field-title,
		.field-navigationtitle
			border-bottom: 1px solid $colorNeutralDark
			padding-bottom: 10px

		li:last-child
			.field-title,
			.field-navigationtitle
				border-bottom: 0

		a
			font-family: $fontAccent
			font-style: normal !important

	@if $theme != medicalGroup
		.category-main-content
			> .component.container
				padding-left: 0
				padding-right: 0

				> .component-content
					> .component
						padding-left: 15px
						padding-right: 15px
						@media (max-width: $bpSmall)
							padding-left: 0
							padding-right: 0

	@if $theme == medicalGroup
		.component.content
			padding-left: 30px
			padding-right: 30px
			margin-top: 30px
			margin-bottom: 30px

			@media (max-width: $bpSmall)
				padding-left: 0
				padding-right: 0
				margin-top: 0
				margin-bottom: 0

		.category-main-content .component.content p:first-child
			padding-top: 0

	@if $theme == baptistOnline
		.no-padding-container
			padding-left: 0
			padding-right: 0

	@if $theme == brainSpineNetwork
		.no-padding-container
			padding-left: 0
			padding-right: 0