#clinical-trial-index
	h1.field-h1-title
		margin-top: 2rem

.clinical-trials-listing.container
	margin: 2rem 0
	display: block
	clear: both
	font-family: $fontAccent
	padding: 1rem 0 1rem 1rem !important

	div#accordion
		.panel.panel-default
			.panel-heading
				background-color: $colorNeutralLight
				font-family: $fontAccent
				.panel-title
					a.row
						div
							font-family: $fontAccent
							display: inline-block
							span.ct-label
								display: block
								font-size: .7rem
							@media (max-width: $bpSmall)
								margin: 1rem 0							

		.panel-collapse
			.panel-body
				.row
					padding: 1rem
					font-size: 1rem
					line-height: 1.4rem

div.form-search
	width: 80%
	padding: 0 .5rem
	position: relative 
	margin-left: auto
	margin-right: auto	
	display: flex
	flex-direction: columns
	@media (max-width: $bpMed)
		width: 100%
	label
		font-family: $fontAccent
		font-size: 0.875rem
		line-height: 1.5rem
	form#clinical-trials		
		input
			width: 100%
			display: inline-block
			border-radius: 0
			height: 2rem
	form#anatomic-site,
	form#trial-types,
	form#trial-phases		
		select
			width: 100%
			display: inline-block	
			border-radius: 0				
			height: 2rem
			margin-top: 5px
			z-index: 0
			font-family: $fontAccent	
	@media (max-width: $bpSmall)
		display: block
	form
		flex: 1
		width: 40%
		margin: 0 5%
		display: inline-block
		@media (max-width: $bpSmall)
			flex: none
			display: block
			width: 90%

.sortable
	i
		padding-left: 15px
		font-size: 1rem