.template-doctor-profile
	h1
		color: $colorBrandPrimary
		margin-bottom: 0 !important
		border-bottom: none

	#content
		> .row
			> div:nth-child(3)
				background-color: $colorNeutralLighter
				padding-top: 30px
				padding-bottom: 30px
				margin-bottom: 30px

				.doctor-profile-intro-left
					text-align: center

					.doctor-profile-image
						margin-bottom: 5px

						img
							box-shadow: $largeShadow
							max-width: 200px
							margin-left: auto
							margin-right: auto

						.cta-button
							max-width: 200px
					#doctor-intro
						position: relative
						z-index: 8

				.doctor-profile-intro-right
					h2
						border-bottom: 0
						margin-bottom: 0

					p
						font-size: 1rem
					div.phys-bio
						margin: 1rem 0
						font-size: 1rem

	.doctor-meet-the-doctor
		background: $colorNeutralDarkerStill
		color: $colorNeutralLighter
		text-shadow: 2px 2px 2px black
		padding: 2rem
		margin-top: -2rem
		box-shadow: 0px 0px 30px 0px inset $colorNeutralDarkest
		max-height: 5000px
		transition-property: all
		transition: max-height 0.25s ease-in
		transition-duration: .5s
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
		overflow-y: hidden
		margin-bottom: 3rem

		.component-content
			max-width: 100%
			margin-left: auto
			margin-right: auto
			@media( min-width: 1000px ) and ( max-width: 1099px )
				max-width: 75%
			@media( min-width: 1100px )
				max-width: 50%
			iframe
				box-shadow: 1px 1px 3px 0px #333
				margin: 2rem auto
			h2
				font-weight: 600
				color: $colorAccent
				text-shadow: 2px 2px 2px black
			h3
				font-size: 1rem
				text-transform: normal
				color: $colorAccent
				text-shadow: 2px 2px 2px black
			a#close-meet-the-doctor
				color: $colorAccent
				font-size: 1rem
		&.collapsed
			max-height: 0
			padding: 0


	.doctor-profile-main
		h2
			border-bottom: 1px solid $colorNeutralLight
			padding-bottom: 10px
			margin-bottom: 20px
			margin-top: 20px
	
		> *:first-child
			h2
				margin-top: 0

		h3 + *
			margin-left: 20px

	.doctor-profile-primary-location
		h5
			font-size: 1rem
		.doctor-profile-primary-location-content
			display: flex

			.doctor-profile-primary-location-text
				background-color: $colorBrandLight
				color: $colorNeutralLightest
				padding: 1.8rem
				width: 50%
				font-family: $fontAccent
				line-height: 1.8
				font-size: 0.7rem
				box-shadow: $rightInsetBoxShadow

				.cta-button-accent
					display: inline-block
					box-shadow: $boxShadowHeavy
					margin-top: 15px
				h5
					font-size: 1rem
				p
					font-size: .8rem !important

				a.phone-main
					text-decoration: none
					color: $colorNeutralLightest
					&:hover
						text-decoration: underline

			.doctor-profile-primary-location-map
				width: 50%
				background-image: url('https://placehold.it/150/CCCCCC/888888')
				background-size: cover
				background-position: center center
			
		a
			font-family: $fontAccent
			font-style: normal !important


	@media (max-width: $bpSmall)
		.doctor-profile-intro-left
			width: 40%
			float: right
			.rich-text
				width: 100%
		.doctor-profile-image
			float: left
			width: 100%
		.doctor-profile-intro-right
			width: auto
			float: none
			h2
				font-size: 20px
			.rich-text
				float: none
div.p-font-fix
	margin: 1rem 0
	font-size: 1rem

div.doctor-profile-other-locations,
div.doctor-profile-other-headings
	padding-left: 15px !important
	padding-right: 15px !important

div.doctor-profile-other-locations
	>.component-content
		display: flex
		flex-wrap: wrap
		justify-content: justify
		width: 100%
		.component.rich-text
			background: $colorNeutralLighter
			width: 40%
			font-family: $fontAccent
			flex: 1
			margin: .5rem
			min-width: 185px !important
			max-width: 47% !important
			.component-content
				padding: 1rem
				p
					font-size: .7rem !important
			h5,
			a
				font-size: .875rem
				font-family: $fontAccent

.tab-search.search-box-baptist.physician-specialty-search
	transform: translateY(190%)




@media (max-width: 1600px)
	.tab-search.search-box-baptist.physician-specialty-search
		transform: none
		float: none
		margin-left: 15px

@media (max-width: $bpMed)
	.tab-search.search-box-baptist.physician-specialty-search
		margin-left: 0
		margin-bottom: 0 !important
		margin-top: 0 !important

@media (max-width: $bpSmall)
	.tab-search.search-box-baptist.physician-specialty-search
		max-width: 100%
		margin-bottom: 15px !important

