.event-list
	.row.event-filters		
		background: $colorNeutralLight
		padding: .75rem
		strong
			line-height: 3rem
			font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
			text-transform: uppercase
			font-size: 1rem
			color: $colorBrandPrimary
			margin: 1rem
		select
			border-radius: 0
			font-size: 1rem
			font-family: $fontAccent
			max-width: 300px
			display: inline-block
			height: 3rem
			margin: 1rem
			border-radius: .3rem
			@media ( max-width: $bpMed )
				display: block
				max-width: 90%
				margin-top: 1rem

	li.event
		border: 0
		border-bottom: 1px solid $colorNeutralLight
		margin-right: 0
		padding: 1rem
		@media ( max-width: $bpSmall )
			display: flex
			flex-wrap: wrap	
			flex-direction: column
			padding-left: 0 !important
			padding-right: 0 !important
					
	.event-list-date
		font-family: $fontAccent
		text-align: left
		font-weight: 300
		font-size: 1.2rem
		line-height: 1.5rem

	.event-list-time
		font-family: $fontAccent
		font-size: 1rem
		text-align: left
		font-weight: normal
		width: unset		
		.event-list-time-start
			margin: 1rem 0 .5rem
			font-size: .95rem
		.event-list-time-end
			margin: 1rem 0 .5rem
			font-size: .95rem
		@media ( max-width: $bpSmall )			
			flex: 1
			order: 2
			display: block
			padding-left: 0
			padding-right: 0
			width: 90%
			max-width: 100%

	.time-string
		font-weight: 600



	.event-list-item-description
		padding: 0 2rem	
		@media (max-width: $bpMed)	
			width: 65%
			font-size: 1rem
			line-height: 1.25rem			
		@media ( max-width: $bpSmall )			
			flex: 1
			order: 1
			display: block
			width: 100%
			padding: 0

	.event-list-name
		line-height: 2rem
		margin-left: 1rem
		font-family: $fontAccent
		@media (max-width: $bpSmall)
			margin-left: 0

	.event-list-description
		margin-left: 1rem
		@media (max-width: $bpSmall)
			margin-left: 0
		h1
			border-bottom: none
			color: $colorNeutralDarkest
			font-size: 1rem			
		p			
			br:first-child
				display: none
		ul
			list-style-type: disc
			list-style-position: inside

			li
				display: list-item
				padding: 0 10px
				border: none

	.event-list-place
		font-family: $fontAccent
		line-height: 1.2rem
		font-size: .9rem !important
		vertical-align: middle
		padding: 0 .5rem
		font-size: 1rem
		background: url('../images/map-marker.png') 0px 5px no-repeat
		padding-left: 30px
		margin-left: 0
		float: left
		@media ( max-width: $bpMed )		
			display: block
			width: 65%
			margin-left: 34%
			line-height: 1.5rem
			background: url('../images/map-marker.png') 0px 2px no-repeat
		@media ( max-width: $bpSmall )			
			flex: 1
			order: 3
			margin-left: auto
			margin-right: auto		
			display: block
			width: 100%

	.addtocalendar.atc-style-blue
		margin: 1rem 0
		.atcb-link			
			background: #ffbd29 !important
			font-family: $fontAccent !important
			border-radius: 0 !important
			font-size: .8rem !important
			color: $colorNeutralDarkerStill !important
			text-transform: uppercase !important
			font-weight: 600
			padding: .6rem 2rem
			@media ( max-width: $bpSmall )
				text-align: center !important
				padding: 0.5rem 0.6rem

		.atcb-list
			box-shadow: 0 !important
			font-family: $fontAccent
			display: flex
			width: 250%
			flex-direction: row
			height: auto
			flex-wrap: wrap
			@media ( max-width: $bpSmall )
				width: 100%
			.atcb-item
				color: $colorNeutralDarkerStill !important
				border: 0 !important
				flex: 1 0 33%
				width: 50%
				min-width: unset
				&:hover
					background: #ffbd29 !important
				.atcb-item-link
					color: $colorNeutralDarkerStill !important
					font-family: $fontAccent !important
					font-size: .8rem
					text-align: center !important
					&:hover					
						background: #ffbd29 !important
					&:after
						content: unset
[data-useragent*='iPhone']
	.addtocalendar.atc-style-blue
		.atcb-list						
			flex-direction: column
			width: 125%
			margin-left: -25%
			.atcb-item
				flex: 1
				width: 100%
				padding: 8px 0

[data-useragent*='iPad']
	.event-list
		.event-list-time
			width: 25% !important
		.event-list-item-description
			width: 73% !important			
			margin-left: 1rem
		.event-list-place
			width: 100% !important
			padding-left: 35% !important
		@media (orientation: portrait)
			.event-list-time
				width: 100% !important				
				order: 2				
				padding-left: 2rem !important
			.event-list-item-description
				width: 100% !important				
				margin-left: 0
				padding-left: 1rem !important
				order: 1
				display: block
			.event-list-place				
				width: 100% !important
				padding-left: 2rem !important							
				margin-left: 0
				order: 3				
			.addtocalendar.atc-style-blue
				.atcb-list
					width: auto
					.atcb-item
						flex: 1 0 125px
						width: auto
						padding-bottom: 0

@media ( max-width: $bpSmall)
	.event-list
		.event-list-time
			display: flex
			flex-direction: row
			align-content: center
			justify-content: center	
			margin: 1rem 0
			.time-dates
				flex: 1
				display: inline-block
				width: 50%
				padding-right: 10px
				.event-list-date
					font-size: 1rem
				.event-list-time-start
					font-size: .8rem					
				.event-list-time-end
					font-size: .8rem
					margin-top: 0.6rem
			.addtocalendar.atc-style-blue
				flex: 1
				display: inline-block
				width: 50%