#page-find-doctor
	@media (max-width: $bpSmall)
		.tab-search
			.component-content
				flex-wrap: wrap
				justify-content: flex-end

	.nav-tabs
		border-bottom: 2px solid $colorBrandLight
		position: relative

		.component.content
			margin-top: 0
			margin-bottom: 0
			padding-left: 0
			padding-right: 0

		@media (max-width: $bpLarge)
			padding-left: 15px

		li
			a
				background-color: $colorNeutralLight
				border-radius: 0
				font-style: normal
				font-family: $fontAccent
				color: $colorFontDefault
				font-size: 0.8rem
				font-weight: bold
				border: 0
				padding: 15px 20px
				margin-right: 4px
				text-decoration: none
				&:hover
					text-decoration: none
		li.active
			a
				background-color: $colorBrandLight
				color: $colorNeutralLightest
				border-bottom: 1px solid transparent
				text-decoration: none


	.tab-pane
		padding-top: 30px

	.doctor-list-container
		&:first-child
			border-right: 1px solid $colorNeutralDarker
			padding-right: 46px

			@media (max-width: $bpSmall)
				padding-right: 15px
				border-right: none

		&:last-child
			padding-left: 45px

			@media (max-width: $bpSmall)
				padding-left: 15px

		.doctor-list
			font-family: $fontAccent
			font-size: 0.9rem

			li
				border-bottom: 1px solid $colorNeutralDark
				padding-top: 10px
				padding-bottom: 10px

			a
				font-style: normal
				font-family: $fontAccent
				font-weight: bold
				color: $colorBrandPrimary
				display: block
				padding-top: 5px
				padding-bottom: 5px

			.doctor-list-link-text
				display: inline-block
				max-width: calc(100% - 100px)

			.doctor-list-result-count
				float: right
				color: $colorNeutralDarker
				font-weight: normal
				display: inline-block
				width: 100px
				text-align: right
				padding-left: 5px
				
	.tab-search
		.search-box-input-baptist
			font-size: 16px
			
div#schedule-header-wrapper
	div#search-scheduling
		select#filter-by-specialty
			display: inline-block
			float: left
			width: 300px
			margin-left: -300px
			margin-right: 1rem
			border-radius: initial
			color: #777
			font-family: $fontAccent						
			option
				font-family: $fontAccent	
		input#query-scheduling
			font-family: $fontAccent
			font-size: 0.875rem		
		@media (max-width: 1253px)
			margin-bottom: 3rem
			width: 100%
			display: block
			max-width: 100%
			select#filter-by-specialty
				width: 45%
				margin-left: 5%
			#physician-scheduling-search
				width: 45%			
		@media (max-width: 900px)
			select#filter-by-specialty
				width: 100%
				float: none
				display: block
				margin-bottom: 1rem
				margin-left: 0
			#physician-scheduling-search		
				width: 100%
		@media (max-width: 430px)
			#physician-scheduling-search
				flex-direction: column
				.search-box-button
					width: 100%
					max-width: unset
					margin-left: 1px

[data-useragent*='MSIE 10.0']
	div#schedule-header-wrapper
		div#search-scheduling
			.search-box-button
				margin-left: -95px !important

	@media (max-width: 1253px)
		display: flex
		flex-direction: column
		div#search-scheduling
			order: 2
		div#breadcrumbs-scheduling
			order: 1
		
.physician-row
	margin-bottom: 1rem
	max-height: 150px

.physician-image-column
	.img-thumbnail
		object-fit: cover
		object-position: top
		height: 25vh
		width: 25vw		
		margin-bottom: 0.875rem
		@media (max-width: $bpLarge)
			height: 17vh
		@media (max-width: $bpMed)
			height: 15vh
		@media (max-width: $bpSmall)
			height: 20vh
		@media (max-width: 550px)
			height: 15vh
		@media (max-width: $bpXSmall)
			height: 13vh
		@media (orientation: landscape)
			height: 230px

	@media (max-width: $bpMed)
		width: 20%
	@media (max-width: $bpSmall)
		width: 30%
	@media (max-width: $bpXSmall)
		width: 40%

.bmg-anc-column
	a.cta-button
		text-align: center
		@media (max-width: $bpXSmall)
			margin-top: initial !important	
	@media (max-width: $bpSmall)
		width: 60%
		float: left
		margin-left: .5rem
	@media (max-width: $bpXSmall)
		float: right
		width: 100%


.details-column
	padding: 1.5rem
	font-size: 1.0rem
	line-height: 1.2rem
	@media (max-width: 550px)
		padding: .6rem
		font-size: .87rem
	@media (max-width: $bpXSmall)
		width: 55%

div.row.divider
	border-bottom: 1px solid #ccc
	margin: 0.875rem 0
	&:last-child
		border-bottom: none

body[data-useragent*='MSIE 10.0']
	.search-box .search-box-input, 
	.search-box-baptist .search-box-input-baptist
		max-width: 80%

#schedule-an-appointment
	.main-content
		font-size: .87rem
		line-height: 1rem
		p
			margin: 1rem 0
