.component .form
	padding-left: 0px
	line-height: 1.8
	font-size: 16px
	margin-top: 0
	@media (max-width: $bpSmall)
		font-size: 14px
	legend
		position: static
		padding: 0
		padding-bottom: 15px
		font-size: 16px
		color: $colorFontDefault
		font-family: $fontAccent
		text-transform: uppercase
		font-weight: bold
		@media (max-width: $bpSmall)
			font-size: 14px
	fieldset
		position: static
		border: 0
		margin: 0
		padding: 0
	fieldset.halfSection
		legend
			display: none
	input, select, textarea
		max-width: 100%
		font-size: 0.9rem
		@media (max-width: $bpSmall)
			font-size: 0.8rem
	.halfAvailableWidth
		padding-right: 15px
	.halfAvailableWidth + .halfAvailableWidth
		padding-right: 0
	input:not(input[type="checkbox"], input[type="radio"])
		margin-top: 5px
		margin-bottom: 5px
		min-height: 34px
	input[type="checkbox"], input[type="radio"]
		position: relative
		margin-right: 5px
	input[type="submit"]
		margin-top: 10px
		@extend .cta-button-accent
		border: none
	input[type="submit"]:hover
		border: none
	input[type="text"], input[type="tel"], input[type="password"], input[type="email"], textarea
		width: 100%
		margin-top: 5px
		margin-bottom: 5px
		padding-left: 10px
		padding-right: 10px
	form span, .control-label
		line-height: 18px
	select
		background: none
		-webkit-appearance: menulist-button
		-moz-appearance: menulist
		margin-top: 5px
		margin-bottom: 5px
		padding-top: 2px
		padding-bottom: 2px
		padding-left: 10px
		padding-right: 10px
		min-height: 34px
	.required-field .checkbox label:after
		color: #d00
		content: "*"
		font-weight: bolder
		padding-left: 2px
	.required-field .checkbox:after
		content: none
		display: none
	select, textarea
		font-family: $fontAccent

	.has-success .form-control
		border-color: #cccccc

	.has-success .form-control:focus
		border-color: #66afe9
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)

	.has-success .help-block,
	.has-success .control-label,
	.has-success .radio,
	.has-success .checkbox,
	.has-success .radio-inline,
	.has-success .checkbox-inline,
	.has-success.radio label,
	.has-success.checkbox label,
	.has-success.radio-inline label,
	.has-success.checkbox-inline label
		color: $colorFontDefault

.primary-content-container form
	padding-left: 0 !important

.required-field .control-label:before, .required-field .checkbox:after
	display: inline-block
	padding-right: 2px

.component .form form span, .component .form .control-label
	line-height: inherit

.primary-content-container
	form
		padding-left: 40px
	&.wrapper-no-sidenav form
		padding-left: 25px