#page-home
	header
		position: absolute

	.hero 

		@media (max-width: $bpSmall)
			height: auto

		.component-content
			top: 50%

	.component.breadcrumb
		margin-top: 125px

	footer
		margin-top: -80px

		@media (max-width: $bpLarge)
			margin-top: auto


.choose-your-destination
	background: $colorNeutralLighter
	text-align: center
	margin-top: 6.5rem
	margin-bottom: -7rem
	h4
		padding: .75rem
		font-size: 1rem
		border-bottom: 1px solid $colorNeutralLight
		text-transform: capitalize
		padding-top: 1.5rem
	ul
		list-style-type: none
		margin-left: 0
		li
			list-style: none
			border-bottom: 1px solid $colorNeutralLight
			margin-left: 0
			padding: .15rem .5rem .5rem
			a
				text-decoration: none
				color: $colorBrandLink
				font-weight: 600
				font-style: normal
				font-size: 1rem
			&:last-child
				border-bottom: none

.visitor-guide-link
	margin-top: 7.5rem
	margin-bottom: -6rem
	padding: .5rem .7rem
	p
		text-align: center		
		font-size: 1rem
		font-weight: 400
		a
			color: $colorBrandLink			
			font-weight: 600
			font-style: normal
			font-size: 1.15rem