#page-location-index

	@media (max-width: $bpSmall)
		.main-content-container-area
			padding: 0 !important
			.col-xs-12
				padding: 0 !important

	.nav-tabs
		border-bottom: 2px solid $colorBrandLight

		@if ($theme == cancerCenter)
			border-bottom: none

			@media (max-width: $bpMed)
				margin-bottom: 15px !important

		li
			@media (max-width: $bpSmall)
				float: none
				margin-bottom: 3px
				margin-right: 0

			@if ($theme == cancerCenter)
				width: 100%

			a
				background-color: $colorNeutralLight
				border-radius: 0
				font-style: normal
				font-family: $fontAccent
				color: $colorFontDefault
				font-size: 0.8rem
				font-weight: bold
				border: 0
				padding: 15px 20px
				margin-right: 4px

				@if ($theme == cancerCenter)
					border-bottom: 1px solid #eee !important
					padding-bottom: 0.5rem
					padding-left: 0
					color: $colorBrandPrimary !important
					font-family: $fontAccent
					font-size: 1.5rem !important
					background-color: transparent !important
					text-decoration: none

				.field-heading
					@if ($theme == cancerCenter)
						font-size: 1.5rem
						font-weight: normal

				@media (max-width: $bpSmall)
					margin-right: 0

		li.active
			a
				background-color: $colorBrandLight
				color: $colorNeutralLightest
				border-bottom: 1px solid transparent

	.tab-pane
		padding-top: 30px

		@if ($theme == cancerCenter)
			padding-top: 0

	.location-button-bar
		background-color: transparentize($colorAccent, 0.5)
		font-family: $fontAccent
		font-weight: bold
		color: $colorFontDefault
		margin-left: 0
		margin-right: 0
		font-size: 0.8rem
		width: 100%
		height: 45px

		@media (max-width: $bpLarge)
			margin-left: 0

		@media (max-width: $bpMed)
			margin-bottom: 45px

		@media (max-width: $bpSmall)
			font-size: 0.7rem

		> *
			white-space: normal
			display: inline-block
			width: auto

		.location-button-bar-text
			padding: 13px

		.location-button-bar-buttons
			white-space: nowrap
			float: right
			position: relative

			@media (max-width: $bpMed)
				display: block
				width: 100%
				float: none
				border-top: 1px solid $colorNeutralLightest

			.location-button
				border-right: 1px solid $colorNeutralLightest
				white-space: normal
				float: left
				height: 45px

				@media (max-width: $bpMed)
					width: 100%
					text-align: center

				&:last-child
					border-right: none

	.location-button
		background-color: $colorAccent
		font-family: $fontAccent
		font-weight: bold
		color: $colorFontDefault
		text-transform: uppercase
		font-style: normal
		padding: 16px

		&:hover
			text-decoration: none

	.location-list
		font-size: 0.9rem

		@media (max-width: $bpMed)
			padding-right: 0
			padding-left: 0

		ul
			margin-top: 15px

		li
			padding-top: 20px
			padding-bottom: 20px
			border-bottom: 1px solid $colorNeutralDark
			margin-right: 0
			margin-left: 0

			&:last-child
				border-bottom: none

			&:hover
				background-color: $colorNeutralLight

		.location-info-right
			text-align: right
			padding-right: 0

			@media (max-width: $bpSmall)
				text-align: left
				margin-top: 10px

		.location-distance
			font-family: $fontAccent
			color: $colorFontDefault
			padding-left: 0
			padding-right: 0
			padding-top: 8px
			font-size: 0.8rem

		.location-name
			margin-bottom: 10px

			a
				font-family: $fontAccent
				font-style: normal
				color: $colorBrandPrimary
				font-weight: bold

		.location-address
			line-height: 1.5

		.location-phone
			display: block
			font-style: normal
			color: $colorBrandPrimary
			margin-bottom: 10px

		.location-directions-link
			display: block
			font-style: normal
			color: $colorBrandPrimary
			margin-top: 10px
			margin-bottom: 10px

		.location-wait-time
			display: block
			margin-top: 10px
			font-family: $fontAccent
			text-transform: uppercase
			font-size: 0.7rem

			.location-wait-time-value
				font-weight: bold
				text-transform: none

	.location-map-container
		position: sticky
		top: 15px
		width: 100%
		height: 0
		padding-bottom: 330px
		margin-bottom: 15px

		.location-map
			position: absolute
			width: 100%
			height: 100%
			top: 0
			right: 0

	.location-map-expand
		float: right
		font-size: 0.9rem

		&:after
			display: none

		.inline-icon
			margin-left: 30px

.location-form
	display: none
	color: $colorNeutralLightest
	background-color: $colorBrandLight
	width: auto
	padding: 1rem
	position: absolute
	z-index: 999
	right: 0
	top: 45px

	@media (max-width: $bpSmall)
		width: 100%
		padding: 5px
		text-align: center

	input
		display: inline-block
		border: none
		padding: .5rem
		margin: .5rem
		margin-right: 0rem
		width: 10rem
		border-radius: 0

		@media (max-width: $bpSmall)
			margin-left: 0

	button
		color: $colorNeutralLightest
		background-color: $colorBrandPrimary
		padding: .6rem
	button[data-context="change-location"]
		margin-left: 0.5rem
		margin-top: 0.5rem
	p
		padding: .5rem
		text-transform: initial
	&.expanded
		display: inline-block

#page-location-index a.location-button[rel="set-geo"].expanded,
a.location-button[rel="set-geo"].expanded
	color: $colorNeutralLightest
	background-color: $colorBrandLight

.omw-hmp-list-button
	padding: 1rem 0
	a
		background-color: $colorAccent
		color: $colorNeutralDarkest !important
		padding: 0.5rem 1rem
		text-decoration: none
		font-size: 0.8rem
		font-family: $fontAccent
		text-transform: uppercase
		font-weight: 700
		font-style: normal !important
		&:after
			content: ""
		&:hover
			text-decoration: underline
		i.fa,
		em.fa
			color: $colorNeutralDarkest !important
			font-size: 15px
			margin: 0 .4rem
		
	&.location-details
		padding: 0 !important
		min-width: 100% !important
		a
			margin-top: 0 !important
			padding: 8px 1rem !important
			min-width: 100% !important
			text-align: center !important
			white-space: nowrap
		@media (max-width: $bpMed)
			padding: 1rem 0 !important
	&.er-services
		max-width: 210px !important

.filter-bar
	background-color: transparentize($colorBrandPrimary, 0.8)
	display: block
	clear: both
	label[for*=schedule-filter-]
		font-family: $fontAccent
		font-weight: bold
		cursor: pointer
		display: flex
		justify-content: flex-start
		align-items: center
		text-transform: uppercase
		padding: 1rem
		font-size: 0.7rem
		input[id*=schedule-filter-]
			margin-left: .5rem
			margin-top: 0px
	@media (max-width: $bpMed)
		border-top: 1px solid white
		label[for*=schedule-filter-]
			justify-content: center
