.template-location-details
	h1
		@media (max-width: $bpSmall)
			border-bottom: none
			padding-bottom: 0
			margin-bottom: 30px

	.location-details-find-physician
		margin-bottom: 30px

		@media (max-width: $bpSmall)
			margin-bottom: 15px
			width: 100%
			display: block
			text-align: center

	.location-details-hours
		line-height: 1.6
		font-family: $fontAccent
		order: 2 !important
		p
			margin-bottom: 15px

		p:last-child
			margin-bottom: 0

		.location-details-holiday-notes
			font-family: $fontDefault
			padding-right: 30px

			@media (max-width: $bpSmall)
				padding-left: 15px
				padding-right: 0

	.location-details-register-cta
		width: 100%
		text-align: center
		padding: 15px 30px

	.galleria-container
		border: none
		background-color: transparent
		min-height: 500px
		height: auto

		.galleria-stage
			left: 0
			right: 0
			top: 0

		.galleria-counter
			display: none

		.galleria-image-nav
			display: none

		.galleria-thumbnails-container
			height: auto
			left: 0
			right: 0

		.galleria-thumbnails
			left: 0
			right: auto
			margin-left: 0
			margin-right: auto

			.galleria-image
				width: 100% !important
				height: auto !important
				max-width: 120px !important
				margin-right: 15px !important
				visibility: visible !important
				border: none !important

				&.active img
					border: 2px solid $colorNeutralDarkerStill !important

				img
					position: static !important
					width: 100% !important
					height: auto !important
					opacity: 1 !important

		.galleria-thumb-nav-left, .galleria-thumb-nav-right
			top: 50% !important
			transform: translateY(-50%) !important
			background-repeat: no-repeat !important
			background-size: 100% 100% !important
			width: 20px !important
			height: 20px !important

		.galleria-thumb-nav-left
			background-image: url(../images/icons/chevron-left.svg)
			left: 0

		.galleria-thumb-nav-right
			background-image: url(../images/icons/chevron-right.svg)
			right: 0

		&.notouch .galleria-thumb-nav-left:hover, &.notouch .galleria-thumb-nav-right:hover
			background-color: transparent !important

		&.touch .galleria-thumb-nav-left:active, &.touch .galleria-thumb-nav-right:active
			background-color: transparent !important

	@media (max-width: $bpSmall )
		.component.container.primary-content-container
			.component-content
				>.row.component.column-splitter
					display: flex
					flex-direction: column
					>div:nth-child(0)
						order: 3
					>div:nth-child(1)
						order: 2
					>div:nth-child(2)
						order: 1
			.aside.right-sidebar
				.row.component.column-splitter
					display: block !important

	&.template-category-page #content > .row > .component.container.col-xs-12
		padding: 0

	&.template-category-page h1.field-h1-title
		margin-top: 0
		padding-top: 0

	&.template-category-page .hero
		margin-bottom: 30px

.erwait-box
	.component-content
		background: #f5f5f5
		.erwait-box-content
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			img
				flex: 1 1 auto
				width: 20%
				margin-left: 10%
				padding: 1rem 0
			.title
				flex: 1 1 auto
				font-weight: 600
				font-size: 1.5rem
				padding: 2rem 0
				padding-left: 2rem
				font-family: $fontAccent
				width: 60%
				margin-right: 10%
				strong
					color: $colorBrandDark
					font-size: 1.8rem
					padding: 1rem 0
					font-family: $fontAccent
				span.wait-note
					font-weight: normal
					font-size: .7rem
					font-style: italic
					line-height: .8rem

			@media (min-width: 1001px) and ( max-width: 1400px )
				img
					margin-left: 5%
				.title
					width: 65%
			@media (max-width: 1000px)
				img
					margin-left: 5%
				.title
					width: 70%
					margin-right: 5%
			@media (max-width: 768px )
				img
					margin-left: 10%
					width: 20%
				.title
					width: 60%
					margin-right: 10%
			@media (max-width: 461px )
				img
					margin-left: 5%
				.title
					width: 70%
					margin-right: 5%
					font-size: 1.4rem
					strong
						font-size: 1.5rem
			@media (max-width: 370px )
				.title
					padding-left: 1rem
					font-size: 1rem
					strong
						font-size: 1.1rem
					span.wait-note
						font-size: .6rem