.padder
  @media(min-width: 992px)
    padding-left: 40px

#content
  p
    @media(min-width: 768px)
      @if $theme == cancerCenter
        font-size: 1rem
        line-height: 1.8
        margin-bottom: 1rem

@media(min-width: 992px)
  main #content
  h1.field-h1-title
    padding-left: 25px
  #header
    .header-inner
      @extend .padder
    .navigation-main-container
      nav .level1.first
        @extend .padder

  #content .breadcrumb
    @extend .padder
    a
      color: $colorBrandPrimary


  .template-category-page
    #content .breadcrumb
      a
        @if $theme == baptistOnline
          color: #fff
        @else if $theme == cancerCenter
          color: $colorBrandPrimary
        @else if $theme == medicalGroup
          color: $colorBrandPrimary
        @else if $theme == brainSpineNetwork
          color: #fff

  main #content a
    font-style: normal
  #content

    .component.container

    .location-box-text-left p
      font-size: 13px
    .location-box-text-left h5
      font-size: 13px
    aside .location-box-text-left h3
      color: #fff
    .location-box-text
      padding: 2rem 1rem
    .navigation-sidebar
      padding-top: 0

    p
      font-size: 1rem
      line-height: 1.8
      margin-bottom: 1rem
    li
      font-size: 130%
      ul, ol
        li
          font-size: 100%
    ul
      margin-bottom: 1rem
    h2, h3, h4
      margin: 0 0 1rem 0
    .field-content
      //@extend .padder
      h2
        border-bottom: 1px solid #eee
        padding-bottom: .5rem
      h3
        font-size: 1rem
        padding-top: 1rem
      p, li, h1, h2, h3, h4, h5, h6, li
        max-width: 950px
    .component.container
      div
        max-width: 1600px

    .body-content
      .field-content
        //@extend .padder
    .other-locations
      p
        font-size: 13px
      a, a:visited
        font-size: 13px !important


  .container
    width: 100%
    max-width: 1600px





  #content
    ul.leadership-list
      img
        position: absolute
        width: 50px
        height: auto
        left: 0
        top: 0
      li
        position: relative
        overflow: hidden

    .leader-details
      float: left
      margin-left: 75px
      padding-bottom: .5rem
      p
        margin: 0
        padding: 0
        line-height: 1.3
        font-size: .8rem
        margin-bottom: .5rem

    .navigation-sidebar li a, .category-sidebar-nav li a
      font-size: .8rem !important
      display: block !important
      padding: .3rem 0 !important
      line-height: 1.4 !important

  #page-find-doctor .doctor-list-container .doctor-list a
    font-size: .8rem



  .category-main-content
    padding-top: 2rem
  .template-category-page
    .category-main-content
      padding-top: 0

  body.body-leadership
    h1
      padding-left: 25px
    .column-splitter
      margin-left: 15px
      margin-right: 15px

  .columns-with-borders
    padding: 15px 0 0



  main #content .other-locations a
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
    font-size: 1rem
    font-style: normal
    font-weight: normal


  main #content .other-locations h5
    margin-bottom: .5rem
    a
      font-weight: bold

  main #content .other-locations p a:last-child
    color: #4990E2
    font-weight: bold

  .all-medical-specialties h2
    @extend .padder