#page-patients-visitors
	main
		.row.column-splitter
			> div
				padding-left: inherit
				padding-right: inherit
				padding-bottom: 30px

		.component.image
			background-color: #E8E8E8
			text-align: center

			.component-content
				display: inline-block

				a
					display: block
					width: 100%
					font-family: $fontAccent
					padding-top: 30px
					padding-bottom: 30px

				.image-caption
					font-style: normal
					color: $colorBrandPrimary
					font-size: 0.9rem
					font-weight: bold

				img
					display: block
					max-height: 100px
					width: auto
					margin-bottom: 15px !important
					margin-left: auto !important
					margin-right: auto !important