.resources-page
	.rich-text
		margin-top: 15px

		h2, h3, h4
			margin-bottom: 1rem

		p
			padding-top: 0
			padding-bottom: 0
			margin-bottom: 0 !important

	.field-customimage img
		cursor: pointer