#page-search-results
	h1
		padding-bottom: 0
		border-bottom: none
		margin-bottom: 15px !important
		margin-top: 30px

		@media (max-width: $bpMed)
			margin-top: 15px !important

	.search-results-count
		font-family: $fontAccent
		padding-left: 0

		.results-count
			color: $colorBrandPrimary
			font-family: $fontAccent
			font-size: 1.5rem
			margin: 0 0 1rem 0
			line-height: 1.1

			@media (max-width: $bpSmall)
				font-size: 20px

	.search-box
		margin-top: 10px

	.mobile-menu .search-box
		margin-top: 0

	.progress
		display: none

	.search-results
		padding-left: 0

		@media (max-width: $bpMed)
			line-height: 1.5

		@media (max-width: $bpMed)
			.search-result:last-child
				border-bottom: none

		.no-results
			color: $colorFontDefault
			line-height: 1.4
			font-size: .8rem
			font-family: $fontAccent
			text-transform: uppercase
			font-weight: bold
			padding-left: 0

		li
			padding-bottom: 15px
			border-bottom: 1px solid $colorNeutralLight
			margin-bottom: 15px

			.search-result-number
				padding-right: 0
				font-family: $fontAccent
				font-size: 1.2rem
				padding-top: 4px
				color: $colorNeutralDarker

			.search-result-heading
				font-size: 1.5rem
				margin-bottom: 8px

				a
					color: $colorBrandPrimary
					font-family: $fontAccent
					font-style: normal
					text-decoration: none

			.search-result-link
				margin-bottom: 8px

	.search-results-related-doctors
		list-style-type: none
		margin-left: 0
		font-family: $fontAccent
		padding-top: 0

		.search-results-related-doctor
			list-style-type: none !important
			margin-bottom: 15px
			padding-bottom: 15px
			border-bottom: 1px solid $colorNeutralLight

			.search-results-related-doctor-top
				margin-bottom: 5px

				.search-results-related-doctor-image
					padding-left: 0
					padding-right: 0

				.search-results-related-doctor-name
					display: block

					a
						color: $colorBrandPrimary
						font-weight: bold
						font-style: normal
						font-family: $fontAccent

			.search-results-related-doctor-specialty
				display: block

			.search-results-related-doctor-location
				font-size: 0.7rem

				.search-results-related-doctor-location-name
					display: block

				.search-results-related-doctor-location-city
					display: block
					font-style: italic

	.search-results-related-locations
		font-size: 0.9rem

		ul
			margin-top: 0
			padding-top: 0

		li
			padding-top: 10px
			padding-bottom: 10px
			border-bottom: 1px solid $colorNeutralLight
			margin-right: 0
			margin-left: 0
			list-style-type: none

			&:first-child
				padding-top: 0

		.location-info-right
			text-align: right

			@media (max-width: $bpSmall)
				text-align: left
				margin-top: 10px

		.location-distance
			font-family: $fontAccent
			color: $colorFontDefault
			padding-left: 5px
			padding-right: 0
			font-size: 0.8rem

		.location-name
			margin-bottom: 0
			padding-top: 0

			a
				font-family: $fontAccent
				font-style: normal
				color: $colorBrandPrimary
				font-weight: bold

		.location-address
			line-height: 1.5

		.location-phone
			display: block
			font-style: normal
			color: $colorBrandPrimary
			margin-bottom: 10px

		.location-directions-link
			display: block
			font-style: normal
			color: $colorBrandPrimary
			margin-top: 10px
			margin-bottom: 10px

		.location-wait-time
			display: block
			margin-top: 10px
			font-family: $fontAccent
			text-transform: uppercase
			font-size: 0.7rem

			.location-wait-time-value
				font-weight: bold
				text-transform: none

	.search-results-related-doctors-more, .search-results-related-locations-more
		.search-results-related-doctors-more-count, .search-results-related-locations-more-count
			font-family: $fontAccent
			font-size: 0.9rem

		.search-results-related-doctors-more-button, .search-results-related-locations-more-button
			text-align: right
			padding-right: 0

	.search-results-related-locations-more-button
		font-size: 0.75rem


.component.load-more.large-button-inverted
	margin: 1rem 0
	.component-content
		border: none
		input[type=button]
			font-size: 1rem
			color: white
			font-family: $fontAccent
			&:hover
				background: $colorBrandLight

.search-results-count
	margin: 0
.search-results
	margin-top: 0
	ul.search-result-list
		padding-top: 0
		li
			margin: 1rem 0