@media (min-width: 992px)
	.col-md-10
		width: percentage(10 / 12) !important

	// .service-locations-header
	// 	border-bottom: 1px solid #eee
	// 	padding-bottom: 0.5rem

// .service-locations-container
// 	display: flex
// 	flex-grow: 1
// 	flex-shrink: 0
// 	flex-wrap: wrap
// 	.service-location
// 		padding: 15px
// 		margin: 5px
// 		background: $colorNeutralLight
// 		min-width: 250px
// 		.sl-title
// 			font-size: 12px
// 			font-style: italic
// 			color: $colorBrandLight

// 		.sl-address
// 			line-height: 24px

// 		.sl-telephone
// 			a
// 				font-style: italic !important

// 		.sl-email
// 			a
// 				font-style: italic !important

// 		span
// 			font-size: 12px
// 			display: block

#content
	.location-details-hours p
		font-size: 14px
		line-height: 1.3

	.field-content .cta-button
		display: inline-block
	.body-content
		.service-locations-component.inner, .service-locations-component
			padding: 0 !important
			margin-bottom: 1rem
			li
				width: 100%
				max-width: 400px
	.service-locations-component .service-locations-component
		margin: 0 !important
		padding: 0 !important
	.service-locations-component
		&.inner.clearpadding
			padding: 0 !important
		padding-top: 1rem
		@media (min-width: $bpMed)
			padding-left: 40px !important

		.by-state
			ul
				list-style: circle !important
				margin: 0
				padding: 0 0 0 2rem
			li
				margin: 0 0 1rem 0
				list-style: circle !important
				padding: 0
				width: 100%
				display: list-item
		ul
			list-style: none
			margin: 0
			padding: 0
		li
			list-style: none
			font-size: 14px
			line-height: 1.3
			display: inline-block
			vertical-align: top
			padding: 0 1rem 0 0
			margin: 1rem 0 1rem 0
			width: 100%
			@media (min-width: $bpSmall)
				width: 40%
				margin-right: 20px

			@media (min-width: $bpMed)
			@media (min-width: $bpLarge)
				width: 30%
			a
				display: block
				color: #005699
				font-family: $fontAccent
				font-style: normal
				font-size: 14px

	.service-locations-component li, .location-tiles li
		strong, h4
			border-top: 1px solid #FEBE10
			border-width: 1px 0 0 0
			display: block
			padding-top: 18px
			font-family: $fontAccent
			font-size: 12px !important
			line-height: 1.4
		address,
		div.address
			line-height: 1.8
		.street
			font-weight: bold
		.city-st-zip
			margin-bottom: 1rem
		a.map-link
			display: inline-block
			text-decoration: none
			background-color: #eee
			color: $colorFontDefault
			padding: 5px 20px
			border-radius: 4px
			font-size: 12px
			margin-left: 2rem
			float: right
			border-bottom: 1px solid #ccc
			margin-top: .5rem
			&:hover
				background-color: #ccc
		.phone-number, .email-address
			background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M6.62%2010.79c1.44%202.83%203.76%205.14%206.59%206.59l2.2-2.2c.27-.27.67-.36%201.02-.24%201.12.37%202.33.57%203.57.57.55%200%201%20.45%201%201V20c0%20.55-.45%201-1%201-9.39%200-17-7.61-17-17%200-.55.45-1%201-1h3.5c.55%200%201%20.45%201%201%200%201.25.2%202.45.57%203.57.11.35.03.74-.25%201.02l-2.2%202.2z%22%2F%3E%3C%2Fsvg%3E')
			background-repeat: no-repeat
			background-position: 0 center
			background-size: 16px auto
			padding-left: 25px
			a
				color: $colorFontDefault
				text-decoration: none
				font-weight: bold
				border-bottom: 1px dotted #ccc
				display: inline-block

		.email-address
			background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M20%204H4c-1.1%200-1.99.9-1.99%202L2%2018c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V6c0-1.1-.9-2-2-2zm0%204l-8%205-8-5V6l8%205%208-5v2z%22%2F%3E%3C%2Fsvg%3E')

	ul.hours
		li
			width: 100% !important
			margin: .25rem 0 !important


	.contact-location-tiles
		margin-top: 40px
		.email-address
			background-image: none !important
			padding-left: auto !important
			button[data-recipient]
				display: inline-block
				text-decoration: none
				background-color: #eee
				color: $colorFontDefault
				padding: .5rem 10px 5px 30px
				border-radius: 4px
				font-size: 12px
				border-bottom: 1px solid #ccc
				margin-top: .5rem
				background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M20%204H4c-1.1%200-1.99.9-1.99%202L2%2018c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V6c0-1.1-.9-2-2-2zm0%204l-8%205-8-5V6l8%205%208-5v2z%22%2F%3E%3C%2Fsvg%3E')			
				background-size: 15px 15px
				background-repeat: no-repeat
				background-position: .5rem 50%
				width: 80%
				margin-left: auto
				margin-left: auto
				min-width: 143px
				&:hover
					background-color: darken(#eeeeee,15%)
					border-bottom: 1px solid darken(#cccccc,15%)

	.med-actions
		font-size: 1rem
		h3
			min-height: 60px

	.asset-download-link
		display: inline-block
		text-decoration: none
		color: $colorBrandPrimary
		padding: 20px
		border-radius: 4px
		font-size: 14px
		border: 1px solid #d1d1d1
		margin-top: .5rem
		width: 100%
		min-height: 11rem
		white-space: pre-wrap
		text-transform: uppercase
		text-align: center
		vertical-align: middle
		line-height: 1.47rem
		background-size: 100%
		touch-action: manipulation
		font-weight: bold
		font-family: $fontAccent
		img
			width: 75px
			margin-bottom: 8px
		.file-name
			font-style: normal
		.file-size 
			display: block
			margin-top: 8px
			font-weight: normal
			font-style: italic
			color: #4a4a4a
			text-transform: none
		&:hover, &:focus
			.file-name
				text-decoration: underline
	a.asset-download-link
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		&:after
			content: ""
		&:hover, &:focus
			.file-name
				text-decoration: underline

	.vol-block
		overflow: hidden
		border-bottom: 1px solid #EEEEEE
		padding-top: 1rem
		margin-top: 1rem
		margin-bottom: 2rem
		.service-locations-component
			padding: 0 !important
			li
				width: 100%
				max-width: 400px
		@media (min-width: $bpMed)
			.left-side
				float: left
				width: 48%
			.right-side
				float: right
				width: 48%

	form.contact-with-location-routing
		.form-submit-border
			input[type="submit"]
				padding: 8px 30px
				font-family: $fontAccent
				text-transform: uppercase
				font-style: normal !important
				display: inline-block
				margin-top: 10px
				font-size: 12px
				font-weight: bold
				text-decoration: none
				background-color: $colorAccent
				color: $colorFontDefault
				&:hover
					background-color: darken($colorAccent,15%)

		/* iPhone < 5: */
		@media screen and (device-aspect-ratio: 2/3)
			select, textarea, input[type="text"], input[type="password"],
			input[type="datetime"], input[type="datetime-local"],
			input[type="date"], input[type="month"], input[type="time"],
			input[type="week"], input[type="number"], input[type="email"],
			input[type="url"]
				font-size: 16px

		/* iPhone 5, 5C, 5S, iPod Touch 5g */
		@media screen and (device-aspect-ratio: 40/71)
			select, textarea, input[type="text"], input[type="password"],
			input[type="datetime"], input[type="datetime-local"],
			input[type="date"], input[type="month"], input[type="time"],
			input[type="week"], input[type="number"], input[type="email"],
			input[type="url"]
				font-size: 16px

		/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
		@media screen and (device-aspect-ratio: 375/667)
			select, textarea, input[type="text"], input[type="password"],
			input[type="datetime"], input[type="datetime-local"],
			input[type="date"], input[type="month"], input[type="time"],
			input[type="week"], input[type="number"], input[type="email"],
			input[type="url"]
				font-size: 16px


		/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
		@media screen and (device-aspect-ratio: 9/16)
			select, textarea, input[type="text"], input[type="password"],
			input[type="datetime"], input[type="datetime-local"],
			input[type="date"], input[type="month"], input[type="time"],
			input[type="week"], input[type="number"], input[type="email"],
			input[type="url"]
				font-size: 16px

html[data-useragent*="MSIE 10.0"],
html[data-useragent*="rv:11.0"]
	#content
		a.asset-download-link
			align-items: stretch