#page-services-index
	.hero-container
		margin-bottom: 0

	.service-gallery
		padding-left: 0
		padding-right: 0
		border-top: 40px solid $colorAccent
		background-color: $colorNeutralLighter
		text-align: center

		@media (max-width: $bpMed)
			border-top: none
			overflow-x: scroll
			overflow-y: hidden
			padding-top: 10px
			padding-bottom: 15px
			box-shadow: $largeInsetShadow

		@if $theme == medicalGroup
			@media (max-width: $bpSmall)
				width: calc(100% + 30px)
				margin-left: -15px
				margin-bottom: 15px

		> .component-content
			@media (max-width: $bpMed)
				min-width: 1320px

			.component.rich-text
				text-align: left
				padding-left: 30px

				@media (max-width: $bpMed)
					padding-left: 0

			> *
				position: relative
				top: -60px
				margin-bottom: -40px
				padding-left: 15px
				padding-right: 15px

				@media (max-width: $bpMed)
					top: auto
					margin-bottom: 0
					padding-left: 0
					padding-right: 0
					margin-left: 15px
					margin-right: 15px

			img
				box-shadow: $boxShadow

				@media (max-width: $bpMed)
					box-shadow: none

			.image-caption
				text-align: center
				font-size: 0.8rem
				font-weight: bold
				color: $colorBrandPrimary
				margin-top: 10px
				line-height: 1.4

				@media (max-width: $bpMed)
					margin-top: 0
					background-color: $colorNeutralLightest
					padding: 10px

		.component.rich-text
			p
				color: $colorNeutralLightest
				font-weight: bold
				font-size: 0.8rem
				font-family: $fontAccent
				margin-top: -30px

				@media (max-width: $bpMed)
					margin-top: 0
					color: $colorFontDefault

		.component.image
			width: 16.6%

			@media (max-width: $bpMed)
				width: 190px !important

				a
					box-shadow: $boxShadow

	h2
		margin-top: 0
		border-bottom: 1px solid $colorAccent
		padding-bottom: 15px
		margin-bottom: 15px

	.search-box.tab-search

		input
			@extend .has-search-icon
			max-width: 310px
			font-size: 16px
		label
			@extend .visually-hidden

.navigation-fat
	padding: 0 50px
	@media (max-width: $bpSmall)
		padding: 0 20px
	ul
		display: flex
		flex-wrap: wrap

	li
		width: 28%
		border-right: 1px solid $colorNeutralLight
		margin-top: 0 !important
		margin-bottom: 0 !important
		margin-left: 25px
		margin-right: 30px
		padding-top: 10px !important
		padding-bottom: 10px !important
		padding-right: 15px

		@media (max-width: $bpMed)
			width: 44%
			margin-left: 0 !important

			// Fixing for pages other than services index
			margin-top: 0 !important
			margin-bottom: 0 !important
			margin-right: 30px !important

		@media (max-width: $bpSmall)
			width: 100%
			border-right: none !important

		.field-title, .field-navigationtitle
			line-height: 1.5

		&:nth-child(3n + 1)
			margin-left: 0

		&:nth-child(3n)
			border-right: none

		&:nth-child(odd)
			@media (max-width: $bpMed)
				border-right: 1px solid $colorNeutralLight

		&:nth-child(even)
			@media (max-width: $bpMed)
				border-right: none

		a
			font-style: normal !important
			font-size: 0.8rem
			font-weight: bold

.navigation-fat.filtered
	li
		border-right: none !important

.list-fix
	ul
		border-right: 1px solid $colorNeutralLight
		&:last-child
			border: none
	li
		width: 100% !important
		border: none !important
		margin-left: 10px !important

	&.filtered
		ul
			width: 100%
			margin-bottom: 0 !important
			border: none !important

	@media (max-width: $bpSmall)
		ul
			border: none !important

/*cancer center*/
.cancer-listing
	.specialties-h2-container
		margin-top: 2rem
		padding-left: 0 !important

	.navigation-fat
		padding: 0

		nav
			display: flex
			flex-direction: row
			justify-content: flex-start
			ul
				display: block
				flex: 1
				width: 33%
				border-right: 1px solid #ccc
				li
					width: unset
					border-right: 0
					margin-left: 0
				@media ( max-width: 992px)
					li:nth-child(odd)
						border-right: 0
			ul:nth-child(2n),
			ul:nth-child(3n)
				padding-left: 25px
			ul:nth-child(3n)
				border-right: 0

		@media (max-width: 600px)
			nav
				flex-direction: column
				ul
					width: 100%
					border-right: 0 !important
					padding-left: 0 !important