#content .sitemap-navigation
	li
		margin-bottom: 1rem
		&:last-child
			margin-bottom: 0
		ul
			margin-top: 1rem
			margin-bottom: 0 !important
	li.level0
		font-weight: bold
		font-size: 18px
		padding-left: 40px
	li.level1
		font-size: 16px
		padding-left: 4px
	li.level2
		font-weight: normal
		font-size: 14px
		padding-left: 80px
	li.level3
		font-size: 14px
		padding-left: 100px