/* breakpoints */
/* line 5, ../sass/component-event-list.scss */
.event-list h1, .event-list h2, .event-list h3, .event-list h4, .event-list h5, .event-list h6 {
  border-bottom: 1px solid #ccc;
}

/* line 8, ../sass/component-event-list.scss */
.event-list ul {
  margin: 10px 0;
}

/* line 11, ../sass/component-event-list.scss */
.event-list li {
  background: #fff;
  display: block;
  min-width: 40%;
  margin: 10px 0;
  border: 1px solid #ccc;
  margin-right: 5px;
  padding: 20px;
}

/* line 19, ../sass/component-event-list.scss */
.event-list li:after {
  content: "";
  clear: both;
  display: block;
}

/* line 25, ../sass/component-event-list.scss */
.event-list .event-list-time {
  width: 100px;
  display: block;
  float: left;
  font-weight: bold;
}

/* line 31, ../sass/component-event-list.scss */
.event-list .event-list-place {
  background: url("../images/event-pin.png?1468854111") 0px 8px no-repeat;
  padding-left: 23px;
  float: right;
}

/* line 36, ../sass/component-event-list.scss */
.event-list .event-list-name,
.event-list .event-list-description,
.event-list .event-list-link,
.event-list .event-list-place {
  margin-left: 120px;
  margin-bottom: 10px;
}

/* line 43, ../sass/component-event-list.scss */
.event-list .event-list-name {
  font-size: 16px;
  font-weight: bold;
}

/* line 47, ../sass/component-event-list.scss */
.event-list .event-list-link {
  float: right;
}

/*# sourceMappingURL=component-event-list.css.map */
