/* breakpoints */
/* line 5, ../sass/component-title.scss */
.title h1 {
  font-size: 24px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  line-height: 20px;
  padding-bottom: 8px;
}

/* line 16, ../sass/component-title.scss */
.subtitle h2 {
  font-size: 16px;
}

/*# sourceMappingURL=component-title.css.map */
