/***** Colors **** */
/***** Fonts **** */
/***** Breakpoints **** */
/***** Miscellaneous **** */
/* breakpoints */
/* line 12, ../sass/component-navigation.scss */
.navigation > div > ul {
  padding: 15px;
}

/* line 15, ../sass/component-navigation.scss */
.navigation a {
  text-decoration: none;
}

/* line 17, ../sass/component-navigation.scss */
/* line 21, ../sass/component-navigation.scss */
/* line 26, ../sass/component-navigation.scss */
.navigation .rel-level1 {
  margin-bottom: 5px;
}

/* line 28, ../sass/component-navigation.scss */
.navigation .rel-level1 > a {
  padding: 5px 5px 0 0;
  display: block;
}

/* line 33, ../sass/component-navigation.scss */
.navigation .rel-level2 {
  display: inline;
  padding-left: 10px;
}

/* line 37, ../sass/component-navigation.scss */
.navigation.navigation-main {
  position: relative;
  width: 100%;
}

/* line 40, ../sass/component-navigation.scss */
.navigation.navigation-main > div > ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  list-style: none;
  margin: 0;
  padding: 0 0 0 2px;
}

/* line 47, ../sass/component-navigation.scss */
.navigation.navigation-main > div > ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/* line 57, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: static;
  margin: -2px 0 0 0;
}

/* line 66, ../sass/component-navigation.scss */
/* line 70, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1.submenu > a:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 76, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1 > ul,
.navigation.navigation-main .rel-level1 > .submenu-container {
  display: none;
  z-index: 10;
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  padding: 5px 5px 5px;
  background-color: #FFFFFF;
  border: 1px solid #005699;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.24);
}

.navigation.navigation-main .rel-level1 > ul a,
.navigation.navigation-main .rel-level1 .submenu-container a {
  color: #005699;
}

/* line 88, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1 > a {
  text-decoration: none;
  display: inline;
  position: relative;
}

/* line 92, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1 > a span {
  position: relative;
  z-index: 3;
}

/* line 96, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1 > a:link, .navigation.navigation-main .rel-level1 > a:visited {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* line 106, ../sass/component-navigation.scss */
/* line 108, ../sass/component-navigation.scss */
/* line 118, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1.show > a + ul {
  display: block;
}

/* line 123, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1.show > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.navigation.navigation-main .rel-level1.show > ul li {
  width: 33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation.navigation-main .rel-level1 .submenu-container {
  padding: 30px;
}

.navigation.navigation-main .rel-level1 .submenu-container li a {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: inline-block;
}

/* line 129, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1.wide-nav > ul {
  width: 100%;
  left: 0;
  top: 42px;
  margin: 0;
}

/* line 135, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1.wide-nav > ul .rel-level2.active {
  background: none;
}

/* line 144, ../sass/component-navigation.scss */
/* line 148, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1.active > span {
  display: block;
  padding: 10px 20px;
}

/* line 155, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level1.submenu:hover > a {
  position: relative;
  z-index: 4;
}

/* line 163, ../sass/component-navigation.scss */
/* line 168, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level2 {
  margin: 0;
  padding: 0;
}

/* line 171, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level2 > a {
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  display: block;
  font-weight: normal;
  padding: 5px;
}

/* line 176, ../sass/component-navigation.scss */
/* line 183, ../sass/component-navigation.scss */
/* .navigation.navigation-main .rel-level2.submenu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 25%;
  min-height: 200px;
  float: left;
  padding: 0 10px; } */
/* line 190, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level2.submenu.navigation-image {
  text-align: center;
}

/* line 192, ../sass/component-navigation.scss */
.navigation.navigation-main .rel-level2.submenu.navigation-image > a,
.navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
  text-align: left;
}

/* line 201, ../sass/component-navigation.scss */
.navigation.navigation-main-horizontal {
  position: relative;
}

/* line 203, ../sass/component-navigation.scss */
.navigation.navigation-main-horizontal .rel-level1 {
  position: static;
}

/* line 205, ../sass/component-navigation.scss */
.navigation.navigation-main-horizontal .rel-level1 > ul {
  width: 100%;
  clear: both;
  top: 42px;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

/* line 214, ../sass/component-navigation.scss */
.navigation.navigation-main-horizontal .rel-level2 {
  float: left;
}

/* line 219, ../sass/component-navigation.scss */
.navigation.navigation-fat a {
  text-decoration: none;
}

/* line 222, ../sass/component-navigation.scss */
.navigation.navigation-fat > div > ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  overflow: hidden;
}

/* line 230, ../sass/component-navigation.scss */
.navigation.navigation-fat .rel-level1 {
  margin: 10px 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

/* line 235, ../sass/component-navigation.scss */
.navigation.navigation-fat .rel-level1 > a {
  padding: 5px 10px;
  display: block;
  width: auto;
}

/* line 241, ../sass/component-navigation.scss */
/* line 245, ../sass/component-navigation.scss */
.navigation.navigation-fat .rel-level1 > ul {
  margin: 0px 5px;
}

/* line 249, ../sass/component-navigation.scss */
.navigation.navigation-fat .rel-level2 {
  padding-left: 10px;
  display: block;
}

/* line 255, ../sass/component-navigation.scss */
.navigation.navigation-sidebar {
  border-collapse: collapse;
}

/* line 257, ../sass/component-navigation.scss */
.navigation.navigation-sidebar a {
  text-decoration: none;
}

/* line 260, ../sass/component-navigation.scss */
.navigation.navigation-sidebar > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

/* line 267, ../sass/component-navigation.scss */
.navigation.navigation-sidebar .rel-level1 {
  margin: 0;
  padding-bottom: 10px;
}

/* line 273, ../sass/component-navigation.scss */
.navigation.navigation-sidebar .rel-level1 > a {
  padding: 5px 10px;
  display: block;
  position: relative;
  z-index: 1;
}

/* line 279, ../sass/component-navigation.scss */
.navigation.navigation-sidebar .rel-level1 > a:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 1px 3px 3px 1px;
}

/* line 292, ../sass/component-navigation.scss */
.navigation.navigation-sidebar .rel-level1:last-child {
  border-width: 4px;
}

/* line 295, ../sass/component-navigation.scss */
.navigation.navigation-sidebar .rel-level1 > ul {
  margin-left: 10px;
  margin-top: 5px;
}

/* line 300, ../sass/component-navigation.scss */
.navigation.navigation-sidebar .rel-level2 {
  padding-left: 25px;
  display: block;
}

/* line 307, ../sass/component-navigation.scss */
.navigation.navigation-mobile > div > ul {
  border: none;
}

/* line 310, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level1 {
  border-width: 0 1px 1px 1px;
  padding: 10px;
  background: url("../Images/navigation-single.png") 98% 16px no-repeat #ffffff;
  cursor: pointer;
  margin: 0;
  margin-top: -7px;
}

/* line 318, ../sass/component-navigation.scss */
/* line 321, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level1 > ul {
  margin-left: 25px;
  list-style-image: url("../Images/arrow.gif");
  display: none;
}

/* line 326, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level1.active {
  background: url("../Images/navigation-single-up.png") 98% 16px no-repeat #ffffff;
}

/* line 328, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level1.active > ul {
  display: block;
}

/* line 332, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level1 > a {
  text-decoration: none;
  display: inline;
}

/* line 338, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level2 {
  display: list-item;
}

/* line 340, ../sass/component-navigation.scss */
.navigation.navigation-mobile .rel-level2 > a {
  font-weight: 500;
}

/*# sourceMappingURL=component-navigation.css.map */
