/* breakpoints */
/*$font-stack-primary: 'pt_sansregular', Arial, Helvetica, sans-serif;
$font-stack-secondary: 'MuseoSlab-500', arial, helvetica, sans-serif;*/
/* line 3, ../sass/component-container.scss */
.cover-background > .component-content, .fix-background > .component-content, .parallax-background > .component-content {
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 21, ../sass/component-container.scss */
.fix-background > .component-content {
  background-position: left top;
  background-attachment: fixed;
  min-height: 240px;
}

/* line 28, ../sass/component-container.scss */
.parallax-background > .component-content {
  background-position: 50% 0;
  background-attachment: fixed;
  min-height: 240px;
}

@media only screen and (max-width: 786px) {
  /* line 28, ../sass/component-container.scss */
  .parallax-background > .component-content {
    background-attachment: scroll;
  }
}

/*# sourceMappingURL=component-container.css.map */
