/* breakpoints */
/* line 5, ../sass/component-archive.scss */
.zen-archive .level-1 {
  display: block !important;
  padding-left: 10px;
}

/* line 8, ../sass/component-archive.scss */
.zen-archive .level-1 > li > .group-header {
  font-weight: bold;
}

/* line 14, ../sass/component-archive.scss */
.zen-archive .group-header:before {
  font-size: 10px;
  font-size: 1rem;
  position: absolute;
  content: "+";
  top: 0;
  left: -15px;
  padding: 0;
}

/* line 25, ../sass/component-archive.scss */
.zen-archive ul {
  display: none;
  margin-left: 10px;
  cursor: pointer;
}

/* line 29, ../sass/component-archive.scss */
.zen-archive ul li {
  position: relative;
}

/* line 33, ../sass/component-archive.scss */
.zen-archive .archive-items {
  display: none;
}

/* line 36, ../sass/component-archive.scss */
.zen-archive .archive-items .archive-item {
  cursor: default;
}

/*# sourceMappingURL=component-archive.css.map */
