/* breakpoints */
/* line 7, ../sass/component-file-list.scss */
.file-list.file-list-horizontal li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
}

/* line 15, ../sass/component-file-list.scss */
.file-list.file-list-vertical li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100% !important;
}

/* line 22, ../sass/component-file-list.scss */
.file-list ul:after {
  display: table;
  clear: both;
  content: " ";
}

/* line 27, ../sass/component-file-list.scss */
.file-list li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 20px 5px 0;
  width: 100%;
  float: left;
}

/* line 34, ../sass/component-file-list.scss */
.file-list .field-linktext a {
  text-decoration: none;
}

@media (max-width: 590px) {
  /* line 43, ../sass/component-file-list.scss */
  .file-list li {
    width: 48%;
    margin: 0 2% 0 0;
  }
}
@media (max-width: 500px) {
  /* line 52, ../sass/component-file-list.scss */
  .file-list li {
    width: 100%;
    margin: 0;
  }
}
/* line 3, ../sass/file-list/_file-list-images.scss */
.file-list-images .file-list-items li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
}

/*# sourceMappingURL=component-file-list.css.map */
