/* breakpoints */
/* line 4, ../sass/component-map.scss */
.map {
  border: 1px solid #ccc;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: #fff;
}

/* line 10, ../sass/component-map.scss */
.map .map-canvas {
  position: relative;
}

/* line 13, ../sass/component-map.scss */
.map img {
  max-width: none;
}

/* line 17, ../sass/component-map.scss */
.map .MicrosoftMap .infobox-close {
  position: static;
  float: right;
}

/* line 22, ../sass/component-map.scss */
.map .MicrosoftMap .Infobox .infobox-body {
  height: 100%;
}

/* line 26, ../sass/component-map.scss */
.map .MicrosoftMap .Infobox .infobox-info {
  height: 100%;
  box-sizing: border-box;
}

/*# sourceMappingURL=component-map.css.map */
