/* breakpoints */
/* line 5, ../sass/cookie-notification.scss */
.cookie-notification {
  display: none;
  font-size: 14px;
  font-size: 1.4rem;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 0 0;
  color: #fff;
  text-align: center;
  z-index: 1000;
  background: url(../Images/overlay-bg.png);
}

/* line 20, ../sass/cookie-notification.scss */
.cookie-notification .component-content {
  position: relative;
  height: auto;
  width: 90%;
  padding: 15px;
  margin: 0 auto;
}

/* line 28, ../sass/cookie-notification.scss */
.cookie-notification a {
  color: #fff;
}

/* line 31, ../sass/cookie-notification.scss */
.cookie-notification a:hover, .cookie-notification a:focus {
  color: #fff;
}

/* line 37, ../sass/cookie-notification.scss */
.cookie-notification .close {
  -moz-transform: scale(1.3, 0.95);
  -ms-transform: scale(1.3, 0.95);
  -webkit-transform: scale(1.3, 0.95);
  transform: scale(1.3, 0.95);
  font-size: 35px;
  font-size: 3.5rem;
  position: absolute;
  top: -10px;
  right: 8px;
  font-weight: bold;
}

/* line 46, ../sass/cookie-notification.scss */
.cookie-notification .learnMore {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
}

/* line 51, ../sass/cookie-notification.scss */
.cookie-notification .submit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 20px 0;
}

/* line 55, ../sass/cookie-notification.scss */
.cookie-notification .submit a {
  font-size: 13px;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  text-decoration: none;
  font-weight: bold;
  background: #fff;
  padding: 5px 10px;
  cursor: pointer;
  color: #000;
}

/*# sourceMappingURL=cookie-notification.css.map */
