/* breakpoints */
/* line 5, ../sass/component-promo.scss */
.promo {
  border: 2px solid #222;
  border: 1px solid #ccc;
  padding: 15px;
  background: #fff;
  overflow: hidden;
}

/* line 12, ../sass/component-promo.scss */
.promo.promo-hero {
  position: relative;
  text-align: center;
}

/* line 16, ../sass/component-promo.scss */
.promo.promo-hero.promo-hero-half {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 959px) {
  /* line 16, ../sass/component-promo.scss */
  .promo.promo-hero.promo-hero-half {
    float: none;
    width: 100%;
  }
}
/* line 25, ../sass/component-promo.scss */
.promo.promo-hero .field-promotext {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  padding: 20px;
  color: #222;
  background: #ffffff;
}

/* line 37, ../sass/component-promo.scss */
.promo.promo-hero .field-promotext > a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 959px) {
  /* line 25, ../sass/component-promo.scss */
  .promo.promo-hero .field-promotext {
    width: 100%;
    margin: 0;
  }

  /* line 45, ../sass/component-promo.scss */
  .promo.promo-hero .field-promotext h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  /* line 48, ../sass/component-promo.scss */
  .promo.promo-hero .field-promotext h2, .promo.promo-hero .field-promotext h3, .promo.promo-hero .field-promotext h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}
/* line 56, ../sass/component-promo.scss */
.promo.promoted-box {
  border: none;
}

/* line 62, ../sass/component-promo.scss */
.promo .promo-title {
  margin-bottom: 10px;
}

/* line 64, ../sass/component-promo.scss */
.promo .promo-title a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* line 70, ../sass/component-promo.scss */
.promo .promo-link {
  margin-top: 5px;
  padding-bottom: 10px;
}

/* line 75, ../sass/component-promo.scss */
.promo.image-left .promo-icon {
  float: left;
}

/* line 77, ../sass/component-promo.scss */
.promo.image-left .promo-icon img {
  margin: 0 10px 5px 0;
}

/* line 83, ../sass/component-promo.scss */
.promo.image-right .promo-icon {
  float: right;
}

/* line 85, ../sass/component-promo.scss */
.promo.image-right .promo-icon img {
  margin: 0 10px 0px 5px;
}

/* line 91, ../sass/component-promo.scss */
.promo.image-full-size img {
  width: 100%;
  margin-bottom: 10px;
}

/* line 96, ../sass/component-promo.scss */
.promo.absolute-bottom-link {
  position: relative;
}

/* line 98, ../sass/component-promo.scss */
.promo.absolute-bottom-link .promo-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*# sourceMappingURL=component-promo.css.map */
