/* line 1, ../sass/component-column-splitter.scss */
.row.column-splitter {
  margin-left: 0em;
  margin-right: 0em;
  max-width: none;
  clear: both;
}

/* line 5, ../sass/component-column-splitter.scss */
.row.column-splitter > div {
  padding-left: 0em;
  padding-right: 0em;
}

/*# sourceMappingURL=component-column-splitter.css.map */
@media (min-width: 993px) and (max-width: 1199px) {
  .column-splitter .col-xs-6.col-lg-3 {
      margin-left: calc(25% + 55px);
      margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .column-splitter .col-xs-6.col-lg-3 {
      margin-left: calc(25% + 15px);
      margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .column-splitter .col-xs-6.col-lg-3 {
      margin-left: 0;
  }

  .column-splitter.mobile-column-reverse{
     display: flex;
     flex-direction: column-reverse;
  }
}