---
homepage: true
metaDescription: "The Mid-South’s premier network of hospitals, speciality care centers and physicians. Providing compassionate care for patients in Tennessee, Mississippi and Arkansas"
---
<div class="row hero">
  <div class="bgimage">
    <div class="columns large-6 ">
      <h1>Baptist Memorial Health Care</h1>
      <figure class="hero-inline hide-for-large"><img src="/assets/img/hero_circle.png" alt="Main image - Smiling lady halftone"></figure>
      <p>As the Mid-South’s premier network of hospitals, speciality care centers and physicians, Baptist provides compassionate care for patients and their families in Tennessee, Mississippi and Arkansas.</p>
      <ul>
        <li>Learn about our specialized <a href="/services">Health Care Services</a></li>
        <li>Information for Baptist’s <a href="/patient-visitor">Patients and Visitors</a></li>
        <li>Faith, leadership, history and media: <a href="/about">More About Baptist</a></li>
      </ul>
    </div>
  </div>
</div> 

<article class="row collapse homepage-callouts content">
  <div class="column medium-4">
    <a href="/locations">
      <div class="hp-callout hp-callout-one">
        
        <figure>
          <img src="/assets/img/pho_hospital.jpg" alt="Locate a Baptist Hospital or Clinic">
          <figcaption>Locate a Baptist Hospital or Clinic</figcaption>
        </figure>
      </div>
    </a>
  </div>
  <div class="column medium-4">
    <a href="/find-a-doctor">
      <div class="hp-callout hp-callout-two">
        <figure>
          <img src="/assets/img/pho_doctors.jpg" alt="Find a Doctor at Baptist">
          <figcaption>Find a Doctor at Baptist</figcaption>
        </figure>
      </div>
    </a>
  </div>
  <div class="column medium-4">
    <a href="/careers">
      <div class="hp-callout hp-callout-three">
        <figure>
          <img src="/assets/img/pho_career.jpg" alt="Explore Careers at Baptist">
          <figcaption>Explore Careers at Baptist</figcaption>
        </figure>
      </div>
    </a>
  </div>
</article>
