 <div class="row">
  <div class="column">
  <h1>Completed Pages</h1>
  <ul>
  {{#each sitemap }}
    {{#ifequal headline '---'}}{{else}}
    <li><strong><a href="{{ this.url }}">{{ this.name }}</a> </strong>
    {{/ifequal}}
    {{#if this.subnav}}
    <ul>
      {{#each this.subnav}}
      {{#ifequal headline '---'}}{{else}}
        <li><a href="{{ this.url }}">{{ this.name }}</a></li>
      {{/ifequal}}
      {{/each}}
    </ul>
    {{/if}}
    </li>
  {{/each}}              
</ul> 
</div>
</div>