/* breakpoints */
/* line 5, ../sass/component-overlay.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../Images/overlay-bg.png);
  z-index: 9999;
  display: none;
  text-align: center;
  width: 100%;
}

/* line 17, ../sass/component-overlay.scss */
.overlay.component {
  margin: 0;
}

/* line 21, ../sass/component-overlay.scss */
.overlay > .component-content {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  background-color: #E6E6E6;
  padding: 10px 10px 25px;
  margin: 100px auto auto auto;
  max-width: 90%;
  background: #fff;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* line 35, ../sass/component-overlay.scss */
.overlay > .component-content .component {
  margin: 0;
}

/* line 39, ../sass/component-overlay.scss */
.overlay > .component-content .component.image img {
  width: 100%;
}

/* line 45, ../sass/component-overlay.scss */
.overlay .overlay-inner {
  min-width: 25px;
  max-height: inherit;
  height: inherit;
  overflow: auto;
}

/* line 51, ../sass/component-overlay.scss */
.overlay .overlay-inner.overlay-percent {
  max-height: 100%;
  height: auto;
}

/* line 57, ../sass/component-overlay.scss */
.overlay .overlay-inner:focus {
  border: 1px solid #cccccc;
}

/* line 60, ../sass/component-overlay.scss */
.overlay .overlay-close {
  bottom: 8px;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: -5px;
  bottom: -15px;
}

/* line 69, ../sass/component-overlay.scss */
.overlay .overlay-close-link:focus {
  color: #cccccc;
}

/* line 73, ../sass/component-overlay.scss */
.overlay .overlay-close-link:hover {
  color: #cccccc;
}

/* line 77, ../sass/component-overlay.scss */
.overlay .overlay-close-link {
  text-decoration: none;
}

/* this css class is used on overlay page */
/* line 83, ../sass/component-overlay.scss */
.overlay-page {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../Images/overlay-bg.png);
  z-index: 9999;
  text-align: center;
  width: 100%;
  margin: 0;
}

/* line 93, ../sass/component-overlay.scss */
.overlay-page > .component-content {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  background-color: #E6E6E6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  padding: 10px 10px 25px;
  margin: 100px 60px 60px;
  max-width: 90%;
  background: #fff;
  border: 1px solid #ccc;
}

/* line 106, ../sass/component-overlay.scss */
.overlay-page > .component-content .component {
  margin: 0;
}

/* line 109, ../sass/component-overlay.scss */
.overlay-page > .component-content .component.image img {
  width: 100%;
}

/* line 116, ../sass/component-overlay.scss */
.overlay-page .overlay-inner {
  min-width: 25px;
  height: inherit;
  max-height: inherit;
  min-height: 135px;
  overflow: auto;
}

/* line 122, ../sass/component-overlay.scss */
.overlay-page .overlay-inner.overlay-percent {
  max-height: 100%;
  height: auto;
}

/* line 125, ../sass/component-overlay.scss */
.overlay-page .overlay-inner.overlay-percent.edit {
  max-height: inherit;
}

/* line 131, ../sass/component-overlay.scss */
.overlay-page .overlay-inner:focus {
  border: 1px solid #cccccc;
}

/* line 134, ../sass/component-overlay.scss */
.overlay-page .overlay-close {
  bottom: 8px;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: -5px;
  bottom: -15px;
}

/* line 143, ../sass/component-overlay.scss */
.overlay-page .overlay-close-link:focus {
  color: #cccccc;
}

/* line 147, ../sass/component-overlay.scss */
.overlay-page .overlay-close-link:hover {
  color: #cccccc;
}

/* line 151, ../sass/component-overlay.scss */
.overlay-page .overlay-close-link {
  text-decoration: none;
}

/* line 156, ../sass/component-overlay.scss */
#wrapper.overlay-page {
  margin-bottom: -80px;
}

/* line 161, ../sass/component-overlay.scss */
body.preview .overlay-page {
  position: fixed;
}

/* line 166, ../sass/component-overlay.scss */
.overlay-page .main {
  width: 100%;
}

/* line 172, ../sass/component-overlay.scss */
.on-page-editor .overlay .overlay-inner {
  margin: auto;
}

/* line 177, ../sass/component-overlay.scss */
.on-page-editor .overlay-page {
  z-index: 9000;
}

/*# sourceMappingURL=component-overlay.css.map */
