/* breakpoints */
/* line 7, ../sass/component-tag-cloud.scss */
.tag-cloud .tag-cloud-item.xs {
  font-size: 0.9em;
}

/* line 11, ../sass/component-tag-cloud.scss */
.tag-cloud .tag-cloud-item.s {
  font-size: 1.1em;
}

/* line 15, ../sass/component-tag-cloud.scss */
.tag-cloud .tag-cloud-item.m {
  font-size: 1.3em;
}

/* line 19, ../sass/component-tag-cloud.scss */
.tag-cloud .tag-cloud-item.l {
  font-size: 1.5em;
}

/* line 23, ../sass/component-tag-cloud.scss */
.tag-cloud .tag-cloud-item.xl {
  font-size: 1.8em;
}

/* line 27, ../sass/component-tag-cloud.scss */
.tag-cloud .tag-cloud-item.xxl {
  font-size: 2.0em;
}

/*# sourceMappingURL=component-tag-cloud.css.map */
