/* breakpoints */
/* line 6, ../sass/component-zenblog.scss */
.post .field-title {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 10px 0 0;
  background: url("../images/balsamiq_line.png?1442837450") bottom left repeat-x;
}

/* line 10, ../sass/component-zenblog.scss */
.post .field-title a {
  text-decoration: none;
}

/* line 15, ../sass/component-zenblog.scss */
.post .post-created {
  margin: 5px 0 15px;
  font-style: italic;
}

/* line 23, ../sass/component-zenblog.scss */
.post-list .post-list-entry .divider {
  height: 5px;
  margin: 15px 0;
  background: url("../images/balsamiq_line.png?1442837450") bottom left repeat-x;
}

/* line 28, ../sass/component-zenblog.scss */
.post-list .post-list-entry img {
  float: left;
  margin: 6px 10px 0 0 !important;
}

/* line 37, ../sass/component-zenblog.scss */
.blog-feeds h3 {
  font-size: 16px;
  font-weight: bold;
  background: url("../images/balsamiq_line.png?1442837450") bottom left repeat-x;
}

/* line 42, ../sass/component-zenblog.scss */
.blog-feeds a {
  text-decoration: none;
}

/*# sourceMappingURL=component-zenblog.css.map */
