/* breakpoints */
/* line 6, ../sass/component-divider.scss */
.divider hr {
  margin: 10px 0;
  border: 0;
  height: 0;
  border-top: 1px solid #ccc;
}

/*# sourceMappingURL=component-divider.css.map */
