/* breakpoints */
/* line 5, ../sass/main.scss */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px; }

/* line 12, ../sass/main.scss */
body {
  font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
  position: relative;
  overflow: auto;
  color: #222;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 80px;
  background: url('../images/square_bg.png?1468932199') #fff;
  -webkit-tap-highlight-color: transparent; }

/* line 24, ../sass/main.scss */
.component {
  margin-top: 10px; }

/* line 28, ../sass/main.scss */
#footer {
  border-bottom: 1px solid #ccc; }

/* line 32, ../sass/main.scss */
a {
  color: #222;
  cursor: pointer;
  font-size: 0.85em; }
  /* line 36, ../sass/main.scss */
  a:hover {
    color: #878787; }

/* line 41, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* line 45, ../sass/main.scss */
h1 {
  font-size: 2em; }

/* line 49, ../sass/main.scss */
h2 {
  font-size: 1.5em; }

/* line 53, ../sass/main.scss */
h3 {
  font-size: 1.2em; }

/* line 57, ../sass/main.scss */
h4 {
  font-size: 1em; }

/* line 61, ../sass/main.scss */
h5 {
  font-size: 0.83em; }

/* line 65, ../sass/main.scss */
h6 {
  font-size: 0.67em; }

/* line 69, ../sass/main.scss */
.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

/* line 4, ../sass/core/_utils.scss */
.iframe {
  border: 1px solid #d2d2d2; }
  /* line 6, ../sass/core/_utils.scss */
  .iframe iframe {
    width: 100%;
    min-height: 300px; }

/* line 13, ../sass/core/_utils.scss */
dl dt {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold; }
/* line 17, ../sass/core/_utils.scss */
dl dd {
  font-size: 13px;
  font-size: 1.3rem;
  margin-left: 15px; }

/* line 24, ../sass/core/_utils.scss */
.boxed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 0; }
  @media only screen and (min-width: 381px) and (max-width: 959px) {
    /* line 24, ../sass/core/_utils.scss */
    .boxed {
      padding: 10px; } }
  @media only screen and (max-width: 380px) {
    /* line 24, ../sass/core/_utils.scss */
    .boxed {
      padding: 10px; } }
  /* line 35, ../sass/core/_utils.scss */
  .boxed > div {
    max-width: 960px;
    margin: 0 auto !important; }

/* line 40, ../sass/core/_utils.scss */
.indent {
  margin: 0 40px; }

/* line 44, ../sass/core/_utils.scss */
.indent-top {
  margin-top: 20px; }

/* line 48, ../sass/core/_utils.scss */
.indent-bottom {
  margin-bottom: 20px; }

/* line 52, ../sass/core/_utils.scss */
.position-left {
  text-align: left; }

/* line 56, ../sass/core/_utils.scss */
.position-right {
  text-align: right; }

/* line 60, ../sass/core/_utils.scss */
.position-center {
  text-align: center; }

/* line 64, ../sass/core/_utils.scss */
.container-gray-background {
  background: #f6f6f6;
  padding: 10px 0;
  margin: 0; }

/* line 70, ../sass/core/_utils.scss */
.container-clean-background {
  background: #ffffff;
  padding: 10px 0;
  margin: 0; }

/* line 76, ../sass/core/_utils.scss */
.container-dark-background {
  background: #363839;
  padding: 10px 0;
  margin: 0; }

/* line 82, ../sass/core/_utils.scss */
.container-color-background {
  background: #E01E26;
  padding: 10px 0;
  margin: 0; }

/* line 88, ../sass/core/_utils.scss */
.title-row-box {
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 87px;
  margin: 0;
  padding: 0;
  background: #f6f6f6; }
  /* line 96, ../sass/core/_utils.scss */
  .title-row-box > .component-content {
    max-width: 960px;
    margin: 0 auto !important; }
    /* line 98, ../sass/core/_utils.scss */
    .title-row-box > .component-content .title {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 23px 0 0 0;
      padding: 0; }
      /* line 104, ../sass/core/_utils.scss */
      .title-row-box > .component-content .title h1 {
        font-size: 22px;
        font-size: 2.2rem;
        border: none; }
      @media only screen and (max-width: 959px) {
        /* line 98, ../sass/core/_utils.scss */
        .title-row-box > .component-content .title {
          margin: 23px 0 0 20px; } }
    /* line 115, ../sass/core/_utils.scss */
    .title-row-box > .component-content .rich-text {
      margin: 0; }
      /* line 117, ../sass/core/_utils.scss */
      .title-row-box > .component-content .rich-text h1, .title-row-box > .component-content .rich-text h2, .title-row-box > .component-content .rich-text h3, .title-row-box > .component-content .rich-text h4 {
        margin: 0;
        padding: 0; }
    /* line 123, ../sass/core/_utils.scss */
    .title-row-box > .component-content .breadcrumb {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 14px;
      font-size: 1.4rem;
      margin: 23px 0 0 0;
      padding: 0;
      float: right;
      clear: both; }
      @media only screen and (min-width: 381px) and (max-width: 959px) {
        /* line 123, ../sass/core/_utils.scss */
        .title-row-box > .component-content .breadcrumb {
          margin: 23px 20px 0 0; } }
      @media only screen and (max-width: 380px) {
        /* line 123, ../sass/core/_utils.scss */
        .title-row-box > .component-content .breadcrumb {
          display: none; } }
  @media only screen and (max-width: 959px) {
    /* line 141, ../sass/core/_utils.scss */
    .title-row-box .alpha {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: auto !important;
      float: left; }
    /* line 146, ../sass/core/_utils.scss */
    .title-row-box .omega {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: auto !important;
      float: right; } }

/* line 2, ../sass/core/_grid.scss */
.header-wide #header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

/* line 9, ../sass/core/_grid.scss */
.footer-wide #footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

/* line 16, ../sass/core/_grid.scss */
.content-wide #content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

/* line 23, ../sass/core/_grid.scss */
#header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  padding: 0;
  margin: 0 auto; }
  /* line 31, ../sass/core/_grid.scss */
  #header .header-top > div,
  #header .header-bottom > div {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/* line 40, ../sass/core/_grid.scss */
#footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 0; }
  /* line 48, ../sass/core/_grid.scss */
  #footer .footer-top > div,
  #footer .footer-bottom > div {
    width: 960px;
    margin: 10px auto;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/* line 57, ../sass/core/_grid.scss */
#content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

/* line 64, ../sass/core/_grid.scss */
#wrapper {
  width: 100%; }

@media (max-width: 980px) {
  /* line 70, ../sass/core/_grid.scss */
  #content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }

  /* line 79, ../sass/core/_grid.scss */
  #footer .footer-top > div,
  #footer .footer-bottom > div {
    width: 100%;
    padding: 0 10px; }

  /* line 89, ../sass/core/_grid.scss */
  #header .header-top > div,
  #header .header-bottom > div {
    width: 100%;
    padding: 0 10px; } }
@media (max-width: 768px) {
  /* line 99, ../sass/core/_grid.scss */
  [class*="grid"],
  .row [class*="grid"] {
    float: none;
    width: 100%;
    margin-left: 0; } }
    
.arbitrary-test-remove-me {
  background-color: green; }