a
	text-decoration: underline
	color: $colorBrandPrimary
	font-family: $fontDefault

	&:hover
		text-decoration: underline
		color: $colorBrandLight

a[target="_blank"]:after
	content: '\f08e'
	margin-left: 5px
	font-family: 'FontAwesome'
	font-style: normal
	display: inline-block
	text-decoration: none !important

a.no-link-icon:after
	display: none !important

img
	max-width: 100%
	height: auto
#content
	.body-content .field-content p
		font-size: 16px
	.location-details-hours p
		font-size: 14px
		line-height: 1.3

.image.image-auto-centered img
	display: block
	width: auto
	margin-left: auto !important
	margin-right: auto !important
.image.image-auto-centered a
	width: 100%
h1, .title .component-content .field-title a
	font-family: $fontHeading
	font-size: 3rem
	margin: 20px 0
	line-height: 1

	@media (max-width: $bpSmall)
		font-size: 24px
		line-height: 1.2
		margin-top: 0 !important

.h1-wrapper + .publish-date
	padding-left: 25px
	font-size: 1rem
	font-weight: bold
	margin-bottom: 15px
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
	text-transform: uppercase

	@media (max-width: $bpMed)
		padding-left: 0

	@media (max-width: $bpSmall)
		margin-bottom: 5px
		font-size: 0.9rem

h1
	color: $colorBrandPrimary
	padding-bottom: 15px
	border-bottom: 1px solid $colorNeutralDarker
	margin-bottom: 30px !important

	@media (max-width: $bpSmall)
		margin-bottom: 15px !important

h2
	color: $colorBrandPrimary
	font-family: $fontAccent
	font-size: 1.5rem

h3, h4
	font-size: 0.8rem
	font-family: $fontAccent
	text-transform: uppercase
	font-weight: bold

h3
	color: $colorFontDefault
	line-height: 1.4

h4
	color: $colorFontDefault

h5
	font-family: $fontAccent
	font-weight: bold
	margin-bottom: 10px

input
	font-family: $fontAccent

input[type="submit"], input[type="button"], button, button[type="submit"]
	@if $theme == baptistOnline
		background-color: $colorBrandLight
	@else if $theme == brainSpineNetwork
		background-color: $colorBrandLight
	@else
		background-color: $colorBrandPrimary
	background-image: none
	border: none
	border-radius: 0
	text-transform: uppercase
	text-shadow: none
	color: $colorBrandLightest
	font-family: $fontAccent
	box-shadow: none

	&:hover
		@if $theme == baptistOnline
			background-color: $colorBrandLight
		@else if $theme == brainSpineNetwork
			background-color: $colorBrandLight
		@else if $theme == cancerCenter
			background-color: $colorBrandPrimary

	&:focus
		outline: 5px auto -webkit-focus-ring-color
		outline-offset: -2px

input.has-search-icon
	background-image: url('/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/search-icon.svg')
	background-position: 10px center
	background-size: 18px 18px
	background-repeat: no-repeat
	padding-left: 40px !important

//A bunch of fixes for IE10 and 11
html[data-useragent*='MSIE 10.0']
	input
		font-family: Gotham, sans-serif

html[data-useragent*='MSIE 10.0']
	input.has-search-icon
		background-image: none
		padding-left: 10px !important

	#page-find-doctor #content .tab-search .component-content > *
		-ms-flex-positive: 0
		-ms-flex-negative: 1
		-ms-flex-preferred-size: auto

html[data-useragent*='MSIE 10.0'], html[data-useragent*='rv:11.0']
	header .search-box .component-content .twitter-typeahead,
	header .search-box-baptist .component-content .twitter-typeahead,
	#page-services-index #content .twitter-typeahead
		margin-left: 0

html[data-useragent*='MSIE 10.0'], html[data-useragent*='rv:11.0']
	.event-list .atc-style-blue.addtocalendar .atcb-link
		@media (min-width: $bpSmall)
			padding: 0.6rem 1rem

//Fix for iOS not being able to handle Amharic characters
[lang="am"]
	font-family: "Noto Sans Ethiopic"

.search-box-baptist
	input.has-search-icon.search-box-input-baptist
		border-radius: 0
		margin-top: 0

.search-box
	.component-content
		justify-content: flex-end
	.search-box-input
		max-width: 200px
		border-radius: 0

strong
	font-weight: bold

em
	font-style: italic

sup
	font-size: 75%

blockquote
	margin-top: 30px
	margin-bottom: 30px

	&:before
		content: ''
		width: 12px
		height: 90%
		position: absolute
		background-color: orange
		left: -12px
		top: 5%

	p
		font-size: 1.4rem
		font-style: italic
		quotes: '\0022' '\0022'
		display: inline

		&:before
			content: open-quote
		&:after
			content: close-quote

	cite
		display: inline-block
		margin-left: 10px
		font-size: 0.8rem

		&:before
			content: '-'

	footer
		background-color: transparent
		padding: 0
		text-align: left
		margin-top: 15px

		a
			font-family: $fontDefault
			font-style: italic
			font-size: 0.8rem

		&:before
			content: ''

iframe
	max-width: 100%

.rich-text ul,
.content ul
	padding-top: 0
	padding-bottom: 0

.embedded-ebook
	width: 910px
	height: 750px

.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0, 0, 0, 0)
	border: 0

.skip-link
	@extend .visually-hidden

.skip-link:focus
	position: static !important
	width: auto !important
	height: auto !important
	margin: auto auto auto -15px !important
	clip: auto !important
	font-size: 0.9rem
	@if $theme == baptistOnline
		color: $colorNeutralLightest
	@else if $theme == brainSpineNetwork
		color: $colorNeutralLightest
	@else if $theme == cancerCenter
		color: $colorNeutralLightest
	@else if $theme == medicalGroup
		color: $colorFontDefault

//Prevents registration marks inside links from breaking the underline
.reg-mark
	position: relative
	letter-spacing: 0.3em
	color: inherit

	&:before
		content: '\00AE'
		color: inherit
		position: absolute
		top: -0.75em
		font-size: 60%
		text-decoration: none

	&:after
		content: ' '
		display: inline-block

.table-responsive table
	margin-top: 0 !important

.content table caption
	background-color: transparent
	padding: 0
	font-size: 0.8rem
	font-weight: normal
	color: $colorFontDefault
	font-family: $fontAccent
	font-style: italic
	margin-bottom: 8px

.content table.table-caption-hidden caption
	@extend .visually-hidden

.no-tel-link
	pointer-events: none

	a
		text-decoration: none
		color: inherit

.right-sidebar
	padding-left: 15px !important

	@media (max-width: $bpSmall)
		padding-left: 0 !important

.spence-and-becky
	padding-left: 15px
	padding-right: 15px

	@media (max-width: $bpMed)
		padding-left: 0
		padding-right: 0

.video-caption
	font-style: italic
	margin-top: 8px
	display: block

.component.video
	margin-bottom: 15px

.component-padding-container
	padding-left: 0
	padding-right: 0

#image-modal
	text-align: center
	margin-left: auto
	margin-right: auto

	.modal-dialog
		width: auto
		display: inline-block

		@media (max-width: $bpSmall)
			padding: 30px

		.modal-content
			border-radius: 0

			.modal-body
				padding: 0

				.close
					position: absolute
					right: -25px
					top: -25px
					opacity: 0.60
					font-size: 30px

				img
					display: block

.page-list
	.publish-date
		margin-top: 5px
		font-size: 0.9rem

		@media (max-width: $bpMed)
			font-size: 0.75rem

	@media (max-width: $bpMed)
		padding: 0

		a
			font-style: normal !important
			line-height: 1.4

.list-pagination
	font-size: 130%
	margin-top: 15px
	margin-bottom: 15px

	@media (max-width: $bpMed)
		padding: 0

	nav
		*
			padding-left: 15px

			@media (max-width: $bpSmall)
				display: none

				&:nth-child(1),
				&:nth-child(2),
				&:nth-last-child(1),
				&:nth-last-child(2)
					display: inline

			@media (max-width: $bpMed)
				&:nth-child(1)
					padding-left: 0

			&:nth-child(1):before
				content: '\f100\00a0'
				font-family: FontAwesome

			&:nth-child(2):before
				content: '\f104\00a0'
				font-family: FontAwesome

			&:nth-last-child(1):after
				content: ' \f101'
				font-family: FontAwesome

			&:nth-last-child(2):after
				content: ' \f105'
				font-family: FontAwesome

	a
		font-style: normal !important

#other-search-components
	padding-left: 45px
	padding-right: 45px

	@media (max-width: $bpMed)
		text-align: center
		padding-left: 15px
		padding-right: 15px

	#no-results-message,
	#show-all-button
		display: none

	#no-results-message
		color: $colorFontDefault
		line-height: 1.4
		font-size: 1rem
		font-family: $fontAccent
		text-transform: uppercase
		font-weight: bold
		margin-bottom: 1.5rem

		@media (max-width: $bpMed)
			margin-top: 1rem

	#show-all-button
		padding: 8px 30px
		font-family: $fontAccent
		text-transform: uppercase
		font-style: normal !important
		font-size: 12px
		font-weight: bold
		text-decoration: none
		background-color: $colorAccent
		color: $colorFontDefault
		margin: 0.5rem auto 0.5rem auto
		&:hover
			color: $colorFontDefault

main .navigation-main
	@media (max-width: $bpMed)
		margin-bottom: 15px

	a
		@media (max-width: $bpMed)
			font-style: normal !important

#content
	.component.accordion
		padding: 0
		
		.field-heading
			color: $colorFontDefault
			text-align: left
			font-size: .8rem
			font-family: $fontAccent !important
			padding: 0

		ul
			margin-bottom: 0
			padding: 0

		.toggle-content
			padding: 9px
			line-height: 1.1

			p
				line-height: 1.4
				margin: .5rem 0

		.toggle-header:hover
			background-color: #f0f0f0

		.item.active .toggle-header
			border-bottom: 1px solid #cccccc

// .hero
// 	@if $theme == baptistOnline
// 		background-image: url('/-/media/08f78dba49ba47e9875927080111fcac6b17d32f.png')
// 	@else if $theme == cancerCenter
// 		background-image: url('/-/media/e176739af18d913f60943df6addbe895ef4de94b.png')
// 	@else if $theme == medicalGroup
// 		background-image: url('/-/media/c860b64f4f4832a8742c0974d02ad79803315e0f.png')
// 	background-size: cover
// 	background-repeat: no-repeat
// 	background-position: center center
// 	height: 500px
// 	@if $theme == baptistOnline
// 		color: $colorNeutralLightest
// 	@if $theme == cancerCenter
// 		color: $colorFontDefault
// 	font-family: $fontAccent
// 	position: relative
// 	@if $theme == baptistOnline
// 		text-shadow: $textShadow

// 	@media (max-width: $bpSmall)
// 		background-size: 100% auto
// 		background-position: center 50px
// 		min-height: 300px
// 		height: auto

// 		.component-content
// 			position: static !important
// 			transform: none !important
// 			margin-top: calc(56.25% + 80px)
// 			margin-bottom: 20px

// 	.component-content
// 		width: 100%
// 		max-width: 450px
// 		position: absolute
// 		top: 60%
// 		transform: translateY(-50%)

// 		h1
// 			font-family: $fontHeading
// 			margin: 20px 0
// 			padding-bottom: 0
// 			border-bottom: none

// 			@if $theme == baptistOnline
// 				color: $colorNeutralLightest
// 			@else if $theme == cancerCenter
// 				color: $colorCancerCenterPrimary
// 			@else if $theme == medicalGroup
// 				color: $colorBrandPrimary

// 			@media (max-width: $bpSmall)
// 				position: relative
// 				left: -15px
// 				height: 65px
// 				width: 70%
// 				background-color: $colorAccent
// 				padding: 8px 30px 8px 30px
// 				font-weight: bold
// 				font-size: 1.4rem
// 				line-height: 1.1
// 				color: $colorFontDefault
// 				box-shadow: $boxShadow
// 				text-shadow: none
// 				margin: 0 0 -40px 0
// 				min-width: 280px

// 				&:after
// 					content: ' '
// 					display: block
// 					position: absolute
// 					width: 50px
// 					height: 100%
// 					right: -10px
// 					top: 0
// 					background-color: $colorAccent
// 					transform: skew(-15deg)

// 				& + *
// 					color: $colorFontDefault
// 					text-shadow: none
// 					font-size: 1rem !important
// 					font-family: $fontDefault

// 					a
// 						color: $colorBrandLight
// 						font-family: $fontDefault

// 		a
// 			@if $theme == cancerCenter
// 				color: $colorFontDefault
// 			@else if $theme == medicalGroup
// 				color: $colorNeutralLightest
// 			@else
// 				color: $colorAccent

// 			font-family: $fontAccent
// 			font-style: normal !important

// 			@if $theme == cancerCenter
// 				background-color: $colorAccent
// 				box-shadow: $boxShadow
// 				font-weight: bold

// 				&:hover
// 					color: $colorFontDefault

// 			@if $theme == medicalGroup
// 				box-shadow: $boxShadow
// 				font-weight: bold

// 		ul
// 			margin-left: 0

// 			li
// 				list-style-position: outside
// 				margin-left: 15px

// 		p
// 			font-size: 1.1em
// 			line-height: 1.8



$heroH1: black
$heroBodyColor: black
$heroLinkColor: blue

@if $theme == baptistOnline
	$heroH1: $colorNeutralLightest
@else if $theme == cancerCenter
	$heroH1: $colorBrandPrimary
@else if $theme == medicalGroup
	$heroH1: $colorBrandPrimary
@else if $theme == brainSpineNetwork
	$heroH1: $colorNeutralLightest	

@if $theme == baptistOnline
	$heroBodyColor: $colorNeutralLightest
@if $theme == cancerCenter
	$heroBodyColor: $colorFontDefault
@if $theme == brainSpineNetwork
	$heroBodyColor: $colorNeutralLightest

@if $theme == cancerCenter
	$heroLinkColor: $colorFontDefault
@else if $theme == medicalGroup
	$heroLinkColor: $colorNeutralLightest
@else
	$heroLinkColor: $colorAccent


#content .hero
	padding-top: 220px
	padding-bottom: 80px
	background-size: cover
	background-position: 75% bottom
	color: $heroBodyColor
	@if $theme == cancerCenter
		background-position: top center
	@media (min-width: $bpSmall + 1)
		min-height: 600px
	h1
		font-family: $fontHeading
		color: $heroH1
	p
		font-family: $fontAccent
		font-size: 18px
	h1, p
		border-bottom: 0
		padding-left: 20px
		max-width: 50%
	@media (min-width: 1000px)
		ul
			margin-bottom: 300px
	@media (max-width: $bpMed)
		padding-top: 240px
	@media (max-width: $bpSmall)
		background-position: top center
		padding-top: 36%
		background-size: 100% auto
		background-repeat: no-repeat
		margin-top: 105px
		padding-bottom: 1rem
		@if $theme == baptistOnline
			margin-top: 105px
		@else if $theme == medicalGroup
			margin-top: 50px
		@else if $theme == cancerCenter
			margin-top: 50px
		@else if $theme == brainSpineNetwork
			margin-top: 105px
		h1, p
			padding-left: 0
			max-width: 80%
		h1
			background-color: $colorAccent
			color: $colorNeutralDarkest
			margin-left: -20px
			font-size: 20px
			padding: 10px 20px
			display: inline-block
		p
			font-size: 14px
			color: $colorNeutralDarkest
			max-width: none

			@if ($theme == medicalGroup)
				font-size: 1rem

#page-home #content
	.hero

		@if $theme == baptistOnline
			padding-bottom: 200px
		@else if $theme == cancerCenter
			padding-bottom: 240px
			p
				padding-left: 0
		@else if $theme == medicalGroup
			padding-top: 300px
			padding-bottom: 300px
			p
				padding-left: 0
		@else if if $theme == brainSpineNetwork
			padding-bottom: 200px


		@media (max-width: $bpSmall)
			@if $theme == baptistOnline
				padding-top: 52%
			@else if $theme == medicalGroup
				padding-top: 52%
			@else if $theme == cancerCenter
				padding-top: 54%
			@else if $theme == brainSpineNetwork
				padding-top: 52%
			border-bottom: 1px solid #000
			padding-bottom: 4%

		@media (min-width: 550px) and (max-width: $bpSmall) and (max-height: 550px)
			@if $theme == baptistOnline
				padding-top: 36%
				background-position: center -100px !important
			@else if $theme == medicalGroup
				padding-top: 36.5%
				background-position: center -134px !important
			@else if $theme == cancerCenter
				padding-top: 44%
				background-position: center -90px !important
			@else if $theme == brainSpineNetwork
				padding-top: 36%
				background-position: center -100px !important

		> .component-content
			padding-left: 20px
			h1, ul
				padding: 0
				margin: 0
			h1
				font-size: 4rem
				color: $heroH1
			ul
				font-family: $fontAccent
				padding-left: 20px
				margin-bottom: 1rem
				a
					color: $heroLinkColor
					font-family: $fontAccent
					font-weight: bold
					@if $theme == cancerCenter
						background-color: $colorAccent
						box-shadow: $boxShadow
						font-weight: bold
						&:hover
							color: $colorFontDefault
					@if $theme == medicalGroup
						box-shadow: $boxShadow
						font-weight: bold

			@media (max-width: $bpSmall)
				h1
					color: $colorNeutralDarkest
					font-size: 20px
					margin-left: -35px
					padding: 15px 35px
				ul, li, p
					color: $colorNeutralDarkest
					font-family: $fontAccent
					padding: 0
					a
						color: $heroLinkColor
						font-style: normal
				ul
					margin-bottom: 1rem
					padding-left: 10px

.hero-container
	padding: 0 !important


.margin-bottom-pad
	margin-bottom: 2rem
	@media (max-width: $bpSmall)
		margin-bottom: 0

.sub-hero
	@media (max-width: $bpSmall)
		width: 100%
		padding-bottom: 20px
		background-color: $colorNeutralLight

		&:first-child
			padding-top: 20px

		&:last-child
			padding-bottom: 20px

		.component.image
			transform: none !important

	.component.image
		transform: translateY(-50%)
		.component-content
			/* &:before
				content: ' '
				display: block
				width: 15px
				height: 60px
				background-color: $colorAccent
				left: -15px
				top: 50%
				position: absolute
				box-shadow: $boxShadow
				z-index: -1 */

			/* &:after
				content: ' '
				display: block
				width: 15px
				height: 60px
				background-color: $colorAccent
				right: 0
				top: 50%
				position: absolute
				box-shadow: $boxShadow
				z-index: -1 */

			img
				box-shadow: $boxShadowHeavy

			.image-caption
				position: absolute
				top: 49%
				left: -15px
				height: 60px
				max-width: 70%
				@if $theme == baptistOnline
					background-color: $colorAccent
				@else if $theme == cancerCenter
					background-color: $colorCancerCenterPrimary
				@else if $theme == medicalGroup
					background-color: $colorBrandLight
				@else if $theme == brainSpineNetwork
					background-color: $colorAccent
				padding: 15px 60px 15px 45px
				font-weight: bold
				font-size: 0.9rem !important
				line-height: 1.1
				@if $theme == baptistOnline
					color: $colorBrandPrimary
				@else if $theme == cancerCenter
					color: $colorNeutralLightest
				@else if $theme == medicalGroup
					color: $colorNeutralLightest
				@else if $theme == brainSpineNetwork
					color: $colorNeutralLightest
				box-shadow: $boxShadow

				&:after
					content: ' '
					display: block
					position: absolute
					width: 50px
					height: 100%
					right: -10px
					top: 0
					@if $theme == baptistOnline
						background-color: $colorAccent
					@else if $theme == cancerCenter
						background-color: $colorCancerCenterPrimary
					@else if $theme == medicalGroup
						background-color: $colorBrandLight
					@else if $theme == brainSpineNetwork
						background-color: $colorBrandLight
					transform: skew(-15deg)

				@media (max-width: $bpLarge)
					max-width: 80%
					padding-right: 30px

					&:after
						width: 20px

				@media (max-width: $bpMed)
					font-size: 0.8rem !important

				@media (max-width: $bpSmall)
					font-size: 1rem !important

	&:first-child
		.component.image
			.component-content
				.image-caption
					left: 0
					padding-left: 30px

	&:last-child
		.component.image
			.component-content
				&:after
					content: ' '
					display: block
					width: 15px
					height: 60px
					@if $theme == baptistOnline
						background-color: $colorAccent
					@else if $theme == cancerCenter
						background-color: $colorCancerCenterPrimary
					@else if $theme == medicalGroup
						background-color: $colorBrandLight
					@else if $theme == brainSpineNetwork
						background-color: $colorBrandLight
					right: 0
					top: 49%
					position: absolute
					box-shadow: $boxShadow
					z-index: -1

.sub-hero-bar
	background-color: $colorAccent
	text-align: center
	font-weight: bold
	font-style: italic
	padding: 15px
	margin-bottom: 30px
	.component-content
		font-size: 14px
.feature-intro
	background-color: $colorNeutralLight
	background-image: url('/-/media/19c2725cc1419dd245d9f8da1e85371f7a0fee65.png')
	background-size: auto 100%
	background-repeat: no-repeat
	background-position: right center
	padding: 60px 30px !important
	font-size: 0.9rem

	.component-content p
		max-width: 50%

	@media (max-width: 900px)
		background-position: 210px center

	@media (max-width: $bpSmall)
		position: relative
		padding: 0 !important
		background-position: right center
		.component-content
			background-color: rgba(#000, .5)
			padding: 20px 15px
			p, h2
				max-width: 100%
				color: #fff
				display: block

.columns-with-borders
	border-right: 1px solid $colorNeutralDark

	&:last-child
		border-right: none

.component.link-list.year-list
	.component-content
		ul
			display: flex
			flex-direction: row
			flex-wrap: wrap
			margin-left: 15px

		li
			width: 35%
			margin-left: 0

			a
				font-family: $fontAccent
				font-style: normal !important
				display: block
				margin-bottom: 10px
				color: $colorBrandLight
				font-weight: bold

.component.link-list.link-list-expandable
	padding-left: 0
	padding-right: 0
	position: relative

	.field-link a
		font-size: 13px
		text-decoration: none

	@media (max-width: $bpSmall)
		width: auto
		margin-left: 0

	> .component-content
		transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1)
		position: relative
		z-index: 2

		@media (max-width: $bpMed) and (min-width: $bpSmall)
			width: calc(100% + 30px)
			margin-left: -15px

		> h3
			background-color: $colorBrandDark
			padding: 15px 15px
			color: $colorNeutralLightest
			position: relative
			margin-bottom: 0 !important

			&:after
				position: absolute
				content: ''
				background-image: url('/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/right-arrow-accent.svg')
				background-repeat: no-repeat
				background-position: center center
				background-size: 12px
				top: 0
				right: -30px
				width: 40px
				height: 100%
				text-align: center
				padding: 15px
				background-color: $colorBrandDark
				border-radius: 0 50% 50% 0
				z-index: -1
				transform: translateX(-100%)
				transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s
				cursor: pointer
				font-weight: normal

	ul
		background-color: $colorBrandLightAccent
		margin-left: 0
		padding: 15px 15px
		margin-bottom: 0 !important

		li
			padding-top: 10px
			padding-bottom: 10px
			border-bottom: 1px solid transparentize($colorBrandLightest, 0.72)
			margin-left: 0
			width: 100%

			&:last-child
				border-bottom: 0

			a
				color: $colorNeutralLightest
				font-family: $fontAccent
				font-style: normal !important

.component.link-list.link-list-expandable.expanded
	> .component-content
		transform: translateX(-100%)

		@media (max-width: $bpMed)
			transform: translateX(-98%)

		@media (max-width: $bpMed) and (min-width: $bpSmall)
			margin-left: -15px
			transform: translateX(-99%)

		> h3
			cursor: pointer

			&:after
				transform: translateX(0)
				transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0.5s

				@media (max-width: $bpSmall)
					background-image: url('/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/close-icon-accent.svg')

.link-list-expandable-content
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0

	@media (max-width: $bpMed) and (min-width: $bpSmall)
		width: calc(100% + 30px)
		margin-left: -15px

	&.career-search
		background-color: $colorNeutralLighter
		padding-top: 80px
		padding-left: 30px

		h2, h3
			color: $colorFontDefault
			margin-bottom: 1rem

		h1
			font-size: 1.3rem

		a
			font-style: normal
			color: $colorBrandPrimary
			font-weight: bold

		p
			margin-bottom: 1rem
			line-height: 1.8rem
			max-width: 500px

		.search-box,
		.search-box-baptist
			margin-top: 0

			.component-content .twitter-typeahead
				margin-left: 0
				margin-right: 0
.template-category-page #content .component.navigation.navigation-sidebar
	@media (min-width: $bpSmall)
		padding-left: 20px !important
#content .component.navigation.navigation-sidebar
	padding-left: 40px !important
	@media (max-width: $bpSmall)
		padding: 0 !important

	ul
		@media (max-width: $bpSmall)
			@if $theme == medicalGroup
				border-bottom: 1px solid $colorNeutralDark
				border-top: 1px solid $colorNeutralDark
				padding-top: 10px
				margin-bottom: 1rem

				li:last-child
					padding-bottom: 0
	li
		margin-bottom: 0
	.active a
		font-weight: bold
		color: $colorNeutralDarkest
	li.submenu
		margin-bottom: 0
		ul, li
			margin: 0
			padding: 0
			color: $colorNeutralDark
		ul
			padding-left: 18px
			margin: 0
			border-bottom: 1px solid $colorNeutralDark
			padding-bottom: .5rem
		li
			list-style: disc !important
			display: list-item
			.field-navigationtitle
				border-bottom: 0
				margin: .6rem 0 0 0
				padding: 0
			a
				font-weight: normal
				color: $colorFontDefault
			&.active a
				font-weight: bold
	.field-title,
	.field-navigationtitle
		border-bottom: 1px solid $colorNeutralDark
		padding-bottom: 10px

	li:last-child
		.field-title,
		.field-navigationtitle
			border-bottom: 0

	a
		color: $colorBrandPrimary
		font-family: $fontAccent
		font-style: normal !important
	li.active a, li.level2.active
		.field-navigationtitle
			font-weight: bold !important
			color: $colorNeutralDarkest

main #content .aside .location-box
	h3
		color: #fff
	@media (max-width: $bpSmall)
		padding-left: 0
		padding-right: 0

		h4
			display: none

	.location-box-content
		display: flex

		.location-box-text
			background-color: $colorBrandLight
			color: $colorNeutralLightest
			padding: 20px
			width: 60%
			font-family: $fontAccent
			line-height: 1.8
			font-size: 0.7rem
			box-shadow: $rightInsetBoxShadow

			@media (max-width: $bpMed)
				padding-left: 15px

			@media (max-width: $bpSmall)
				width: 100%
				box-shadow: none
				background-color: $colorBrandPrimary
				white-space: nowrap
				padding-right: 15px

			.location-box-text-left
				display: block
				.cta-button-accent
					min-width: 100%
					text-align: center
				p


				h3
					color: $colorNeutralLightest !important
					border-bottom: none !important
					padding-bottom: 0 !important
					margin-bottom: 8px !important

				@media (max-width: $bpSmall)
					display: inline-block
					width: 50%
					white-space: normal
					vertical-align: middle
					font-size: 0.8rem

				@media (max-width: 434px)
					display: block
					width: 100%

			.location-box-text-right
				display: none

				@media (max-width: $bpSmall)
					display: inline-block
					width: 50%
					white-space: normal
					vertical-align: middle
					text-align: center

					.cta-button-accent
						padding-left: 15px
						padding-right: 15px
						margin-top: 0
						min-width: 100%

					.location-box-map-icon
						display: block
						margin: 0 auto 10px auto
						max-width: 95px

				@media (max-width: 434px)
					display: block
					width: 100%

			a:not(.cta-button-accent)
				font-style: normal !important
				color: $colorNeutralLightest
				font-family: $fontAccent

				&:hover
					color: $colorNeutralLightest

			.cta-button-accent
				display: inline-block
				box-shadow: $boxShadowHeavy
				margin-top: 15px

				&:after
					display: none

			.location-box-email:after
				content: '\f003'
				font-family: FontAwesome
				margin-left: 5px
				position: absolute
				margin-top: 1px

		.location-box-map
			width: 40%
			background-color: $colorNeutralLighter
			background-size: cover
			background-position: center center
			position: relative

			@media (max-width: $bpSmall)
				display: none

			#location-listing-mapid
				position: absolute !important

.search-box,
.search-box-baptist
	margin-top: 30px
	margin-bottom: 30px
	padding: 0

	@media (max-width: $bpLarge)
		padding-right: 15px

	@media (max-width: $bpMed)
		margin-top: 15px
		margin-bottom: 15px

	@media (max-width: $bpSmall)
		display: block
		width: 100%

	.component-content
		display: flex

		.twitter-typeahead
			max-width: 400px
			margin-left: auto
			margin-right: 0

			@media (max-width: $bpSmall)
				width: 65%

			input[type="text"]
				max-width: 400px
				border-radius: 0
				left: auto !important
				right: 0

				&.tt-input
					right: auto
					margin-left: auto
					margin-right: 0

			.tt-dropdown-menu
				display: none !important

		.search-box-button,
		.search-box-button-baptist,
		.search-box-button-with-redirect
			color: $colorFontDefault
			height: 34px
			box-shadow: none
			position: relative
			z-index: 1
			background-color: $colorAccent
			float: none
			margin-left: -4px

			@media (max-width: $bpSmall)
				width: 35%
				max-width: 120px

.tab-search.search-box,
.tab-search.search-box-baptist
	transform: translateY(100%)
	margin-top: 0
	margin-bottom: 0
	position: relative
	z-index: 1
	display: inline-block
	max-width: 500px
	float: right
	margin-right: 15px

	@media (max-width: $bpLarge)
		margin-right: 0

	@media (max-width: $bpMed)
		transform: none
		margin-top: 15px
		margin-bottom: 15px
		padding-left: 15px

	.component-content
		text-align: right
		display: flex

#content
	.component-content
		.component.search-box-baptist
		.tab-search.component.search-box-baptist
			max-width: 500px

.leadership-block
	padding-left: 40px

	.component-content
		padding-bottom: 30px
		border-bottom: 1px solid $colorNeutralLighter
		margin-bottom: 30px

	h3
		color: $colorFontDefault
		text-transform: none

	img
		width: 150px
		height: auto
		float: right
		margin-left: 15px
		margin-bottom: 30px
		box-shadow: $largeShadow

	&:last-child
		.component-content
			padding-bottom: 0
			border-bottom: none
			margin-bottom: 0

.leadership-list
	li
		margin-bottom: 20px
		list-style: none !important
		margin-left: 0 !important

		img
			max-width: 18%
			border-radius: 50%
			display: inline-block
			vertical-align: middle

		p
			padding: 0

		.leader-details
			display: inline-block
			vertical-align: middle
			padding-left: 5px
			max-width: 80%

			.leader-name
				a
					color: $colorBrandPrimary
					font-weight: bold
					font-family: $fontAccent
					font-size: 0.8rem
					line-height: 1.2
					font-style: normal !important

			.leader-title
				font-style: italic
				line-height: 1.2

.image-grid
	height: 300px
	margin-bottom: 30px

	@media (max-width: $bpLarge)
		height: auto

	> .component-content
		display: flex
		align-items: center
		height: 100%

		@media (max-width: $bpLarge)
			flex-wrap: wrap

		.component.image
			width: 32%
			padding-left: 1%
			padding-right: 1%

			@media (max-width: $bpLarge)
				padding-top: 1% !important
				padding-bottom: 1% !important

			.component-content
				height: 100%

			img
				width: 100%
				height: auto
				display: block
				margin: 0 auto !important

				@media (max-width: $bpLarge)
					max-height: 300px
					width: auto

			&.image-grid-portrait-img
				height: 100%

				@media (max-width: $bpLarge)
					height: auto

				img
					height: 100%
					width: auto


.other-locations
	margin-bottom: 0 !important

	> .component-content
		display: flex
		flex-wrap: wrap

		> *
			background-color: $colorNeutralLight
			font-family: $fontAccent
			width: 50%
			padding: 15px
			width: calc(50% - 5px)
			line-height: 2
			margin-right: 10px
			margin-bottom: 0 !important

			&:nth-child(odd)

			&:nth-child(even)
				margin-right: 0

			&:only-child
				width: 100%

			@media (max-width: $bpMed)
				width: 100%
				margin-right: 0
				margin-bottom: 15px !important

				&:last-child
					margin-bottom: 0 !important

main
	.navigation-main
		li
			margin-right: 15px !important
			font-size: 1.2rem !important

.services-search
	h2
		margin-top: 0
		border-bottom: 1px solid $colorAccent
		padding-bottom: 15px
		margin-bottom: 15px
		padding-left: 20px
		@media (max-width: $bpSmall)
			padding-left: 0
	.search-box.tab-search,
	.search-box-baptist.tab-search
		input
			@extend .has-search-icon

		label
			@extend .visually-hidden

	.navigation-fat
		ul
			display: flex
			flex-wrap: wrap
			@media (max-width: $bpSmall)
				margin: 0
				padding: 0
		li
			width: 28%
			border-right: 1px solid $colorNeutralLight
			margin-top: 0 !important
			margin-bottom: 0 !important
			margin-left: 25px
			margin-right: 30px
			padding-top: 10px !important
			padding-bottom: 10px !important
			padding-right: 15px

			@media (max-width: $bpMed)
				width: 44%
				margin-left: 0

			@media (max-width: $bpSmall)
				width: 100%
				border-right: none !important
				margin: 0 0 1rem 0 !important
				padding: 0 !important

			.field-title, .field-navigationtitle
				line-height: 1.5

			&:nth-child(3n + 1)
				margin-left: 0

			&:nth-child(3n)
				border-right: none

			&:nth-child(odd)
				@media (max-width: $bpMed)
					border-right: 1px solid $colorNeutralLight

			&:nth-child(even)
				@media (max-width: $bpMed)
					border-right: none

			a
				font-style: normal !important
				font-size: 0.8rem
				font-weight: bold

.large-button-inverted
	.component-content
		text-transform: uppercase
		text-align: center
		border: 1px solid $colorNeutralLight
		margin-top: 10px
		margin-bottom: 15px

		a
			font-family: $fontAccent
			font-weight: bold
			font-style: normal !important
			display: block
			width: 100%
			padding: 12px
#content
	a.cta-button, .cta-button a, a.cta-button-accent, a.cta-button-primary,
	span.cta-button a, span.cta-button-accent a, span.cta-button-primary a
		@if $theme == medicalGroup
			background-color: $colorBrandPrimary
		@else
			background-color: $colorBrandLight
		color: $colorNeutralLightest
		padding: 8px 30px
		font-family: $fontAccent
		text-transform: uppercase
		font-style: normal !important
		display: inline-block
		font-size: 12px
		font-weight: bold
		text-decoration: none
		&:hover
			color: $colorNeutralLightest
#content
	a.cta-button-accent, span.cta-button-accent a
		background-color: $colorAccent
		color: $colorFontDefault
		&:hover
			color: $colorFontDefault
#content
	a.cta-button-primary, span.cta-button-primary a
		background-color: $colorBrandPrimary
		color: $colorNeutralLightest

		&:hover
			color: $colorNeutralLightest

.form-field-wrapper
	white-space: nowrap
	margin-bottom: 10px

	label
		display: inline-block
		width: 50%
		white-space: normal
		vertical-align: top
		font-family: $fontAccent
		font-weight: bold

	input, select, textarea
		display: inline-block
		width: 50%
		white-space: normal

main #content .cta-list
	.cta-list
		padding: 0
	ul, li
		list-style: none
		margin: 0
		padding: 0
	li

		display: block
		@media (max-width: $bpMed)
			&:first-child
				margin-top: 20px

			&:last-child
				margin-bottom: 30px
	a
		font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
		font-style: normal
		margin-bottom: 1rem
		background-color: #F1BE10
		color: $colorFontDefault
		font-family: $fontAccent
		font-style: normal
		font-weight: bold
		font-size: 12px
		text-decoration: none
		padding: .5rem 1rem
		display: inline-block
		@media(max-width: 600px)
			display: block






.inline-icon
	display: inline-block
	vertical-align: middle
	width: 20px
	height: auto
	margin-top: -2px

	&:first-child
		margin-right: 5px

	&:last-child
		margin-left: 5px

	&.icon-small
		width: 15px

	&.icon-large
		width: 30px

.pdf-list
	h3
		text-transform: none
		font-size: 0.9rem

	ul
		padding-left: 20px

	span
		font-size: 1em

	li
		position: relative
		padding-left: 15px

		&:before
			background-image: url('/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/icons/file-pdf-o.svg')
			width: 18px
			height: 18px
			background-size: 100% auto
			background-repeat: no-repeat
			content: ''
			position: absolute
			left: -20px
			top: 2px
			opacity: 0.6

.pdf-list-with-thumbnails
	.component-content
		ul
			display: flex
			flex-wrap: wrap

			li
				width: 31%
				margin-right: 2%
				max-width: 200px

				@media (max-width: $bpSmall)
					width: 100%
					margin-right: 0
					margin-bottom: 15px
					max-width: none

				.download-link
					font-size: 0.9rem
					display: inline-block
					margin-right: 4px

					a
						font-size: 0.9rem

				.field-size
					display: inline-block

					span
						font-size: 0.9rem

				&:nth-child(3n)
					margin-right: 0

.content-font-settings
	p, li
		font-size: 16px
	h3
		font-size: 16px
	blockquote
		@media (max-width: $bpSmall)
			border-left: 2px solid orange
			padding-left: 15px
			margin-top: 0
		p
			font-size: 20px
			line-height: 1.3
			display: block
		cite
			font-size: 14px
			display: block
			padding: 15px 0 0 0
		footer
			font-size: 16px
			font-weight: bold
			display: block
			padding-top: 15px
			text-align: right

body #wrapper main
	#content
		.category-main-content
			@extend .content-font-settings
		.primary-content-container,
		.no-padding-container.primary-content-container
			.component.content.col-xs-12,
			.primary-content-container
				padding-left: 0 !important
				padding-right: 0 !important
			.content, .rich-text
				.cta-button a, a.cta-button
					font-size: 12px
					padding-left: 15px
					padding-right: 15px
					width: auto
					text-align: center
			.content, .rich-text, .columns-with-borders .rich-text .component-content
				@extend .content-font-settings
			.col-xs-6.col-lg-3
				@media (min-width: 993px) and (max-width: 1199px)
					margin-top: 20px

				@media (max-width: $bpMed)
					margin-top: 20px

@media (max-width: $bpSmall)
	.breadcrumb
		margin: 0 0 15px 0

		.separator
			display: none

		li
			a
				position: relative
				margin-right: 16px				
			&:after
				content: '/'
				position: absolute
				right: 2px
				bottom: 3px
				line-height: 1.4
				color: $colorBrandPrimary
			&:last-child:after
				content: ''
				display: none
			

	.pdf-icon-name
		display: inline-block
		white-space: nowrap

	.field-filetypeicon
		display: inline-block
		position: relative
		top: 2px
		margin-right: 15px

		.pdf
			background-image: url('')
			background-repeat: no-repeat
			background-size: 100% auto

			&:before
				font-size: 1rem

	.field-linktext
		display: inline-block
		margin-right: 5px
		white-space: normal

		a
			font-family: $fontAccent

	.field-size
		display: inline-block
		font-family: $fontAccent
		font-size: 0.8rem

		@media (max-width: $bpMed)
			font-size: 0.75rem

.list-numeric-default,
.rich-text .list-numeric-default,
.list-numeric-default > li,
.rich-text .list-numeric-default > li,
.content .list-numeric-default > li
	list-style-type: decimal

.list-lower-alpha,
.rich-text .list-lower-alpha,
.list-lower-alpha > li,
.rich-text .list-lower-alpha > li,
.content .list-lower-alpha > li
	list-style-type: lower-alpha

.list-upper-alpha,
.rich-text .list-upper-alpha,
.list-upper-alpha > li,
.rich-text .list-upper-alpha > li,
.content .list-upper-alpha > li
	list-style-type: upper-alpha

.list-lower-roman,
.rich-text .list-lower-roman,
.list-lower-roman > li,
.rich-text .list-lower-roman > li,
.content .list-lower-roman > li
	list-style-type: lower-roman

.list-upper-roman,
.rich-text .list-upper-roman,
.list-upper-roman > li,
.rich-text .list-upper-roman > li,
.content .list-upper-roman > li
	list-style-type: upper-roman

@media (min-width: $bpSmall)
	.primary-content-container
		padding: 0 !important


@media (max-width: $bpSmall)
	.breadcrumb
		margin: 0 0 15px 0
		padding-bottom: 10px
		font-size: 13px
		padding-top: 15px
		line-height: 2
		overflow-x: auto
		nav
			white-space: normal
		li
			display: inline-block
			float: none

	.content-font-settings, body #wrapper main #content .category-main-content,
	body #wrapper main #content .category-main-content,
	body #wrapper main #content .primary-content-container .content,
	.rich-text, .columns-with-borders .rich-text .component-content,
	body #wrapper main #content .primary-content-container .content, .rich-text, .columns-with-borders .rich-text .component-content,
	body #wrapper main #content .primary-content-container .field-content

		p, li
			font-size: 16px
		h3
			font-size: 16px
		blockquote
			border-left: 2px solid orange
			padding-left: 15px
			margin-top: 0
			p
				font-size: 20px
				line-height: 1.3
				display: block
			cite
				font-size: 14px
				display: block
				padding: 15px 0 0 0
			footer
				font-size: 16px
				font-weight: bold
				display: block
				padding-top: 15px
				text-align: right

	body #wrapper main
		#content


			.primary-content-container
				padding-left: 15px
				padding-right: 15px
				.primary-content-container
					padding-left: 0 !important
					padding-right: 0 !important
				.content, .rich-text
					.cta-button a, a.cta-button
						font-size: 12px !important
						padding-left: 15px
						padding-right: 15px
						width: auto !important
						display: inline-block !important
						text-align: center
				.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1
					padding: 0
					width: 100%
				.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1
					padding: 0
					width: 100%




.content, .rich-text
	table
		height: auto !important
		border: 1px solid #ddd !important
		border-width: 1px 0 0 1px
		margin-top: 1.5rem

.content table, .content table tr, .content table th, .content table td, .rich-text table, .rich-text table tr, .rich-text table th, .rich-text table td
	border-collapse: collapse
	vertical-align: middle
	font-family: $fontAccent

	@media (max-width: 360px)
		font-size: 94%

.content table th, .rich-text table th
	background: #eee !important
.content table tr, .content table th, .content table td,.rich-text table tr,.rich-text table th,.rich-text table td
	padding: 5px
	border: 1px solid #ddd !important


.service-locations-component
	margin: auto
	max-width: 1600px
	font-size: 16px

.service-locations-component .content-lead
	padding: 3rem 2rem 0 2rem

.service-locations-component p
	margin: 1rem 0
	max-width: 1000px
	line-height: 1.6

.service-locations-component .by-city
	vertical-align: top
	padding: 1rem 2rem 0 0
	display: inline-block
	width: 30%
	margin-bottom: 1rem
	@media (max-width: $bpLarge)
		width: 45%
	@media (max-width: $bpSmall)
		width: 100%

.service-locations-component h3
	margin: 2rem 0 1rem 0 !important
	font-size: 1.3rem

.service-locations-component h4
	font-weight: bold
	border-bottom: 3px solid #ccc
	padding-bottom: 0.2rem
	margin-bottom: 1rem


.service-locations-component .location-link
	font-weight: bold
	margin: 0 !important


#wrapper main #content .primary-content-container .rich-text
	.img-float-right
		padding-top: 1rem
		img
			width: 50% !important
			height: auto !important
			float: right
			margin-bottom: 5px
		p
			font-size: 13px

.img-float-right
	img
		width: 200px
		float: right
		border-left: 1rem #fff solid

.primary-content-container
	.content,
	.rich-text
		h2
			margin: 2rem 0 1rem
		h3, 
		h4
			margin: 1.5rem 0 5px

