html
	margin-bottom: 0 !important

body
	font-family: $fontDefault
	color: $colorFontDefault
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-ms-overflow-style: scrollbar
	&.mobile-menu-open
		overflow: hidden

		@media (min-width: $bpMed)
			overflow-y: auto

.container
	width: 100%
	max-width: 1600px

	@media (min-width: $bpSmall)
		width: 100%

	@media (min-width: $bpMed)
		width: 100%

	@media (min-width: $bpLarge)
		width: 100%

header
	@if $theme == baptistOnline
		background-color: rgba($colorBrandPrimary, 0.8)
	@else if $theme == cancerCenter
		background-color: $colorCancerCenterPrimary
	@else if $theme == medicalGroup
		background-color: rgba($colorNeutralLight, 0.8)
	@else if $theme == brainSpineNetwork
		background-color: rgba($colorBrandPrimary, 0.8)
	padding-top: 15px
	z-index: 2
	position: relative
	width: 100%
	box-shadow: $boxShadowHeavy

	@media (max-width: $bpSmall)
		padding-top: 0
		box-shadow: none
		div#header
			@if $theme == baptistOnline
				background: linear-gradient(rgba($colorBrandPrimary, 0.8), rgba($colorBrandPrimary, 0.8)), linear-gradient(white, white)
			@else if $theme == brainSpineNetwork
				background: linear-gradient(rgba($colorBrandPrimary, 0.8), rgba($colorBrandPrimary, 0.8)), linear-gradient(white, white)

		@if $theme == cancerCenter
			height: 50px
		@else if $theme == medicalGroup
			height: 50px

	a
		@if $theme == baptistOnline
			color: $colorNeutralLightest
		@else if $theme == brainSpineNetwork
			color: $colorNeutralLightest
		@else
			color: $colorFontDefault


		&:hover
			@if $theme == baptistOnline
				color: $colorNeutralLightest
			@else if $theme == brainSpineNetwork
				color: $colorNeutralLightest
			@else
				color: $colorFontDefault

		&:focus
			@if $theme == baptistOnline
				color: $colorNeutralLightest
			@else if $theme == brainSpineNetwork
				color: $colorNeutralLightest
			@else
				color: $colorFontDefault

	.header-inner
		margin-bottom: 15px

		@media (max-width: $bpSmall)
			max-width: 60%
			padding-left: 10px

	.site-logo
		@if $theme == baptistOnline
			border-right: 1px solid rgba($colorNeutralLightest, 0.18)
			@media (max-width: $bpMed)
				border-right: 0
		padding: 10px 15px 10px 0
		@media (max-width: $bpSmall)
			border-right: 0
			@if $theme == baptistOnline
				padding-top: 14px
			@else if $theme == cancerCenter
				padding-top: 14px
			@else if $theme == medicalGroup
				padding-top: 8px
			@else if $theme == brainSpineNetwork
				padding-top: 14px
		img
			padding-right: 30px
			margin-top: 20px
			max-width: 300px
			@if $theme == medicalGroup
				width: 180px
			@media (max-width: $bpSmall)
				@if $theme == baptistOnline
					max-width: 180px
				@else if $theme == cancerCenter
					max-width: 180px
				@else if $theme == medicalGroup
					max-width: 128px
				@else if $theme == brainSpineNetwork
					max-width: 180px
				width: auto

			@media (max-width: $bpMed)
				padding-right: 10px

	.header-location-info
		color: $colorNeutralLightest
		font-family: $fontAccent
		white-space: nowrap
		padding-top: 3px

		@if $theme == baptistOnline
			padding-top: 0

		@media (max-width: $bpSmall)
			display: block
			white-space: normal
			margin-left: -7px
			*
				font-size: 12px
		@media (max-width: $bpSmall)
			min-width: 300px
		> div
			padding-right: 0

			@if ($theme == baptistOnline)
				@media (max-width: $bpMed) and (min-width: $bpSmall)
					padding-left: 0
			@if ($theme == brainSpineNetwork)
				@media (max-width: $bpMed) and (min-width: $bpSmall)
					padding-left: 0

		a
			color: $colorAccent
			font-family: $fontAccent
		.component-content
			padding: 10px 0 0 0

			@if $theme == baptistOnline
				padding-top: 6px

			@media (max-width: $bpMed)
				@if ($theme == medicalGroup)
					padding-top: 13px

		p
			padding: 0

		.inline-icon
			margin-left: 0
			margin-right: 3px

	.header-patient-resources
		text-align: right
		padding-left: 0
		padding-right: 15px !important
		margin-bottom: 5px

		@media (max-width: $bpSmall)
			display: none

		@if ($theme == medicalGroup)
			@media (max-width: $bpMed)
				padding-right: 10px !important

		h3
			display: none

		ul
			li
				margin-left: 15px

				@media (max-width: $bpMed)
					margin-left: 5px
					@if ($theme == medicalGroup)
						margin-left: 0px !important

				a
					font-style: italic
					font-size: 14px
					text-decoration: none
					font-family: $fontDefault
					@if $theme == medicalGroup
						color: $colorBrandPrimary
					@else
						color: $colorNeutralLightest

					@if ($theme == medicalGroup)
						@media (max-width: $bpMed)
							font-size: 12px !important

					&:after
						content: '\2022'
						display: inline-block
						margin-left: 15px

						@media (max-width: $bpMed)
							margin-left: 8px
							@if ($theme == medicalGroup)
								margin-left: 4px

			li:last-child
				a
					&:after
						content: ''
						display: none

	.search-box,
	.search-box-baptist
		margin-top: 5px
		margin-bottom: 0
		padding: 0

		@media (max-width: $bpSmall)
			display: none

		.component-content
			text-align: right
			display: flex

			label
				@extend .visually-hidden

			.twitter-typeahead
				max-width: 200px
				margin-left: auto
				margin-right: 0

				input[type="text"]
					@extend .has-search-icon
					max-width: 200px
					border-radius: 0
					left: auto !important
					right: 0

					&.tt-input
						right: auto
						margin-left: auto
						margin-right: 0

				.tt-dropdown-menu
					display: none !important

			.search-box-button,
			.search-box-button-with-redirect,
			.search-box-button-baptist
				margin-left: 0
				color: $colorNeutralLightest
				height: 34px
				box-shadow: $buttonBoxShadow
				position: relative
				z-index: 1
				background-color: $colorBrandDark
				margin-left: -4px

	.navigation-main-container
		padding: 0

	.navigation-main
		padding: 0

		@media (max-width: $bpSmall)
			display: none

		nav
			background-color: $colorDarkerNav
			font-size: 0.9rem

			li:not(.rel-level1):not(.rel-level2)
				display: none

			li.rel-level2.submenu
				min-height: 0 !important
				padding: 0 !important

			> ul
				> li
					padding: 15px
					margin-top: 0 !important
					border-right: 1px solid $colorBrandPrimary
					@if $theme == medicalGroup
						border-right: 1px solid $colorNeutralDarker
						a
							font-weight: bold
					@if $theme == cancerCenter
						border-right: 1px solid $colorNeutralDarker
						@media (min-width: $bpSmall) and (max-width: $bpMed)
							padding: 15px 10px
						a
							font-weight: bold
					@if ( $theme == baptistOnline)
						&:nth-child(3)
							> div > a
								&:after
									content: ''
									background-image: url('/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/down-arrow.svg')
									background-repeat: no-repeat
									background-size: 100%
									background-position: center center
									width: 12px
									height: 9px
									display: inline-block
									margin-left: 3px
					@else if $theme == cancerCenter
						&:nth-child(3), &:nth-child(4)
							> div > a
								&:after
									content: ''
									background-image: url('/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/down-arrow-dark.svg')
									background-repeat: no-repeat
									background-size: 100%
									background-position: center center
									width: 12px
									height: 9px
									display: inline-block
									margin-left: 3px
					@else if $theme == medicalGroup
						&:nth-child(1)
							> div > a
								&:after
									content: ''
									background-image: url('/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/down-arrow-dark.svg')
									background-repeat: no-repeat
									background-size: 100%
									background-position: center center
									width: 12px
									height: 9px
									display: inline-block
									margin-left: 3px
					@else if ( $theme == brainSpineNetwork)
						&:nth-child(3)
							> div > a
								&:after
									content: ''
									background-image: url('/-/media/Project/Baptist/Baptist/Brainspinenetwork/United States/BrainSpineNetwork/images/down-arrow.svg')
									background-repeat: no-repeat
									background-size: 100%
									background-position: center center
									width: 12px
									height: 9px
									display: inline-block
									margin-left: 3px

					a
						font-family: $fontAccent

				@media (max-width: $bpMed)
					font-size: 0.8rem

	.mobile-search-button, .mobile-menu-button
		display: none
		@if $theme == baptistOnline
			border-left: 1px solid #6094BC
		@else if $theme == cancerCenter
			border-left: 1px solid #6094BC
		@else if $theme == medicalGroup
			border-left: 1px solid $colorFontDefault
		@else if $theme == brainSpineNetwork
			border-left: 1px solid #6094BC
		text-align: center
		width: 65px
		height: 100%
		position: absolute
		top: 0
		right: 0
		cursor: pointer

		@media (max-width: $bpSmall)
			height: 50px !important

		.component-content
			position: absolute
			top: 50%
			transform: translateY(-50%)
			margin-left: auto
			margin-right: auto
			left: 0
			right: 0

		@media (max-width: $bpSmall)
			display: block

		img
			margin-left: auto
			margin-right: auto
			width: 20px
			height: 20px
			margin-bottom: 5px !important

		.image-caption
			@if $theme == medicalGroup
				color: $colorFontDefault
			@else
				color: $colorNeutralLightest
			font-family: $fontAccent
			font-style: normal
			text-transform: uppercase
			font-size: 0.6rem

	.mobile-search-button
		right: 65px

	.mobile-menu
		display: none
		position: fixed
		top: 0
		left: 0
		z-index: 1000
		padding: 0 0 0 0
		height: calc(100% - 50px)

		transform: translateX(-100%)
		transition: transform 0.2s ease-out

		@media (max-width: $bpSmall)
			display: block

		&.open
			transform: translateX(0)

			> .component-content
				box-shadow: $mobileMenuOverlay, $mobileMenuBoxShadow

		> .component-content
			background-color: $colorNeutralLightest
			padding: 0 0 30px 0
			width: 90%
			height: 100%
			overflow-y: scroll
			max-width: 300px
			margin-top: 50px
			box-shadow: none

			.mobile-menu-close
				position: absolute
				top: 0
				left: 0
				width: 50px
				height: 50px
				padding: 4px
				background-color: $colorMobileMenuTop
				cursor: pointer

				svg
					width: 44px
					height: 44px

					path
						fill: $colorBrandPrimary

			.search-box,
			.search-box-baptist
				display: block
				margin-top: 0
				padding: 15px
				background-color: $colorMobileMenuTop
				border-bottom: 1px solid $colorMobileMenuTopBorder

				.component-content
					text-align: left
					white-space: nowrap

					.twitter-typeahead
						width: 60%
						max-width: none

						.search-box-input,
						.search-box-input-baptist
							width: 100%
							max-width: none
							border-radius: $formFieldBorderRadius
							font-family: $fontDefault
							color: $colorFontDefault

							&::placeholder
								color: transparentize($colorFontDefault, 0.5)

				.search-box-button,
				.search-box-button-baptist
					float: none
					top: 0px
					box-shadow: none
					background-color: $colorAccent
					color: $colorFontDefault
					border-radius: $formFieldBorderRadius
					width: 36%
					padding-left: 15px
					padding-right: 15px

			.navigation
				.component-content
					nav
						ul
							font-size: 1rem

							li
								margin-top: 0
								border-bottom: 1px solid $colorNeutralDark
								padding: 15px 40px 15px 0

								.field-title

								a
									font-family: $fontAccent
									color: $colorBrandPrimary
									font-weight: bold
							.no-child
								padding: 15px 15px 15px 0

							.rel-level1
								background-image: none
								position: relative

								ul
									margin: 10px 0 10px 5px

							.rel-level1.submenu:after
								content: '+'
								position: absolute
								right: 0
								top: 0
								padding: 15px 15px 15px 15px
								border-left: 1px solid $colorNeutralLight

							.rel-level2
								list-style-image: none
								font-size: 0.9rem
								border-bottom: 1px solid $colorNeutralLighter
								padding: 15px 0 15px 0

								a
									font-weight: normal

							.rel-level2:last-child
								border-bottom: none
								padding-bottom: 0

			.link-list
				margin-top: 15px

				ul
					list-style-type: disc
					font-size: 1rem
					font-style: italic
					font-weight: bold
					color: $colorBrandLight
					list-style-position: outside
					margin-left: 15px

					li
						display: list-item
						padding-top: 15px

						.field-link
							display: inline-block

							a
								color: $colorBrandLight
	.limit
		margin: auto
		max-width: 1600px
	p
		color: #fff
		margin: 0
	.logo
		img
			width: 100%
			height: auto
			max-width: 300px
			margin-bottom: 10px

	.header-left
		padding-top: 10px
	.header-right
		text-align: right

main
	#content
		position: relative

		a
			font-style: italic

		.aside
			.component
				margin-bottom: 20px

				h3:only-child, h4:only-child
					margin-bottom: 0

			h3, h4
				color: $colorFontDefault
				border-bottom: 2px solid $colorAccent
				padding-bottom: 8px
				margin-bottom: 16px


footer
	background-color: $colorNeutralLighter
	padding: 50px
	text-align: center
	margin-top: 20px

	.container
		max-width: 950px

	@media (max-width: $bpSmall)
		padding-left: 15px
		padding-right: 15px

	.link-list
		p
			margin-bottom: 10px
			color: $colorFontDefault
			font-family: $fontDefault
			text-transform: none
			font-weight: normal
			line-height: 1.4

		ul
			line-height: 2
			margin-left: 0

			li
				margin-left: 0

				&:first-child
					margin-left: 0

				.field-link
					&:after
						content: '|'
						display: inline-block
						margin-left: 10px
						margin-right: 10px
						color: $colorBrandLight

				&:last-child
					.field-link
						&:after
							content: ''
							display: none

	.footer-links
		a
			font-family: $fontAccent !important

	.language-assistance
		margin-top: 30px

		p
			font-weight: bold
			font-size: 0.8rem

		ul

			@media (max-width: $bpSmall)
				text-align: left

			li
				display: inline-block
				width: 13%

				@media (max-width: $bpMed)
					width: 25%

				@media (max-width: $bpSmall)
					width: 48%
					text-align: center

				.field-link
					&:after
						display: none

.row
	margin-left: auto
	margin-right: auto
