#cssload-circle4 {
	border: 28px solid black;
	width:69px;
	height:69px;
	border-top-color:transparent;
	border-left-color:transparent;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
	position:absolute;
	top:103px;
	left:103px;
	animation: cssload-c1 5.6s infinite alternate ;
		-o-animation: cssload-c1 5.6s infinite alternate ;
		-ms-animation: cssload-c1 5.6s infinite alternate ;
		-webkit-animation: cssload-c1 5.6s infinite alternate ;
		-moz-animation: cssload-c1 5.6s infinite alternate ;
	border-bottom-color:rgba(0,87,153,0.36);
	border-right-color:rgb(0,87,153);
}

#cssload-circle3 {
	border: 28px solid black;
	width:138px;
	height:138px;
	border-top-color:transparent;
	border-left-color:transparent;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
	position:absolute;
	top:69px;
	left:69px;
	animation: cssload-c1 5.6s infinite alternate ;
		-o-animation: cssload-c1 5.6s infinite alternate ;
		-ms-animation: cssload-c1 5.6s infinite alternate ;
		-webkit-animation: cssload-c1 5.6s infinite alternate ;
		-moz-animation: cssload-c1 5.6s infinite alternate ;
	border-bottom-color:rgb(254,191,16);
	border-right-color:rgb(254,191,16);
}

#cssload-circle2 {
	border: 28px solid black;
	width:206px;
	height:206px;
	
	border-top-color:transparent;
	border-left-color:transparent;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
	position:absolute;
	top:34px;
	left:34px;
	animation: cssload-c1 5.6s infinite alternate ;
		-o-animation: cssload-c1 5.6s infinite alternate ;
		-ms-animation: cssload-c1 5.6s infinite alternate ;
		-webkit-animation: cssload-c1 5.6s infinite alternate ;
		-moz-animation: cssload-c1 5.6s infinite alternate ;
	border-bottom-color:rgba(1,48,94,0.98);
	border-right-color:rgb(1,48,94);
}

#cssload-circle1 {
	border: 28px solid black;
	width:275px;
	height:275px;
	
	border-top-color:transparent;
	border-left-color:transparent;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
	animation: cssload-c1 5.6s infinite alternate ;
		-o-animation: cssload-c1 5.6s infinite alternate ;
		-ms-animation: cssload-c1 5.6s infinite alternate ;
		-webkit-animation: cssload-c1 5.6s infinite alternate ;
		-moz-animation: cssload-c1 5.6s infinite alternate ;
	position:relative;
	border-bottom-color:rgba(41,112,194,0.98);
	border-right-color:rgb(41,112,194);
	
}



#cssload-allthethings {
	width:344px;
	height:344px;
	position:relative;
	top:0px;
	
	margin:auto;
	transform:scale(0.7);
		-o-transform:scale(0.7);
		-ms-transform:scale(0.7);
		-webkit-transform:scale(0.7);
		-moz-transform:scale(0.7);
	
}

@keyframes cssload-c1 {
	50%{border-bottom-color:gray;
	border-right-color:white;
	border-radius:344px;
	transform:rotate(50deg)}
	100% {transform:rotate(408deg);
		
	}
}

@-o-keyframes cssload-c1 {
	50%{border-bottom-color:gray;
	border-right-color:white;
	border-radius:344px;
	-o-transform:rotate(50deg)}
	100% {-o-transform:rotate(408deg);
		
	}
}

@-ms-keyframes cssload-c1 {
	50%{border-bottom-color:gray;
	border-right-color:white;
	border-radius:344px;
	-ms-transform:rotate(50deg)}
	100% {-ms-transform:rotate(408deg);
		
	}
}

@-webkit-keyframes cssload-c1 {
	50%{border-bottom-color:gray;
	border-right-color:white;
	border-radius:344px;
	-webkit-transform:rotate(50deg)}
	100% {-webkit-transform:rotate(408deg);
		
	}
}

@-moz-keyframes cssload-c1 {
	50%{border-bottom-color:gray;
	border-right-color:white;
	border-radius:344px;
	-moz-transform:rotate(50deg)}
	100% {-moz-transform:rotate(408deg);
		
	}
}

div.css-loader{
	display: none;
    margin: 0 auto;
    position: fixed;
    background: rgba(255,255,255,0.5);
    height: 100%;
    width: 100%;
    min-width: 150%;
    z-index: 9999;    
    top: 0;
    left: -25%;
    div#cssload-allthethings {		 
    	top:50%;
    	margin-top:-172px;
    	left:50%;
    	margin-left:-172px;
	}
}


