$linkColor: $colorNeutralLighter
$text: $colorNeutralLightest
$backgroundColor: $colorBrandDark

div#MyChartLoginPanel
	-moz-border-bottom-colors: none
	-moz-border-left-colors: none
	-moz-border-right-colors: none
	-moz-border-top-colors: none 
	border-style: solid
	border-width: 0px
	background-color: $backgroundColor
	background-image: none
	border-color: #FCF9EF
	padding: 1rem
	width: auto
	box-shadow: $boxShadow
	&.inline-login-box
		position: relative
		display: block
		clear: border-width
		z-index: 0
		top: 0
		margin-top: 1rem

	*
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: 0
		padding: 0
		font-size: auto
		position: static
		display: block
		width: auto
		height: auto

	div.MyChartFormField 
		text-align: center
		padding: 2px 20px 2px 20px
		margin-top: 10px

		label.MyChartInput
			display: block
			font-size: 1rem
			font-weight: bold
			margin: 0 -5% 5px 0
			position: relative
			text-align: left
			width: 105%
			color: $colorNeutralLight
			font-family: $fontAccent
			margin-bottom: 10px

		input
			display: block
			width: 100%
			background-color: white
			font-family: $fontAccent
			box-shadow: $boxShadow
			background-color: #FFFFFF
			border-color: #DBDBDB
			border-style: solid
			border-width: 1px
			display: block
			float: none
			font-size: 1.5rem
			padding: 0

		input[type="submit"], input[type="button"], button, button[type="submit"], input#MyChartSubmit.jsreq
			@if $theme == baptistOnline
				background-color: $colorBrandLight
			@else if $theme == brainSpineNetwork
				background-color: $colorBrandLight
			@else
				background-color: $colorBrandPrimary
			background-image: none
			border: none
			border-radius: 0
			text-transform: uppercase
			text-shadow: none
			color: $colorFontLight
			font-family: $fontAccent
			box-shadow: none
			padding: .5rem 
			margin: .5rem 0

			&:hover
				@if $theme == baptistOnline
					background-color: $colorBrandLight
				@else if $theme == cancerCenter
					background-color: $colorBrandPrimary
				@else if $theme == brainSpineNetwork
					background-color: $colorBrandLight
		input[type=text], input[type=password]
			border-radius: 0
			padding: .25rem .5rem
		a
			font-style: normal
			text-align: right
			display: inline-block
			font-weight: normal
			margin: .25rem
			font-family: $fontAccent
			text-decoration: none
			color: $linkColor
			font-size: .75rem
			padding: .25rem .5rem
			background-color: $colorBrandLight
			border-radius: 0 0 5px 5px
		
		input.disabledfield
			background-color: #CCCCCC !important
			border-color: #777777 !important
			background-image: none !important
			box-shadow: none !important
			cursor: default !important
		input#MyChartSubmit.disabledfield
			background-color: #DDDDDD !important
			color: #777777 !important
		input#MyChartSubmit.disabledfield:hover
			background-color: #dddddd !important


	div.MyChartLoginFormField
		display: block
		text-align: center
		margin-top: .25rem
		font-family: $fontDefault
		font-size: 0.9em
		margin-bottom: 10
		width: auto
		a
			display: inline
			font-weight: normal
			height: auto
			font-size: .875rem
			margin: 0 auto
			padding: 0
			text-align: center
			color: $linkColor
			text-decoration: none
			
		&.login-links
			color: white
			line-height: 1.1rem


	div#nojavascript.hidden 
		display: none
	div#nojavascript
		padding: 1rem
		span.alert
			display: block
			font-size: 1.0em
			font-weight: bold
			text-align: center
			color: $colorNeutralLightest
			font-family: $fontAccent
			a
				text-align: center
				font-size: .875rem
				font-weight: bold
				text-align: center
				font-family: $fontAccent
				color: $linkColor

	form#MyChartLoginForm 
		div.MyChartFormField 
			span.loginhint 
				a
					margin: 0
					width: auto

.loginhint
	margin: 0 !important
	width: auto !important
	text-align: right !important

@media screen and (max-width: 600px)
	div#MyChartLoginPanel
		top: 30px
		position: absolute
		z-index: 1999
		
.arbitrary-remove-me-please
	background-color: blue

div#MyChartLoginPanel
	a[target="_blank"]:after
		content: unset
		margin-left: unset