/* breakpoints */
/* line 5, ../sass/component-flip.scss */
.flip {
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000; }
  /* line 10, ../sass/component-flip.scss */
  .flip h2 {
    margin-bottom: 5px; }
  /* line 13, ../sass/component-flip.scss */
  .flip .flipsides {
    position: relative;
    word-wrap: break-word; }
  /* line 17, ../sass/component-flip.scss */
  .flip .Side1,
  .flip .Side0 {
    border: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: "transform";
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer; }
  /* line 35, ../sass/component-flip.scss */
  .flip .Side1 {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  /* line 39, ../sass/component-flip.scss */
  .flip.active .Side0 {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  /* line 42, ../sass/component-flip.scss */
  .flip.active .Side1 {
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); }
  /* line 47, ../sass/component-flip.scss */
  .flip.flip-fade .Side0,
  .flip.flip-fade .Side1 {
    -moz-transition-property: "opacity";
    -o-transition-property: "opacity";
    -webkit-transition-property: "opacity";
    transition-property: "opacity"; }
  /* line 51, ../sass/component-flip.scss */
  .flip.flip-fade .Side1 {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0; }
  /* line 56, ../sass/component-flip.scss */
  .flip.flip-fade.active .Side0 {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0; }
  /* line 60, ../sass/component-flip.scss */
  .flip.flip-fade.active .Side1 {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; }
  /* line 67, ../sass/component-flip.scss */
  .flip.flip-vertical .Side1 {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  /* line 72, ../sass/component-flip.scss */
  .flip.flip-vertical.active .Side0 {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  /* line 76, ../sass/component-flip.scss */
  .flip.flip-vertical.active .Side1 {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg); }
  /* line 83, ../sass/component-flip.scss */
  .flip.flip-slide-top .flipsides {
    overflow: hidden; }
  /* line 86, ../sass/component-flip.scss */
  .flip.flip-slide-top .Side0,
  .flip.flip-slide-top .Side1 {
    -moz-transition-property: height, visibility, padding-top;
    -o-transition-property: height, visibility, padding-top;
    -webkit-transition-property: height, visibility, padding-top;
    transition-property: height, visibility, padding-top;
    -moz-transition-duration: 1s, 1s, 1s;
    -o-transition-duration: 1s, 1s, 1s;
    -webkit-transition-duration: 1s, 1s, 1s;
    transition-duration: 1s, 1s, 1s;
    -moz-transition-timing-function: linear, linear, linear;
    -o-transition-timing-function: linear, linear, linear;
    -webkit-transition-timing-function: linear, linear, linear;
    transition-timing-function: linear, linear, linear;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 93, ../sass/component-flip.scss */
  .flip.flip-slide-top .Side1 {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    overflow: hidden;
    height: 0px;
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 0px; }
  /* line 102, ../sass/component-flip.scss */
  .flip.flip-slide-top.active .Side0 {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  /* line 105, ../sass/component-flip.scss */
  .flip.flip-slide-top.active .Side1 {
    height: 100%;
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    visibility: visible;
    padding-top: 10px;
    padding-bottom: 10px; }

/* line 118, ../sass/component-flip.scss */
.no-csstransforms3d .flip .Side1 {
  display: none; }
/* line 122, ../sass/component-flip.scss */
.no-csstransforms3d .flip.active .Side0 {
  display: none; }
/* line 125, ../sass/component-flip.scss */
.no-csstransforms3d .flip.active .Side1 {
  display: block; }

/* line 133, ../sass/component-flip.scss */
.on-page-editor .flipsides {
  height: auto; }
  /* line 135, ../sass/component-flip.scss */
  .on-page-editor .flipsides .Side0,
  .on-page-editor .flipsides .Side1 {
    margin-bottom: 10px; }
