/* breakpoints */
/* line 5, ../sass/component-link-list.scss */
.link-list ul {
  margin-left: -10px; }
/* line 8, ../sass/component-link-list.scss */
.link-list li {
  display: inline-block;
  margin-left: 10px; }
  /* line 11, ../sass/component-link-list.scss */
  .link-list li:first-child {
    margin-left: 10px; }
  /* line 14, ../sass/component-link-list.scss */
  .link-list li a {
    display: inline; }
    /* line 17, ../sass/component-link-list.scss */
    .link-list li a:hover {}
/* line 23, ../sass/component-link-list.scss */
.link-list.list-vertical h3 {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 3px 5px;}
/* line 31, ../sass/component-link-list.scss */
.link-list.list-vertical a {
  border: none; }
/* line 34, ../sass/component-link-list.scss */
.link-list.list-vertical li {
  display: block;
  margin-left: 10px;
  padding-left: 15px; }

/* line 5, ../sass/link-list/_link-list-variants.scss */
.link-list .button-default,
.link-list .default,
.link-button .button-default,
.link-button .default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold; }
  /* line 18, ../sass/link-list/_link-list-variants.scss */
  .link-list .button-default:hover,
  .link-list .default:hover,
  .link-button .button-default:hover,
  .link-button .default:hover {}
/* line 24, ../sass/link-list/_link-list-variants.scss */
.link-list .button-success,
.link-list .success,
.link-button .button-success,
.link-button .success {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold; }
  /* line 37, ../sass/link-list/_link-list-variants.scss */
  .link-list .button-success:hover,
  .link-list .success:hover,
  .link-button .button-success:hover,
  .link-button .success:hover {}
/* line 43, ../sass/link-list/_link-list-variants.scss */
.link-list .button-warning,
.link-list .warning,
.link-button .button-warning,
.link-button .warning {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold; }
  /* line 56, ../sass/link-list/_link-list-variants.scss */
  .link-list .button-warning:hover,
  .link-list .warning:hover,
  .link-button .button-warning:hover,
  .link-button .warning:hover {}