/* breakpoints */
/* line 4, ../sass/component-scroll-list.scss */
.scroll-list {
  padding: 20px;
  position: relative; }
  /* line 7, ../sass/component-scroll-list.scss */
  .scroll-list .scroll-wrapper {
    overflow: hidden;
    position: relative; }
  /* line 11, ../sass/component-scroll-list.scss */
  .scroll-list .slide {
    padding: 10px;
    overflow: hidden; }
  /* line 16, ../sass/component-scroll-list.scss */
  .scroll-list .nav .prev.hide,
  .scroll-list .nav .next.hide {
    display: none; }
  /* line 22, ../sass/component-scroll-list.scss */
  .scroll-list .nav .next a,
  .scroll-list .nav .prev a {
    height: 100%;
    width: 100%;
    display: block; }
  /* line 30, ../sass/component-scroll-list.scss */
  .scroll-list.circular .prev.hide,
  .scroll-list.circular .next.hide {
    display: block; }
  /* line 35, ../sass/component-scroll-list.scss */
  .scroll-list.horizontal {
    padding: 20px 30px; }
    /* line 37, ../sass/component-scroll-list.scss */
    .scroll-list.horizontal .slides {
      width: 9999px;
      position: absolute;
      top: 0;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%; }
    /* line 47, ../sass/component-scroll-list.scss */
    .scroll-list.horizontal .slide {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: auto;
      float: left;
      margin-left: 10px;
      margin-right: 10px; }
    /* line 55, ../sass/component-scroll-list.scss */
    .scroll-list.horizontal .nav .prev,
    .scroll-list.horizontal .nav .next {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 50px;
      width: 30px; }
    /* line 64, ../sass/component-scroll-list.scss */
    .scroll-list.horizontal .nav .prev {
      left: 5px; }
    /* line 67, ../sass/component-scroll-list.scss */
    .scroll-list.horizontal .nav .next {
      right: 5px; }
  /* line 72, ../sass/component-scroll-list.scss */
  .scroll-list.vertical {
    padding: 30px 20px; }
    /* line 74, ../sass/component-scroll-list.scss */
    .scroll-list.vertical .slides {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0; }
    /* line 84, ../sass/component-scroll-list.scss */
    .scroll-list.vertical .slide {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
      margin-top: 10px; }
    /* line 90, ../sass/component-scroll-list.scss */
    .scroll-list.vertical .nav .prev,
    .scroll-list.vertical .nav .next {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      height: 50px;
      width: 50px; }
    /* line 99, ../sass/component-scroll-list.scss */
    .scroll-list.vertical .nav .prev {
      top: 5px;
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    /* line 103, ../sass/component-scroll-list.scss */
    .scroll-list.vertical .nav .next {
      bottom: -15px;
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }

/* line 111, ../sass/component-scroll-list.scss */
.scroll-list {
  background: #ffffff;
  -moz-border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  border-image: url('../images/border-big.png?1424703017') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 11px;
  border-style: solid; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .scroll-list {
    border: 2px solid #222; }
  /* line 114, ../sass/component-scroll-list.scss */
  .scroll-list .slide {
    -moz-border-image: url('../images/border-small.png?1424703017') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1424703017') 9% repeat repeat;
    border-image: url('../images/border-small.png?1424703017') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid; }
    /* line 28, ../sass/_mixins.scss */
    .no-borderimage .scroll-list .slide {
      border: 2px solid #222; }
  /* line 118, ../sass/component-scroll-list.scss */
  .scroll-list .nav .prev,
  .scroll-list .nav .next {
    text-indent: -9999px; }
    /* line 121, ../sass/component-scroll-list.scss */
    .scroll-list .nav .prev a,
    .scroll-list .nav .next a {
      cursor: Pointer; }
  /* line 125, ../sass/component-scroll-list.scss */
  .scroll-list .nav .prev {
    background: url(../images/arrow-big-left.png) no-repeat; }
  /* line 128, ../sass/component-scroll-list.scss */
  .scroll-list .nav .prev:hover {
    background: url(../images/arrow-big-left-hover.png) no-repeat; }
  /* line 131, ../sass/component-scroll-list.scss */
  .scroll-list .nav .next {
    background: url(../images/arrow-big-right.png) no-repeat; }
  /* line 134, ../sass/component-scroll-list.scss */
  .scroll-list .nav .next:hover {
    background: url(../images/arrow-big-right-hover.png) no-repeat; }