/* breakpoints */
/* line 6, ../sass/component-social-media-share.scss */
.social-media-share ul {
  overflow: hidden; }
/* line 9, ../sass/component-social-media-share.scss */
.social-media-share li {
  float: left;
  margin: 0 10px 10px 0; }

/* line 16, ../sass/component-social-media-share.scss */
.social-media-share-vertical li {
  float: none;
  margin: 0 0 10px 0; }

/* line 23, ../sass/component-social-media-share.scss */
.AddThis .addthis_counter.addthis_pill_style {
  height: auto; }
/* line 27, ../sass/component-social-media-share.scss */
.AddThis a.atc_s.addthis_button_compact {
  width: 20px;
  height: 20px;
  background-image: none;
  border: 1px solid #ccc;
  position: relative; }
  /* line 34, ../sass/component-social-media-share.scss */
  .AddThis a.atc_s.addthis_button_compact:after {
    content: "+";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    font-size: 22px;
    text-align: center; }
  /* line 45, ../sass/component-social-media-share.scss */
  .AddThis a.atc_s.addthis_button_compact:hover {
    background-color: #95bcf2; }

/* line 52, ../sass/component-social-media-share.scss */
.atm .atm-i {
  border: none;
  box-shadow: none;
  border: 1px solid #ccc; }
  /* line 56, ../sass/component-social-media-share.scss */
  .atm .atm-i > div {
    margin-left: -10px !important; }
