/* breakpoints */
/* line 6, ../sass/component-feed.scss */
.feed h1, .feed h2, .feed h3, .feed h4, .feed h5, .feed h6 {
  border-bottom: 1px solid #ccc; }
/* line 11, ../sass/component-feed.scss */
.feed.feed-grid .feed-item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 31%;
  margin: 0 10px 10px 0;
  padding: 20px; }
  @media only screen and (max-width: 639px) {
    /* line 11, ../sass/component-feed.scss */
    .feed.feed-grid .feed-item {
      width: 100%; } }
/* line 25, ../sass/component-feed.scss */
.feed .feed-item {
  border-bottom: 1px solid #ccc;
  background-position: 0px -2px;
  padding: 10px 10px 10px 0px;
  margin-left: 10px; }
/* line 32, ../sass/component-feed.scss */
.feed .feed-title a {
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: bold;
  display: block; }
/* line 39, ../sass/component-feed.scss */
.feed .feed-datetime {
  font-size: 11px;
  font-size: 1.1rem;
  float: left; }
/* line 43, ../sass/component-feed.scss */
.feed .feed-author {
  font-size: 11px;
  font-size: 1.1rem;
  float: right; }
/* line 47, ../sass/component-feed.scss */
.feed .feed-description {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  font-size: 1.3rem;
  margin: 5px;
  overflow: hidden;
  clear: both; }
  /* line 53, ../sass/component-feed.scss */
  .feed .feed-description img {
    margin: 0 4px; }
