/* line 5, ../sass/component-navigation.scss */
.tag-navigation > div > ul {
  padding: 15px; }
/* line 8, ../sass/component-navigation.scss */
.tag-navigation a {
  text-decoration: none; }
  /* line 10, ../sass/component-navigation.scss */
  .lt-ie9 .tag-navigation a, .lt-ie9 .tag-navigation a span {
    color: #222222; }
  /* line 14, ../sass/component-navigation.scss */
  .tag-navigation a:focus, .tag-navigation a:hover {
    color: #878787; }
/* line 19, ../sass/component-navigation.scss */
.tag-navigation .level1 {
  margin-bottom: 5px; }
  /* line 21, ../sass/component-navigation.scss */
  .tag-navigation .level1 > a {
    font-size: 14px;
    padding: 5px 5px 0 0;
    display: block; }
/* line 27, ../sass/component-navigation.scss */
.tag-navigation .level2 {
  display: inline;
  padding-left: 10px; }
/* line 31, ../sass/component-navigation.scss */
.tag-navigation.navigation-main {
  font-size: 12px;
  width: 100%; }
  /* line 34, ../sass/component-navigation.scss */
  .tag-navigation.navigation-main > div > ul {
    list-style: none;
    margin: 0;
    background: #fff;
    padding: 0 0 0 2px;
    border: none; }
    /* line 40, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main > div > ul:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
      font-size: 0; }
  /* line 49, ../sass/component-navigation.scss */
  .tag-navigation.navigation-main .level1 {
    float: left;
    font-weight: bold;
    background-color: #e4e4e4;
    position: relative;
    padding-right: 2px;
    border: 2px solid #4a4a4a;
    -moz-border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
    border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    margin: -2px 0 0 -4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    /* line 12, ../sass/_mixins.scss */
    .no-borderimage .tag-navigation.navigation-main .level1 {
      border: 2px solid #222222; }
    /* line 60, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1.submenu {
      background: url("../Images/navigation.png") right 18px no-repeat; }
    /* line 64, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1 > ul {
      display: none;
      z-index: 10;
      position: absolute;
      top: 42px;
      left: -2px;
      border: 2px solid #4a4a4a;
      -moz-border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
      -webkit-border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
      border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
      border-image-slice: auto;
      border-width: 4px;
      border-style: solid;
      width: 180px;
      background: #fff;
      padding: 5px 5px 5px; }
      /* line 12, ../sass/_mixins.scss */
      .no-borderimage .tag-navigation.navigation-main .level1 > ul {
        border: 2px solid #222222; }
    /* line 76, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1 > a {
      text-decoration: none;
      font-size: 12px;
      display: inline;
      position: relative; }
      /* line 81, ../sass/component-navigation.scss */
      .tag-navigation.navigation-main .level1 > a span {
        position: relative;
        z-index: 3; }
      /* line 85, ../sass/component-navigation.scss */
      .tag-navigation.navigation-main .level1 > a:link, .tag-navigation.navigation-main .level1 > a:visited {
        color: #303030;
        display: block;
        padding: 10px 20px;
        text-decoration: none; }
      /* line 95, ../sass/component-navigation.scss */
      .tag-navigation.navigation-main .level1 > a:hover > a {
        color: #222; }
        /* line 97, ../sass/component-navigation.scss */
        .tag-navigation.navigation-main .level1 > a:hover > a span {
          color: #222; }
    /* line 106, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1.show > a:before {
      content: "";
      top: 0;
      width: 102%;
      height: 100%;
      position: absolute;
      left: 1px;
      background: url("../Images/navigation.png") right 18px no-repeat #cccccc;
      z-index: 2; }
    /* line 117, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1.show > a + ul {
      display: block; }
    /* line 122, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1.show > ul {
      display: block; }
    /* line 129, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1.active > a:link,
    .tag-navigation.navigation-main .level1.active > a:visited {
      color: #222; }
    /* line 133, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1.active > span {
      display: block;
      padding: 10px 20px;
      color: #ffffff; }
    /* line 141, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level1.submenu:hover > a, .tag-navigation.navigation-main .level1.active.submenu > a {
      background: transparent;
      position: relative;
      color: #222;
      z-index: 4; }
      /* line 147, ../sass/component-navigation.scss */
      .tag-navigation.navigation-main .level1.submenu:hover > a:before, .tag-navigation.navigation-main .level1.active.submenu > a:before {
        content: "";
        top: 0;
        width: 102%;
        height: 100%;
        position: absolute;
        left: 1px;
        background: url("../Images/navigation.png") right 18px no-repeat #cccccc;
        z-index: 2; }
  /* line 161, ../sass/component-navigation.scss */
  .tag-navigation.navigation-main .level2 {
    margin: 0;
    padding: 0; }
    /* line 164, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main .level2 > a {
      -webkit-transition: background 0.2s ease-in;
      -moz-transition: background 0.2s ease-in;
      -o-transition: background 0.2s ease-in;
      transition: background 0.2s ease-in;
      display: block;
      font-weight: normal;
      padding: 5px; }
      /* line 169, ../sass/component-navigation.scss */
      .tag-navigation.navigation-main .level2 > a:hover, .tag-navigation.navigation-main .level2 > a:focus {
        background: #cccccc;
        color: #303030; }
/* line 177, ../sass/component-navigation.scss */
.tag-navigation.navigation-main-horizontal {
  position: relative; }
  /* line 179, ../sass/component-navigation.scss */
  .tag-navigation.navigation-main-horizontal .level1 {
    position: static; }
    /* line 181, ../sass/component-navigation.scss */
    .tag-navigation.navigation-main-horizontal .level1 > ul {
      width: 100%;
      clear: both;
      top: 42px;
      left: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px; }
  /* line 190, ../sass/component-navigation.scss */
  .tag-navigation.navigation-main-horizontal .level2 {
    float: left; }
/* line 195, ../sass/component-navigation.scss */
.tag-navigation.navigation-fat a {
  text-decoration: none; }
/* line 198, ../sass/component-navigation.scss */
.tag-navigation.navigation-fat > div > ul {
  list-style: none;
  margin: 0;
  -moz-border-image: url('../images/border-new.png?1398258988') 10% repeat repeat;
  -webkit-border-image: url('../images/border-new.png?1398258988') 10% repeat repeat;
  border-image: url('../images/border-new.png?1398258988') 10% repeat repeat;
  border-image-slice: 100px;
  border-width: 23px;
  border-style: solid;
  background: #fff;
  padding: 10px 0;
  overflow: hidden; }
  /* line 12, ../sass/_mixins.scss */
  .no-borderimage .tag-navigation.navigation-fat > div > ul {
    border: 2px solid #222222; }
/* line 206, ../sass/component-navigation.scss */
.tag-navigation.navigation-fat .level1 {
  margin: 10px 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top; }
  /* line 211, ../sass/component-navigation.scss */
  .tag-navigation.navigation-fat .level1 > a {
    -moz-border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
    -webkit-border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
    border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
    border-image-slice: 20px;
    border-width: 4px;
    border-style: solid;
    background: #fff;
    padding: 5px 10px;
    display: block;
    width: auto;
    font-size: 12px; }
    /* line 12, ../sass/_mixins.scss */
    .no-borderimage .tag-navigation.navigation-fat .level1 > a {
      border: 2px solid #222222; }
  /* line 219, ../sass/component-navigation.scss */
  .tag-navigation.navigation-fat .level1 > ul {
    margin: 0px 5px; }
/* line 223, ../sass/component-navigation.scss */
.tag-navigation.navigation-fat .level2 {
  background: url("../Images/arrow.gif") no-repeat 0 7px;
  padding-left: 10px;
  display: block; }
/* line 229, ../sass/component-navigation.scss */
.tag-navigation.navigation-sidebar {
  border-collapse: collapse; }
  /* line 231, ../sass/component-navigation.scss */
  .tag-navigation.navigation-sidebar a {
    text-decoration: none; }
  /* line 234, ../sass/component-navigation.scss */
  .tag-navigation.navigation-sidebar > div > ul {
    list-style: none;
    margin: 0;
    background: #fff;
    padding: 0;
    overflow: visible; }
  /* line 241, ../sass/component-navigation.scss */
  .tag-navigation.navigation-sidebar .level1 {
    padding: 0 0 2%;
    -moz-border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
    -webkit-border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
    border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
    border-image-slice: 20px;
    border-width: 4px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    margin: 0;
    padding-bottom: 10px; }
    /* line 12, ../sass/_mixins.scss */
    .no-borderimage .tag-navigation.navigation-sidebar .level1 {
      border: 2px solid #222222; }
    /* line 247, ../sass/component-navigation.scss */
    .tag-navigation.navigation-sidebar .level1 > a {
      padding: 5px 10px;
      display: block;
      position: relative;
      font-size: 12px;
      -moz-border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
      -webkit-border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
      border-image: url('../images/border-tiny.png?1398258989') 11% repeat repeat;
      border-image-slice: 20px;
      border-width: 4px;
      border-style: solid;
      border-width: 0px 0px 4px 0px;
      position: relative;
      z-index: 1; }
      /* line 12, ../sass/_mixins.scss */
      .no-borderimage .tag-navigation.navigation-sidebar .level1 > a {
        border: 2px solid #222222; }
      /* line 256, ../sass/component-navigation.scss */
      .tag-navigation.navigation-sidebar .level1 > a:before {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: -1;
        width: 100%;
        height: 100%;
        padding: 1px 3px 3px 1px;
        background: #cccccc; }
    /* line 269, ../sass/component-navigation.scss */
    .tag-navigation.navigation-sidebar .level1:last-child {
      border-width: 4px; }
    /* line 272, ../sass/component-navigation.scss */
    .tag-navigation.navigation-sidebar .level1 > ul {
      margin-left: 10px;
      margin-top: 5px; }
  /* line 277, ../sass/component-navigation.scss */
  .tag-navigation.navigation-sidebar .level2 {
    background: url("../Images/arrow.gif") no-repeat 13px 7px;
    padding-left: 25px;
    display: block; }
/* line 283, ../sass/component-navigation.scss */
.tag-navigation.navigation-mobile {
  font-size: 14px; }
  /* line 285, ../sass/component-navigation.scss */
  .tag-navigation.navigation-mobile > div > ul {
    border: none; }
  /* line 288, ../sass/component-navigation.scss */
  .tag-navigation.navigation-mobile .level1 {
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: #4A4A4A;
    -moz-border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
    -webkit-border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
    border-image: url('../images/border-small.png?1398258988') 9% repeat repeat;
    border-image-slice: auto;
    border-width: 4px;
    border-style: solid;
    padding: 10px;
    background: url("../Images/navigation-single.png") 98% 16px no-repeat white;
    cursor: pointer;
    margin: 0;
    margin-top: -7px; }
    /* line 12, ../sass/_mixins.scss */
    .no-borderimage .tag-navigation.navigation-mobile .level1 {
      border: 2px solid #222222; }
    /* line 298, ../sass/component-navigation.scss */
    .tag-navigation.navigation-mobile .level1.no-child {
      background: #E4E4E4; }
    /* line 301, ../sass/component-navigation.scss */
    .tag-navigation.navigation-mobile .level1 > ul {
      margin-left: 25px;
      list-style-image: url("../Images/arrow.gif");
      display: none; }
    /* line 306, ../sass/component-navigation.scss */
    .tag-navigation.navigation-mobile .level1.active {
      background: url("../Images/navigation-single-up.png") 98% 16px no-repeat white; }
      /* line 308, ../sass/component-navigation.scss */
      .tag-navigation.navigation-mobile .level1.active > ul {
        display: block; }
    /* line 312, ../sass/component-navigation.scss */
    .tag-navigation.navigation-mobile .level1 > a {
      text-decoration: none;
      font-size: 12px;
      color: #222;
      display: inline; }
  /* line 319, ../sass/component-navigation.scss */
  .tag-navigation.navigation-mobile .level2 {
    display: list-item; }
    /* line 321, ../sass/component-navigation.scss */
    .tag-navigation.navigation-mobile .level2 > a {
      font-weight: 500; }
