@import 'current-theme';
@import 'variables';

/* breakpoints */
/* line 5, ../sass/component-page-list.scss */
.page-list {
  background-color: #ffffff; }
  /* line 9, ../sass/component-page-list.scss */
  .page-list.post-list .field-title {
    margin-bottom: 0; }
    /* line 12, ../sass/component-page-list.scss */
    .page-list.post-list .field-title > a {
      border-bottom: 1px solid #ccc; }
  /* line 17, ../sass/component-page-list.scss */
  .page-list.post-list .post-created {
    font-style: italic; }
  /* line 21, ../sass/component-page-list.scss */
  .page-list.post-list .item {
    border-bottom: 1px solid #ccc;
    border: none;
    padding-bottom: 25px; }
  /* line 27, ../sass/component-page-list.scss */
  .page-list.post-list .item .field-summarytext {
    margin: 0; }
  /* line 31, ../sass/component-page-list.scss */
  .page-list.post-list .field-summarytext + div {
    font-size: 15px;
    font-size: 1.5rem; }
  /* line 35, ../sass/component-page-list.scss */
  .page-list.post-list .field-summarytext + div a {
    text-decoration: none; }
  /* line 40, ../sass/component-page-list.scss */
  .page-list .item {
    border-width: 0;
    border-bottom-width: 10px;
    padding: 10px 15px 10px 15px;
    overflow: hidden; }
    /* line 46, ../sass/component-page-list.scss */
    .page-list .item:last-child {
      border-width: 0; }
    /* line 50, ../sass/component-page-list.scss */
    .page-list .item .page-list-content {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      max-width: 69%;
      padding: 0 10px;
      float: left; }
      @media only screen and (max-width: 639px) {
        /* line 50, ../sass/component-page-list.scss */
        .page-list .item .page-list-content {
          max-width: 100%;
          width: auto;
          float: none; } }
    /* line 63, ../sass/component-page-list.scss */
    .page-list .item .field-summaryicon {
      width: 31%;
      float: left;
      padding: 5px 0; }
      /* line 67, ../sass/component-page-list.scss */
      .page-list .item .field-summaryicon img {
        width: 100%; }
      @media only screen and (max-width: 639px) {
        /* line 63, ../sass/component-page-list.scss */
        .page-list .item .field-summaryicon {
          width: 100%;
          float: none; } }
    /* line 76, ../sass/component-page-list.scss */
    .page-list .item .field-summarytitle {
      font-size: 24px;
      font-size: 2.4rem;
      margin: 20px 20px 20px 33%; }
      /* line 80, ../sass/component-page-list.scss */
      .page-list .item .field-summarytitle a {
        text-decoration: none;
        font-weight: normal; }
      @media only screen and (max-width: 639px) {
        /* line 76, ../sass/component-page-list.scss */
        .page-list .item .field-summarytitle {
          margin: 20px; } }
    /* line 89, ../sass/component-page-list.scss */
    .page-list .item .field-summarytext {
      margin: 20px 20px 20px 33%; }
      @media only screen and (max-width: 639px) {
        /* line 89, ../sass/component-page-list.scss */
        .page-list .item .field-summarytext {
          margin: 20px; } }
    /* line 96, ../sass/component-page-list.scss */
    .page-list .item .field-summarylinkcaption {
      margin: 20px 20px 20px 33%; }
      /* line 98, ../sass/component-page-list.scss */
      .page-list .item .field-summarylinkcaption a {
        font-size: 1.1em;
        text-decoration: none;
        font-weight: bold; }
      @media only screen and (max-width: 639px) {
        /* line 96, ../sass/component-page-list.scss */
        .page-list .item .field-summarylinkcaption {
          margin: 20px; } }
  /* line 109, ../sass/component-page-list.scss */
  .page-list .field-title {
    font-weight: bold; }

@media only screen and (max-width: $bpMed) {
	.page-list .item {
		padding: 10px 15px 10px 0;
	}
}

.page-list.bulleted-list{ 
  ul.items {
    list-style: disc;    
    margin-left: 1rem;
    li.item {
      overflow: initial;    
      padding: .5rem .5rem;
    } 
  }
}