/* breakpoints */
/* line 4, ../sass/component-summary.scss */
.summary {
  border: 2px solid #222;
  -moz-border-image: url('../images/border-big.png?1425630250') 10% repeat repeat;
  -webkit-border-image: url('../images/border-big.png?1425630250') 10% repeat repeat;
  border-image: url('../images/border-big.png?1425630250') 10% repeat repeat;
  border-image-slice: auto;
  border-width: 25px;
  border-style: solid;
  padding: 15px;
  background: #fff;
  overflow: hidden; }
  /* line 28, ../sass/_mixins.scss */
  .no-borderimage .summary {
    border: 2px solid #222; }
  /* line 11, ../sass/component-summary.scss */
  .summary .summary-title {
    margin-bottom: 10px; }
    /* line 13, ../sass/component-summary.scss */
    .summary .summary-title a {
      font-size: 16px;
      font-weight: bold;
      text-decoration: none; }
    /* line 19, ../sass/component-summary.scss */
    .summary .summary-title h3 {
      margin-top: 5px; }
  /* line 24, ../sass/component-summary.scss */
  .summary .summary-link {
    margin-top: 5px;
    padding-bottom: 10px;
    font-weight: bold; }
  /* line 31, ../sass/component-summary.scss */
  .summary.image-left .summary-icon {
    float: left;
    margin: 0 10px 5px 0; }
    /* line 35, ../sass/component-summary.scss */
    .summary.image-left .summary-icon img {
      margin: 0 10px 5px 0; }
  /* line 42, ../sass/component-summary.scss */
  .summary.image-right .summary-icon {
    float: right;
    margin: 0 10px 0 5px; }
    /* line 46, ../sass/component-summary.scss */
    .summary.image-right .summary-icon img {
      margin: 0 10px 0 5px; }
  /* line 53, ../sass/component-summary.scss */
  .summary.image-full-size img {
    width: 100%;
    margin-bottom: 10px; }
  /* line 59, ../sass/component-summary.scss */
  .summary.absolute-bottom-link {
    position: relative; }
    /* line 62, ../sass/component-summary.scss */
    .summary.absolute-bottom-link .summary-link {
      position: absolute;
      bottom: 10px;
      right: 10px; }
