/* breakpoints */
/* line 4, ../sass/component-image.scss */
.image,
.field-summaryicon {
  font-size: 0; }
  /* line 8, ../sass/component-image.scss */
  .image img,
  .field-summaryicon img {
    width: 100%; }
  /* line 12, ../sass/component-image.scss */
  .image a,
  .field-summaryicon a {
    display: inline-block;
    max-width: 100%; }
  /* line 16, ../sass/component-image.scss */
  .image .image-caption,
  .field-summaryicon .image-caption {
    display: block;
    font-style: italic;
    font-size: 11px; }

/* line 1, ../sass/image/_image-variants.scss */
.image,
.field-summaryicon {
  font-size: 0; }
  /* line 6, ../sass/image/_image-variants.scss */
  .image.image-default-size img,
  .field-summaryicon.image-default-size img {
    width: auto; }
