@import 'current-theme';
@import 'variables';

/* breakpoints */
/* line 5, ../sass/component-breadcrumb.scss */
.breadcrumb {
  clear: both;
  overflow: hidden;
  margin: 20px 0 20px 0;
  //z-index: 1;
  background-color: transparent;
  color: $colorNeutralLightest;
  font-family: $fontDefault;
  font-size: 0.65rem;
  padding-top: 0;
  line-height: 1.4 }
  /* line 10, ../sass/component-breadcrumb.scss */
  .breadcrumb.breadcrumb-navigation {
    overflow: visible; }
  /* line 14, ../sass/component-breadcrumb.scss */
  .breadcrumb .field-navigationtitle {
	display: inline-block;
  }
  .breadcrumb a {
	text-decoration: underline;
	color: $colorBrandPrimary;
	font-style: italic;
    font-weight: bold; }
  /* line 17, ../sass/component-breadcrumb.scss */
  .breadcrumb ol {
    list-style: none; }
  /* line 21, ../sass/component-breadcrumb.scss */
  .breadcrumb .field-title {
    display: inline-block; }
  /* line 24, ../sass/component-breadcrumb.scss */
  .breadcrumb .separator {
    margin: 0 5px;
    display: inline-block;
	color: $colorBrandPrimary; }
  /* line 29, ../sass/component-breadcrumb.scss */
  .breadcrumb li {
    position: relative;
    float: left; }
    /* line 33, ../sass/component-breadcrumb.scss */
    .breadcrumb li.last .separator {
      display: none; }
    /* line 39, ../sass/component-breadcrumb.scss */
    .breadcrumb li:hover > ol {
      display: block;
      position: absolute;
      top: 20px;
      left: auto;
      z-index: 100; }
    /* line 48, ../sass/component-breadcrumb.scss */
    .breadcrumb li > ol {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: none;
      margin: 0;
      background: #ffffff;
      border: 1px solid #ccc; }
      /* line 54, ../sass/component-breadcrumb.scss */
      .breadcrumb li > ol li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        border-bottom: 1px solid #ccc;
        position: relative;
        float: none;
        margin: 0;
        padding: 2px 10px 2px 5px;
        width: 100%;
        min-width: 140px;
        cursor: pointer; }
        /* line 66, ../sass/component-breadcrumb.scss */
        .breadcrumb li > ol li .fa {
          float: left; }
        /* line 70, ../sass/component-breadcrumb.scss */
        .breadcrumb li > ol li:hover {
          background: #bfbfbf;
          color: #ffffff; }
          /* line 73, ../sass/component-breadcrumb.scss */
          .breadcrumb li > ol li:hover a {
            color: #ffffff; }
        /* line 78, ../sass/component-breadcrumb.scss */
        .breadcrumb li > ol li:before {
          font-size: 14px;
          font-size: 1.4rem;
          position: absolute;
          font-family: 'icomoon', sans-serif;
          content: "\e60d";
          top: 0;
          left: 0;
          margin: 2px 0 0 0;
          padding: 0; }
        /* line 88, ../sass/component-breadcrumb.scss */
        .breadcrumb li > ol li > a {
          display: block;
          padding: 2px 0 2px 10px; }
  /* line 96, ../sass/component-breadcrumb.scss */
  .breadcrumb.breadcrumb-hide li {
    white-space: nowrap; }
    /* line 98, ../sass/component-breadcrumb.scss */
    .breadcrumb.breadcrumb-hide li.hide + li.hide {
      display: none; }
    /* line 102, ../sass/component-breadcrumb.scss */
    .breadcrumb.breadcrumb-hide li.hide a {
      display: none; }
    /* line 105, ../sass/component-breadcrumb.scss */
    .breadcrumb.breadcrumb-hide li.hide:before {
      content: "...";
      display: inline; }
    /* line 110, ../sass/component-breadcrumb.scss */
    .breadcrumb.breadcrumb-hide li.hide-full {
      display: none; }