@charset "UTF-8"

//@import 'reset'
@import 'current-theme'
@import 'variables'
@import 'fonts'
//@import 'fontawesome'
@import 'global'
//@import 'basic-sitecore-theme'
@import 'layout'

@import 'pages/home'
@import 'pages/category-page'
@import 'pages/doctor-profile'
@import 'pages/location-index'
@import 'pages/location-details'
@import 'pages/find-doctor'
@import 'pages/404'
@import 'pages/search-results'
@import 'pages/services-index'
@import 'pages/patients-visitors'
@import 'pages/careers'
@import 'mychart'
@import 'pages/career-search'
@import 'pages/career-search-results'
@import 'pages/career-details'
@import 'pages/forms'
@import 'pages/overrides'
@import 'pages/services_locations'
@import 'pages/event-listing'
@import 'pages/sitemap'
@import 'pages/resources-page'
@import 'loader'
@import 'pages/clinical-trials'

@import 'overrides/cancer-awareness/october2020'

#wrapper main
	.no-padding-container
		.component.content.col-xs-12
			padding-left: 0 !important
	.specialties-h2-container
		@extend .padder
	.padding-top-2rem
		padding-top: 2rem
.hop
	font-weight: bold



@media (min-width: $bpMed)
	html body:not(.template-category-page):not(.template-doctor-profile):not(#page-career-search) #wrapper main #content
		.component.rich-text.col-xs-12,
		.component.container.col-xs-12
			padding-left: 0
		.body-content.wrapper-no-sidenav,
		.col-xs-12.col-sm-7.primary-content-container,
		.primary-content-container
			padding-left: 40px !important
			.primary-content-container, .component.navigation.navigation-sidebar
				padding-left: 0 !important

@media (max-width: $bpMed)
	html body:not(.template-category-page):not(#page-home):not(.template-doctor-profile):not(#page-career-search) #wrapper main #content
		.container,
		.content,
		.primary-content-container,
		.breadcrumb,
		.row,
		.navigation,
		.component.plain-html,
		.component.rich-text,
		.component.rich-text.col-xs-12,
		.component.container.col-xs-12
			padding-left: 0 !important
		>.row
			margin-left: 0
			margin-right: 0
		.component.navigation.navigation-sidebar
			@media (max-width: $bpMed)
				padding-right: 40px
			@media (max-width: $bpSmall)
				padding-right: 0
		html body:not(.template-category-page):not(.template-doctor-profile):not(#page-career-search) #wrapper main
			padding-left: 15px !important
		html body:not(.template-category-page):not(.template-doctor-profile):not(#page-career-search) #wrapper main #content
			.aside
				@media (max-width: $bpMed)
					padding-left: 30px
				@media (max-width: $bpSmall)
					padding-left: 0