@charset "UTF-8"

@import 'current-theme'
@import 'variables'
@import 'fonts'
@import 'owl-carousel'

body#microsite
	font-family: $fontDefault
	color: $colorFontDefault

	.col-xs-12 > .col-xs-12
		padding-left: 0
		padding-right: 0

	.row > .row.component
		margin: 0

	.container .row .container .row
		margin: 0

	*
		box-sizing: border-box

	header
		padding: 16px 0

		img
			max-width: 100%
			height: auto

		.component.link-list
			ul
				li
					display: inline-block
					margin: 0 10px

					&:first-child
						margin-left: 0

					&:last-child
						margin-right: 0

	main
		#content
			width: 100%

			h1, h2, h3
				font-family: $fontHeading
				margin-bottom: 1em

			h1
				font-size: 3em

			h2
				font-size: 2.5em

			h3
				font-size: 2em

			p
				font-size: 18px
				line-height: 1.4
				margin-bottom: 1em

			ul, ol
				list-style-position: inside
				font-size: 18px
				line-height: 1.4
				margin-bottom: 1em

			ul
				list-style-type: disc

			ol
				list-style-type: decimal

			.cta-link
				a
					display: inline-block
					background-color: #febe10
					margin-top: 1.2rem
					color: #4a4a4a !important
					padding: 14px 30px 14px 30px
					font-family: "Gotham SSm A","Gotham SSm B",sans-serif
					text-transform: uppercase
					font-style: normal !important
					font-size: 14px
					font-weight: bold
					text-decoration: none
					box-shadow: 0 2px 4px rgba(0,0,0,.5)

					&:hover, &:focus
						background-color: lighten(#febe10, 10%)

			.hero
				min-height: 400px
				background-repeat: no-repeat
				background-color: $colorNeutralLighter
				padding-top: 32px
				padding-bottom: 32px

				.component-content
					max-width: 1600px
					margin: 0 auto
					text-align: right

					h1, p, ul, ol
						max-width: 40%
						margin-left: auto
						margin-right: 0
			.hero
				padding-top: 220px
				padding-bottom: 80px
				background-size: cover
				background-position: 75% bottom
				@if $theme == cancerCenter
					background-position: top center
				@media (min-width: $bpSmall + 1)
					min-height: 600px
				p
					font-family: $fontAccent
					font-size: 18px
				h1, p, ul, ol
					border-bottom: 0
					padding-left: 20px
					max-width: 50%
				@media (min-width: 1000px)
					ul
						margin-bottom: 300px
				@media (max-width: $bpMed)
					padding-top: 240px
				@media (max-width: $bpSmall)
					background-position: top center
					padding-top: 36%
					background-size: 100% auto
					background-repeat: no-repeat
					margin-top: 105px
					padding-bottom: 1rem
					@if $theme == baptistOnline
						margin-top: 105px
					@else if $theme == medicalGroup
						margin-top: 50px
					@else if $theme == cancerCenter
						margin-top: 50px
					@else if $theme == brainSpineNetwork
						margin-top: 105px
					@else if $theme == baptistMicrosites
						margin-top: 105px
					h1, p, ul, ol
						padding-left: 0
						max-width: 80%
					h1
						background-color: $colorAccent
						color: $colorNeutralDarkest
						margin-left: -20px
						font-size: 20px
						padding: 10px 20px
						display: inline-block
					p
						font-size: 14px
						color: $colorNeutralDarkest
						max-width: none

						@if ($theme == medicalGroup)
							font-size: 1rem


			.container
				padding-top: 32px
				padding-bottom: 32px

				&.section-blue
					background-color: $colorBrandPastel
					color: $colorNeutralLightest

					a
						color: $colorNeutralLightest

				&.section-grey
					background-color: $colorNeutralLight

				&.section-centered
					text-align: center

				.component-content
					max-width: 1600px
					margin: 0 auto

			.component.gallery
				padding-left: 0
				padding-right: 0

				.galleria-image-nav-left, .galleria-image-nav-right, .galleria-thumb-nav-left, .galleria-thumb-nav-right
					background-image: url('/-/media/Project/Baptist/Baptist/shared/gallery-icon-map.png')

				.galleria-container
					background-color: transparent

				.galleria-info
					display: none !important

				.galleria-thumbnails
					width: 100% !important
					text-align: center

					.galleria-image
						float: none
						display: inline-block
						background-color: transparent
						border: none

						&.active
							img
								opacity: 1 !important

				.gallery-inner
					img
						max-width: 610px
						margin: 0 auto

						@media (max-width: $bpSmall)
							max-width: 85%

					.owl-next, .owl-prev
						position: absolute
						top: 50%
						transform: translateY(-50%)
						font-size: 64px
						color: $colorBrandPastel
						padding: 16px !important
						background-color: transparent
						border: 0
						cursor: pointer

						@media (max-width: $bpXSmall)
							font-size: 48px

					.owl-prev
						left: 0

						@media (max-width: $bpSmall)
							padding-left: 0 !important

					.owl-next
						right: 0

						@media (max-width: $bpSmall)
							padding-right: 0 !important

					.owl-dots
						text-align: center
						margin: 16px auto 0 auto
						max-width: 610px

						.owl-dot
							width: 80px
							height: 80px
							opacity: 0.5
							margin: 0 8px 8px 8px
							background-size: contain
							background-position: center center
							background-repeat: no-repeat

							&.active
								opacity: 1

	footer
		padding-top: 32px
		padding-bottom: 32px
		background-color: $colorBrandDark
		color: $colorNeutralLightest
		text-align: center

		a
			color: $colorNeutralLightest


	&.subpage
		main
			#content
				margin-top: 32px
				margin-bottom: 32px

				.breadcrumb
					background-color: transparent
					padding-top: 0
					padding-bottom: 0

					ol
						list-style-type: none
						padding: 0

					.separator
						display: none

					li
						display: inline-block
						position: relative
						font-size: 1rem

						a
							position: relative
							color: #005699
							margin-right: 16px
							text-decoration: underline
							font-weight: bold

						&:after
							content: '/'
							position: absolute
							right: 2px
							bottom: 3px
							line-height: 1.4
							color: $colorBrandPrimary

						&:last-child:after
							content: ''
							display: none

				.navigation-sidebar
					ul
						list-style-type: none
						padding-left: 0

						li
							.field-title, .field-navigationtitle
								border-bottom: 1px solid #cdcdcd
								padding-bottom: 10px

							&:last-child
								.field-title, .field-navigationtitle
									border-bottom: 0

							a
								font-size: .8rem
								padding: .3rem 0
								font-family: "Gotham SSm A", "Gotham SSm B", sans-serif

					.rel-level1
						padding-bottom: 10px

				p
					padding: 5px 0
					line-height: 1.8

				img
					max-width: 100%

				h1
					color: #005699
					margin-bottom: 1rem

				h2
					color: #005699
					font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
					font-size: 1.5rem
					border-bottom: 1px solid #eee
					padding-bottom: .5rem
					margin-bottom: 1rem

				h3, h4, h5, h6
					font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
					text-transform: uppercase
					font-weight: bold
					color: #4a4a4a
					line-height: 1.4
					margin-top: 1rem
					margin-bottom: 1rem
					font-size: 1rem

				ul, ol
					list-style-position: outside
					padding-left: 30px

// GABE STARTED HERE:

$max-width: 1140px
$sans: "Gotham SSm A", "Gotham SSm B", sans-serif
@mixin padding($top, $right, $bottom, $left)
	padding-top: $top
	padding-right: $right
	padding-bottom: $bottom
	padding-left: $left
@mixin text-components($max-width)
	h1, h2, h3, h4, h5, h6, p, li, .component.link
		margin-left: auto
		margin-right: auto
		max-width: $max-width
		float: none


body#microsite
	header
		.link-list
			text-align: right
			font-size: 14.4px
			font-family: $sans
			font-weight: bold
			li
				a
					line-height: 30px
					margin-left: 2rem

					&.mychart-link
						border-left: 1px solid $colorNeutralDark
						padding-left: 32px
						margin-left: 12px !important
						font-weight: 400
						font-size: 12px
						padding-top: 8px
						padding-bottom: 8px

				&:only-child
					a
						&.mychart-link
							border: none
							margin-left: 0 !important
							padding-left: 0

	@media only screen and (max-width: 991px)
		header
			.main-logo
				img
					width: 200px
					display: block
					margin: auto auto 1rem auto!important
			.link-list
				text-align: center
				li
					a
						margin: 1rem 0 0 0 !important

						&.mychart-link
							padding-left: 0
							margin-left: 0 !important
							border: none


	#content .container.photo-gallery
		>.component-content, .component.gallery
			+text-components(800px)
			padding-top: 2rem
			padding-bottom: 2rem

	.component.hero
		+padding(50%, 5rem, 0, 5rem)
		@media only screen and (max-width: 990px)
			+padding(0,0,0,0)
	main #content
		.hero
			min-height: 500px
			>.component-content
				transform: translateY(20%)
				h1, p, ul, ol
					max-width: 50%
					text-align: left
				h1
					color: #2c6892
					font-size: 4rem
					line-height: 1
					margin-bottom: .2rem
				p
					font-family: $sans

			@media only screen and (min-width: 1450px)
				background-position: 30% top
			@media only screen and (max-width: 450px)
				background-size: 100%
			@media only screen and (max-width: 990px)
				background-size: 300px
				background-position: top center
				padding-top: 250px
				min-height: auto
				padding-bottom: 0
				>.component-content
					transform: translateY(0)
					padding-bottom: 2rem
					background-color: #e9e9e9
					padding-top: 2rem
					+padding(3rem, 3rem, 3rem, 3rem)
					@media only screen and (max-width: 990px)
						+padding(2rem, 3rem, 2rem, 3rem)
					@media only screen and (max-width: 450px)
						+padding(2rem, 0, 2rem, 0)
					h1, p, ul, ol
						margin-left: 0
						padding: 0 1rem
						width: auto
						max-width: 100%
						+text-components(800px)
					h1
						font-size: 2rem
						margin-bottom: 1rem
					p
						font-size: 1rem


		.default-text, .photo-gallery
			.component-content
				h2
					margin-bottom: 1rem
					font-family: $sans
					font-weight: bold
					font-size: 2.2rem
					letter-spacing: -2px
		.default-text
			+padding(3rem, 3rem, 3rem, 3rem)
			@media only screen and (max-width: 450px)
				+padding(2rem, 0, 2rem, 0)
			.component-content
				+text-components(800px)
				> .component.col-xs-12
					float: none
				.component.link
					@media only screen and (min-width: 950px)
						+padding(0, 0, 0, 0)
					@media only screen and (max-width: 450px)
						+padding(2rem, 1rem, 2rem, 1rem)

		.plain-content
			margin: auto
			width: 90%
			margin-left: 5%
			padding-top: 4rem
			img
				margin-bottom: 1rem
			@media only screen and (max-width: 450px)
				padding-left: 0 !important
				padding-right: 0 !important
				width: auto
				margin-left: 0
			h3
				font-family: $sans
				border-bottom: 2px solid #e9e9e9
				padding-bottom: .5rem
			ul
				padding-left: 2rem
				list-style-position: outside
			li
				line-height: 1
				margin-bottom: 1rem
			p, li
				font-size: 1rem

	footer
		background-color: #2c6892
		font-size: 1rem
		padding-top: 3rem
		padding-bottom: 3rem

//Adding new body class v2 so we don't break any microsites that are currently on production
body#microsite.v2
	main
		#content
			.hero
				background-size: cover
				background-position: 75% center
				background-color: transparent
				min-height: 460px

				.component-content
					text-align: left
					display: none

					h1
						background-color: transparent

					*:last-child
						margin-bottom: 0

					ul, ol
						font-family: $fontAccent
						font-size: 1rem

				@media (min-width: 992px)
					max-width: 1600px
					margin: 0 auto
					float: none

					.component-content
						top: 50%
						position: absolute
						transform: translateY(-50%)
						padding-right: 2rem
						padding-left: 2rem
						max-width: 50%
						left: 0
						right: auto

						*
							max-width: 100%

						h1
							font-size: 2rem
							margin-bottom: 1rem

				@media (min-width: 1281px)
					.component-content
						padding-right: 5rem
						padding-left: 5rem

						h1
							font-size: 4rem

				@media (max-width: 991px)
					margin-top: 0
					background-position: top center
					padding-top: 36%
					background-size: 100% auto
					min-height: auto

				@media (max-width: 991px)
					.component-content
						background-color: transparent
						padding-top: 0
						padding-bottom: 0

						h1
							background-color: $colorAccent
							color: $colorNeutralDarkest
							font-size: 20px
							padding: 10px 20px
							display: inline-block
							margin-left: -3rem

						p, ul, ol
							font-size: 14px

					& + .component.container.col-xs-12
						padding-top: 0 !important

				@media (max-width: 450px)
					.component-content
						h1
							margin-left: 0

	&.hero-text-right
		@media (min-width: 992px)
			main
				#content
					.hero
						background-position: 25% center

						.component-content
							right: 0
							left: auto

	&.hero-text-light
		@media (min-width: 992px)
			main
				#content
					.hero
						.component-content
							*
								color: $colorFontLight

							a
								text-decoration: underline
								color: $colorAccent

	&.hero-tall
		main
			#content
				.hero
					min-height: 600px

					@media (max-width: 991px)
						min-height: auto

	&.hero-with-text
		main
			#content
				.hero
					.component-content
						display: block

	&.hero-grey-bg
		@media (max-width: 991px)
			main
				#content
					.hero
						background-color: $colorNeutralLight
						padding-bottom: 40px