---
title: Patients & Visitors
subTitle: Hospital Patient Guidebook 
metaDescription: "Checklists and advice for new and returning inpatients at Baptist: paperwork, power of attorney, insurance, medications, what to bring or leave at home"
toc: true
---

{{#each sitemap }} 
	{{#if this.subnav}} 
		{{#ifequal this.name ../title}}
			{{#each this.subnav}}
				{{#ifequal this.name ../../subTitle}}

<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home</a></li>
      <li role="menuitem"><a href="./">{{../../title}}</a></li>
      <li role="menuitem" class="current"><a href="">{{../../subTitle}}</a></li> 
  </nav>
</div> 
<div class="row">
	<div class="column">
		<h1>{{this.headline}}</h1>
	</div>
</div>
 

 <div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name ../../../title}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav> 
  </div>
  <article class="column small-12 large-6 content">
{{#markdown}}

<h2 id="prepare-for-your-hospital-stay">Prepare for Your Hospital Stay</h2>

* Be prepared to share your medical history with the doctors and nurses who will be caring for you (conditions, previous surgeries, past illnesses) 
* Ask your doctor what will happen during your hospital visit. Ask for a simpler explanation for anything you don't understand.
* Learn as much as you can about your condition and any test(s) you will undergo. Ask your doctor for written information or online resources.

<h2 id="medical-paperwork-checklist">Medical Paperwork Checklist</h2>

Keep important medical paperwork up-to-date in your home so it's ready when you have to go to the hospital. 

* Start with an advanced medical directive — either a signed and notarized **living will** or a **durable power of attorney for health care**. 
	* In case something happens and you can’t make decisions for yourself, these legal documents let your doctors and family know what you have already decided about your care. 
	* Tell your doctors and family about this now so there aren't any surprises.
	* If you need to set up a living will or power of attorney while you are already in the hospital, notify Patient Registration.
	* If you do not bring a copy with you, have someone bring it to the hospital to be placed in your medical chart as soon as possible. <a href="#" class="more-link">More about important medical paperwork</a>
* Make a list of your current medications, including any over-the-counter drugs, herbal medicines and alternative products (include the dose, frequency and reason for taking each).
* List all your allergies (food, environmental, medication and others)
* List all your doctors and current pharmacies and their phone numbers.
* Select an “advocate” to help you during your hospital stay. You need a trusted family member or friend to assist you, in your room, during stressful moments, remembering things you can't, making sure your wishes are respected, etc.

<h2 id="preadmission-and-insurance">Preadmission and Insurance</h2>

Please let Baptist know ahead of time that you are coming. Most insurance companies require prior approval or certification. 

* Notify your insurance company as soon as you think you will have to go to the hospital. 
* Many insurance companies require you to notify them no later than 48 hours after an emergency admission to the hospital.
* Your insurance company may or may not be responsible for paying for your services. It depends on your policy. 
* You and your physician are responsible for making sure you have met all the conditions of your policy. 

**Your personal information:** Keep in mind that you are being admitted to the hospital because your physician, who is a member of the medical staff, has requested it. Therefore, we will need to get some personal information from you, including financial and medical records required by law. These records are confidential and will not be released to anyone without your written consent.

<h2 id="during-your-stay">During Your Stay</h2>

After being admitted to the hospital, you will receive an identification wristband. 

* Please wear it on your wrist until you are discharged from the hospital. 
* The band provides positive identification and is for your protection.

**Any medications you bring into the hospital must be left with the nurse.**

**Please do not keep valuables or money with you.** The hospital cannot be responsible for them. 

Electronic appliances, such as hair dryers, clocks, electric razors and curling irons, must be checked and approved by someone from nursing services before being used in your room. Televisions other than the one in your room are not allowed. 

**Do not bring pillows or blankets from home**. If you need extra linens, please contact someone at the nurses' station. 

<h2 id="ask-us-lots-of-questions">Ask Us Lots of Questions</h2>

If there's something you don't understand or if you're just curious, don't be embarrassed to ask about it. 

* Get to know the staff who will be caring for you. All health care professionals who come into your room will wear an ID badge that identifies them - check for it.
* Before your health care providers perform any procedures or give you any medications, ask them to check your armband, as well as identify themselves and explain the reason for their visit.
* Ask your health care providers if they've washed their hands. Often they do this before entering your room.

If for any reason you feel you aren't receiving the best care possible, talk to the nurse in charge or the hospital's patient relations representative.


Preventing Falls
Being in unfamiliar surroundings and taking medications can increase your chances for falling while in the hospital. Your health care provider will assess your potential for falling and will use hospital resources, such as side rails, identification items and emergency call lights, to help you while in the hospital. They will also orient you to the room and offer to help when you need assistance.

* Share your complete medical history with the hospital staff so they can be aware of your risks for falls.
* Any time you feel dizzy or unsteady, ask for help before moving from one place to another. Use the emergency call light.
* Be aware of your limitations and move slowly.
* Make sure your bed is in the low position before trying to stand.
* Wear socks with slip guards or slippers with soft rubber soles.
* Have a friend or family member stay with you at the hospital.
* Keep the things you frequently need or want, such as eyeglasses or hearing aids, within close reach.

<h2 id="hospital-medications">Hospital Medications</h2>

**Ask Questions:** While you're in the hospital, your physician may prescribe more than one medication for you. To help ensure you're receiving the appropriate medication, ask the following questions and write down the answers so you can remember them:

* What are the names of the medications I'm taking?
* Why am I taking this medication?
* What times will I be receiving a particular medication?
* Can I see what my medications look like?
* May I have a summary list of my discharge medications?


<h2 id="managing-your-pain">Managing Your Pain</h2>
Based on your comfort level, your health care providers will develop a pain management plan for you while you're in the hospital.  Be sure to share with your doctor what has worked to relieve your pain in the past and to provide honest answers to questions about the pain you're experiencing: 

* How intense is the pain?
* How long does it last?
* How does it interfere with your daily activities?

Here are some other things you can do to help your caregivers keep you comfortable in the hospital:

* Don't hesitate or be afraid to tell the hospital staff if you're in pain.
* Don't wait to report pain. Pain is much easier to control when it first begins than when it has become intolerable.
* Actively help your health care professionals assess your pain. Answer their questions as completely and honestly as you can.

Remember that you, your physician and the hospital staff have the same goal — **improving your health and comfort**. If you feel you aren't receiving the best care possible, talk to the nurse in charge or the hospital's <a href="#">patient relations representative</a>. Know your rights. As a patient, you are entitled to safe and quality care, and Baptist is committed to that. 

{{/markdown}}
  </article>  
  <aside class="sidebar column medium-4">
    <div class="toc-container"></div>
  	<div class="special-box">
	  	<h2>Patient Bill of Rights</h2>
		<p>Make sure you have a copy of this document in your hospital room.</p>
	</div>
  </aside>
</div>




				{{/ifequal}}
			{{/each}}
		{{/ifequal}}
	{{/if}} 
{{/each}}    
