---
title: Patients & Visitors 
metaDescription: "A guide and resource library for patients and visitors, including hospital forms, medical records, insurance questions, translation services and more."
---
 
{{#each sitemap }} 
  {{#if this.subnav}} 
    {{#ifequal this.name ../this.title}}
<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home </a></li>
      <li role="menuitem" class="current"><a href="./">{{../title}}</a></li> 
  </nav>
</div> 
<div class="row hero">
  <div class="bgimage">
    <div class="columns large-6 "> 

      <h1>{{ this.headline }}</h1>
      <figure class="hero-inline hide-for-large"><img src="/assets/img/hero_circle.png" alt="Patient Visitor main image - Smiling lady halftone"></figure>
      <p>Welcome to Baptist Memorial Health Care. We pride ourselves on our hospitality, and we want to make your visit with us as easy as possible.</p>
    </div>
  </div>
</div> 




<div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name ../title}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav> 
  </div>
  <article class="column small-12 large-10 content">
    <ul class="row no-bullet icon-grid">
      {{#each ../patients_visitors }}  
        <li class="column small-6 large-4"><a href="{{ this.url }}"><figure><img src="/assets/img/{{ this.img }}" alt="Icon - {{ this.name }}"><figcaption>{{ this.name }}</figcaption></figure></a></li> 
      {{/each}}  
    </ul>
  </article> 
</div>

     {{/ifequal}}
  {{/if}} 
{{/each}}    
