---
title: Find a Doctor
metaDescription: "Look for a primary care doctor or specialist in the Mid-South (Tennessee, Mississippi and Arkansas) associated with a Baptist Memorial Health Care hospital or clinic."
---
 
{{#each sitemap }}  
    {{#ifequal this.name ../this.title}}
<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home </a></li>
      <li role="menuitem" class="current"><a href="./">{{../title}}</a></li> 
  </nav>
</div> 
<div class="row hero">
  <div class="bgimage">
    <div class="columns large-6 "> 

      <h1>{{ this.headline }}</h1>
      <figure class="hero-inline hide-for-large"><img src="/assets/img/hero_circle.png" alt="Find a Doctor main image - Smiling lady halftone"></figure>
      <p>Baptist physicians and providers are listed below by specialty to help you find the right primary care doctor or specialist in Tennessee, Arkansas or Mississippi.</p>
    </div>
  </div>
</div> 




<div class="row">
 
  <article class="column small-12 content"> 
  

    <div class="row">
      <div class="column small-12 medium-7">
        <h3>Search by Name, Specialty, City, or ZIP Code:</h3>
        <div class="row collapse">
          <div class="column small-8 ">
            <label for="searchforadoctor" class="visually-hidden">Search for a Doctor</label>
            <input type="text" id="searchforadoctor" placeholder="Search for a Doctor" class="large">
          </div>
          <div class="column small-4 ">
            <button type="button" class="button">Search</button>
          </div>
        </div>
        <ul class="tabs" id="example-vert-tabs" data-tabs>
          <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">All</a></li>
          <li class="tabs-title"><a href="#panel2v">Baptist Medical Group</a></li> 
        </ul> 
      </div>
      <div class="column medium-5 show-for-medium">
        <div class="special-box">
          <h5>Baptist Medical Group</h5>
          <p class="small">Many doctors in the Baptist network are members of the Baptist Medical Group (BMG), the Mid-South’s largest integrated not-for-profit multispecialty physician practice. <a href="#" class="more-link">LEARN MORE ABOUT BMG</a></p>
        </div>
      </div>
    </div>
 
     

    <section class="row">
      <div class="column small-12">  

        <ul class="no-bullet specialties-list-count">
        {{#each ../specialties_count }}   
          <li>
            <div class="row">
              <div class="column name small-8"><a href="#">{{ this.name }}</a></div>
              <div class="column count small-4 text-right"><small>{{ this.count }}</small></div>
            </div>
          </li> 
        {{/each}}      
        <li>&nbsp;</li>
        </ul>  

      </div>
    </section> 

  </article> 
</div>

     {{/ifequal}} 
{{/each}}    