$serif: $body-font-family
$sans: $header-font-family
.mobile-menu-expanded 
	overflow: hidden
	height: 100%
	body 
		overflow: hidden
		height: 100%
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
+breakpoint(small down)
	body 
		padding-top: 4rem 
h1
	font-family: $serif
	color: $primary-color
	font-weight: normal
	line-height: 1.1
	margin-top: 1rem
	margin-bottom: 1rem
	font-size: 2rem
	border-bottom: 2px solid #eee
	font-weight: bold
	padding: 0 0 1rem
	+breakpoint(medium)
		font-size: 2.5rem
	+breakpoint(xxlarge)
		font-size: 3rem
		padding-right: 20%
		padding: 0 6rem 1rem 0
.small
	font-size: .8rem
.sans
	font-family: $sans
.serif
	font-family: $serif

+breakpoint(small down)
	.responsive-tabs
		li.tabs-title
			width: 100%
			&.is-active
				border-bottom: 1px solid #CCCCCC