.linkedin
	margin-top: 1rem
	a 
		background: transparent url('/assets/img/ico_linkedin.png') 0 center no-repeat
		display: block
		padding: 10px 0 10px 44px
		font-weight: bold
		font-size: 1rem
		line-height: 1 