
.content 
	big 
		font-size: 1.2rem
		display: block 
		border-bottom: 2px solid $secondary-color
		margin-bottom: 2rem
		p 
			font-style: italic 

	h2 
		color: $primary-color-darker
		font-weight: 400
		font-size: 1.5rem
		+breakpoint(medium)
			font-size: 2rem 
	h3 
		font-size: 1rem
		text-transform: uppercase  
		color: $primary-color-darker 
		margin-top: 2rem
	h4 
		font-size: .8rem
		text-transform: uppercase  
		color: $black
		margin-top: 2rem

	li 
		margin-bottom: 1rem
	blockquote 
		background-color: lighten($warning-color, 40)
		padding: 2rem
		border: none
		p 
			color: darken($warning-color, 25)
			font-style: italic
			font-size: 1.3rem
		cite  
			color: darken($warning-color, 25)
			font-weight: normal
			font-style: normal
			font-family: $sans
			display: inline
		.more-link
			display: block
			text-align: right
			margin-top: 0
		+breakpoint(small)
			padding: 1rem
			p 
				font-size: 1rem
	section 
		margin-top: 2rem 
.application-info-button
	@extend .button
	width: 100%
	+breakpoint(medium)
		display: none
.application-info-container
	display: none
	&.open
		display: block
	+breakpoint(medium)
		display: block
.locations-list
	li 
		border-bottom: 1px solid #eee
		margin-bottom: 1rem
		padding-bottom: 1rem
	h4 
		font-size: 1rem
		font-weight: bold
.more-link 
	display: block
	font-weight: 700
	font-style: italic
	margin-top: .5rem
.img-header-block
	p, li
		font-size: .8rem
		font-family: $sans
	h3 
		margin-top: 1rem
		+breakpoint(small down)
			margin-top: 0
	li 
		margin-bottom: .5rem 
.leadership-list
	li 
		margin-bottom: .5rem
	h5, p 
		margin: 0
		padding: 0
		line-height: 1.2
	h5
		font-size: .9rem
	p 
		font-size: .8rem
		font-style: italic
	.round-image 
		img 
			max-width: 80% 
			border-radius: 50%
	+breakpoint(small down)
		li 
			display: inline-block
			width: 45%
			vertical-align: top
			margin-bottom: 1rem
			&:nth-child(odd)
				padding-right: 1rem 
			img
				width: 80px



.mobile-img, .desktop-img 
	display: none 
+breakpoint(small down)
	.mobile-img
		display: block 
		margin-bottom: 1rem
+breakpoint(medium up)
	.desktop-img 
		display: block 

.history-section
	background-image: url("/assets/img/history_bg.jpg")
	background-repeat: no-repeat
	+clearfix
	background-size: 100%
	background-position: right bottom
	background-color: #ececec
	padding-bottom: 1rem
	padding: 1rem 1rem 2rem 1rem
	+breakpoint(small down)
		background-image: none
		padding: 0 1rem .5rem 1rem
		h2 
			margin-top: 0
.half-width
	width: 50%

.services-most-used  
	figure 
		&:hover 
			opacity: .8
			cursor: pointer
			img 
	figcaption
		text-align: center
		padding: .5rem 0
		font-family: $sans 
		font-size: .8rem
		text-transform: uppercase

	img 
		width: 100%
		border: 2px solid transparent
		transition-duration: .2s
		&:hover 
			border: 2px solid $warning-color
.specialties-header
	background-color: transparent
	border-bottom: 2px solid #ccc
	margin-top: 1rem
	border-top: 1px solid #eee
	ul
		background-color: transparent
	h2 
		margin: 0
.specialties-list
	
	columns: 3 350px
	column-rule: 1px solid #eee
	li 
		padding-left: 10px

.specialties-list-count
	+breakpoint(medium)
		columns: 2 
		column-rule: 1px solid #eee
	+breakpoint(xxlarge)
		columns: 3 400px
		column-rule: 1px solid #eee
	li 
		padding-left: 2rem
		padding-right: 2rem
		vertical-align: top
		line-height: 1.2
		margin: 0
		>div 
			margin: 0
			border-top: 1px solid #eee
			div 
				padding: .5rem 0
			&.count 
				font-style: italic
	// display: flex 
	// flex-wrap: wrap 
	// margin-left: -10px 
	// margin-top: -10px 
	// li 
	// 	flex: 1 0 400px  
	// 	padding: 0 10px 0 10px
	// 	margin-left: 10px 
	// 	margin-top: 10px  


.icon-grid
	a:hover 
		figure 
			border: 2px solid $warning-color
			img 
				opacity: .6
	figure 
		border: 2px solid transparent
		text-align: center
		background-color: #E8E8E8
		padding: 2rem 
		+breakpoint(small down)
			padding: 1rem
		figcaption
			font-family: $sans
			font-weight: bold
			padding-top: 1rem
			+breakpoint(small down)
				font-size: .8rem
	img
		max-height: 70px
		margin: auto 
		+breakpoint(large)
			max-height: 100px

.h1-button 
	margin-top: 1rem  
	a 
		+breakpoint(large)
			width: 100% 

h2:target  
  animation: highlight 1s ease 
 

@keyframes highlight 
  from
  	background: yellow
  to
  	background: white 


.homepage-callouts
	margin-bottom: 2rem
	padding: 0 5px
	a
		display: block 
		&:hover 
			background-color: lighten($primary-color, 60)
	.hp-callout  
		margin-top: .5rem
		text-align: center
		font-weight: bold
		&.hp-callout-one
			margin: .6rem .3rem .6rem .3rem
		&.hp-callout-two
			margin: .6rem .3rem .6rem .3rem
		&.hp-callout-three
			margin: .6rem .3rem .6rem .3rem
		figure 
			position: relative
		figcaption
			width: 50%
			font-size: 1rem
			line-height: 1.2
			padding: 1rem
			background-color: rgba($primary-color, .8)
			color: #fff
			position: absolute
			top: 50%
			left: 50%
			transform: translate3d(-50%,-50%,0)



.table-container
	th, td 
		font-family: $sans 
		font-size: .8rem
		text-align: left 
	th 
		vertical-align: bottom 
		border-bottom: 2px solid $primary-color
	td 
		vertical-align: top
		&.col_job_title 
			font-weight: bold
	+breakpoint(small down)
		position: relative
		.scroll-area
			overflow: scroll
			-webkit-overflow-scrolling: touch
			width: 100% 
		.indicator
			position: absolute
			top: 0
			right: 0
			bottom: 0
			content: ""
			width: 1rem
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 100%)
			z-index: 999
		table 	
			td, th
				white-space: nowrap
.standout.career-search-results
	border-radius: $global-radius
	+breakpoint(small down)
		padding: 1rem 
	h3, input, button, .input-group
		margin: 0


.job-listing-callouts
	a.button
		width: 100%
		margin-bottom: 0
	li 
		margin-bottom: .5rem 
		font-weight: bold

.standout.career-opp-info
	font-size: .8rem 
	font-family: $sans 
	padding: 1rem
	strong 
		display: inline-block
		width: 100%
		color: darken($warning-color, 30)
	li 
		padding: .3rem 0
		&:first-child
			border-top: 0
	+breakpoint(large)
		padding: 2rem
		li 
			strong 
				width: 120px

	+breakpoint(small down)
		padding: 1rem
		margin-left: -1rem
		margin-right: -1rem
		li 
			strong 
				width: 120px