.debug 
	position: fixed
	bottom: 0
	left: 0
	height: 40px
	display: inline-block
	padding: 0 20px
	line-height: 40px
	border-radius: 0 6px 0 0
	opacity: .8 
	font-weight: 700
	color: #fff
	font-family: $sans
	font-size: .8rem
	&:after
		content: "---"
	+breakpoint(small)
		background-color: red
		&:after 
			content: "+breakpoint(small)"
	+breakpoint(medium)
		background-color: blue
		&:after 
			content: "+breakpoint(medium)"
	+breakpoint(large)
		background-color: orange
		&:after 
			content: "+breakpoint(large)"
	+breakpoint(xlarge)
		background-color: green
		&:after 
			content: "+breakpoint(xlarge)"
	+breakpoint(xxlarge)
		background-color: purple
		&:after 
			content: "+breakpoint(xxlarge)"