
.employment-opps
	transition-duration: .2s
	position: relative
.show-employment-opps-search 
	.back-btn 
		display: block
	.employment-opps
		transform: translateX(-100%)
	.opp01 
		display: block
.opp01
	position: absolute 
	top: 0 
	left: 100% 
	background-color: lighten($warning-color, 40)
	box-shadow: inset 1px 0 40px 0 rgba(#000, .2)
	width: 100% 
	height: 100% 
	padding: 4rem 2rem 2rem 2rem
	display: none

.sidebar
	+breakpoint(small down)
		overflow: hidden

.back-btn
	display: none
	position: absolute
	top: 0
	right: -43px
	z-index: 9
	background-color: #FFE7A8 
	width: 44px
	text-align: center
	padding-top: 13px
	padding-bottom: 4px
	box-shadow: 1px 1px 0px 0 #E4DBC6
	border-radius: 0 50% 50% 0
	cursor: pointer
	&:hover
		svg 
			fill: $primary-color
.svg-arrow-l 
	display: none 
.svg-arrow-r
	display: inline-block
+breakpoint(small down)
	.svg-arrow-l
		display: inline-block
	.svg-arrow-r
		display: none 