footer
	text-align: center
	border-top: 1px solid #ccc
	margin-top: 1rem
	padding-top: 1rem
	padding-bottom: 1rem
	.menu 
		a 
			display: block


.language-menu
	text-align: center 
	margin: 0 auto
	display: inline-block