header#main-header 
	background-color: $primary-color  
	+breakpoint(small down)
		position: fixed
		top: 0
		left: 0
		right: 0 
		z-index: 99999
	> .row
		position: relative
	+breakpoint(small down)
		height: 44px
		margin-bottom: 1rem
.logo  
	img
		width: 70%
		max-width: 250px
		display: inline-block 
		text-align: left
		margin: .8rem auto 0 auto
	+breakpoint(medium)
		margin: 2rem auto .5rem auto
	+breakpoint(small down)
		text-align: center
		img 
			max-width: 180px
.patient-services
	padding-top: 1rem 
	font-size: .8rem
	+breakpoint(large)
		font-size: 1rem
.search-button 
	color: #fff
	svg
		fill: #fff  
		margin-bottom: 0
		top: 0 
		right: 0 
		float: right
		position: absolute
.hamburger-menu
	svg 
		fill: #fff 
		position: absolute
		margin: 0
		top: 0
		left: 0
		width: 44px
		height: 44px
	svg.close-icon
		display: none
.mobile-menu-expanded
	.hamburger-menu 
		.hamburger-icon
			display: none
		.close-icon
			display: block
			background-color: #F6FCFE
			fill: $primary-color
#site-search
	padding-top: .5rem

	input.expanded 
		margin-bottom: 0
		width: 200px
		@extend .float-right
		height: 2rem
		font-style: italic
	button.button 
		margin-left: 2px
		margin-bottom: 0
		padding: 0.70em 1rem
		text-transform: uppercase
		font-size: .8rem
		font-weight: bold
		color: darken($warning-color, 30)


