.bgimage
	background-color: $primary-color
	+breakpoint(large)
		background-image: url("/assets/img/hero_img.jpg")
		background-size: auto 100%
		background-position: bottom right
		background-repeat: no-repeat
		+clearfix 
		padding: 5.5rem 2rem 5rem 2rem 
		min-height: 300px
.hero	 
	margin-bottom: 2rem
	h1 
		line-height: 1
		font-family: $serif
		color: $primary-color
		font-weight: 700
		font-size: 2rem

		+breakpoint(large)
			font-size: 2.8rem
			color: $white
			font-weight: 700
		+breakpoint(xxlarge)
			font-size: 3.4rem
	p, li
		font-family: $sans 
		font-size: .8rem
		+breakpoint(medium)
			font-size: 1rem
		+breakpoint(large)
			color: $white
	a 
		color: $primary-color
		font-weight: bold
		+breakpoint(large)
			color: $warning-color
	.hero-inline 
		float: right
		margin: 0 0 20px 20px
		width: 200px
		+breakpoint(small only)
			width: 30%
			max-width: 200px
		img 	
			width: 100% 
