.patient-services 
	li 
		a 
			color: $white
			font-family: $serif 
			font-style: italic




#main-navigation
	background-color: $primary-color-darker
	margin-bottom: 1rem
	margin-top: 1rem
	+breakpoint(medium)
		.ps 
			display: none 
	a 
		color: #fff
	li li a 
		color: $primary-color
		&:hover 
			background-color: lighten($warning-color, 40)
	.row
		position: relative 
.nav-main  
	li  
		a
			padding-top: 1rem
			padding-bottom: 1rem  
			font-family: $sans
			font-weight: 700
			font-size: .9rem
		.submenu a
			font-weight: 400
+breakpoint(small down)
	.is-dropdown-submenu 
		width: 100%
	#main-navigation
		position: relative
		z-index: 999

+breakpoint(medium)
	.dropdown.menu
		position: inherit
		.is-dropdown-submenu-parent
			position: inherit
		.is-dropdown-submenu 
			box-shadow: 0 10px 20px rgba(#000, .2)
			right: 0  
			left: 0
			top: 48px !important
			border: 1px solid $primary-color
			border-width: 0 1px 1px 1px
			position: absolute   
			padding: 2rem 1rem
			background-color: #FFF
			ul 
				background-color: #c00
			li 
				width: 24%
				display: inline-block
				margin-bottom: 0
				a
					padding-top: .5rem
					padding-bottom: .5rem



.main-menu-ul
	@extend .dropdown 
	@extend .vertical 
	@extend .medium-horizontal 
	@extend .menu
.main-menu-nav 
	@extend .nav-main

#homepage
	.hero 
		margin-top: .5rem
	#main-navigation, .hero
		margin-bottom: 0
#main-menu-mobile
	background-color: #fff
	z-index: 999 
	position: fixed 
	top: 44px 
	left: 0  
	width: 100%
	max-width: 300px
	bottom: 0 
	overflow: scroll  
	-webkit-overflow-scrolling: touch
	box-shadow: 0 0 100px rgba(#000, .6)
	transform: translateX(-400px) 
	transition: transform .2s ease-out
	&.slide-in
		transform: translateX(0)
	a 
		font-weight: 400
	ul 
		@extend .no-bullet
	li 	 
		padding: 0 1rem 
		position: relative
	>ul 
		>li  
			margin: 0
			&.search-li 
				padding-top: 1rem
				border-bottom: 2px solid $secondary-color
				background-color: lighten($secondary-color, 30)
				button
					margin-left: 2px
					padding: 0.95em 1em
					background-color: $warning-color
					color: darken($warning-color, 30)
					font-weight: bold
					text-transform: uppercase
					font-family: $sans 
					font-size: .8rem
			.toggle-subnav  
				position: absolute
				right: 1rem
				top: 2px
				width: 44px
				line-height: 44px  
				display: inline-block
				text-align: center 
				display: block
				border-left: 1px solid #eee
			a 
				font-weight: 700 
				font-size: 1rem
				border-bottom: 1px solid #ccc
				display: block
				line-height: 1
			ul  
				background-color: lighten($primary-color, 70)
				border-radius: $global-radius
				margin-top: .5rem
				padding-top: 0
				display: none
				&.expanded-list
					display: block
				li 
					border-bottom: 1px solid lighten($primary-color, 65)
					padding: 0 0 0 .5rem
					a 
						font-size: .8rem
						border-bottom: 0
			li  
				vertical-align: top
				a 
					font-weight: 400 
		&.ps 
			li 
				padding: 0
				a
					font-weight: 400
					border-bottom: 0
					font-family: $serif 
					font-style: italic
					padding: .5rem 1rem

.overlay
	position: fixed 
	z-index: 888 
	top: 0
	right: 0
	left: 0
	bottom: 0
	background-color: rgba($primary-color, .5)
	display: none
.mobile-menu-expanded
	.overlay 
		display: block
		opacity: 0
		transition-duration: 1s
	&.slide-in
		.overlay 
			opacity: 1
+breakpoint(medium)
	#main-navigation-mobile
		display: none
+breakpoint(small down)
	#main-navigation	
		display: none