.nav-side 
	ul 
		@extend .no-bullet
		max-width: 130px
		li 
			a 
				border-bottom: 1px solid #ccc
				padding-top: .8rem
				padding-bottom: .8rem
				display: block
				font-size: .8rem
				line-height: 1.2
				font-family: $header-font-family
				font-weight: 400
				color: darken(#68CEF3, 30)
				border-bottom: 1px solid lighten(#68CEF3, 20)
				&:hover 
					color: #333
					border-bottom: 1px solid lighten(#68CEF3, 0)