aside.sidebar
	h2
		font-size: 1rem
		text-transform: uppercase
		color: darken($warning-color, 30)
	h3
		font-size: 1rem
		font-weight: bold
	h4
		font-size: 1rem
		font-weight: bold
		text-transform: uppercase
		border-bottom: 2px solid #eee
		margin-bottom: 1rem
		padding: .5rem 0
	h5 
		font-size: .8rem
	img
		margin-bottom: 1rem


.map 
	margin: 0
	padding: 0
	img 
		width: 100%

figure.map
	margin-bottom: 1rem
.mapkey 
	line-height: 1
	padding: 10px 0 10px 20px
	display: block
	font-size: .8rem
	font-family: $sans
	font-weight: bold 
	background-size: 10px auto !important

.mk1
	background: transparent url('/assets/img/ico_circlestar.png') 0 center no-repeat
.mk2
	background: transparent url('/assets/img/ico_triangle.png') 0 center no-repeat
.mk3
	background: transparent url('/assets/img/ico_plus.png') 0 center no-repeat
.mk4
	background: transparent url('/assets/img/ico_star.png') 0 center no-repeat
.expand-btn 
	width: 140px

.awards-list 
	li 
		width: 24%
		display: inline-block
.callout-img 
	margin-top: 2rem
.special-box 
	padding: 2rem 1rem 1rem 1rem
	background-color: #efefef
	border-radius: 6px
	margin-bottom: 1rem
	dl 
		border-top: 1px solid darken(#efefef, 10) 
		padding-top: .5rem
	dt, dd
		font-size: .8rem 
		font-family: $sans
		margin-bottom: 0
	dd
		margin-bottom: .5rem
		border-bottom: 1px solid darken(#efefef, 10)
		padding-bottom: .5rem
.cta-list .button
	width: 100%
	+breakpoint(xxlarge)
		width: auto

.locations-map-box
	margin-bottom: 2rem
	background-color: lighten($secondary-color, 25)
	border-radius: $global-radius
	header
		padding: 2rem 1rem 0 1rem
		h2
			color: darken($secondary-color, 25)
		address
			font-family: $sans
			font-style: normal
			@extend .small
		.button 
			background-color: $primary-color 
			font-weight: bold
			+breakpoint(small down)
				width: 100%