.standout
	background-color: lighten($warning-color, 30)
	padding: 2rem
	margin-bottom: 2rem

	ul 
		@extend .no-bullet
		margin-bottom: 0
		li 
			border-top: 1px solid rgba(#000, .1)
			a 
				font-size: .9rem 
				padding: .5rem 0
				line-height: 1.2
				display: block 
				font-family: $sans
