.tabs
	border-bottom: 1px solid #ccc
	li 
		border: 1px solid #ccc  
		margin: 0 3px 0 0
		background-color: #eee 
		margin-bottom: -1px
		a
			font-weight: bold
			&:hover 
				background-color: #ddd
	.is-active	
		border-bottom: 1px solid #fff
		border-bottom-color: #fff
		a 
			color: #333
