<div class="modal fade" tabindex="-1" role="dialog" id="mychartmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div id="MyChartLoginPanel">
			<form action="http://localhost/mychart/logincheck.asp" method="post" id="MyChartLoginForm" onsubmit="window.setTimeout(WPClearFields,1000); return WPSetJsEnabled();" autocomplete="off"> 

				<div id="nojavascript"><span class="alert"><span class="clearlabel"></span>You must enable JavaScript to use this site. <a target="_blank" href="http://localhost/mychart/help.asp?topic=COMPONENT^JAVASCRIPTENABLE">Click here for instructions on enabling JavaScript.</a></span></div>
				<div class="MyChartFormField">
					<!-- START INPUT FIELDS -->
					<label class="MyChartInput" for="Login">MyChart Username</label>
					<input class="disabledfield jsreq" type="text" autocomplete="off" id="Login" name="Login" tabindex="1" maxlength="128" disabled="disabled" />
					<span class="loginhint">
						<a href="http://localhost/mychart/recoverlogin.asp" tabindex="10001" target="_blank">Forgot MyChart Username?</a>
					</span>
				</div>
				<div class="MyChartFormField">
					<label class="MyChartInput" for="Password">Password</label>
					<input class="disabledfield jsreq" type="password" autocomplete="off" id="Password" name="Password" tabindex="2" disabled="disabled" />
					<span class="loginhint">
						<a href="http://localhost/mychart/passwordreset.asp" tabindex="10002" target="_blank">Forgot Password?</a>
					</span>
				</div>
				<div class="MyChartFormField">
					<input class="hidden" type="hidden" id="jsenabled" name="jsenabled" value="0" />
					<input class="disabledfield jsreq" type="submit" id="MyChartSubmit" name="Submit" value="Sign In" tabindex="3" disabled="disabled" />
				</div>
				<div class="MyChartLoginFormField">
						<a href="http://localhost/mychart/default.asp?lang=espanol" target="_blank">En Espa&ntilde;ol | </a>
						<a href="http://localhost/mychart/digidaccesscheck.asp" tabindex="10003" target="_blank">Sign Up for an Account</a> <!--Link to Signup page-->
				</div>
				<div class="MyChartLoginFormField">
		 
						<!-- UNCOMMENT THE FOLLOWING LINE FOR FAQ LINK TO SHOW-->
						<!-- **REQUIRED STEP** REPLACE "http://localhost/mychart/default.asp?mode=stdfile&amp;option=faq" with your MyChart site's URL. e.g. "http://mychart.organization.org/mychart/default.asp?mode=stdfile&amp;option=faq" -->
						<!--<a href="http://localhost/mychart/default.asp?mode=stdfile&amp;option=faq" tabindex="10004" target="_blank">FAQ |</a>-->

						<!-- PRIVACY POLICY LINK -->
						<!--<a href="http://localhost/mychart/default.asp?mode=stdfile&amp;option=hlthprivacy" tabindex="10005" target="_blank"> Privacy Policy |</a>-->
		 
						<!-- TERMS AND CONDITIONS LINK -->
						<!-- **REQUIRED STEP** REPLACE "http://localhost/mychart/default.asp?mode=stdfile&amp;option=termsandconditions" with your MyChart site's URL. e.g. "http://mychart.organization.org/mychart/default.asp?mode=stdfile&amp;option=termsandconditions" -->
						<!--<a href="http://localhost/mychart/default.asp?mode=stdfile&amp;option=termsandconditions" tabindex="10006" target="_blank"> Terms and Conditions</a>-->
		 
						<!-- ADD ADDITIONAL FOOTLINKS BELOW THIS LINE -->
		 
				</div> 
				<div class="MyChartLoginFormField">
						<a href="http://localhost/mychart/default.asp?mode=stdfile&amp;option=epiccopyright" tabindex="10007" target="_blank">MyChart&nbsp;&reg; Epic Systems Corporation</a>
				</div>
		 
			</form>
		</div>
	</div>
</div>
<script type="text/JavaScript" src="-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/scripts/mychart.js"></script>