---
title: Locations
metaDescription: "Locate and contact any hospital, minor medical center, speciality center, or clinic within the Baptist network in Tennessee, Mississippi and Arkansas."
---
 
{{#each sitemap }} 
  {{#if this.subnav}} 
    {{#ifequal this.name ../this.title}}


<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home</a></li>
      <li role="menuitem" class="current"><a href="./">{{ this.name }}</a></li> 
  </nav>
</div> 


<div class="row hero">
	<div class="bgimage">
		<div class="large-6 columns">
			<h1>{{ headline }}</h1>
			<figure class="hero-inline hide-for-large"><img src="/assets/img/hero_circle.png" alt="Locations main image - Smiling lady halftone"></figure>
			<p>We want to provide you with compassionate care close to home with many different convenient locations throughout the Mid-South with hospitals in Tennessee, Arkansas and Mississippi.</p>
		</div>
	</div>
</div> 

<div class="row">
	<div class="column large-7"> 

 
		    <ul class="tabs responsive-tabs" id="location-list-tabs" data-tabs>
		      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Hospitals</a></li>
		      <li class="tabs-title"><a href="#panel2v">Minor Medical Centers</a></li>
		      <li class="tabs-title"><a href="#panel3v">Specialty Facilities</a></li>
		      <li class="tabs-title"><a href="#panel4v">Clinics</a></li>  
		    </ul> 
		    <div class="tabs-content" data-tabs-content="location-list-tabs">
		      <div class="tabs-panel is-active" id="panel1v">

				<ul class="no-bullet locations-list">
					{{#each ../locations }} 
						<li class="row">
							<div class="column small-8">
								<h4><a href="{{ this.url }}">{{ this.name }}</a> </h4>
								<address>{{ this.address }} <br> {{ this.citystate }}</address> 
							</div>
							<div class="column small-4 text-right">
								<div>{{ this.phone }}</div>
								<div><a href="#">Get directions</a></div>
							</div>
						</li>
					{{/each}}
	            </ul>
		      </div>
		      <div class="tabs-panel" id="panel2v">
		        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
		      </div>
		      <div class="tabs-panel" id="panel3v">
		             <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		      </div>
		      <div class="tabs-panel" id="panel4v">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		      </div>		      
		    </div> 


	</div>
	<aside class="column large-5">
		<figure class="map row"><div class="column">
		<div class="responsive-embed">
			<iframe
			  width="600"
			  height="450"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDMIqn-4oFWLfO5lDk3S9aIV1e27NUr5rk&q=Space+Needle,Seattle+WA" allowfullscreen>
			</iframe>
		</div>
		</div></figure>
		<div class="row">
			<div class="column small-8 medium-6">
				<ul class="no-bullet">
					<li><a href="#" class="mapkey mk1">Home Health Locations</a></li>
					<li><a href="#" class="mapkey mk2">Hospice Locations</a></li>
					<li><a href="#" class="mapkey mk3">BMH Hospitals</a></li>
					<li><a href="#" class="mapkey mk4">Baptist Minor Medical Center</a></li>
				</ul>
			</div>
			<div class="column small-4 medium-6 text-right"><img class="expand-btn" src="/assets/img/expand-btn@2x.png" alt=""></div>
		</div>
	</aside>
</div>



     {{/ifequal}}
  {{/if}} 
{{/each}}    