---
title: Locations
subTitle: Minor Medical Centers 
metaDescription: "Need urgent care in Bartlett, Tennessee, and no long hospital emergency room wait? Quick care for common medical conditions, from Baptist Memorial Health Care."
---

{{#each sitemap }} 
	{{#if this.subnav}} 
		{{#ifequal this.name ../title}}
			{{#each this.subnav}}
				{{#ifequal this.name ../../subTitle}}

<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="/">Home</a></li>
      <li role="menuitem"><a href="../">{{../../title}}</a></li>
      <li role="menuitem" class="current"><a href="./">{{../../subTitle}}</a></li> 
  </nav>
</div> 
<div class="row">
	<div class="column">
		<h1>{{this.headline}}</h1>
	</div>
</div>
 

 <div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name ../../../title}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav> 
  </div>
  <article class="column small-12 medium-7 large-6 xlarge-5 content">
{{#markdown}}

Avoid a long waiting room delay at a hospital emergency room. We offer quick and easy care for a variety of common medical conditions without an appointment. Our clinic features X-ray capabilities, in-house labs, EKGs, and a highly qualified team of healthcare professionals.

Baptist Minor Medical Centers accept most insurance plans and treat both adults and children (12 months and older).



## Common conditions treated

* Workers compensation
* Flu symptoms
* Fever
* Twisted or sprained ankles
* Cuts, bumps, and sprains
* Cough, cold, or sore throat
* Skin rash
* Ear infection
* Wound care
* Animal bites
* Asthma
* Preventive medicine
* Sinus infections

## When should I got to a hospital emergency room?

* Fainting or unconsciousness
* Choking or difficulty breathing
* Continuous bleeding
* Coughing or vomiting blood
* Severe or persistent vomiting
* Chest pain
* Upper abdominal pain or pressure
* Head or spine injury
* Sudden, severe pain
* Sudden dizziness, weakness, or blurred vision
* Ingestion of a poisonous substance
* Motor vehicle accident, burns, smoke inhalation, near drowning, or severe wound
* Suicidal or homicidal feelings



{{/markdown}}
  </article>  
  <aside class="sidebar column medium-5 large-4 xlarge-5">
    

    <div class="row">
      <div class="column xlarge-7"> 
        <div class="locations-map-box">
          <header>
            <h2>Baptist Minor Medical Center Bartlett </h2>

            <div class="row">
              <div class="column medium-7"> 
                  <address>
                    7424 U.S. Hwy. 64, Ste. 111<br>
                    Bartlett, TN 38133<br>
                    901-385-7817<br><br>
                  </address> 
              </div>
              <div class="column medium-5 text-right">
                <p><a href="#" class="button small">Directions</a></p>
              </div>
            </div> 
          </header>
          <div class="responsive-embed">
            <iframe 
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDMIqn-4oFWLfO5lDk3S9aIV1e27NUr5rk&q=Space+Needle,Seattle+WA" allowfullscreen>
            </iframe>
          </div> 
        </div>
      </div>
      <div class="column xlarge-5"> 

        <div class="special-box">
          <h2>Hours Of Operation</h2>
          <dl>
            <dt>Monday - Friday</dt>
            <dd>8 a.m. - 7:30 p.m.</dd>
            <dt>Saturday and Sunday</dt>
            <dd>8 a.m. - 2:00 p.m.</dd>
          </dl>
          <p class="small"><em>Holiday hours may vary. Open holidays except Easter, Thanksgiving Day and Christmas Day.</em></p>
        </div>



      </div>
    </div>
    <ul class="cta-list no-bullet">
      <li><a href="#" class="button warning">PRE-REGISTER FOR CARE ONLINE</a></li>
      <li><a href="#" class="button warning">PRE-REGISTER WITH OUR IPHONE APP</a></li> 
    </ul>
    <p class="small">The Minor Med Rest &amp; Relax at Home Smart Phone application gives patients the ability to pre-register and check in to any of Baptist's four minor medical centers in the greater Memphis, Tennessee area from their home or place of work. A staff member will get the patient's information over the phone and call the patient when a room is ready.</p>

  </aside>
</div>




				{{/ifequal}}
			{{/each}}
		{{/ifequal}}
	{{/if}} 
{{/each}}    
