---
title: Locations
subTitle: Baptist Memorial Hospital for Women 
metaDescription: "Memphis’ only freestanding women’s hospital, offering labor and delivery, gynecological surgery, a newborn intensive care unit (NICU) and the Comprehensive Breast Center."
---

{{#each sitemap }} 
	{{#if this.subnav}} 
		{{#ifequal this.name ../title}}
			{{#each this.subnav}}
				{{#ifequal this.name ../../subTitle}}

<div class="row">
  <nav class="breadcrumbs columns small-12" role="menubar" aria-label="breadcrumbs">
      <li role="menuitem"><a href="#">Home</a></li>
      <li role="menuitem"><a href="#">{{../../title}}</a></li>
      <li role="menuitem" class="current"><a href="#">{{../../subTitle}}</a></li> 
  </nav>
</div> 
<div class="row">
	<div class="column large-8 xlarge-10">
		<h1>{{this.headline}}</h1>
	</div>
  <div class="column large-4 xlarge-2"><p class="h1-button"><a href="#" class="button alert">Find a Physician Here</a></p></div>
</div>
 

 <div class="row">
  <div class="column large-2 show-for-large">
    <nav class="nav-side"> 
      <ul>
      {{#each ../../sitemap }} 
        {{#if this.subnav}} 
          {{#ifequal this.name ../../../title}}
            {{#each this.subnav}}
              <li><a href="{{ this.url }}">{{ this.name }}</a></li>
            {{/each}} 
          {{/ifequal}}
        {{/if}} 
      {{/each}}      
      </ul>
    </nav> 
  </div>
  <article class="column small-12 medium-7 large-6 xlarge-5 content">

{{#markdown}}

As the only freestanding women&rsquo;s hospital in Memphis, Baptist Women&rsquo;s Hospital offers labor and delivery, gynecological surgery, a newborn intensive care unit (NICU) and the Comprehensive Breast Center. Baptist Women&rsquo;s Hospital is also the the regional referral center for high-risk pregnancies, mammography diagnostics and urogynecology.

Meeting the needs of women at every stage of their lives, the 140-bed hospital is located adjacent to the Baptist Memorial Hospital-Memphis campus and has a 24-hour maternity ambulance entrance, 23 labor and delivery suites and 48 mother/baby rooms with a well-baby nursery.
 
* <a href="#">Insurance Information</a>
* <a href="#">Medical Services</a>
* <a href="#">Visitor Information</a>
* <a href="#">Contact a Patient</a>
* <a href="#">Pre-register Online</a>
* <a href="#">Forms</a>


{{/markdown}}
  </article>  
  <aside class="sidebar column medium-5 large-4 xlarge-5">
    

    
    <div class="row">
      <div class="column xlarge-7"> 
        <div class="locations-map-box">
          <header>
            <h2>Baptist Memorial Hospital for Women </h2>

            <div class="row">
              <div class="column medium-7"> 
                  <address>
                    6225 Humphreys Blvd.<br>
                    Memphis, TN 38120<br>
                    901-227-9000<br>
                    <a href="mailto:info.womens@bmhcc.org">info.womens@bmhcc.org</a><br><br>
                  </address> 
              </div>
              <div class="column medium-5 text-right">
                <p><a href="#" class="button small">Directions</a></p>
                
              </div>
            </div> 

          </header>
          <div class="responsive-embed">
            <iframe 
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDMIqn-4oFWLfO5lDk3S9aIV1e27NUr5rk&q=Space+Needle,Seattle+WA" allowfullscreen>
            </iframe>
          </div> 
        </div>
      </div>
      <div class="column xlarge-5"> 

        <div class="special-box">
          <h2>Hours Of Operation</h2>
          <dl>
            <dt>Monday - Friday</dt>
            <dd>8 a.m. - 7:30 p.m.</dd>
            <dt>Saturday and Sunday</dt>
            <dd>8 a.m. - 2:00 p.m.</dd>
          </dl>
          <p class="small"><em>Holiday hours may vary. Open holidays except Easter, Thanksgiving Day and Christmas Day.</em></p>
        </div>



      </div>
    </div>
    <ul class="cta-list no-bullet">
      <li><a href="#" class="button warning">PRE-REGISTER FOR CARE ONLINE</a></li>
      <li><a href="#" class="button warning">PRE-REGISTER WITH OUR IPHONE APP</a></li> 
    </ul>
    <p class="small">The Minor Med Rest &amp; Relax at Home Smart Phone application gives patients the ability to pre-register and check in to any of Baptist's four minor medical centers in the greater Memphis, Tennessee area from their home or place of work. A staff member will get the patient's information over the phone and call the patient when a room is ready.</p>

  </aside>
</div>




				{{/ifequal}}
			{{/each}}
		{{/ifequal}}
	{{/if}} 
{{/each}}    
