{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    {{#ifequal homepage true }}
      <title>Baptist Memorial Health Care - Mid-South Hospitals and Specialty Centers</title>
    {{else}}
      {{#each sitemap }}
        {{#if this.subnav}} 
          {{#ifequal this.name ../title}}
            {{#if ../subTitle}} 
              {{#each this.subnav}}
                {{#ifequal this.name ../../subTitle}}
      <title>{{this.page_tag}}</title>
                {{/ifequal}}
              {{/each}}
            {{else}}           
      <title>{{this.page_tag}}</title>
            {{/if}}
          {{/ifequal}}
        {{else}}
      <title>{{this.page_tag}}</title>
        {{/if}} 
      {{/each}}
    {{/ifequal}}
    <meta name="description" content="{{ metaDescription }}" />    
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6614852/7165572/css/fonts.css" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body {{#if homepage}}id="homepage"{{/if}}>
    <div class="debug"></div>
    <header id="main-header">
      <div class="row">
        <div class="show-for-small-only column small-2">
          <div class="hamburger-menu" data-hide-for="medium">
            <button type="button" data-toggle="main-menu-mobile" aria-label="Main Menu"><svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="-10 0 44 24"><path d="M2 15.5v2h20v-2H2zm0-5v2h20v-2H2zm0-5v2h20v-2H2z"/></svg><svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="-10 0 44 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></button> 
          </div>
        </div>
        <figure class="column small-8 medium-4 logo"><a href="/"><img src="/assets/img/logo_on_blue.png" alt="Baptist Logo"></a></figure>
        <div class="patient-services column small-12 medium-8 right show-for-medium text-right"> 
          <div class="float-right">
            <ul class="dropdown vertical medium-horizontal menu ps">
              <li><a href="#">Medical Records</a></li> 
              <li><a href="#">Pre-register for care</a></li>
              <li><a href="#">Pay my bill</a></li>
            </ul> 
            <div id="site-search"> 
              <div class="row collapse">
                <div class="column small-9 ">
                  <input type="search" placeholder="Site Search" class="expanded" aria-label="Site search text input field">
                </div>
                <div class="column small-3">
                  <button type="button" class="button warning expanded" aria-label="Submit search form">Search</button>
                </div>
              </div>
            </div>
          </div> 
        </div>
        <div class="column small-2 show-for-small-only">
          <button class="search-button" aria-label="Search button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="-10 -5 40 34"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></button></div>
      </div>
      <div id="main-navigation">
        <div class="row">
          <nav class="main-menu-nav" id="main-menu">
            <ul class="main-menu-ul" data-dropdown-menu>
              {{#each sitemap }}
                <li><a href="{{ this.url }}">{{ this.name }}</a> 
                {{#if this.subnav}}
                <ul class="menu">
                  {{#each this.subnav}}
                    <li><a href="{{ this.url }}">{{ this.name }}</a></li>
                  {{/each}}
                </ul>
                {{/if}}
                </li>
              {{/each}}              
            </ul>
          </nav>
        </div>      
      </div>
    </header>
    <div id="main-navigation-mobile">
      <div class="row">
        <nav class="main-menu-nav" id="main-menu-mobile">
          <ul>
            <li class="search-li">
              <div class="row collapse">
                <div class="column small-8 ">
                  <input type="search" placeholder="Site Search" name="mobile-search" id="mobile-search" class="expanded" aria-label="Site search text input field">
                </div>
                <div class="column small-4">
                  <button type="button" class="button warning expanded" aria-label="Submit search form">Search</button>
                </div>
              </div>
            </li>
            {{#each sitemap }}                
              <li>
                
                <a href="{{ this.url }}">{{ this.name }}</a> 
                {{#if this.subnav}}
                <span class="toggle-subnav">+</span>
                <ul>
                  {{#each this.subnav}}
                    <li><a href="{{ this.url }}">{{ this.name }}</a></li>
                  {{/each}}
                </ul>
                {{/if}}
              </li>
            {{/each}}              
          </ul>
        </nav>
      </div>      
    </div>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

    {{> body}}
    <footer class="row">
      <div class="column small-12">
        <p>&copy; copyright 2016 Baptist Memorial Health Care Corporation, All Rights Reserved</p>
        <ul class="vertical medium-horizontal menu">
          <li><a href="/">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Patient Services</a></li>
          <li><a href="#">Health Plan Providers</a></li>
          <li><a href="#">Physician Resources</a></li>
          <li><a href="#">Privacy &amp; Security Policy</a></li>
          <li><a href="#">Nurse Resources</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="/sitemap.html">Sitemap</a></li>
        </ul>
      </div> 

    </footer>
    <footer class="row">
      <div class="column small-12"> 
        <p><strong>Language Assistance</strong></p>
        <ul class="vertical medium-horizontal menu language-menu">
          <li>
            <a href="/patient-visitor/communication-translation#Amharic">አማርኛ</a>
            <a href="/patient-visitor/communication-translation#Arabic">العربية</a>
            <a href="/patient-visitor/communication-translation#Chinese">繁體中文</a>
          </li>
          <li>
            <a href="/patient-visitor/communication-translation#Farsi">فارسی</a>
            <a href="/patient-visitor/communication-translation#French">Français</a>
            <a href="/patient-visitor/communication-translation#German">Deutsch</a>
          </li>
          <li>
            <a href="/patient-visitor/communication-translation#Gujarati">ગુજરાતી</a>
            <a href="/patient-visitor/communication-translation#Hindi">हिंदी</a>
            <a href="/patient-visitor/communication-translation#Hmong">Hmoob</a>
          </li>
          <li>
            <a href="/patient-visitor/communication-translation#Italian">Italiano</a>
            <a href="/patient-visitor/communication-translation#Japanese">日本語</a>
            <a href="/patient-visitor/communication-translation#Khmer">ខ្មែរ</a>
          </li>
          <li>
            <a href="/patient-visitor/communication-translation#Korean">한국어</a>
            <a href="/patient-visitor/communication-translation#Lao">ພາສາລາວ</a>
            <a href="/patient-visitor/communication-translation#Marshallese">Kajin Ṃajōḷ</a>
          </li>
          <li>
            <a href="/patient-visitor/communication-translation#Portuguese">Português</a>
            <a href="/patient-visitor/communication-translation#Punjabi">ਪੰਜਾਬੀ</a>
            <a href="/patient-visitor/communication-translation#Russian">Русский</a>
          </li>
          <li>
            <a href="/patient-visitor/communication-translation#Spanish">Español</a>
            <a href="/patient-visitor/communication-translation#Filipino">Tagalog – Filipino</a>
            <a href="/patient-visitor/communication-translation#Vietnamese">Tiếng Việt</a>
          </li>
        </ul>
      </div> 
    </footer>
    <div class="overlay"></div>


    <script src="{{root}}assets/js/app.js"></script>
    <script> 
    {{#if this.toc }}
        var ToC =
          "<nav role='navigation' class='table-of-contents'>" +
            "<h2>On this page:</h2>" +
            "<ul>";

        var newLine, el, title, link;

        $("article h2").each(function() {

          el = $(this);
          title = el.text();
          link = "#" + el.attr("id");

          newLine =
            "<li>" +
              "<a href='" + link + "'>" +
                title +
              "</a>" +
            "</li>";

          ToC += newLine;

        });

        ToC +=
           "</ul>" +5
          "</nav>";

        $(".toc-container").prepend(ToC);
      {{/if}}


      $('.hamburger-menu, .overlay, .search-button').click(function(e) {
        $('html').toggleClass('mobile-menu-expanded');
        setTimeout(function(){
          $("#main-menu-mobile").toggleClass("slide-in");
          $("html").toggleClass("slide-in");
        }, 10);
        event.preventDefault(e);
      }); 
      $('.toggle-subnav').click(function() {
        $(this).siblings( "ul" ).toggleClass('expanded-list')
      });
      $('.search-button').click(function(e) {    
        $("#mobile-search").select(); 
        event.preventDefault(e);
      });
 
      $('.opplink01').click(function(e) {    
        $('html, body').animate({
          scrollTop: $(".employment-opps").offset().top + -44
        }, 500);
        setTimeout(function(){
          $('body').toggleClass('show-employment-opps-search');
          $("#career-search").select(); 
        }, 500);
        event.preventDefault(e);
      });

      $('.back-btn').click(function(e) {    
        $('body').toggleClass('show-employment-opps-search'); 
        event.preventDefault(e);
      });



      $('.icon-grid figure figcaption').matchHeight({property: 'height'});  
      $( ".ps" ).clone().appendTo( "#main-menu-mobile" );
      $( ".application-info-button" ).click(function() {
        $( '.application-info-container' ).toggleClass( "open" );
        $('html, body').animate({
          scrollTop: $(".application-info-container").offset().top
        }, 500);
        event.preventDefault();
      });
    </script>
  </body>
</html>